@import '../../../../../../setup/react/app/mixins.css';

.container {
  & .header {
    padding: 0;
    height: 50px;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-platinum);
  }

  & .footer {
    margin-top: 48px;
  }
}

.rewardAmount > div:first-child {
  color: var(--color-jade-green);
}

.subHeadingBold > div:first-child {
  color: #4463a7;
}

.rewardAmount,
.subHeadingBold {
  font-weight: unset;
  text-align: center;
  color: var(--color-slate-gray);
  width: 75%;

  & > div:first-child {
    @mixin contentLarge semi-bold;

    display: inline;
  }
}

.rewardsSection {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  justify-content: center;
}

.stakeSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
