@import '../../../../../../setup/react/app/mixins.css';

.container {
  & .header {
    padding: 0;
    height: 50px;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-platinum);
  }

  & .footer {
    margin-top: 48px;
  }
}

.subHeadingBold {
  @mixin contentLarge semi-bold;

  color: #4463a7;
}
