@import '../../../app/variables.css';

:root {
  --tab-inactive-color: var(--color-grayscale-dark);
  --grid-padding-left: 30px;
  --header-line-height: 36px;
  --header-subtitle-font-size: var(--subtitle-font-size);
  --font-weight-bold: 500;
  --fee-color: var(--color-grayscale-dark);
}

.form {
  position: relative;

  & > div {
    height: 82px;

    & input {
      margin-top: 1px;
      font-size: 16px;
      font-weight: 600;
    }

    & > label {
      font-size: 14px;
      font-weight: 600px !important;
    }
  }

  & input {
    border-radius: 0;
  }

  & > div:first-child {
    & > label {
      font-size: 14px;
      font-weight: 600;
      color: var(--color-primary-standard);
    }

    & > input {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-grayscale-dark);
    }
  }

  & > div:nth-child(2) {
    & > label {
      font-size: 14px;
      font-weight: 600;
      color: var(--color-primary-standard);
    }

    & > input {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-grayscale-dark);
    }
  }

  & .amountWrapper {
    & > div:first-child {
      & > label {
        font-size: 14px;
        font-weight: 600;
        color: var(--color-primary-standard);
      }

      & > input {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-grayscale-dark);
      }

      & > div:last-child {
        font-size: 14px;
        font-weight: 600;
        color: var(--color-grayscale-dark);
      }
    }
  }
}

.setMaxAmount {
  position: absolute;
  right: 0px;
  bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-primary-medium);
  font-weight: var(--font-weight-bold);
}

.fee {
  text-align: right;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 70px;
  color: var(--fee-color);
}

input:read-only {
  border-bottom: solid 1px var(--color-white) !important;
}

.button {
  min-width: 0;
  width: 100%;
}

.accountVisual {
  position: absolute;
  left: -40px;
  top: -15px;
}

.headerWrapper {
  padding: 0 !important;
  margin: 50px 0 0;

  & .title {
    float: left;
  }

  & .subTitle {
    font-size: var(--header-subtitle-font-size);
  }

  & .account {
    float: right;
  }

  & h2 {
    font-weight: var(--font-weight-bold);
    margin: 0;
  }

  & h3 {
    display: inline-block;
    margin: 0;
  }

  & .balanceUnit {
    font-weight: var(--font-weight-bold);
  }

  & .address {
    text-align: right;
    cursor: pointer;
  }

  & .transfer {
    color: var(--color-grayscale-dark);
  }
}

.sendWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;

  & > footer {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;

    & > button {
      width: 160px;
      height: 56px;
    }

    & > button:last-child {
      margin-left: 22px;
      height: 57px;
    }
  }
}

.error {
  display: block;
  padding-right: 85px;
}

