@import '../../../../app/mixins.css';

.value {
  @mixin contentLargest;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-maastricht-blue);

  & > * {
    font-size: 16px;
  }
}

.label {
  @mixin contentNormal bold;

  margin-bottom: 10px;
  color: var(--color-maastricht-blue);
  display: block;
  margin-top: 0;
  text-align: left;
}

.illustration {
  grid-area: illustration;
  justify-content: flex-start !important;
  align-items: center !important;

  & h2 {
    @mixin contentLargest semi-bold;

    font-size: 16px;
    color: var(--color-maastricht-blue);
  }
}

.sender {
  grid-area: sender;
}

.recipient {
  grid-area: recipient;
}

.transactionId {
  grid-area: transactionId;
}

.message {
  grid-area: message;
}

.amount {
  grid-area: amount;
}

.fee {
  grid-area: fee;
}

.confirmations {
  grid-area: confirmations;
}

.date {
  grid-area: date;
}

.requiredSignatures {
  grid-area: requiredSignatures;
}

.placeholder {
  grid-area: placeholder;
}

.nonce {
  grid-area: nonce;
}

.votes {
  grid-area: votes;

  & .label {
    margin-top: 15px;
  }
}

.blockId {
  grid-area: blockId;
}

.blockHeight {
  grid-area: blockHeight;
}

.signedAndRemainingMembersList {
  grid-area: signedAndRemainingMembersList;
}

.multiSignatureMembers {
  grid-area: members;

  & > p {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    text-align: left;
  }
}

.votesContainer {
  display: flex;
  align-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.voteTag {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.accountInfo {
  display: flex;
}

.addressRow {
  display: flex;
  align-items: center;

  & .link {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
    text-decoration: none;
    margin-left: 4px;

    &.hasName .address {
      color: var(--color-blue-gray);
      margin-left: 16px;
    }
  }
}
