.wrapper {
  & .contentContainer {
    display: flex;
    width: auto;
    padding: 0;
    margin: 20px;
    border-radius: 0;
    border-bottom: 1px solid var(--color-platinum);
  }
}

.contentScrollable {
  margin-top: 10px;
  overflow: scroll;
  max-height: 290px;
  display: flex;
  flex-direction: column;

  & header {
    padding: 0 0 20px 0;
  }
}

.txPriority {
  margin: 0 20px 20px 20px;
}

.formButtonsContainer {
  margin-left: 20px;
  display: flex;
}
