.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  & .contentContainer {
    display: flex;
    width: auto;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--color-platinum);
  }

  & header {
    height: auto;
    padding: 0;
  }
}

.contentScrollable {
  margin-top: 10px;
  overflow: scroll;
  max-height: 290px;
  display: flex;
  flex-direction: column;

}

.txPriority {
  margin-top: 20px;
}

.formButtonsContainer {
  margin-left: 20px;
  display: flex;
}
