.closeBtn {
  align-items: center;
  box-sizing: border-box;
  color: var(--color-ultramarine-blue);
  cursor: pointer;
  display: flex;
  height: 16px;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;

  &::before,
  &::after {
    background-color: currentColor;
    color: inherit;
    content: '';
    height: 19px;
    position: absolute;
    width: 3px;
    border-radius: 3px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.toastText {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0;
  margin-top: 20px;
}

.content {
  margin-bottom: 45px;
}

button {
  border: 1px solid var(--color-strong-mystic);
  border-radius: 5px;
  background-color: transparent;
  padding: 8px;
  color: var(--color-strong-mystic);
  width: 150px;
  align-self: center;
  cursor: pointer;
}
