@import '../../../../app/mixins.css';

.container {
  & > .description {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin: 0;
    padding: 0;
  }

  & > .description:nth-of-type(1) {
    margin-top: 2px;
  }

  & > .description:nth-of-type(2) {
    margin-top: 25px;
  }

  & > .link {
    @mixin contentLargest bold;

    color: var(--color-ultramarine-blue);
    margin-top: 18px;
    text-decoration: none;
  }

  & > .nicknameLabel {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    margin: 22px 0 10px;
  }

  & .inputNickname {
    padding: 8px 14px;
  }

  & > footer {
    margin-top: 50px;
  }
}
