.content {
  padding: 0 !important;
}

.contentHeader {
  display: inline-block;
}

.height {
  padding-right: 20px;
}

.mapWrapper {
  padding: 0 !important;
  margin-bottom: 15px;
  min-height: 0 !important;
}

.map {
  width: 100%;
  height: 285px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  & .wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--color-platinum);
    border-radius: var(--border-radius-box);
    overflow: hidden;

    & > div {
      width: 100%;
      height: 100%;
    }
  }
}

:global .mapboxWatermark {
  width: 40px;
  margin-bottom: -2px;
}

:global .markerCluster {
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 0;
  background-image: url(../../../../assets/images/marker-group.svg);
  text-align: center;
  color: var(--color-strong-mystic);
  font-size: 13px;
}

:global .leaflet-marker-icon {
  border: 0;
  background: transparent;
}

:global .leaflet-bar {
  box-shadow: none !important;
  border: 0 !important;
}
