.TxBroadcasterWithStatus {
  padding: 0 var(--horizontal-padding-l);
}

.TxBroadcasterProp {
  & > h1 {
    margin: 19px 0 0 0;
    padding: 0;
  }

  & > p {
    margin: 0 0 60px 0;
    padding: 0;
  }

  & > button {
    margin: 0;
    width: 431px !important;
  }
}
