@import '../app/variables.css';

:root {
  --header-font-size-L: 48px;
  --sub-header-width: 450px;
  --sub-header-padding-XS: 19px;
}

.bigGraphic {
  display: inline-block;
  position: relative;

  & .application {
    position: absolute;
    top: 190px;
    left: 40px;
  }

  & .hosts {
    position: absolute;
    top: 100px;
    left: 250px;
  }

  & .register {
    position: absolute;
    top: -30px;
    left: 550px;
  }

  & .bootstrap {
    position: absolute;
    top: 105px;
    left: 750px;
  }
}

.smallGraphic {
  display: none;
  width: 106px;
}

.wrapper {
  text-align: center;
  margin: auto 0px;

  & .header {
    margin: auto 0px;
    padding-top: 20%;
    z-index: 1;

    & h2 {
      font-size: var(--header-font-size-L);
    }

    & .subHeader {
      color: var(--color-grayscale-dark);
      max-width: var(--sub-header-width);
      line-height: 26px;
      margin: 0px auto;
    }

    & a {
      font-size: 18px;
      color: var(--color-link);
      margin: 16px;
      display: block;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

@media (--xLarge-viewport) {
  .header {
    & h2 {
      margin-bottom: 25px;
    }
  }
}

@media (--large-viewport) {
  .header {
    & h2 {
      margin-bottom: 20px;
    }
  }
}

@media (--medium-viewport) {
  .bigGraphic {
    display: none;
  }

  .smallGraphic {
    display: inline-block;
  }

  .wrapper {
    & .header {
      margin: 0px;

      & h2 {
        font-size: 24px;
      }

      & .subHeader {
        padding-bottom: 15px;
      }
    }
  }
}

@media (--small-viewport) {
  .wrapper {
    height: 0px;
  }
}

@media (--xSmall-viewport) {
  .subHeader {
    padding: 0px var(--sub-header-padding-XS);
  }
}
