@import '../../app/variables';

:root {
  --sub-title-color: var(--color-grayscale-dark);
  --address-color: var(--color-primary-medium);
  --address-animation-delay: 1200ms;
  --address-animation-duration: 1000ms;
  --header-animation-duration: 450ms;
  --second-header-animation-delay: 1000ms;
}

.wrapper {
  flex-direction: row;
  height: calc(100% - 22px);
  margin-right: 0px;
  margin-left: 0px;
  overflow-y: auto;
  position: relative;
}

.missing {
  padding: 0 5px;
  font-weight: bold;
  color: var(--color-primary-standard);
}

.stable {
  transform: scale(1);
  display: inline-block;
  transition: all ease 500ms;
}

.bouncing {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.table {
  width: 100%;
  height: 100%;
  display: table;

  & .tableCell {
    display: table-cell;
    vertical-align: middle;
  }
}

hr {
  display: none;
}

.container {
  height: 100%;
}

.generation {
  justify-content: space-around;
  align-items: center;

  & h2 {
    font-size: 48px;
  }

  & h4 {
    margin: 16px auto;
  }

  & > div {
    height: 100%;
    max-height: 800px;
    padding: 3vh 0 5vh; /* stylelint-disable-line */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .secondHeading,
  & .generatorHeader {
    margin: 0 auto;
    text-align: center;
    transition: all cubic-bezier(0.01, 0.54, 0.32, 0.96) 1000ms;
  }

  & .secondHeading {
    & small {
      font-size: 18px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      color: var(--color-primary-standard);
      line-height: 36px;
      display: block;
      cursor: pointer;
    }

    & span {
      vertical-align: middle;
      margin-top: -3px;
      padding-right: 4px;
    }
  }

  & aside.description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 30%;
    max-height: 350px;
    width: 50%;
    max-width: 270px;
    padding-top: 150px;
    margin-left: 175px;
    left: 50%;
    top: 50%;
    transform: translateY(-60%);
    transition: all ease 250ms;
    text-align: left;
    visibility: hidden;
    opacity: 0;

    & p {
      color: var(--color-grayscale-dark);
    }

    & button {
      margin-top: 40%;
      display: none;
    }

    &.fadeIn {
      visibility: visible;
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  & .addressContainer {
    position: relative;

    & figure {
      height: 200px;
      margin: 0;
    }
  }

  & .address {
    color: var(--address-color);
  }

  & .button {
    max-width: 300px;
    margin: 0 auto 50px;
  }

  & .templateItem {
    min-height: 130px;
    height: 100%;
  }

  & .value {
    background-color: #0288d1;
    background-image: linear-gradient(-90deg, #0792ff 0%, #def4ff 94%);
  }

  & .linear {
    background: transparent !important;
    position: absolute !important;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 8px !important;
    overflow: hidden;
    width: 100%;
  }
}

.secondPassphrase {
  height: auto !important;
  width: 100%;
}

.info {
  margin-bottom: 80px;
  line-height: 26px;
}

.nextButton {
  margin: 0 auto;
}

.error {
  color: var(--color-error);
}

@media (--large-viewport) {
  .generation aside.description {
    padding-top: 150px;
  }
}

@media (--medium-viewport) {
  .generation {
    & h2 {
      font-size: 45px;
    }
  }
}

@media (--small-viewport) {
  .generation {
    & .secondHeading,
    & .generatorHeader {
      font-size: 40px;
    }

    & .secondHeading {
      & .hidden {
        visibility: hidden;
      }
    }

    & aside.description {
      width: 90%;
      height: 50%;
      background: rgba(249, 251, 253, 0.95);
      left: 0;
      top: 30%;
      padding: 20% 5%;
      transform: none !important;
      max-width: none;
      z-index: 23;
      text-align: center;
      margin: 0;

      & p {
        margin-bottom: 16px !important;
        font-size: 16px;
      }

      & button {
        display: inline-block;
      }
    }
  }
}

@media (max-height: 920px) {
  .drawer.left {
    display: block;
    overflow: hidden;
    height: 100%;
  }
}

@media (--xxSmall-viewport) {
  .generation {
    & .secondHeading,
    & .generatorHeader {
      font-size: 32px;
    }
  }
}

@media (min-height: 1300px) {
  .generation {
    height: 70%;
    margin-top: 10%;
  }
}
