@import '../../app/variables';

:root {
  --sub-title-color: var(--color-grayscale-dark);
  --address-color: var(--color-primary-medium);
  --address-animation-delay: 1200ms;
  --address-animation-duration: 1000ms;
  --header-animation-duration: 450ms;
  --second-header-animation-delay: 1000ms;
}

.circle,
.smallCircle,
.triangle,
.smallTriangle,
.rightRectangle,
.leftRectangle,
.circleOutline,
.stripe,
.smallStripe {
  position: absolute;
  z-index: 0;
  transform: translateX(-50%) translateY(50%);
}

.wrapper {
  flex-direction: row;
  height: calc(100% - 22px);
}

.missing {
  padding: 0 5px;
  font-weight: bold;
  color: #0288d1;
}

.stable {
  transform: scale(1);
  display: inline-block;
  transition: all ease 500ms;
}

.bouncing {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.table {
  width: 100%;
  height: 100%;
  display: table;

  & .tableCell {
    display: table-cell;
    vertical-align: middle;
  }
}

.shapesWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

hr {
  display: none;
}

.generation {
  & h2 {
    font-size: 48px;
  }

  & > div {
    height: 100%;
    padding: 3vh 0 5vh; /* stylelint-disable-line */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .secondHeading,
  & .generatorHeader {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    transition: all cubic-bezier(0.01, 0.54, 0.32, 0.96) 1000ms;
  }

  & .secondHeading {
    & small {
      font-size: 18px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      color: var(--sub-title-color);
      line-height: 36px;
      display: block;
    }
  }

  & .addressContainer {
    position: relative;

    & figure {
      height: 200px;
      margin: 0;
    }
  }

  & .address {
    color: var(--address-color);
  }

  & .button {
    max-width: 300px;
    margin: 0 auto;
  }

  & .templateItem {
    min-height: 130px;
    height: 100%;
  }

  & .value {
    background-color: #0288d1;
    background-image: linear-gradient(-90deg, #0792ff 0%, #def4ff 94%);
  }

  & .linear {
    background: transparent !important;
    position: absolute !important;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 8px !important;
    overflow: hidden;
    width: 100%;
  }
}

@media (--medium-viewport) {
  .generation {
    & h2 {
      font-size: 45px;
    }
  }
}

@media (--small-viewport) {
  .generation {
    & .secondHeading,
    & .generatorHeader {
      font-size: 40px;
    }
  }
}

@media (--xxSmall-viewport) {
  .generation {
    & .secondHeading,
    & .generatorHeader {
      font-size: 32px;
    }
  }
}

@media (min-height: 1300px) {
  .generation {
    height: 70%;
    margin-top: 10%;
  }
}
