.container {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  .votesContainer {
    padding: 16px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.details {
  & .itemContainer {
    border-bottom: 1px solid #e1e3eb;
    padding: 20px 0;
    margin-left: 0;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  & .item {
    margin-left: 16px;

    & .value {
      margin-top: 8px;
    }
  }
}

.column {
  & .performance {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 408px;
    height: 156px;
  }
}

.performanceText {
  width: max-content;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}

.icon {
  height: 16px;
}

.performanceIcon {
  align-self: flex-end;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 120px;
  width: 170px;
}

.productivityIcon {
  height: 122px;
  width: 206px;
}

.forgedBlocksIcon {
  padding-right: 20px;
}

.missedBlocksIcon {
  justify-content: flex-end;
  align-items: center;
  height: 156px;
  width: 216px;
}

.forgedLskIcon {
  height: 108px;
  width: 196px;
  padding-right: 20px;
}

.voteItem {
  width: 238px;
  width: max-content;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;

  & .address {
    padding-left: 10px;
  }
}
