@import '../../../../../setup/react/app/mixins.css';

.container {
  background-color: var(--color-white);
  box-shadow: 0px 4px 15px var(--box-shadow-standard);
  border-radius: 6px;
  padding: 20px 20px 23px 20px;
  box-sizing: border-box;
  max-width: 652px;
  min-width: 350px;
  width: 90%;
}

.titleHolder {
  text-align: center;
  margin-bottom: 23px;

  & > .stepsLabel {
    @mixin contentSmallest;

    color: var(--color-slate-gray);
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & h1 {
    @mixin headingLarge very-bold;

    display: inline-block;
    margin: 10px 0px;
  }

  & button {
    min-width: 30px;
    padding: 0 !important;
    margin: 10px auto;
    height: 40px !important;
  }

  & > p {
    @mixin contentLargest;

    color: var(--color-black);
    margin: 0;
    letter-spacing: 1px;

    & > a {
      margin: 0;
    }
  }
}

.checkBoxWrapper {
  width: auto;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 30px 13px 0px;
}

.checkBoxWrapper > span {
  @mixin contentNormal;

  color: var(--color-slate-gray);
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
}

form {
  & > .password-label-wrapper {
    display: 'flex';
    align-items: 'center';
  }
}

.fieldWrapper {
  padding: '10px 30px';
}

.submitWrapper {
  width: '100%';
  box-sizing: 'border-box';
}
