@import '../../../../../setup/react/app/mixins.css';

.titleHolder {
  text-align: center;
  margin-bottom: 16px;

  & > .stepsLabel {
    @mixin contentSmallest;

    color: var(--color-slate-gray);
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }

  & > p {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin: 0;
    letter-spacing: 1px;

    & > a {
      margin: 0;
    }
  }
}
