.dataContainer {
  color: var(--color-maastricht-blue);
  overflow: hidden;

  & .dataRow {
    height: 100px;
    border-bottom: 1px solid var(--color-platinum);
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: -1px;

    & > span {
      white-space: nowrap;
      width: 100%;
    }
  }
}

h1 {
  color: var(--color-maastricht-blue);
}
