@import '../app/mixins.css';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  & .content {
    width: 720px;

    & header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & h1 {
      @mixin headingLarge;
    }
  }
}
