@import '../../../../../setup/react/app/mixins.css';

.container {
  margin: 100px auto 0;
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialogWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 450px;
  max-width: 465px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 16px;
  max-width: 465px !important;

  & .content {
    padding: 0;

    & label {
      @mixin contentLarge;

      display: block;
      margin-top: 0;
      margin-bottom: 5px;
      color: var(--color-maastricht-blue);
    }

    & input {
      margin-bottom: 15px;
    }
  }
}

.headerWrapper {
  text-align: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 0 0 15px;
    font-size: 28px;
  }
}

.button {
  @mixin contentLarge semi-bold;

  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
