.wrapper {
  position: relative;
  z-index: var(--overlay-index);
  padding-bottom: var(--horizontal-padding-l);
  padding-top: 20px;
}

@media (--medium-viewport) {
  .balanceChart {
    margin-top: 20px;
  }
}