.tableHeader {
  position: sticky;
  top: 70px;
  background: var(--color-white);
  z-index: 2;
  border-bottom: 1px solid var(--color-mystic);
}

.content {
  padding: 0 !important;
}

.showM {
  visibility: hidden;
  display: none;
}

@media (--medium-viewport) {
  .showM {
    visibility: initial;
    display: initial;
  }
}

.tableRow {
  & > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  & > span:last-child {
    padding-left: 0px;
    padding-right: 0px;
    text-overflow: initial;
  }
}
