@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & header {
    & h2 {
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-bold);
      color: var(--color-content-light);
      margin: 0;
    }
  }

  & .container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    line-height: var(--horizontal-padding-l);

    & > p {
      margin-top: 0;
      font-size: var(--subtitle-font-size-s);
      line-height: 24px;
      color: var(--color-slate-gray);
    }
  }

  & .amountStatusContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-platinum);
    list-style: none;
    overflow-y: auto;
    max-height: 340px;

    & > li {
      display: flex;
      flex-direction: row;

      & > .columnTitle {
        @mixin contentNormal bold;

        color: var(--color-maastricht-blue);
      }

      & > p {
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        color: var(--color-maastricht-blue);

        & > img {
          margin-right: 11px;
        }
      }

      & > p:nth-child(1) {
        flex-basis: 20%;
        max-width: 20%;
      }

      & > p:nth-child(2) {
        flex-basis: 80%;
        max-width: 80%;
      }
    }
  }
}
