@import './../app/variablesV2.css';
@import './../app/mixins.css';

:root {
  --registration-title-font-size: 24px;
  --title-color: #0c152e;
}

.register {
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  & .button {
    margin-top: 12px;
    width: 431px;

    & > button {
      width: 100%;
    }
  }

  & .backButton {
    @mixin contentSmall bold;

    border: none;
    color: var(--color-ultramarine-blue) !important;
  }
}

.stepsLabel {
  @mixin contentSmallest;

  color: var(--color-slate-gray);
  height: 18px;
  letter-spacing: 0.4px;
  line-height: 1.8;
  text-transform: uppercase;
}

.titleHolder {
  color: var(--color-content);
  font-family: var(--heading-font);
  text-align: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    letter-spacing: 0.1px;
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--title-color);

    & > img {
      margin-right: 16px;
    }
  }

  & > p {
    @mixin contentLarge;

    margin: 0;
    color: var(--color-slate-gray);
    width: 480px;
  }
}

.buttonsHolder {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.disabledLink {
  pointer-events: none;
}
