@import './../app/variables.css';

.register {
  align-items: center;
  background-color: #f7f9fb;
  display: flex;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  & .button {
    margin-top: 12px;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.titleHolder {
  color: #19224d;
  font-family: var(--heading-gont);
  text-align: center;

  & > .stepsLabel {
    color: #2e2c3b;
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    letter-spacing: 0.4px;
    line-height: 1.8;
    text-transform: uppercase;
  }

  & > h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 50px;
    margin: 0;
  }

  & > p {
    font-family: var(--content-font);
    font-size: 15px;
    margin: 0;
  }
}

.accountHolder {
  align-items: center;
  display: flex;
  margin: 100px 0;
  justify-content: space-evenly;
  width: 100%;

  & > div {
    border-radius: 50%;
    padding: 7px;
    transition: all .35s ease-in-out;
  }

  & > div:hover {
    background: var(--color-white);
    box-shadow: 0px 0px 10px 4px rgba(213,224,247,1);
    transform: scale(2.05);
  }
}

.buttonsHolder {
  & .icon {
    font-size: 14px;
    font-weight: bold;
  }
}
