.register {
  align-items: center;
  background-color: #f7f9fb;
  display: flex;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  & .button {
    margin-top: 12px;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.titleHolder {
  color: #19224d;
  font-family: Gilroy, sans-serif;
  text-align: center;

  & > .stepsLabel {
    color: #2e2c3b;
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    letter-spacing: 0.4px;
    line-height: 1.8;
    text-transform: uppercase;
  }

  & > h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 50px;
    margin: 0;
  }

  & > p {
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    margin: 0;
  }
}

.buttonsHolder {
  & .icon {
    font-size: 14px;
    font-weight: bold;
  }
}
