@import './../app/variables.css';

.register {
  align-items: center;
  background-color: #f7f9fb;
  display: flex;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  & .button {
    margin-top: 12px;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.stepsLabel {
  color: #2e2c3b;
  font-size: 10px;
  font-weight: 600;
  height: 18px;
  letter-spacing: 0.4px;
  line-height: 1.8;
  text-transform: uppercase;
}

.titleHolder {
  color: #19224d;
  font-family: var(--heading-font);
  text-align: center;

  & > h1 {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.1px;
    line-height: 50px;
    margin: 0;

    & > img {
      margin-right: 16px;
    }
  }

  & > p {
    font-family: var(--content-font);
    font-size: 15px;
    margin: 0;
  }
}

@keyframes avatarAnimate {
  from { transform: scale(1); }

  to { transform: scale(2.05); }
}

@for $i from 1 to 5 {
  .animate > span:nth-child($i) {
    animation-name: avatarAnimate;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-duration: 0.35s;
    animation-delay: calc(0.35s * ($i - 1));
  }
}

.avatarsHolder {
  align-items: center;
  display: flex;
  margin: 100px 0;
  justify-content: space-evenly;
  width: 100%;

  & > span {
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    padding: 7px;
    transition: all 0.35s ease-in-out;
  }

  & > .selected {
    background: var(--color-white);
    box-shadow: 0px 0px 10px 4px rgba(213, 224, 247, 1);
    transform: scale(2.05);
  }
}

.buttonsHolder {
  justify-content: center;
  width: 100%;

  & .icon {
    font-size: 14px;
    font-weight: bold;
  }
}

.disabledLink {
  pointer-events: none;
}
