@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  min-width: 456px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;

  & .icon {
    display: flex;
    left: 10px;
  }

  & input {
    border-width: 0 !important;
    border-radius: 40px;
    background: var(--color-search-bar-background);
    color: var(--color-athens-white);
  }

  & input::placeholder {
    color: var(--color-periwinkle-blue--manatee-gray);
  }
}

@media (--medium-viewport) {
  .wrapper {
    min-width: 114px;
  }
}

.linear {
  background: transparent;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}

.searchFeedback {
  @mixin contentLargest;

  display: block;
  width: 100%;
  color: var(--color-slate-gray);
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  padding: 15px;
  box-sizing: border-box;
  margin-top: -8px;
}
