@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  margin-top: 5px;
  min-width: 456px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  & .icon {
    left: 10px;
  }

  & input {
    border-width: 0 !important;
    border-radius: var(--border-radius-box) !important;
    background: rgba(255, 255, 255, 0.12);
    color: var(--color-white);
  }
}

.linear {
  background: transparent;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}

.searchFeedback {
  @mixin contentLargest;

  display: block;
  width: 100%;
  color: var(--color-slate-gray);
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  padding: 15px;
  box-sizing: border-box;
  margin: 5px 0 0;
}
