@import '../../../../setup/react/app/mixins.css';

.tablesContainer {
  display: flex;

  & > div:first-child {
    padding-right: 10px;
  }
}

.tableContent {
  padding: 0 !important;
}

.transactionRow {
  cursor: pointer;

  & > span {
    display: flex;
    align-items: center;

    & > .incomingOutcomingIcon {
      margin-right: 16px;
    }

    & > .avatar {
      margin-right: 16px;
    }

    & > .signDetails {
      display: flex;
      flex-direction: column;

      & > .key {
        @mixin contentNormal;

        margin: 10px 0 0 0;
        color: var(--color-slate-gray);
      }
    }

    & > * > .status {
      @mixin contentLarge semi-bold;

      color: var(--color-link-active);
      margin: 0;
    }
  }
}

.addressTitle {
  @mixin headingSmall;

  color: var(--color-maastricht-blue);
  font-family: var(--content-font);
  margin: 0;
}

.groupBalance {
  border-radius: var(--border-radius-standard);
  display: inline-block;
  padding: 6px 12px;
  background-color: rgba(43, 214, 123, 0.15);
  color: var(--color-deep-green);
  box-sizing: border-box;
  line-height: initial;
  text-align: right;
}
