@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  & header > h2 {
    font-size: var(--font-size-h3) !important;
  }

  & .content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }
}

.column {
  flex-grow: 1;
  height: 240px;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.pie {
    width: 30%;
  }

  &.bar {
    width: 40%;
    padding-right: 20px;
    box-sizing: border-box;

    & > .top {
      display: flex;
      justify-content: space-between;
    }
  }

  & .graph {
    width: 100%;
    height: 180px;
    position: relative;
  }
}

.tabs:last-child {
  border-radius: 0 var(--border-radius-standard) 0 0;
}

.title {
  @mixin contentLargest semi-bold;

  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-maastricht-blue);
  max-height: 21px;
}

.list {
  padding: 25px 10px 0;
  font-size: var(--font-size-h6);

  & > a,
  & > span {
    display: inline-block;
    padding-left: 10px;
  }

  & > span {
    color: var(--color-maastricht-blue);
  }
}

.chartBox {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 10px;
  box-sizing: border-box;

  & > .chart {
    position: relative;
    width: 100%;
    height: calc(100% - 21px);
  }
}

.legends {
  & .legend {
    color: var(--color-slate-gray);
    font-size: var(--font-size-small-secondary);
    margin: 0;
    margin-right: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 5px;
    }

    &.volume {
      &::before {
        background-color: var(--color-deep-green);
      }
    }

    &.number {
      &::before {
        background-color: var(--color-ultramarine-blue);
      }
    }
  }
}

@media (--large-viewport) {
  .legends {
    & .legend {
      display: flex;
    }
  }
}

@media (--medium-viewport) {
  .legends {
    display: none;
  }
}

@media (--small-viewport) {
  .column {
    &.pie {
      width: 50%;
    }

    &.bar {
      width: 100%;
      margin-top: 20px;
    }
  }
}
