@import './../../../setup/react/app/mixins.css';

.amountFieldHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & button {
    padding: 0 0 8px;
  }
}

.customAmountFieldHeader {
  justify-content: normal !important;
}

.amountField {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  & .converter {
    position: absolute;
    right: 45px;
    top: var(--vertical-padding-l);
  }

  & .input {
    padding-right: 120px;
    width: 100%;
    height: 48px;
  }
}

.fieldGroup {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.fieldLabel {
  @mixin contentNormal bold;

  align-items: center;
  color: var(--color-maastricht-blue);
  display: flex;
  margin-bottom: 8px;
}

.customFieldLabel {
  height: 32px;
  margin-bottom: 0 !important;
  margin-right: 16px;
}

.tooltipContainer {
  white-space: normal;
  width: 200px;
  word-wrap: break-word;
}

.entireBalanceWarning {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: var(--color-warning-bg);
  border: 1px solid var(--color-warning-border);
  border-radius: 5px;
  margin-top: 6px;
  padding: 10px;

  & > img {
    width: 20px;
    margin-right: 10px;
  }

  & > span {
    @mixin contentSmall normal;

    color: var(--color-maastricht-black);
  }

  & > .closeBtn {
    align-items: center;
    cursor: pointer;
    height: 12px;
    right: 22px;
    position: absolute;

    &::before,
    &::after {
      background-color: currentColor;
      color: var(--color-maastricht-black);
      content: '';
      height: 13px;
      position: absolute;
      width: 1px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
