@import '../../../../../../setup/react/app/mixins.css';

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 20px;

  & .fieldLabel {
    @mixin contentNormal normal;

    color: var(--color-maastricht-blue);
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  &.referenceFeedback {
    justify-content: flex-end;
  }

  & .feedback {
    @mixin contentSmallest;

    box-sizing: border-box;
    color: var(--color-slate-gray);
    display: none;
    justify-content: flex-end;
    padding: 5px 0 8px 0;
    width: fit-content;
    position: absolute;
    align-items: center;

    &.show {
      display: flex;
    }

    &.error {
      color: var(--color-burnt-sienna);
    }

    &.referenceFeedback {
      @mixin contentSmallest;
    }
  }

  .tooltipText {
    @mixin contentLarge;
  }

  & .status {
    color: var(--color-ultramarine-blue);
    opacity: 0;
    position: absolute;
    right: 10px;
    transition: opacity var(--animation-speed-fast) linear;

    &.show {
      opacity: 1;
      transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
    }
  }

  & .referenceField {
    display: flex;
    position: relative;
    width: 100%;

    & ~ div {
      width: 100%;
    }

    & .byteCounter {
      bottom: 8px;
      opacity: 0;
      position: absolute;
      right: 10px;
      transition: opacity var(--animation-speed-fast) linear;
    }

    & .status {
      bottom: 10px;
      right: 12px;
    }

    & .textarea {
      @mixin contentNormal;

      width: 100%;
      height: 48px;
      resize: none;
      overflow: hidden;
      padding: 8px 10px;
      padding-right: 30px;
      border-radius: 6px;
      border-color: var(--color-very-light-gray) !important;
      padding-top: 12px;

      &:focus {
        & + .byteCounter {
          opacity: 1;
        }

        & ~ .status {
          opacity: 0;
        }
      }
    }
  }
}

.addMessageButton,
.removeMessageButton {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-ultramarine-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px !important;
  margin-top: 14px;
  margin-bottom: -4px;
  width: fit-content;

  & > img {
    width: 16px;
    height: 16px;
    padding-right: 8px;
  }

  &:hover {
    text-decoration: none !important;
  }
}

.removeMessageButton {
  margin: 0px;
  margin-left: 16px;
  height: fit-content !important;
}
