.wrapper {
  width: 100%;
}

.banner {
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
}

.content {
  flex: 1;
}

.sideBar {
  max-width: 300px;
  width: 25%;
}
