.wrapper {
  padding-top: 20px;

  & > div {
    margin-top: 25px;
    display: flex;
  }
}

.banner {
  width: 100%;
}

.content {
  height: 200px;
  flex-basis: 75%;
  padding-right: 20px;
}

.sideBar {
  flex-basis: 25%;
}
