.wrapper {
  width: 100%;

  & > div:first-child {
    margin-top: 10px;
  }
}

.bannerSwiper {
  & :global(.swiper-pagination-bullet) {
    border: 1px solid var(--color-periwinkle-blue);

    &:global(.swiper-pagination-bullet-active) {
      background-color: white;
    }
  }

  & :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: var(--color-constant-white);
  }

  & :global(.swiper-button-next::after),
  :global(.swiper-button-prev::after) {
    font-size: 32px;
  }

  & :global(.swiper-button-next) {
    right: 5px;
  }

  & :global(.swiper-button-prev) {
    left: 5px;
  }

  & .bannerWrapper {
    & p > a {
      display: inline;
      font-weight: var(--font-weight-bold);
      font-size: 14px;
      color: var(--color-constant-white);
      cursor: pointer;
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
}

.content {
  flex: 1;
  padding-top: 20px;
}

.sideBar {
  width: 20%;
  min-width: 290px;
}
