.wrapper {
  width: 100%;

  & > div:first-child {
    margin-top: 10px;
  }
}

.banner {
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
}

.content {
  flex: 1;
}

.sideBar {
  width: 30%;
  min-width: 250px;
  max-width: 300px;
}
