.wrapper {
  width: 100%;

  & > div:first-child {
    margin-top: 10px;
  }
}

.banner {
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
}

.content {
  flex: 1;
  padding-top: 20px;
}

.sideBar {
  width: 20%;
  min-width: 290px;
}
