md-dialog.dialog-delegate-registration(aria-label='Transfering', style='width: 700px; max-width: 700px')
  md-card
    md-card-title
      md-card-title-text
        span.md-title Send
    md-card-content
      form(name='delegateRegistrationForm', ng-submit='$ctrl.form.onSubmit(delegateRegistrationForm)')
        md-content(flex='100', flex-gt-sm='70', flex-offset-gt-sm='15')
          md-input-container.md-block
            label Delegate name
            input(type='text', name='delegateName', ng-model='$ctrl.form.name', required, ng-disabled='$ctrl.loading')
            div(ng-messages='delegateRegistrationForm.name.$error')
              div(ng-message='required') Required
              //- div(ng-message='pattern') Invalid
            md-input-container.md-block
              div.fee Fee: {{$ctrl.form.fee}} LSK
            md-input-container.md-block
              p Becoming a delegate requires registration. You may choose your own delegate name, which can be used to promote your delegate. Only the top 101 delegates are eligible to forge. All fees are shared equally between the top 101 delegates.
            div
              p.error(ng-bind='$ctrl.form.error', ng-if='$ctrl.form.error')
        md-content(layout='row', layout-align='center center')
          md-button.md-raised.md-secondary(ng-disabled='$ctrl.loading', ng-click='$ctrl.cancel(delegateRegistrationForm)') {{ 'Cancel' }}
          md-button.md-raised.md-primary(ng-disabled='!delegateRegistrationForm.$valid || $ctrl.loading', type='submit') {{ $ctrl.loading ? 'Registering...' : 'Register' }}