forging {
  md-card-content {
    padding: 0 0 5px;
  }

  md-card-title md-menu {
     margin: -8px -14px;
  }

  .pull-right {
    float: right;
  }

  .progress-label {
    right: auto;
    left: auto;
    position: absolute;
    font-size: 2em;
    margin-top: 15px;
    padding: 70px 0;
    width: 30%;
    text-align: center;
  }

  @media(max-width: 600px) {
    .progress-label {
      width: 94%;
    }
  }
}
