@import '../../../app/mixins.css';

:root {
  --avatar-padding: 13px;
  --avatar-size: calc(105px - var(--avatar-padding));
}

.text {
  width: 350px !important;
}

.titleHolder {
  @mixin contentNormal;

  margin: 0;
  color: var(--color-slate-gray);
}

.content {
  margin-bottom: 45px;
}

.subHeading {
  @mixin contentLargest semi-bold;

  color: var(--color-maastricht-blue);
  margin-top: 30px;
}

.successCaption {
  padding-left: 10px;
  color: var(--color-maastricht-blue);
}
