@import './../../../app/mixins.css';

:root {
  --word-choice-height: 36px;
  --checkmark-size: 16px;
  --font-size-checkbox: 11px;
}

@keyframes optionsAppear {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes optionsDisappear {
  from { transform: scale(1); }
  to { transform: scale(0); }
}

@for $i from 1 to 3 {
  .confirmHolder .options span:nth-child($i) {
    animation-delay: calc(var(--animation-delay-standard) * $i);
  }
}

.text {
  width: 475px !important;
  margin-bottom: 32px;
}

.passphraseContainer {
  margin-bottom: 40px;
}

.confirmHolder {
  align-items: flex-start;
  display: flex;
  font-size: var(--subtitle-font-size);
  min-height: 210px;
  margin: 25px 0;
  justify-content: space-evenly;
  position: relative;
  width: 100%;

  & .word {
    @mixin headingSmall;

    color: var(--color-maastricht-blue);
    line-height: var(--word-choice-height);
    text-align: center;
  }

  & .optionsHolder {
    display: flex;
    flex-direction: column;
    margin: -8px 0;

    & .answer {
      height: var(--word-choice-height);
      margin: 8px 0;
      width: 100px;
      position: relative;

      &::before {
        background-color: var(--color-white);
        border-radius: 5px;
        box-sizing: border-box;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    & .checkmark {
      align-items: center;
      background-color: var(--color-ultramarine-blue);
      color: var(--color-white);
      border-radius: var(--border-radius-standard);
      display: flex;
      height: var(--checkmark-size);
      justify-content: center;
      position: absolute;
      right: -5px;
      top: -5px;
      transition: transform var(--animation-speed-fast) linear;
      transform: scale(0);
      width: var(--checkmark-size);

      & > span {
        font-size: var(--font-size-checkbox);
      }
    }

    & .choice {
      align-items: center;
      background-color: var(--color-white);
      border-radius: var(--border-radius-standard);
      box-shadow: var(--box-shadow-standard);
      box-sizing: border-box;
      color: var(--color-ultramarine-blue);
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0 10px;
      position: relative;
      transition: transform var(--animation-speed-fast) linear, opacity var(--animation-speed-fast) linear, color var(--animation-speed-fast) linear;
      transform: scale(0);
      width: 100%;
    }
  }

  & .answered {
    & .choice {
      opacity: 1;
      transform: scale(1);
    }

    & .options .option {
      animation-name: optionsDisappear;
      animation-delay: var(--animation-delay-standard);
      animation-duration: var(--animation-speed-standard);
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      transform: scale(1);

      &.selected {
        animation-delay: 0ms;
      }
    }
  }

  & .hasErrors {
    & .choice {
      border: solid 1px var(--color-burnt-sienna);
      box-shadow: var(--box-shadow-standard);
      color: var(--color-burnt-sienna);
      cursor: initial;
      transition: background var(--animation-speed-fast) linear var(--animation-delay-standard), box-shadow var(--animation-speed-fast) linear var(--animation-delay-standard);
    }
  }

  & .isCorrect {
    & .choice {
      cursor: initial;
    }

    & .checkmark {
      transform: scale(1);
    }
  }

  & .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .option {
    width: 100px;
    animation-name: optionsAppear;
    animation-duration: var(--animation-speed-standard);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    display: flex;
    height: var(--word-choice-height);
    margin: 8px 0;
    transform: scale(0);

    & > button {
      min-height: var(--word-choice-height);
      height: var(--word-choice-height);
      width: 100%;
      padding: 0px;
      background-color: var(--color-white) !important;
      color: var(--color-ultramarine-blue) !important;
    }
  }

  & .errorMessage {
    background-color: var(--color-white);
    border-radius: var(--border-radius-standard);
    box-shadow: var(--box-shadow-standard);
    max-width: 50%;
    padding: 20px;
    position: absolute;
    transition: transform var(--animation-speed-standard) ease-in;
    transform: scale(0);
    top: 20%;

    &.showError {
      transform: scale(1);
    }

    & > span {
      color: var(--color-burnt-sienna);
      font-family: var(--content-font);
      font-size: var(--paragraph-font-size-l);
      line-height: 1.47;
    }
  }
}

@media (--medium-viewport) {
  .confirmHolder {
    font-size: var(--subtitle-font-size-s);
  }
}

@media (--small-viewport) {
  .confirmHolder {
    font-size: var(--paragraph-font-size-s);
  }
}
