.delegateLink:hover {
  text-decoration: none;
}

.checkbox {
  z-index: calc(var(--overlay-index) + 2);
  pointer-events: none;
}

.content {
  padding: 0 !important;
}

.highlight {
  position: absolute;
  height: 100%;
  width: 40px;
  left: 11px;
  background-color: var(--color-highlight-checkboxes);

  & ~ span:not(.checkboxWrapper) {
    opacity: 0.2;
  }
}
