
.address {
  display: flex;
  align-items: center;

  & > div:first-child > div:first-child {
    display: flex;
  }

  & .detailsWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--color-content-light);
  }

  & .accountName {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;

    & img {
      width: 20px;
      cursor: pointer;
    }
  }
}

.copyIcon {
  filter: none;
  margin-left: 8px;
}

.txIcon {
  width: 32px;
  height: 32px;
}

.pubkeyTooltip {
  left: 0 !important;
  top: 50px !important;
  border-radius: 3px !important;
  padding-left: 15px;
  padding-right: 15px;

  & span:first-child {
    left: 10% !important;
  }
}

.pubkey {
  display: flex;
  flex-direction: row;
  padding-top: 5px;

  & > span {
    font-size: var(--paragraph-font-size-s);
  }

  & > span:first-child {
    color: var(--color-blue-gray);
    padding-right: 8px;
  }
}

.infoTooltip {
  & > span {
    color: var(--color-tooltip-bg) !important;
    top: 55% !important;
    left: -9px !important;
  }
}
