
.address {
  display: flex;
  align-items: center;

  & .detailsWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}

.copyIcon {
  /* filter: brightness(100) !important; */
  margin-left: 8px;
}

.txIcon {
  width: 32px;
  height: 32px;
}
