div.offline-hide
  md-card(flex-gt-xs=100)
    md-card-title
      md-card-title-text
        span.md-title.search(layout='row')
          md-input-container.md-block
            label Search 
            input.search(type='text', name='name', ng-model='search', ng-model-options='{ debounce: 200 }')
          i.material-icons.search-append(ng-click='$ctrl.clearSearch()', ng-if='search') close 
          i.material-icons.search-append(ng-hide='search') search 
      span.pull-right.right-action-buttons
      md-menu.pull-right.right-action-buttons
        md-button.pull-right.my-votes-button(ng-click='$mdOpenMenu()', ng-disabled='$ctrl.votedList.length == 0')
          i.material-icons visibility
          span My votes ({{$ctrl.votedList.length}})
        md-menu-content(width='4')
          md-menu-item.vote-list-item(ng-repeat='(username, delegate) in $ctrl.votedDict')
            md-button(ng-click='$ctrl.addToUnvoteList(delegate)')
              div
                span(ng-bind='username') 
                md-button.md-icon-button.lsk-vote-remove-button(ng-click='$ctrl.unselect(username)')
                  i.material-icons close
      span.pull-right.right-action-buttons
        md-button.vote-button(ng-click='$ctrl.openVoteDialog()')
          i.material-icons done
          span  Vote 
          span(ng-if='$ctrl.voteList.length || $ctrl.unvoteList.length') 
            span (
            span.green-link(ng-if='$ctrl.voteList.length') +{{$ctrl.voteList.length}}
            span(ng-if='$ctrl.voteList.length && $ctrl.unvoteList.length') /
            span.red-link(ng-if='$ctrl.unvoteList.length') -{{$ctrl.unvoteList.length}}
            span )
    md-content(layout='column')
      md-table-container
        table(md-table)
          thead(md-head)
            tr(md-row)
              th(md-column) Vote
              th(md-column) Rank  
              th(md-column) Name 
              th(md-column) Lisk Address
              th(md-column) Uptime 
              th(md-column) Approval 
          tbody(md-body, infinite-scroll='$ctrl.showMore()', infinite-scroll-distance='1')
            tr(md-row, ng-if='!$ctrl.filteredDelegates.length && !$ctrl.loading')
              td(md-cell, colspan='6') No delegates found
            tr(md-row, ng-repeat="delegate in ($ctrl.filteredDelegates = ($ctrl.delegates | filter : {username: search} )) | limitTo : $ctrl.delegatesDisplayedCount", ng-class='{"downvote": delegate.status.voted && !delegate.status.selected, "upvote": !delegate.status.voted && delegate.status.selected, "pending": delegate.status.pending, "voted": delegate.status.voted && delegate.status.selected}')
              td(md-cell)
                spinner(ng-show='delegate.status.pending')
                md-checkbox.md-primary(ng-show='!delegate.status.pending', ng-model='delegate.status.selected', ng-change='$ctrl.selectionChange(delegate)', aria-label='delegate selected for voting')
              td(md-cell, ng-bind='delegate.rank')
              td(md-cell, ng-bind='delegate.username')
              td(md-cell, ng-bind='delegate.address')
              td(md-cell, ng-bind='delegate.productivity + "%"')
              td(md-cell, ng-bind='delegate.approval + "%"')
      md-button.more(ng-show='$ctrl.delegatesDisplayedCount < $ctrl.filteredDelegates.length', ng-click='$ctrl.showMore()') Show More
