@import './../app/variables.css';

.bookmark {
  border-radius: 3px;
  box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.22);
  z-index: 20;
  padding: 0 20px;
}

.resultList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: -20px 0 0 -20px;
  padding: 0;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  z-index: 20;
  border-radius: 3px;
  box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.22);
  border-top: none;
  background-color: #fff;
}

.accountVisual {
  padding: 10px 20px 5px;
}

.smallAccountVisual {
  padding-top: 25px;
  position: absolute;
}

.bigAccountVisual {
  position: absolute;
}

.text {
  padding: 10px 0;
  color: #74869b;
}

.title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}

.address {
  font-size: 12px;
}

.scale {
  width: 110%;
  margin-left: -15px;
}

.selectedRow {
  background-color: rgba(205, 218, 229, 0.2);
}

.bookmarkInput {
  z-index: 20;

  & input:not(:focus) {
    padding-left: 40px;
    padding-top: 5px;
  }
}

.bigAccountVisualBookmarkInput {
  z-index: 20;

  & input:not(:focus) {
    padding-left: 60px;
  }

  & input:focus {
    padding-left: 60px;
    border-bottom: 1px solid red;
  }

  & label {
    padding-left: 60px;
  }
}

.bar::before,
.bar::after {
  background-color: transparent;
}

.followedRow {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 50px;
  font-family: var(--content-font);
  font-size: var(--paragraph-font-size-l);

  &:hover {
    background-color: rgba(205, 218, 229, 0.2);
    cursor: pointer;
  }

  & > span {
    margin: 0 24px;
    line-height: 36px;
  }
}

.rowResult {
  cursor: pointer;
}

.show {
  display: block;
  width: 110%;
}

.rowSelected {
  background-color: rgba(204, 217, 228, 0.2);
}

.removeButton {
  display: block;
  float: right;
  top: -30px;
  position: relative;
}

.heading {
  margin-top: 24px;
  color: var(--color-grayscale-medium);
  font-family: var(--content-font);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);

  &:hover {
    background-color: inherit;
  }
}

.children {
  padding-left: 40px;
  top: 25px;
  font-weight: 600;
  position: absolute;
}

.inputChildren {
  padding-bottom: 60px;

  & input {
    padding-bottom: 5px;
    top: 40px;
    position: absolute;
    font-size: 10px !important;
  }
}

@media (--medium-viewport) {
  .row {
    & > span {
      margin: 0 21px;
    }
  }
}
