@import './../app/variables.css';

.bookmark {
  border-radius: 3px;
  box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.22);
  z-index: 20;
  padding: 0 20px;
}

.standard {
  margin-bottom: 22px;

  & > div > div {
    & > label {
      font-size: 14px;
    }

    & > input {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-grayscale-dark);
    }
  }
}

.label {
  margin-top: 25px;
}

.inputElement:focus:not([disabled]):not([readonly]) ~ .label:not(.fixed),
.inputElement.filled ~ .label:not(.fixed) {
  margin-top: 0px;
}

.inputElement:focus:not([disabled]):not([readonly]) ~ .label:not(.fixed) {
  color: var(--color-primary-standard);
}

.resultList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: -20px 0 0 -20px;
  padding: 0;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  z-index: 20;
  border-radius: 3px;
  box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.22);
  border-top: none;
  background-color: #fff;
}

.accountVisual {
  padding: 10px 12px;
}

.smallAccountVisual {
  padding-top: 25px;
  position: absolute;
}

.bigAccountVisual {
  padding-top: 25px;
  position: absolute;
}

.text {
  padding: 10px 0;
  color: #74869b;
}

.title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}

.address {
  font-size: 12px;
}

.scale {
  width: 110%;
  margin-left: -15px;
  margin-bottom: 22px;
}

.bookmarkInput {
  z-index: 20;

  & input:not(:focus) {
    padding-left: 50px;
    padding-top: 30px !important;
    font-family: var(--content-font);
  }
}

.bigAccountVisualBookmarkInput {
  z-index: 20;

  & input:not(:focus) {
    padding-left: 60px;
  }

  & input:focus {
    padding-left: 60px;
    border-bottom: 1px solid red;
  }

  & label {
    padding-left: 60px;
    padding-top: 20px !important;
  }
}

.suggestionsActive {
  & input:focus {
    border-bottom: 0px;
  }
}

.bar::before,
.bar::after {
  background-color: transparent;
}

.followedRow {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  height: 50px;
  font-family: var(--content-font);
  font-size: var(--paragraph-font-size-l);
  cursor: pointer;

  &:nth-child(2n) {
    background: linear-gradient(90deg, var(--color-white) 0%, #f5f8fc 82%);
  }

  &:hover {
    background: #e6f0fb;
  }

  & > span {
    margin: 0 24px;
    line-height: 36px;
  }

  &.selectedRow {
    background: #e6f0fb;
  }
}

.rowResult {
  cursor: pointer;
}

.show {
  display: block;
  width: 110%;
}

.rowSelected {
  background-color: rgba(204, 217, 228, 0.2);
}

.removeButton {
  display: block;
  float: right;
  top: -30px;
  position: relative;
}

.heading {
  margin-top: 24px;
  color: var(--color-grayscale-medium);
  font-family: var(--content-font);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);

  &:hover {
    background-color: inherit;
  }
}

.children {
  padding-left: 50px;
  top: 25px;
  font-weight: 600;
  position: absolute;
  color: var(--color-grayscale-dark);
  font-family: var(--content-font);
}

.inputChildren {
  padding-bottom: 60px;

  & input {
    padding-bottom: 5px;
    padding-top: 25px !important;
    position: absolute;
    font-size: 10px !important;
    color: var(--color-grayscale-dark);
  }

  & label {
    top: 4px !important;
  }
}

@media (--medium-viewport) {
  .row {
    & > span {
      margin: 0 21px;
    }
  }
}
