@import '../toolbox/buttons/css/base.css';
@import '../app/variables.css';
@import '../app/variablesV2.css';

.wrapper {
  width: 100%;
  height: var(--header-height-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-background-menu);
  border-bottom: 1px solid var(--color-light-gray);
  box-shadow: var(--box-shadow-header);
  box-sizing: border-box;
  padding: 14px 24px;
}

@media (--small-viewport) {
  .wrapper {
    height: var(--header-height-s);
  }
}
