@import '../../../../../setup/react/app/mixins.css';

:root {
  --horizontal-margin: calc(var(--side-bar-shrunk-size) * 2);
}

.wrapper {
  max-width: 750px;
  width: calc(100% - var(--horizontal-margin));
  padding: 0 var(--horizontal-padding-l);
}

.signedMessage {
  min-height: 278px;
  resize: none;
}

.content {
  padding: 0 0 30px !important;
}

.inputViewSwitcher {
  @mixin contentLarge bold;

  text-align: right;
  color: var(--color-slate-gray);
  margin-top: 12px;
  margin-bottom: -32px;

  & img {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.result {
  text-align: center;
  padding: var(--horizontal-padding-l) 0 12px;

  & .illustration {
    width: 170px;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  & h1 {
    color: var(--color-maastricht-blue);
    margin-top: 0;
    margin-bottom: 50px;
  }
}
