@import '../../app/variables.css';

@keyframes burst {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.wrapper {
  position: absolute;
  height: calc(100% - 85px) !important;
  background: #fff;
  width: 100%;
  bottom: 0;
  z-index: 3;

  &.hidden {
    display: none;
  }

  & header {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    z-index: 1;

    &.done {
      justify-content: flex-end;
    }
  }

  & h5 {
    line-height: 38px;
  }
}

.content {
  position: absolute;
  height: 50%;
  border-top: solid 1px #f6f8fb;
  background: #f6f8fb;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &.done {
    background: #fff;
    border: none;
    justify-content: baseline;
  }
}

.innerContent {
  margin-top: 45px;
  padding: 0 50px;
}

.confirmSlider {
  width: 250px;
  margin: 48px auto;
}

.sliderInput label {
  width: 275px;
  margin: 48px auto;

  & div > span {
    text-indent: 75px;
  }
}

.headerIcon {
  font-size: 68px;
  color: var(--color-action-light);
  margin-bottom: 30px;
}

.resultHeader {
  margin: 0 auto 10px !important;
}

.resultButton {
  margin: 60px auto 0;
}

.pendingIcon {
  color: var(--color-grayscale-dark);
  animation: burst 2000ms infinite linear;
  animation-direction: alternate;
  font-size: 120px;
  margin: 0 auto;
  transform-origin: 50%;
  animation-delay: 450ms;
}

.button {
  margin-top: 10px;
}

.sliderInput span.circle {
  margin-top: 0;
}

@media (--small-viewport) {
  .content {
    position: relative;
    min-height: 90%;
    height: auto;
  }
}

.headerIcon {
  height: 48px;
  width: 48px;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: bold;

  &::before {
    background: var(--gradient-action-orange);
    -webkit-background-clip: text; /* unsupported by autoprefixer */
    -webkit-text-fill-color: transparent;
  }
}

.iconError {
  transform: rotate(45deg);
}

.tryButton {
  margin-top: 20px;
}