@import '../../../app/mixins.css';

:root {
  --horizontal-margin: calc(var(--side-bar-shrunk-size) * 2);
}

.wrapper {
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  padding: 0 var(--horizontal-padding-l);
  max-width: 750px;
  width: calc(100% - var(--horizontal-margin));
}

.header {
  text-align: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
    color: var(--color-maastricht-blue);
  }
}

.fieldGroup {
  display: block;
  margin: 30px 0 40px;

  & > span {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: block;
    margin-bottom: 12px;
    text-align: left;
  }

  & .textarea {
    resize: none;
    line-height: 28px;
  }
}

.noPadding {
  padding: 0 !important;
}

.result {
  background: #08223c !important;
  color: #9bf436 !important;
  margin-bottom: 30px;
}

.button {
  min-width: 185px !important;
}
