@import '../../../app/mixins.css';

.header {
  text-align: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
    color: var(--color-maastricht-blue);
  }
}

.fieldGroup {
  display: block;
  margin: 30px 0 40px;

  & > span {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: block;
    margin-bottom: 12px;
    text-align: left;
  }

  & .textarea {
    resize: none;
    line-height: 28px;
  }
}

.result {
  margin: 40px 0;

  & .textarea {
    background: #08223c !important;
    color: #9bf436 !important;
  }
}

.buttonsHolder {
  align-items: center;
  display: flex;
  flex-direction: column;

  & > * {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    width: 50%;

    & > * {
      display: block;
      width: 100%;
    }
  }
}
