@import '../../../../../../setup/react/app/mixins.css';

.dialogWrapper {
  border: none;

  & > span {
    color: white !important;
  }
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  max-width: 757px;
  min-width: 450px;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-white);

  & .classNameBackgroundColorProp {
    background: var(--color-ultramarine-blue);
  }
}

.skeleton {
  margin: 10px auto;
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.balanceRow {
  display: flex;
  align-items: center;
  margin-top: 22px;
  column-gap: 8px;
  justify-content: center;

  & span:first-child {
    font-size: 14px;
    color: var(--color-blue-gray);
    font-weight: var(--font-weight-normal);
  }

  & .value {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-link-active);
  }
}

.footerDetailsRow {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;

  & .headerText {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-blue-gray);
  }

  & .detailContentText {
    font-size: 15px;
  }

  & .statusChip {
    font-size: 14px !important;
    padding: 10px 16px;
    border-radius: 40px;
  }

  & .activated {
    background-color: #00d5631a;
    color: var(--color-jade-green);
  }

  & .registered {
    background-color: #4070f41a;
    color: var(--color-ultramarine-blue);
  }

  & .terminated {
    background-color: var(--color-maastricht-blue);
    color: var(--color-ghost-white);
  }

  & .detail {
    width: 25%;
  }
}

.footerButton {
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.addButton {
  border-radius: 10px;
  font-weight: 500;
  width: 50%;
}

.errorWrapper {
  padding: 40px 24px;

  & img {
    margin: 40px;
  }

  & .errorText {
    @mixin contentLarge;

    color: var(--color-slate-gray);
  }

  & .retryBtn {
    margin-bottom: 20px;
  }
}
