@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  padding: var(--horizontal-padding-l);
}

.content {
  padding-bottom: 0px;

  & > h1 {
    margin: 19px 0 0 0;
    padding: 0;
  }

  & > p {
    @mixin contentLargest;

    margin: 12px 0px 0px 0px;
    padding: 0;
    color: var(--color-blue-gray);
  }

  & > button {
    margin: 50px 0 0 0;
    width: 431px !important;
  }

  &.error {
    & > p {
      color: var(--color-blue-gray);
    }

    & > button {
      margin-bottom: 30px;
    }
  }

  & > img:first-child {
    width: 100px !important;
  }
}

.successList {
  list-style: none;
  margin: 0px;

  & > li {
    @mixin contentLargest;

    display: flex;
    margin-bottom: 30px;
    color: var(--color-black);

    &::before {
      display: block;
      content: '';
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 16px;
      border: 1px solid var(--color-jade-green);
      background: var(--color-jade-green);
      background-image: url('../../../../../setup/react/assets/images/icons/checkmark-white.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    & > span {
      margin-left: 10px;
    }
  }
}

.btn {
  display: flex;

  & > .spinner {
    margin-left: 10px;
  }
}

.reclaimStatusSection {
  width: 70%;
  max-width: 336px;
  margin-bottom: -20px;

  & > p {
    margin-top: 14px;
    text-align: center;
    color: var(--color-slate-gray);
  }

  & > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    & > li {
      @mixin contentLargest;

      color: var(--color-black);
      display: flex;
      margin-top: 16px;
      line-height: 26px;

      &:last-of-type {
        margin-top: 0px !important;
      }

      &:not(:first-of-type) {
        margin-top: 12px;
      }

      & > span {
        margin-top: 0;
        margin-bottom: 10px;
      }

      &::before {
        display: block;
        content: '';
        margin-right: 10px;
        margin-top: 11px;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: var(--color-ultramarine-blue);
      }

      &.step::before {
        display: block;
        content: '';
        margin-right: 10px;
        margin-top: 4px;
        width: 16px;
        min-width: 16px;
        height: 16px;
        border-radius: 16px;
        border: 1px solid var(--color-blue-gray);
        background: transparent;
      }

      &.step.green::before {
        border: 1px solid var(--color-jade-green);
      }

      &.step.check::before {
        border: 1px solid var(--color-jade-green);
        background: var(--color-jade-green);
        background-image: url('../../../../../setup/react/assets/images/icons/checkmark-white.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
