@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  padding: var(--horizontal-padding-l);
}

.content {
  & > h1 {
    margin: 19px 0 0 0;
    padding: 0;
  }

  & > p {
    @mixin contentLargest;

    margin: 0;
    padding: 0;
    color: var(--color-maastricht-blue);
  }

  & > button {
    margin: 50px 0 0 0;
    width: 431px !important;
  }

  &.error {
    & > p {
      color: var(--color-blue-gray);
    }

    & > button {
      margin-bottom: 30px;
    }
  }
}

.successList {
  list-style: none;
  margin: 0px;

  & > li {
    @mixin contentLargest;

    display: flex;
    margin-bottom: 30px;
    color: var(--color-black);

    &::before {
      display: block;
      content: '';
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 16px;
      border: 1px solid var(--color-jade-green);
      background: var(--color-jade-green);
      background-image: url('../../../../../setup/react/assets/images/icons/checkmark-white.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    & > span {
      margin-left: 10px;
    }
  }
}

.btn {
  display: flex;

  & > .spinner {
    margin-left: 10px;
  }
}
