@import '../../../../../setup/react/app/mixins.css';

.NetworkSwitcherDropdown {
  & .networkSelectionWrapper {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .label {
      font-size: var(--font-size-h6);
      font-family: var(--heading-font);
      font-weight: var(--font-weight-bold);
      color: var(--color-zodiac-blue);
      margin-bottom: 16px;
    }

    & .networkItem {
      font-weight: var(--font-weight-normal) !important;
      font-size: var(--font-size-h6);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px !important;
      color: var(--color-content-light) !important;
      width: calc(100% - 32px) !important;
      border-radius: 8px !important;

      &.selected {
        background-color: var(--color-network-selected-background);
      }
    }
  }

  & .connectionFailedBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > span:first-of-type {
      font-size: var(--paragraph-font-size-s);
      color: var(--color-red);
    }

    & > span:last-of-type {
      font-size: var(--paragraph-font-size-s);
      color: var(--color-ultramarine-blue);
      cursor: pointer;
    }
  }

  & .addNetworkBtn {
    margin-top: 16px;
    display: flex;
    height: 48px;
    padding: 0 28px;
    color: var(--color-ultramarine-blue);

    &:hover {
      text-decoration: initial;
    }

    & > img {
      width: 16px;
      margin-right: 8px;
    }
  }
}

.networksPopup {
  & > span ~ div {
    align-items: center;
    row-gap: 8px;
  }
}

.menuSelect .networkItem {
  font-family: var(--content-font) !important;
  background-color: unset !important;
  font-weight: var(--font-weight-normal);

  & img {
    display: none;
  }
}

.menuSelect {
  & > div:first-child ~ img {
    width: 16px;
  }
}
