@import '../../../../setup/react/app/mixins.css';

.wrapper {
  & > header {
    padding-left: var(--horizontal-padding-l) !important;
    padding-right: var(--horizontal-padding-l) !important;
    padding-bottom: 0px !important;
    height: auto !important;

    & > h1 {
      line-height: unset !important;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  & > p {
    margin-top: 0px;
    color: var(--color-maastricht-blue);
  }
}

.amountStatusContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-platinum);
  list-style: none;

  & > li {
    display: flex;
    flex-direction: row;

    & > .columnTitle {
      @mixin contentNormal bold;

      color: var(--color-maastricht-blue);
    }

    & > p {
      margin-top: 0px;
      margin-bottom: 20px;
      display: flex;
      color: var(--color-maastricht-blue);

      & > img {
        margin-right: 11px;
      }
    }

    & > p:nth-child(1) {
      flex-basis: 20%;
      max-width: 20%;
    }

    & > p:nth-child(2) {
      flex-basis: 80%;
      max-width: 80%;
    }
  }
}
