@keyframes delayedFadeIn {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

.wrapper {
  animation-name: delayedFadeIn;
  animation-duration: var(--animation-speed-fast);
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 50px;

  & > .gridContainer {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    & > .gridSystem {
      width: 100%;
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    & .gridSystemRow {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 20px;
    }
  }

  & .squareBtn {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: var(--color-white);
    outline: none;
    transition: 500ms;

    /* this is how create the dots for the grid */
    &::before {
      content: '\25CF';
      font-size: 7px;
    }

    &:hover {
      box-shadow: 0 0 0 30px rgba(127, 140, 141, 0.4) inset;
    }
  }

  & .buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}
