@import '../../../../../setup/react/app/mixins.css';

.box {
  max-width: var(--footer-button-width);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;

  & > header {
    @mixin contentNormal;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-slate-gray);
  }
}

.content {
  padding: 0 !important;
}

.viewAll {
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
