@import '../app/variables.css';

:root {
  --tab-inactive-color: --color-grayscale-dark;
  --font-size-L: 16px;
  --font-size-XS: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  & p {
    font-size: var(--font-size-L);
    line-height: 30px;
  }
}

.recepientRow {
  display: flex;
}

.fee {
  text-align: right;
  margin-top: -12px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 14px;
  color: grey;
}

input:read-only {
  border-bottom: solid 1px var(--color-white) !important;
}

.disabledInput label {
  font-size: 14px;
}

.button {
  min-width: 0;
  width: 100%;
}

.headerWrapper {
  padding: 20px 0px;

  & .title {
    float: left;
  }

  & .account {
    float: right;
  }

  & h2 {
    margin-bottom: 0;
  }

  & h3 {
    display: inline-block;
    margin: 0;
  }

  & .balanceUnit {
    font-weight: var(--font-weight-bold);
  }

  & .address {
    text-align: right;
    cursor: pointer;
  }

  & .transfer {
    color: var(--color-grayscale-dark);
  }
}

.accountVisual {
  margin-right: 10px;
}

.text {
  color: #3c5068;
  font-size: 16px;
  font-weight: 600;
}

.smallAddress {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
}

.address {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

.sendTo {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.disabledInput input:disabled {
  opacity: 1;
  border: none;
}

@media (--small-viewport) {
  .headerWrapper {
    display: none;
  }

  .header {
    height: 60px;
  }

  .accountVisual {
    margin: 24px 0;
  }
}

@media (--xSmall-viewport) {
  .wrapper {
    & p {
      font-size: var(--font-size-L);
    }
  }
}
