{
  "presets": [["env", {"modules": false}], "react", "stage-3"],
  "env": {
    "test": {
      "presets": [["env"], "react", "stage-3"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
