{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended", "prettier"],
  "plugins": ["import", "babel", "jest", "prettier"],
  "globals": {
    "ipc": true,
    "PRODUCTION": true
  },
  "env": {
    "es2020": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src/"],
          ["@fixtures", "./tests/fixtures/"],
          ["@scripts", "./scripts/"],
          ["@setup", "./setup/"],
          ["@tests", "./tests/"],
          ["@theme", "./src/theme/"],
          ["@block", "./src/modules/block/"],
          ["@search", "./src/modules/search/"],
          ["@bookmark", "./src/modules/bookmark/"],
          ["@common", "./src/modules/common/"],
          ["@dpos", "./src/modules/dpos/"],
          ["@network", "./src/modules/network/"],
          ["@settings", "./src/modules/settings/"],
          ["@token", "./src/modules/token/"],
          ["@transaction", "./src/modules/transaction"],
          ["@blockchainApplication", "./src/modules/blockchainApplication"],
          ["@update", "./src/modules/update"],
          ["@wallet", "./src/modules/wallet/"],
          ["@account", "./src/modules/account/"],
          ["@blockchainApplication", "./src/modules/blockchainApplication/"],
          ["@legacy", "./src/modules/legacy/"],
          ["@message", "./src/modules/message/"],
          ["@auth", "./src/modules/auth/"],
          ["@views", "./packages/views"],
          ["@screens", "./packages/views/screens"],
          ["@packages", "./packages"],
          ["@basics", "./packages/views/basics"],
          ["@shared", "./packages/views/shared"],
          ["@libs", "./libs"]
        ],
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "arrow-parens": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "import/no-cycle": "off",
    "import/named": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/heading-has-content": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/button-has-type": "off",
    "react/default-props-match-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-no-target-blank": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-array-index-key": "off",
    "react/no-did-mount-set-state": "off",
    "react/no-did-update-set-state": "off",
    "react/no-multi-comp": "off",
    "react/no-unused-prop-types": "off",
    "react/no-unused-state": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "react/sort-comp": "off",
    "react/display-name": "off",

    "implicit-arrow-linebreak": "off",
    "react/jsx-closing-tag-location": "off",

    "jest/no-focused-tests": "error",
    "prefer-destructuring": "off",
    "prefer-object-spread": 2,
    "func-names": "off",
    "global-require": "off",
    "new-cap": [
      "error",
      {
        "newIsCapExceptions": ["mnemonic"]
      }
    ],

    "react/prop-types": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": 0,
    "no-param-reassign": "off",
    "complexity": ["error", 10],
    "max-depth": ["error", 3],
    "max-nested-callbacks": ["error", 3],
    "max-statements": ["error", 10],
    "max-lines": ["error", 300]
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.spec.js"],
      "rules": {
        "max-depth": ["error", 2],
        "max-nested-callbacks": ["error", 4],
        "max-statements": ["error", 30],
        "max-lines": ["error", 500]
      }
    }
  ]
}
