{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "ipc": true,
    "PRODUCTION": true,
    "TEST": true,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "func-names": "off",
    "global-require": "off",
    "new-cap": ["error", {
      "newIsCapExceptions": ["mnemonic"],
      "capIsNewExceptions" : [
        "When",
        "Then",
        "Given",
        "After",
        "Before"
      ]
    }],

    "no-loop-func": "off",
    "no-plusplus": "off",
    "no-restricted-properties": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": "off"
  }
}
