{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "ipc": true,
    "PRODUCTION": true,
    "TEST": true,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "func-names": "off",
    "global-require": "off",
    "new-cap": ["error", {
      "newIsCapExceptions": ["mnemonic"],
      "capIsNewExceptions" : [
        "When",
        "Then",
        "Given",
        "After",
        "Before"
      ]
    }],

    "react/prop-types": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": ["error", {
      devDependencies: [
        "./src/**/*.test.js",
        "./features/*/*.js",
        "./src/**/stories.js",
        "./src/tests.js",
        "./src/i18n-scanner.js"
        ]
      }
    ],
    "linebreak-style": ["error", "unix"],
    "no-param-reassign": "off"
  }
}
