.DS_Store
dist
node_modules
npm-debug.log
src/.nyc_output
coverage
app/report.html
app/*.map
app/build
app/build-testnet
*.sw[pon]
app/app.js
.vscode
.idea
blockchain_explorer.db.gz
reports
.history
.env
cypress.log

## Commercial fonts
setup/react/assets/fonts/basierCircle/
setup/react/assets/fonts/gilroy/

## Cypress
tests/cypress/cypress
tests/cypress/screenshots
tests/cypress/videos
/test-results/
/playwright-report/
/playwright/.cache/
