.DS_Store
dist
node_modules
npm-debug.log
src/.nyc_output
coverage
app/report.html
app/*.map
app/build
app/build-testnet
*.sw[pon]
app/app.js
.vscode
.idea
blockchain_explorer.db.gz
package-lock.json
reports
test/cypress/screenshots/
test/cypress/videos/
