# Files
.gitkeep
.DS_Store
.idea
.gitattributes
LICENSE
Jenkinsfile*
patches/@liskhq+lisk-client+6.6.6-alpha.4.patch
setup/react/public/mockServiceWorker.js
yarn.lock
app/yarn.lock

# Folders
**/dist
**/node_modules
**/coverage
**/app/build
**/app/build-testnet
**/app/assets
**/build
**/docs/assets
**/setup/react/assets
**/.husky
**/logs

# Ignore extensions
*.css
*.html
*.feature
.*ignore
.*rc
*.sh
*.properties
*.gz

## jest snapshot
*.snap
