@import '../../../../../setup/react/app/mixins.css';

.fieldGroup {
  display: block;
  margin: 24px 0 30px;

  & > span {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: block;
    margin-bottom: 12px;
    text-align: left;
  }

  & .textarea {
    resize: none;
    line-height: 28px;
    height: 48px !important;
  }
}

.noPadding {
  padding: 0 !important;

  & > div {
    margin: 0;

    & > span {
      font-size: var(--font-size-h6);
    }
  }
}

.messageWrapper {
  padding: 0 var(--horizontal-modal-padding-l);
  box-sizing: border-box;

  & > footer {
    flex-flow: column nowrap !important;
    padding-bottom: 24px !important;
  }
}

.errorLabel {
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: var(--color-red);
  font-size: var(--paragraph-font-size-s);
  font-weight: var(--font-weight-normal);
  text-align: center;
  background-color: rgba(255, 69, 87, 0.1);
}
