@import '../app/variables.css';

:root {
  --copy-color: var(--color-primary-standard);
  --paragraph-color: var(--color-grayscale-dark);
  --paragraph-line-height: 36px;
  --title-font-size: 32px;
}

.icon {
  font-size: 3em;
  color: #ff6236;
}

.resultBox {
  text-align: center;

  & .header {
    position: relative;
  }

  & footer {
    padding: 50px 0 0;
  }

  & p {
    font-size: 1.125em;
    color: var(--paragraph-color);
    line-height: var(--paragraph-line-height);
  }

  & h2 {
    font-size: var(--title-font-size);
  }

  & .copy {
    color: var(--copy-color);
    cursor: pointer;
  }
}

@media (--small-viewport) {
  .resultBox {
    height: calc(100vh - 58px - 62px);

    & .header {
      height: 60px;
      /* background-color: var(--color-grayscale-mobile-background); */
    }
  }

  .icon {
    margin-top: 40px;
  }
}

@media (--xSmall-viewport) {
  .okButton {
    width: 100%;
  }
}
