@import '../app/variables.css';

:root {
  --copy-color: var(--color-primary-standard);
  --paragraph-color: var(--color-grayscale-dark);
  --paragraph-line-height: 36px;
  --title-font-size: 32px;
  --icon-font-size: 48px;
}

.icon {
  height: 30px;
  width: 38.5px;
  color: #ff6236;
}

.resultBox {
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  display: flex;
  width: 100%;
  height: 100%;

  & > div {
    margin-bottom: 100px;
  }

  & .header {
    position: relative;
  }

  & header > h2 {
    font-size: 28px;
  }

  & p {
    color: var(--paragraph-color);
    line-height: var(--paragraph-line-height);
    font-size: 16px;
  }

  & .copy {
    color: var(--copy-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
}

.okButton {
  margin-bottom: 20px;
}

@media (--small-viewport) {
  .resultBox {
    height: calc(100vh - 58px - 62px); /* stylelint-disable-line */
  }

  .icon {
    margin-top: 40px;
  }
}

@media (--xSmall-viewport) {
  .okButton {
    width: 100%;
  }

  & footer {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 58px;

    & > div > button {
      width: 160px !important;
      min-width: 160px !important;
      margin: 0;
    }

    & .okButton {
      width: 160px !important;
      min-width: 160px !important;
    }
  }
}
