@import '../../../../app/mixins.css';

.wrapper {
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  padding: 0 24px;

  /* Message */
  & > p {
    @mixin contentNormal semi-bold;

    color: var(--color-blue-gray);
    margin-left: 8px;

    /* Network name */
    & > span:last-child {
      margin-left: 5px;
      color: var(--color-maastricht-blue);
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}

.status {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.online {
  background-color: #25ca95;
}

.offline {
  background-color: red;
}

@media (max-width: 1200px) {
  .wrapper {
    & > p {
      & > span:first-child {
        display: none;
      }
    }
  }
}
