@import '../../../app/variables.css';

.container {
  width: 100%;
  background-color: var(--color-white);
  border: 1px solid var(--dark-border-color);
  flex-wrap: wrap;
  padding: 12px 16px;
  box-sizing: border-box;
  counter-reset: indicator;

  & .inputRow {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  & .inputValue {
    @mixin contentLargest;
    
    margin: 6px 0;
    color: var(--color-black);
    text-align: left;

    &::before {
      counter-increment: indicator;
      content: counter(indicator) ". ";
      color: var(--color-ghost);
    }
  }

  & .whitespace {
    position: absolute;
  }
}
