.wrapper {
  & .contentContainer {
    display: flex;
    width: auto;
    padding: 0;
    margin: 20px;
    border-radius: 0;
    border-bottom: 1px solid #e1e3eb;
  }
}

.contentHeader {
  display: flex;
}

.infoColumn {
  width: 45%;
}

.oldAmountColumn {
  width: 20%;
}

.centerContent {
  display: flex;
  align-items: center;
}

.newAmountColumn {
  display: flex;
  flex: 1;
}

.delegateInfoContainer {
  display: flex;
}

.delegateInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.editColumn {
  width: auto;
}

.contentScrollable {
  margin-top: 10px;
  overflow: scroll;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.voteItemContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  padding: 8px 0;

  &:last-child {
    margin-bottom: 0;
  }

  & img.editIcon {
    display: none;
  }

  &:hover {
    & img.editIcon {
      display: block;
      cursor: pointer;
    }
  }
}

.txPriority {
  margin: 20px;
}

.editIconsContainer {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.editAmountInput {
  height: 100%;
}

.formButtonsContainer {
  margin-left: 20px;
  display: flex;
}

.editVoteForm {
  display: flex;
  flex: 1;
  
  & .formButtons {
    padding: 0 8px;
    border: none;
    min-width: 64px;
  }
}