.progressBarContainer {
  margin: 5px 0 15px 0;
}

.boxContainer {
  width: 75vw !important; /* stylelint-disable-line unit-whitelist */
  max-width: 100% !important;

  & > header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    & > p {
      margin-bottom: 0;
      color: var(--color-maastricht-blue);
    }
  }

  & .description {
    align-self: baseline;
    width: 100%;
    border-top: 1px solid var(--color-very-light-gray);
    margin: 16px 0 0 0;
    padding-top: 16px;
  }
}

.txDetails {
  max-height: calc(100vh - 80px - 502px) !important; /* stylelint-disable-line unit-whitelist */
  margin-bottom: 20px;

  & ~ footer {
    padding-bottom: 0 !important;
  }
}

.container {
  height: auto;
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */
  display: block;
  padding: 0;
  box-sizing: border-box;
}
