@import '../../../../app/variables.css';
@import '../../../../app/mixins.css';

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  & div {
    flex-grow: 1;
    flex-basis: 33%;
  }

  & h3 {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    position: relative;

    &::after {
      background-color: var(--color-platinum);
      content: '';
      height: 1px;
      left: 0;
      top: 25px;
      position: absolute;
      right: 95px;
    }
  }

  & .contentBody,
  & .totalForged {
    margin-top: 15px;
  }

  & .totalForged {
    @mixin contentNormal;
  }

  & .contentBody {
    @mixin contentNormal bold;

    color: var(--color-ultramarine-blue);
  }
}
