@import '../../../../app/mixins.css';

.wrapper {
  & .content {
    width: 100%;
    height: 263px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0;

    &.overview {
      height: 293px;
    }

    &.forgingDetails {
      min-height: 180px;
    }
  }
}

.column {
  flex-grow: 1;
  flex:1;
  height: 100%;
  box-sizing: border-box;

  & .centered {
    margin: 0 auto;
    max-width: 270px;
  }

  &.nextForgers {
    & .forger {
      width: 50%;
    }
  }
}

.title {
  @mixin contentLargest semi-bold;

  width: 100%;
  padding: 0 20px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-maastricht-blue);
  padding-top: 30px;
  box-sizing: border-box;

  & > span,
  & .tooltip {
    vertical-align: middle;
    line-height: 1em; /* stylelint-disable-line unit-whitelist */
  }
}

.list {
  padding: 18px 10px 0;
  font-size: var(--font-size-h6);

  & .forger {
    display: inline-block;
    padding-bottom: 15px;

    & a {
      & > div,
      & > span {
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
      }

      & > span {
        color: var(--color-maastricht-blue);
        font-size: var(--font-size-small-secondary);
        padding-left: 15px;
        line-height: 35px;
        font-weight: 400;
      }
    }
  }
}

.totalForged {
  font-size: var(--font-size-h4);
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
  color: var(--color-maastricht-blue);
}

.chartBox {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 10px;
  box-sizing: border-box;

  & > .chart {
    position: relative;
    width: 100%;
    height: calc(100% - 51px);
  }
}

.numericInfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  & img {
    filter: hue-rotate(-10deg) saturate(50) brightness(0.5);
  }

  & .main {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 10px;

    & h6 {
      @mixin contentNormal;

      color: var(--color-slate-gray);
      line-height: 24px;
      margin: 0;
    }

    & p {
      color: var(--color-maastricht-blue);
      margin-top: 2px;
    }
  }
}
