@import '../../../../../../setup/react/app/mixins.css';

.avatarContainer {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  & > img.logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -39px;
    width: 77px;
    height: 77px;
    background-color: white;
    border-radius: 40px;
  }

  & > img.bg {
    width: 100%;
    height: 100%;
  }
}

.detailsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
}

.loadingDetailsWrapper {
  align-items: inherit;
}

.chainNameWrapper {
  & .skeleton:first-of-type {
    margin: 20px auto 15px;
  }

  & > span {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-maastricht-blue);
  }

  & > span ~ button {
    padding: 0px 0px !important;
    min-width: fit-content;
    margin-left: 16px;
  }

  & img {
    width: 17px;
  }
}

.addressRow {
  & span {
    font-size: 14px;
  }

  & .skeleton:last-of-type {
    margin-bottom: 0;
  }
}

.appLink {
  margin-top: 14px;
  display: flex;
  font-size: 14px;
  font-weight: 400;

  & > img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.skeleton {
  margin: 10px auto;
}
