@import '../../../../../../setup/react/app/mixins.css';

.avatarContainer {
  width: 100%;
  height: 120px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  & .headerText {
    margin: 0;
    color: var(--color-constant-white);
    font-weight: var(--font-weight-bold);
    position: absolute;
    top: 34px;
  }

  & > img.logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -39px;
    width: 77px;
    height: 77px;
    background-color: white;
    border-radius: 40px;
  }

  & .bg {
    width: 100%;
    height: 100%;
    background: #3396ff;
  }
}

.detailsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 51px;

  & .clipboardCopyItems {
    margin-top: 16px;
    align-items: initial;
    width: initial;

    & .skeleton:last-of-type {
      margin-bottom: 0;
    }

    & .clipboardCopyItem {
      display: flex;
      align-items: baseline;
      margin-top: 4px;

      & span {
        font-size: 14px;
        color: var(--color-maastricht-blue);
      }

      &:first-child {
        margin-top: 0;
      }

      & .addressRowContentLabel {
        margin-right: 6px;
        color: var(--color-slate-gray);
      }
    }
  }
}

.loadingDetailsWrapper {
  align-items: inherit;
}

.chainNameWrapper {
  margin-top: 16px;

  & .skeleton:first-of-type {
    margin: 20px auto 15px;
  }

  & > span {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-maastricht-blue);
  }

  & > span ~ button {
    padding: 0px 0px !important;
    min-width: fit-content;
    margin-left: 16px;
  }

  & img {
    width: 17px;
  }
}

.appLink {
  margin-top: 16px;
  display: flex;
  font-size: 14px;
  font-weight: 400;

  & .hwWalletIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.skeleton {
  margin: 10px auto;
}
