@import './../app/variables.css';

:root {
  --float-animation-distance: 10px;
  --link-font-size: 15px;
}

@keyframes float {
  0% {
    margin-top: 0px;
    margin-bottom: var(--float-animation-distance);
  }

  100% {
    margin-top: var(--float-animation-distance);
    margin-bottom: 0px;
  }
}

.section {
  max-width: 360px;
  margin: auto;
  text-align: center;
}

.img {
  animation: float 1500ms 0ms infinite alternate ease-in-out;
}

.header {
  font-weight: var(--font-weight-semi-bold);
  font-size: 24px;
  margin: 10px;
}

.description {
  font-size: 14px;
  line-height: 26px;
  color: var(--color-grayscale-dark);
}

.link {
  font-size: var(--link-font-size);
  color: var(--color-link);
  display: block;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  line-height: 15px;
  text-align: center;
}
