@import '../app/variables.css';

:root {
  --padding-top: 40px;
}

.signMessage > div {
  height: 100%;
  overflow: hidden;
  margin: 0 -48px;
}

.hasPaddingTop {
  padding-top: var(--padding-top);
}

@media (--medium-viewport) {
  .hasPaddingTop {
    height: 100vh; /* stylelint-disable-line */
  }
}

@media (--small-viewport) {
  .hasPaddingTop {
    padding-top: var(--box-padding);
  }
}

.hidden {
  display: none;
}

@media (--xLarge-viewport) {
  .signMessage > div {
    margin: 0 calc(var(--box-padding-left-XL) * -1);
  }
}

@media (--large-viewport) {
  .signMessage > div {
    margin: 0 calc(var(--box-padding-left-L) * -1);
  }
}

@media (--medium-viewport) {
  .signMessage > div {
    margin: 0 calc(var(--box-padding-left-M) * -1);
  }
}
