@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.holder {
  max-width: 850px;
}

.header {
  text-align: center;

  & > .step {
    @mixin contentSmallest;

    color: var(--color-slate-gray);
    height: 18px;
    letter-spacing: 0.4px;
    line-height: 1.8;
    text-transform: uppercase;
  }

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
    color: var(--color-maastricht-blue);
  }

  & > p {
    @mixin contentLarge;

    color: var(--color-slate-gray);
    margin: 0;
  }
}

.buttonsHolder {
  align-items: center;
  display: flex;
  flex-direction: column;

  & > * {
    display: block;
    margin: 5px 0;
    width: 50%;
  }
}
