@import '../app/variables';

:root {
  --header-font-size: var(--paragraph-font-size-l);
}

.table {
  width: 100%;
  height: 100%;
  display: table;

  & .tableCell {
    display: table-cell;
    vertical-align: middle;
  }
}

.hidden {
  display: none;
}

.message {
  margin: 50px 180px;

  & textarea {
    border-color: var(--color-black);
  }
}

.nextButton {
  margin-bottom: 30px;
}

.generatorHeader {
  margin: 0 auto;
  text-align: center;
}

.info {
  margin: 30px 160px 80px;
  line-height: 26px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
}

.verify {
  background-color: var(--color-form-bg);
}

.signMessageInput {
  text-align: center;
  height: calc(100% - 22px);
  margin-right: 0px;
  margin-left: 0px;
  overflow-y: auto;

  & > section {
    height: 50%;
  }

  & > header {
    height: 50%;
  }

  & header {
    font-size: var(--header-font-size);

    & h2,
    & h5 {
      max-width: 750px;
      margin: 0 auto;
    }

    & h2 {
      font-size: 48px;
    }
  }

  /* Steps */
  &.introduction-step {
    & section.revealed,
    & section.revealing {
      display: none;
    }

    & > header {
      & h5 {
        font-size: 18px;
        width: 430px;
        line-height: 32px;
      }
    }

    & > section {
      border-top: solid 1px #f6f8fb;
      background: #f6f8fb;
      box-sizing: border-box;

      & h5 {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
}

@media (--small-viewport) {
  .signMessageInput {
    &.introduction-step > section {
      & h5 {
        max-width: 90%;
        margin-left: 5%;
      }
    }
  }

  .message {
    margin: 50px 30px;
  }

  .info {
    margin: 30px 0px 60px;
    line-height: 26px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
  }
}
