@import '../../../app/mixins.css';

.wrapper {
  text-decoration: none;
  display: flex;

  &:hover {
    text-decoration: none;
  }

  & .username {
    @mixin headingSmall;

    margin-left: 20px;
    color: var(--color-maastricht-blue);
  }

  & .address {
    @mixin contentNormal;

    margin-top: 3px;
    margin-left: 20px;
    color: var(--color-slate-gray);
  }
}
