@import '../../../app/mixins.css';

:root {
  --info-icon-size: 14px;
  --info-icon-font-size: 9px;
  --tooltip-spacing-inside: 10px;
  --tooltip-spacing-inside-m: 7.5px;
  --tooltip-spacing-inside-s: 5px;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.infoIcon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: var(--info-icon-size);
  justify-content: center;
  margin-left: 5px;
  width: var(--info-icon-size);
}

.tooltip {
  @mixin contentLarge;

  background-color: var(--color-tooltip-bg);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 0.5px solid var(--color-platinum);
  border-radius: var(--border-radius-box);
  box-shadow: var(--box-shadow-standard);
  box-sizing: border-box;
  color: var(--color-slate-gray);
  max-width: 380px;
  opacity: 0;
  padding: 7px 10px;
  position: absolute;
  text-align: left;
  transform: translateY(-50%);
  transition:
    visibility var(--animation-speed-fast) linear,
    opacity var(--animation-speed-fast) linear;
  visibility: hidden;
  width: 45vw; /* stylelint-disable-line */
  z-index: var(--overlay-index);
  word-break: initial;

  & .tooltipArrow {
    color: var(--color-tooltip-arrow);
    height: 28px;
    position: absolute;
    stroke: var(--color-platinum);
    transform: translateY(-50%);
    width: 13px;
  }

  &.top {
    bottom: calc(100% + 16px);
    left: 50%;
    transform: translateY(0) translateX(-50%);

    & .tooltipArrow {
      left: calc(50% - 6px);
      bottom: -20px;
      transform: rotate(-90deg);
    }

    &.right {
      left: 0;
      transform: translateY(0) translateX(0);

      &.indent {
        left: -40px;
      }

      & .tooltipArrow {
        left: 40px;
        right: auto;
        bottom: -20px;
        top: auto;
        transform: rotate(-90deg);
      }
    }

    &.left {
      right: 0;
      left: auto;
      transform: none;

      &.indent {
        right: -40px;
      }

      & .tooltipArrow {
        right: 40px;
        left: auto;
        bottom: -20px;
        top: auto;
        transform: rotate(-90deg);
      }
    }
  }

  &.bottom {
    top: calc(100% + 16px);
    left: 50%;
    transform: translateY(0) translateX(-50%);

    & .tooltipArrow {
      top: -20px;
      left: 50%;
      transform: rotate(90deg) translateY(25%);
    }

    &.right {
      left: 0;
      transform: none;

      &.indent {
        left: -40px;
      }

      & .tooltipArrow {
        top: -20px;
        left: 40px;
        transform: rotate(90deg);
      }
    }

    &.left {
      right: 0;
      left: auto;
      transform: none;

      &.indent {
        right: -40px;
      }

      & .tooltipArrow {
        top: -20px;
        left: auto;
        right: 40px;
        transform: rotate(90deg);
      }
    }
  }

  &.left {
    &:not(.top) {
      &:not(.bottom) {
        right: calc(-100% + 48px);
        top: 50%;

        & .tooltipArrow {
          left: auto;
          right: -12px;
          top: calc(50% - 15px);
          transform: rotate(180deg);
        }
      }
    }
  }

  &.right {
    &:not(.top) {
      &:not(.bottom) {
        left: calc(-100% + 48px);
        top: 50%;

        & .tooltipArrow {
          right: auto;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  & p {
    margin: 0;
    font-size: var(--footnote-font-size);
  }

  & .title {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
  }

  & a {
    @mixin contentLarge bold;

    color: var(--color-ultramarine-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & > header {
    margin-bottom: var(--tooltip-spacing-inside);
  }

  & > footer {
    margin: 0;
    margin-top: var(--tooltip-spacing-inside);
    padding: 0;
  }

  & > main {
    color: var(--color-maastricht-blue);
    font-size: var(--footnote-font-size);
  }

  &.s {
    padding: 16px 20px;
    width: auto;
    max-width: 286px;
    min-width: 140px;

    & > header {
      margin-bottom: var(--tooltip-spacing-inside-s);
    }

    & > footer {
      margin-top: var(--tooltip-spacing-inside-s);
    }

    & p {
      font-size: inherit;
    }
  }
}

.maxContent {
  width: max-content;
}
