@import '../../../../../setup/react/app/mixins.css';

.container {
  max-width: 562px;
  min-width: 350px;
  width: 90%;
  background-color: transparent;
  box-shadow: 0px 4px 15px var(--box-shadow-standard);
  border-radius: 6px;
  padding: 0px 20px 23px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

:root {
  --avatar-padding: 13px;
  --avatar-size: calc(105px - var(--avatar-padding));
}

.text {
  width: 350px !important;
}

.illustration {
  margin: 38px 0 75px;
  height: 266px;
}

.titleHolder {
  @mixin contentNormal;

  margin: 0;
  color: var(--color-slate-gray);
  margin-bottom: 30px;
}

.subheader {
  color: var(--color-maastricht-blue);
  margin-top: -20px;
  margin-bottom: 30px;
}
