.content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bannerSwiper {
  & :global(.swiper-pagination-bullet) {
    border: 1px solid var(--color-periwinkle-blue);

    &:global(.swiper-pagination-bullet-active) {
      background-color: white;
    }
  }
}
