:root {
  --icon-font-size: 32px;
}

.wrapper {
  position: relative;
}

.checkbox {
  visibility: hidden;
  position: hidden;
}


.inputTypeToggle {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-weight: 600;
  color: #2475b9;
  top: -70px;

  & .eyeIcon {
    transform: translateY(50%);
    line-height: 24px;
    height: 24px;
  }
}

.inputWrapper input {
  padding-right: 35px;
}
