@import '../../../app/mixins.css';

.wrapper {
  width: auto;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper > span {
  @mixin contentNormal;

  color: var(--color-slate-gray);
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
}
