.wrapper {
  position: relative;
  display: inline-block;
  pointer-events: all;

  & .dropdown {
    min-width: 349px;
    width: auto;
    top: calc(100% + 10px);
  }
}

@media (--small-viewport) {
  .dropdown {
    max-width: 670px;
  }
}
