@import '../../../../../setup/react/app/mixins.css';

:root {
  --login-title-font-size: 24px;
}

.wrapper {
  width: 100%;
}

.addAccount {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.titleHolder {
  text-align: center;

  & > .stepsLabel {
    @mixin contentSmallest;

    color: var(--color-slate-gray);
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 0 0 16px;
    font-size: var(--font-size-h3);
    line-height: var(--font-size-h3);
  }

  & > p {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin: 0;
    letter-spacing: 1px;
  }
}

.buttonsHolder {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto 0;
  max-width: 430px;
  width: 100%;

  & a {
    width: 100%;
  }
}

.inputFields {
  & > fieldset {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    text-align: left;

    & > label {
      margin-bottom: 7px;
      color: var(--color-maastricht-blue);
      font-size: var(--font-size-small-secondary);

      & .notice {
        color: var(--color-ultramarine-blue);
      }
    }
  }

  & > * {
    max-width: 665px;
    margin: 30px auto 0px;
  }
}

.link {
  @mixin contentLarge bold;

  color: var(--color-link);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

form {
  & .button,
  & .backLink {
    @mixin contentLargest bold;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  & .backLink {
    margin-top: 24px;
  }
}

.labelWrapper {
  display: flex;

  & .fieldGroup {
    font-size: 16px;
    color: var(--color-zodiac-blue);

    &:last-child {
      margin-left: 10px;
    }

    &.checkboxField {
      align-items: flex-start;
      display: flex;

      & > div:last-child {
        flex-basis: calc(100% - 25px);
        margin-left: auto;
      }

      & .checkmark {
        margin-top: 3px;
      }

      & .checkbox {
        margin-right: 10px;
      }
    }
  }

  & .discreetMode {
    & span {
      font-size: 16px;
      color: var(--color-zodiac-blue);
    }
  }
}
