.wrapper {
  padding: var(--horizontal-padding-l);
}

.content {
  & > h1 {
    margin: 19px 0 15px 0;
    padding: 0;
  }

  & > p {
    margin: 0 0 60px 0;
    padding: 0;
  }

  & > button {
    margin: 0;
    width: 431px !important;
  }
}
