.fee {
  font-size: 12px;
  line-height: 14px;
  color: grey;
  text-align: right;
  margin: 0 16px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.error {
  color: #dd2c00 !important;
}
