@import '../../../app/mixins.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin: auto;

  & .info {
    @mixin contentLargest;

    letter-spacing: 0.21px;
    line-height: 25px;
    margin: 4px;
    margin-bottom: 20px;
    color: var(--color-slate-gray);

    & strong {
      color: var(--color-maastricht-blue);
    }
  }

  & .header {
    @mixin headingLarge;

    margin-bottom: 8px;
  }

  & .footer {
    width: 100%;
    margin: 40px 0 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    & > .confirmBtn {
      width: var(--footer-button-width);
    }

    & > .editBtn {
      margin-top: 5px;
      width: auto !important;
    }
  }

  & .account {
    @mixin contentLargest;

    display: flex;
  }

  & .avatar {
    margin-right: 10px;
    margin-top: -1px;
  }
}

.passphraseConfirmation {
  height: 445px;
  margin-bottom: 12px;
}

.transactionResultContent {
  display: flex;
  margin-top: 40px;
  align-items: center;
  text-align: center;
}

.confirmationFooter {
  position: absolute;
  display: flex;
  bottom: 20px;
  width: 100%;
  justify-content: center;
}
