.resultWrapper {
  h4 {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.87);
  }
}

.result textarea {
  background: #333;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  font-family: monospace;
  padding: 12px 24px;
  margin-bottom: -20px;
}
