div
  md-toolbar
    .md-toolbar-tools
      h2 Sign message
      span(flex='')
      md-button.md-icon-button(ng-click='$ctrl.$mdDialog.hide()', aria-label='Close dialog')
        i.material-icons close
  div(layout='row', layout-padding, layout-align="center center")
    div(layout-margin)
      i.material-icons info
    p
      span Signing a message with this tool indicates ownership of a privateKey (secret) and provides a level of proof that you are the owner of the key. Its important to bear in mind that this is not a 100% proof as computer systems can be compromised, but is still an effective tool for proving ownership of a particular publicKey/address pair.
      br
      span Note: Digital Signatures and signed messages are not encrypted!
  md-divider
  div(layout-padding)
    form
      md-input-container.md-block
        label Message
        textarea.message(name='message', ng-model='$ctrl.message', ng-change='$ctrl.sign()', md-autofocus)
    md-dialog-actions(layout='row', ng-if='!$ctrl.resultIsShown')
      md-button(ng-click="$ctrl.$mdDialog.cancel()") Cancel
      span(flex)
      md-button.md-raised.md-primary.sign-button(ngclipboard, data-clipboard-text='{{$ctrl.result}}', ng-click='$ctrl.showResult()', ngclipboard-success="$ctrl.dialog.successToast('Result copied to clipboard')", ng-disabled='!$ctrl.result || $ctrl.resultIsShown') Sign and copy result to clipboard
    div.result-wrapper(ng-if='$ctrl.resultIsShown')
      md-input-container.md-block
        h4 Result
        textarea.result(name='result', ng-model='$ctrl.result', readonly)
