div
  md-toolbar
    .md-toolbar-tools
      h2 Sign message
      span(flex='')
      md-button.md-icon-button(ng-click='$ctrl.$mdDialog.hide()', aria-label='Close dialog')
        i.material-icons close
  div(layout-padding)
    form
      md-input-container.md-block
        label Message
        textarea.message(name='message', ng-model='$ctrl.message', ng-change='$ctrl.sign()', md-autofocus)
      div(layout='row', layout-align='center center')
        md-button.sign-button(ngclipboard, data-clipboard-text='{{$ctrl.result}}', ng-click='$ctrl.showResult()', ngclipboard-success="$ctrl.dialog.successToast('Result copied to clipboard')", ng-disabled='!$ctrl.result || $ctrl.resultIsShown') Sign and copy result to clipboard
    div(ng-if='$ctrl.resultIsShown')
      md-input-container.md-block
        label Result
        textarea.result(name='result', ng-model='$ctrl.result', readonly)
