div
  md-toolbar
    .md-toolbar-tools
      h2 Verify message
      span(flex='')
      md-button.md-icon-button(ng-click='$ctrl.$mdDialog.hide()', aria-label='Close dialog')
        i.material-icons close
  div(layout='row', layout-padding, layout-align="center center")
    div(layout-margin)
      i.material-icons info
    p When you have the signature, you only need the publicKey of the signer in order to verify that the message came from the right private/publicKey pair. Be aware, everybody knowing the signature and the publicKey can verify the message. If ever there is a dispute, everybody can take the publicKey and signature to a judge and prove that the message is coming from the specific private/publicKey pair.
  md-divider
  div(layout-padding)
    form
      md-input-container.md-block(ng-class='{"md-input-invalid": $ctrl.publicKey.error.invalid}')
        label Public key
        input.public-key(type='text', name='publicKey', ng-model='$ctrl.publicKey.value', ng-change='$ctrl.verify()', md-autofocus)
        div(ng-messages='$ctrl.publicKey.error')
          div(ng-message='invalid') Invalid
      md-input-container.md-block(ng-class='{"md-input-invalid": $ctrl.signature.error.invalid}')
        label Signature 
        textarea.signature(name='signature', ng-model='$ctrl.signature.value', ng-change='$ctrl.verify()')
        div(ng-messages='$ctrl.signature.error')
          div(ng-message='invalid') Invalid
    div.result-wrapper(ng-show='$ctrl.result')
      md-input-container.md-block
        h4 Original Message
        textarea.result(name='result', ng-model='$ctrl.result', readonly)

