.wrapper {
  background: var(--color-white);
  border-radius: var(--border-radius-box);

  & .box {
    & > header {
      padding-left: var(--horizontal-padding-l);
      padding-right: var(--horizontal-padding-l);
    }
  }
}
