@import '../../../../../../setup/react/app/mixins.css';

.stakesCount {
  @mixin contentLarge;

  color: var(--color-slate-gray);
  display: flex;

  & > img {
    width: 17px;
    margin-right: 12px;
  }

  & > span {
    color: var(--color-content-light);
  }
}
