@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 431px;
  height: auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 16px;
  border-bottom: 1px solid var(--color-platinum);
  background: var(--color-white-smoke);
  border-top-left-radius: var(--border-radius-box);
  border-top-right-radius: var(--border-radius-box);

  & > h1 {
    @mixin contentNormal bold;

    margin: 5px 0 0;
  }
}

.formSection {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  & .fieldLabel {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    margin-bottom: 8px;
  }

  & .amountHint {
    @mixin contentSmallest;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-slate-gray);
    width: 100%;

    & > img {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  & .amountField {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    & .converter {
      position: absolute;
      right: 35px;
    }

    & .input {
      padding-right: 120px;
      width: 100%;
      height: 48px;
    }
  }

  & .input,
  & .textarea {
    @mixin contentLargest;

    height: 48px;
    padding: 14px;
  }

  & .textarea {
    resize: none;
    overflow: hidden;
    padding-right: 30px;
  }

  & .status {
    position: absolute;
    right: 10px;
  }

  & .referenceStatus {
    bottom: 14px;
    position: absolute;
    right: 10px;
  }

  & .referenceField {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

.feedbackMessage {
  margin: 5px 0;
}

.byteCounter {
  bottom: 6px;
  opacity: 0;
  position: absolute;
  right: 8px;
  transition: opacity var(--animation-speed-fast) linear;
}

.feedback {
  @mixin contentSmallest;

  box-sizing: border-box;
  color: var(--color-slate-gray);
  display: none;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 6px 10px;
  width: 100%;

  &:global(.error) {
    color: var(--color-burnt-sienna);
  }

  &.show {
    display: flex;
  }

  &.referenceFeedback {
    @mixin contentSmallest;
  }
}

.tooltipText {
  @mixin contentLarge;
}

footer {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 16px;

  & > .confirmButton {
    width: 100%;
  }
}

.spinner {
  color: var(--color-ultramarine-blue);
  position: absolute;
  right: 11px;
}

.show {
  opacity: 1;
  transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
}

.hide {
  opacity: 0;
  transition: opacity var(--animation-speed-fast) linear;
}
