@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.formSection {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &:first-child {
      margin-top: 20px;
    }
  }

  & .fieldLabel {
    @mixin contentNormal bold;

    align-items: center;
    color: var(--color-maastricht-blue);
    display: flex;
    margin-bottom: 8px;
  }

  & .amountHint {
    @mixin contentSmallest;

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-slate-gray);
    padding-right: 10px;
    position: relative;
    top: -30px;
    width: 100%;

    & > img {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  & .amountField {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    & .converter {
      position: absolute;
      right: 35px;
    }

    & .input {
      padding-right: 120px;
      width: 100%;
      height: 48px;
    }
  }

  & .input,
  & .textarea {
    @mixin contentLargest;

    height: 48px;
    padding: 14px;
  }

  & .textarea {
    resize: none;
    overflow: hidden;
    padding-right: 30px;

    &:focus ~ .byteCounter {
      opacity: 1;
    }

    &:focus ~ .referenceStatus {
      opacity: 0;
    }
  }

  & .status {
    position: absolute;
    right: 10px;
  }

  & .referenceStatus {
    bottom: 14px;
    position: absolute;
    right: 10px;
  }

  & .referenceField {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  & .selector {
    margin: 13px 0;
  }

  & .processingInfo {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    display: flex;
    margin: 8px 0;

    & .loading {
      color: var(--color-ultramarine-blue);
      margin-left: 5px;
    }

    & > span {
      color: var(--color-maastricht-blue);
      display: flex;
      margin-left: 5px;
    }
  }
}

.feedbackMessage {
  margin-top: 5px;
  max-height: 100% !important;
  min-height: 40px;
}

.byteCounter {
  bottom: 6px;
  opacity: 0;
  position: absolute;
  right: 8px;
  transition: opacity var(--animation-speed-fast) linear;
}

.feedback {
  @mixin contentSmallest;

  box-sizing: border-box;
  color: var(--color-slate-gray);
  display: none;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 6px 10px;
  width: 100%;

  &:global(.error) {
    color: var(--color-burnt-sienna);
  }

  &.show {
    display: flex;
  }

  &.referenceFeedback {
    @mixin contentSmallest;
  }
}

.tooltipText {
  @mixin contentLarge;
}

.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 24px 16px;

  & > .confirmButton {
    width: var(--footer-button-width);
  }
}

.spinner {
  color: var(--color-ultramarine-blue);
  position: absolute;
  right: 11px;
}

.show {
  opacity: 1;
  transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
}

.hide {
  opacity: 0;
  transition: opacity var(--animation-speed-fast) linear;
}
