@import '../app/variablesV2.css';

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.label {
  color: var(--color-dark-gray);
  font-family: var(--heading-font);
  font-size: var(--button-font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: 1.17;
  margin-left: 10px;
}

.spinner {
  animation-name: rotate;
  animation-duration: var(--animation-speed-standard);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  color: inherit;
  display: block;
  height: 14px;
  width: 14px;
}
