@import '../../../app/mixins.css';

.wrapper {
  --header-height: 48px;

  align-items: inherit;
  background: var(--color-white);
  border: 1px solid var(--color-platinum);
  border-radius: var(--border-radius-box);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;

  &.full {
    width: 100%;
  }

  &.medium {
    width: var(--medium-box-width);
  }

  & .loadingOverlay {
    background: var(--overlay-color);
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &.withHeader {
    & .loadingOverlay {
      top: var(--header-height);
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    & > section,
    & .row {
      margin: 0;

      &:first-child {
        margin-top: -20px;
      }

      &:last-child {
        margin-bottom: -20px;
      }

      &.clickableRow:hover {
        width: calc(100% + 2 * 20px);
        margin-right: -20px;
        margin-left: -20px;

        &:not(:first-child) {
          border-top: 1px solid var(--color-platinum);
          margin-top: -1px;
        }
      }
    }
  }

  &.main {
    & .content {
      min-height: 300px;
    }
  }

  & > section,
  & .row {
    @mixin contentNormal;

    margin: 0 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-platinum);
    }

    &.clickableRow:hover {
      background-color: var(--color-rows-hover);
      margin-right: 0;
      margin-left: 0;
      padding: 20px;
    }
  }
}

.withHeader {
  margin-bottom: 12px;

  & > header,
  & > .header {
    align-items: center;
    background-color: var(--color-white-smoke);
    border-bottom: 1px solid var(--color-platinum);
    border-top-left-radius: var(--border-radius-box);
    border-top-right-radius: var(--border-radius-box);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    justify-content: space-between;
    margin: 0;
    padding: 16px 20px;
    width: 100%;
    z-index: 3;

    & h1,
    & h2 {
      @mixin contentLargest bold;

      color: var(--color-maastricht-blue);
      margin: 0;
      padding: 0;
    }

    & > input,
    & > * > input,
    & > * > * > input {
      min-width: 200px;
    }
  }

  & > p {
    color: var(--color-blue-gray);
  }
}

.linear {
  /*************************
    Theme for ProgressBar
  *************************/
  background: transparent !important;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}
