@import '../../app/variables.css';

.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  width: var(--footer-button-width);

  & button {
    display: block;
    width: 100%;
  }
}
