@import '../../app/mixins.css';

.banner {
  background-color: var(--color-maastricht-blue);
  border-radius: var(--border-radius-standard);
  box-sizing: border-box;
  color: var(--color-white);
  padding: 30px;

  & header {
    display: flex;
    justify-content: flex-start;
  }

  & .title {
    @mixin headingLarge;

    margin: 0;
  }

  & .closeBtn {
    align-items: center;
    border: 1px solid var(--color-slate-gray);
    border-radius: var(--border-radius-box);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 32px;
    justify-content: center;
    margin-left: auto;
    position: relative;
    width: 32px;

    &::before,
    &::after {
      background-color: var(--color-white);
      content: '';
      height: 11px;
      position: absolute;
      width: 1px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  & .content {
    @mixin contentLargest;

    line-height: 25px;
    margin: 20px 0;

    & > p {
      margin: 0;
    }
  }
}
