.tableHeader {
  position: sticky;
  top: 80px;
  background: var(--color-white);
  z-index: 3;

  & ~ a:first-of-type::before {
    display: none !important;
  }

  & > div:last-child {
    justify-content: flex-start;
  }
}

.selectDropdownProp {
  max-height: 260px;
  overflow: auto;
}

.sortingColumn {
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  &.arrowUp {
    border-bottom: 4px solid black;
  }

  &.arrowDown {
    border-top: 4px solid black;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0 !important;
  margin-bottom: 20px;
}

.tooltipOffset {
  left: -145px;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > .fee {
    font-family: var(--content-font);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--color-blue-gray);
  }
}

.transactionFeeCell {
  display: inherit;

  @media (--medium-viewport) {
    display: none;
  }
}

.header {
  background-color: var(--color-body-bg);

  & h1 {
    font-size: var(--font-size-large);
  }
}

.loadLatestBtnWrapper {
  position: absolute;
  top: 10px;
  z-index: 4;
  left: 50%;
}
