@import '../../../../../../setup/react/app/mixins.css';

:root {
  --horizontal-margin: calc(var(--side-bar-shrunk-size) * 2);
  --color-fait-value: var(--color-ink-blue);
  --color-balance-bg: transparent;
  --balance-border: 0.5px solid var(--color-extra-light-gray);
  --balance-shadow: 0 4px 10px rgba(234, 234, 234, 0.36);
}

:root [data-theme="dark"] {
  --color-fait-value: #8c8c8f;
  --color-balance-bg: var(--color-zodiac-blue--satin-deep-black);
  --balance-border: none;
  --balance-shadow: none;
}

.wrapper {
  max-width: 477px;
  width: calc(100% - var(--horizontal-margin));
  padding: 0 var(--horizontal-padding-l);

  &.confirmWrapper {
    max-width: 371px !important;
  }

  & footer {
    margin: 0px !important;
    width: 100% !important;
    row-gap: 16px;
  }

  & .noPadding {
    padding: 0 0 var(--horizontal-padding-l) 0;

    & > div {
      display: flex;
    }

    & > label ~ div {
      @mixin contentSmall;
    }

    & span {
      text-align: center !important;
    }
  }

  & header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    & > h1 {
      font-size: var(--font-size-h3) !important;
      font-weight: var(--font-weight-very-bold) !important;
    }
  }

  & .accountInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;

    & > p:nth-child(2) {
      @mixin contentLargest bold;

      margin: 8px 0px;
      color: var(--color-content-light);
    }

    & > p:nth-child(3) {
      color: var(--color-blue-gray) !important;
      margin-top: -3px;

      &,
      & ~ p {
        @mixin contentNormal;
      }
    }

    & > p:nth-child(4) {
      margin-top: -5px;

      & > span {
        color: var(--color-content-light);
      }
    }
  }

  & button.confirmButton {
    width: 100%;
  }
}

.space {
  margin: 10px;
}

.fieldGroup {
  position: relative;

  & > .availableBalance {
    @mixin contentSmall normal;

    position: absolute;
    right: 5px;
    top: -5px;
    color: var(--color-slate-gray);

    & > span:last-child {
      @mixin contentSmall semi-bold;

      color: var(--color-ultramarine-blue);
    }
  }
}

.removeStakeButton {
  border-style: solid;
}
