@import '../app/variables.css';

.wrapper {
  line-height: 36px;
  display: flex;
  justify-content: center;
  background: none;
  box-shadow: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  & header {
    & p {
      line-height: 26px;
    }
  }

  & .titleInput {
    margin: 6.6vh 0vh;/* stylelint-disable-line */
  }

  & .button {
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    text-transform: none;
    width: 100%;
    height: 60px;
  }

  & .follow {
    margin-top: 25px;
    height: 56px;

    & .label {
      vertical-align: middle;
    }
  }
}

.followedAccountsStep {
  padding: 2px;
}
