@import '../../../../../setup/react/app/mixins.css';

.accountWrapper:last-child {
  border-bottom: none;
}

.accountWrapper:hover {
  opacity: 0.8;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new {
  background-color: var(--color-ultramarine-blue);
  padding: 2px 8px;
  border-radius: 2.5px;
  font-weight: 500;
  font-size: 12px;
  color:  var(--color-white);
}

.tooltipContainer {
  white-space: normal;
  width: 230px;
  word-wrap: break-word;
  background-color:  var(--color-white);
}

.accountWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  padding-bottom: 13px;
  border: none;
  border-radius: 0px;
  justify-content: flex-start;
  color: var(--color-maastricht-blue);
  border-bottom: 1px solid var(--color-button-outline-color);
  transition: opacity 100ms linear;
  cursor: pointer;

  & > .addressWrapper {
    margin-left: 10px;
    flex: 1;
    text-align: left;
  }

  & > .addressWrapper > p {
    margin-top: 8px;
    margin-bottom: 0px;
    color: var(--color-slate-gray);
    font-size: 13px;
  }

  & > button {
    border: none;
    background-color: transparent;
    width: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}

.addressValue {
  & > img {
    margin-bottom: -5px;
    margin-left: 2px;
  }
}
