:root {
  --menu-background-color: #fff;
  --menu-item-hover-gradient: linear-gradient(-27deg, #004aff 4%, #57afff 61%, #93f4fe 100%);
  --menu-item-hover-border-width: 7px;
  --setting-menu-color: #74869b;
  --setting-menu-border-color: #d0d9e3;
}

.sideBarWrapper {
  text-align: center;
}

.logo {
  margin: 40px 0;
}

.setting {
  color: var(--setting-menu-color) !important;
  border-top: 1px solid var(--setting-menu-border-color) !important;
  position: fixed !important;
  width: 192px;
  left: 0;
  bottom: 0;
  padding: 30px 0;
}

.tab {
  background: var(--menu-background-color);
  text-align: center;
  text-transform: capitalize;
  box-shadow: none;

  & span {
    display: block;
    margin: 10px 0 0;
  }
}

.navigationContainer {
  overflow: hidden;
  margin-left: -2px;
}

.label {
  padding: 25px 10px;
  font-family: Gilroy-Bold;
  font-size: 18px;
  color: #000;
  letter-spacing: 0;

  & > .rippleWrapper {
    display: none;
  }
}

.navigationContainer .navigation {
  padding-left: 0;
  box-shadow: none;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}

.tabs nav {
  overflow: hidden;
}

.pointer {
  display: none;
}

.arrowContainer {
  display: none;
}

.label.active {
  position: relative;
  background: white;
  color: #000;
  margin-bottom: -1px;
  opacity: 1;
  border-width: 0;

  &::before {
    position: absolute;
    width: var(--menu-item-hover-border-width);
    height: 100%;
    top: 0;
    right: 0;
    content: '';
    display: block;
    opacity: 0.8;
    background-image: var(--menu-item-hover-gradient);
  }
}
