.tab {
  background: #f4f4f4;
  box-shadow: inset 0px -1px 1px -1px rgba(0, 0, 0, 0.12);
  padding-right: 24px;
  padding-left: 24px;
}

.navigationContainer {
  overflow: hidden;
  margin-left: -2px;
}

.navigationContainer .navigation {
  padding-left: 0;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.12);
  margin-left: 2px;
}

.tabs nav {
  overflow: hidden;
}

.pointer {
  height: 4px;
  margin-top: -48px;
}

.label.active {
  background: white;
  color: #0288d1;
  margin-bottom: -1px;
}
