@import '../app/variablesV2.css';

.checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;

  & input {
    visibility: hidden;
    position: absolute;
  }

  & span {
    color: var(--color-ultramarine-blue);
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;

    &.checked {
      display: none;
      color: var(--color-ultramarine-blue);
    }

    &.unchecked {
      font-size: 16px;
      background-color: var(--color-white);
      border: 1px solid var(--dark-border-color);
      border-radius: var(--border-radius-standard);
      color: var(--color-white);
      display: block;
    }
  }

  & input:checked {
    & ~ .checked {
      display: block;
    }

    & ~ .unchecked {
      display: none;
    }
  }
}
