@import '../app/variables.css';
@import '../app/variablesV2.css';
@import '../app/mixins.css';

:root {
  --grid-padding-L: var(--box-padding-left-L);
  --grid-padding-M: var(--box-padding-left-M);
  --grid-padding-XS: var(--box-padding-left-M);
  --list-bottom-padding-m: 120px;
  --list-bottom-padding-s: 90px;
}

.box {
  box-shadow: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  min-height: 80vh; /* stylelint-disable-line */
  height: 100%;
}

.leftText {
  text-align: left;
  padding-left: 0px;

  &:first-child {
    padding-left: 20px;
  }
}

.checkBoxContainer {
  & > input {
    display: none;

    &:checked + .fakeCheckbox {
      background-color: var(--color-ultramarine-blue);
      border-color: var(--color-ultramarine-blue);
    }
  }

  & .fakeCheckbox {
    align-items: center;
    background-color: var(--color-white);
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-standard);
    box-sizing: border-box;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    height: 16px;
    transition:
      background var(--animation-speed-fast) linear,
      border var(--animation-speed-fast) linear,
      color var(--animation-speed-fast) linear;
    width: 16px;

    & > .icon {
      font-size: inherit;
    }
  }
}

.wrapper {
  width: 100%;
}

.table {
  & :global thead th:first-child {
    display: none !important;
  }

  & ul {
    list-style-type: none;
    line-height: 48px;
    margin: 0;
  }
}

.actionBar {
  margin-top: 9px;
  display: inline-block;
}

.votesMenuButton {
  margin-right: 16px;
  margin-top: 8px;

  & span {
    vertical-align: top;
    line-height: 24px;
    margin-left: 6px;
  }
}

.menuItem {
  flex-direction: row-reverse;
  width: 241px;
}

.icon {
  text-align: right;
  width: auto;
}

.menuInner {
  height: 306px;
  overflow-y: auto;
}

.button {
  width: auto;
  margin-top: 18px;
  margin-right: 16px;
}

.rotated {
  transform: rotate(45deg);
}

.voteButton {
  color: var(--color-black) !important;
  position: relative;
  top: 3px;
}

.loadMore {
  @mixin contentSmall bold;

  width: 100%;
  height: 36px;
  color: var(--color-maastricht-blue) !important;
  border-top: solid 1px var(--color-platinum);
  background-color: var(--color-white-smoke) !important;
  box-shadow: none;
  min-height: 36px;
  margin-top: -1px;
  border-radius: unset;

  &:hover {
    color: var(--color-maastricht-blue) !important;
    background: var(--color-white-smoke) !important;
  }
}

.productivity {
  text-align: left;
}

.weight {
  font-weight: bold;
}

.delegatesList {
  overflow-y: auto;

  & .tableHead {
    flex-wrap: nowrap;

    & li {
      color: var(--color-dark-blue) !important;
      font-size: 15px !important;
      transition: all ease 200ms;
      font-weight: 700;
    }
  }

  & .row {
    background: var(--color-white);
    flex-wrap: nowrap;
    height: 72px;

    &:hover {
      background: rgba(64, 112, 244, 0.08) !important;
    }

    & li {
      color: var(--color-dark-blue);
      font-size: 16px;
      font-weight: 400;

      &:last-child {
        font-weight: 300;
      }
    }
  }
}

.safariHack {
  transform: translateZ(0);
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
}

.showChangeSummery {
  & .filters .filter:not(.search) {
    display: none;
  }

  & .delegatesList {
    & .input,
    & .row:not(.upVoteRow):not(.downVoteRow) {
      display: none;
    }
  }

  & .row li,
  & .tableHead li {
    &:first-child {
      display: none !important;
    }
  }
}

.emptyMessage {
  text-align: center;
  color: var(--color-dark-blue);
  padding: 23px 0;
  font-weight: 500;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 36px;
}

.title {
  @mixin headingSmall;

  color: var(--color-maastricht-blue);
}

.address {
  @mixin contentNormal;

  margin-top: 3px;
  color: var(--color-slate-gray);
}

.checkbox {
  padding: 0px;
}

.results {
  border-radius: 0 0 var(--border-radius-box) var(--border-radius-box);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.loadingOverlay {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 1;
}

.linear {
  background: transparent !important;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}

.selectingDelegates {
  position: absolute;
  top: 80px;
  bottom: 46px;
  left: 11px;
  width: 36px;
  border-radius: 3px;
  background-color: var(--color-highlight-checkboxes);
  z-index: 1;
}

.tooltipClassName {
  top: 220px;
}

.infoIconClassName {
  display: none;
}

@media (--xLarge-viewport) {
  .delegatesList {
    margin: 0px calc(0 - var(--box-padding-left-XL));

    & .table {
      & ul {
        padding: 0 var(--box-padding-left-XL);
      }
    }

    & .row {
      padding: 11px 5px;
    }
  }
}

@media (--large-viewport) {
  .delegatesList {
    margin: 0px calc(0 - var(--box-padding-left-L));
    overflow-x: hidden;

    & .table {
      & ul {
        padding: 0 var(--box-padding-left-L);
        height: 77px;
      }
    }
  }
}

@media (--medium-viewport) {
  .wrapper {
    height: 100%;
    min-height: 100%;
  }

  .delegatesList {
    height: auto;
    overflow-y: visible;
    margin: 0px calc(0 - var(--box-padding-left-M));

    & .table {
      & ul {
        padding: 0 var(--box-padding-left-M);
      }
    }

    & .row,
    & .tableHead {
      /* padding-right: var(--grid-padding-M); */
    }

    & .tableHead li:nth-child(4),
    & .row li:nth-child(4) {
      display: none;
    }

    & .tableHead li {
      font-size: 12px !important;
    }
  }

  .showChangeSummery {
    & .filters .search {
      display: none;
    }

    & .delegatesList {
      & .row li:nth-child(3),
      & .tableHead li:nth-child(3) {
        flex-basis: 58.3% !important;
        max-width: 58.3% !important;
      }
    }
  }

  footer {
    margin: 0px calc(0 - var(--box-padding-left-M));
    padding: 0 var(--box-padding-left-M);
  }
}

@media (--small-viewport) {
  .delegatesList {
    padding-bottom: var(--list-bottom-padding-s);
  }
}
