@import '../../../../../setup/react/app/mixins.css';

.signedMessage {
  min-height: 278px;
  resize: none;
}

.wrapper {
  margin-bottom: 0;
}

.header {
  padding: var(--horizontal-modal-padding-l) 0 var(--horizontal-padding-m) !important;
  height: auto !important;

  & > h1 {
    font-size: var(--font-size-h3) !important;
    line-height: var(--font-size-h3) !important;
  }
}

.content {
  padding: 0 0 30px !important;

  & > div {
    font-size: var(--font-size-h6);
  }

  & > label {
    margin-top: 12px;
  }
}

.inputViewSwitcher {
  @mixin contentLarge bold;

  text-align: right;
  color: var(--color-slate-gray);
  margin-top: 12px;
  margin-bottom: -32px;

  & img {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
  }
}

& .footer {
  padding-bottom: 24px !important;

  & button {
    width: var(--footer-button-width) !important;
  }
}
