@import '../../../setup/react/app/mixins.css';

.wrapper {
  border-radius: inherit;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    @mixin contentLarge semi-bold;

    align-items: center;
    color: var(--color-slate-gray);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    line-height: 38px;

    &:last-child {
      border-right: 0 none;
    }

    &.active {
      background: var(--color-active-tab);
      color: var(--color-ultramarine-blue);
      border-radius: 18px;
      border: solid 1px var(--tab-border-color);
    }
  }
}
