@import '../../../../../../setup/react/app/mixins.css';

.container {
  & > header {
    padding-bottom: 22px;
  }

  & > header > h1 {
    font-size: 20px !important;
  }

  & > div {
    margin-bottom: 16px;
  }
}

.chartBox {
  padding: 16px 0px !important;
}

.statsBox {
  flex-direction: row !important;
  justify-content: space-between !important;

  & > div {
    &:first-child {
      flex-basis: 70%;
    }

    &:last-child {
      flex-basis: 30%;
      display: flex;
      justify-content: center;
    }
  }
}

.statsInfoTitle {
  @mixin contentLarge;

  color: var(--color-blue-gray);
}

.container .statsBox:first-of-type {
  background-color: black;
}

.statsInfo {
  @mixin headingNormalIntermediate;

  color: var(--color-maastricht-blue);
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 20px;
}

.chart {
  position: relative;
  width: calc(100% - 10px);
  min-height: 120px;
}

.chartGuides {
  margin-left: 10px;
}
