.container {
  margin: 100px auto 0;
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterPasswordContainer {
  max-width: 100% !important;

  & > div:first-child {
    max-width: 515px !important;
    border-radius: var(--border-radius-box) !important;
    position: relative;
  }
}
