@import '../../app/variables.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  font-weight: var(--font-weight-bold);

  & .recieve {
    border-radius: var(--border-radius-standard);
    display: inline-block;
    height: 29px;
    padding: 6px 12px;
    background-color: rgba(43, 214, 123, 0.15);
    color: var(--color-deep-green);
    box-sizing: border-box;
    line-height: initial;
  }
}
