@import '../../../../app/mixins.css';

:root {
  --menu-item-width: 72px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.item {
  align-items: center;
  border-bottom: 2px solid transparent;
  border-right: 1px solid var(--color-platinum);
  border-top: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 24px;
  text-decoration: none;
  margin-bottom: -1px;
  max-width: var(--menu-item-width);
  overflow: hidden;

  /* TODO uncomment next line after performance problems like https://github.com/LiskHQ/lisk-desktop/issues/2482 are solved
  transition: all var(--animation-speed-fast) linear; */
  backface-visibility: hidden;
  transform: translateZ(0);

  &:last-child {
    border-right: 0 none;
  }
}

.notActive {
  pointer-events: none;
  cursor: default;

  & > * {
    opacity: 0.5;
  }
}

.item > img {
  margin-bottom: 4px;
}

.item > span {
  @mixin headingSmall;

  color: var(--color-slate-gray);
  font-weight: var(--font-weight-normal);
  line-height: 19px;
}

.label {
  display: inline-block;
  opacity: 0;
  padding-left: 10px;

  /* TODO uncomment next line after performance problems like https://github.com/LiskHQ/lisk-desktop/issues/2482 are solved
  transition: all var(--animation-speed-fast) linear; */
}

.selected {
  background: var(--color-white);
  border-bottom: 2px solid var(--color-ultramarine-blue);
  max-width: 160px;

  & .label {
    color: var(--color-ultramarine-blue);
    opacity: 1;
  }
}

@media (--medium-viewport) {
  .wrapper {
    min-width: 120px;
  }

  .selected {
    max-width: var(--menu-item-width);

    & .label {
      opacity: 0;
    }
  }
}
