@import '../../../app/variables.css';

.wrapper {
  width: 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0 15px;

  & > button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;

    &:disabled {
      cursor: default;
      opacity: 0.4;
    }
  }
}

@media (--medium-viewport) {
  .wrapper {
    width: 88px;
  }
}
