@import '../../../../../setup/react/app/mixins.css';

:root {
  --horizontal-margin: calc(var(--side-bar-shrunk-size) * 2);
}

.wrapper {
  max-width: 750px;
  width: calc(100% - var(--horizontal-margin));
  padding: 0 var(--horizontal-modal-padding-l);
}
