@import '../../../../../../setup/react/app/mixins.css';

.container {
  display: flex;

  &::before {
    content: '';
    min-width: calc(100% - 40px);
    position: absolute;
    height: 1px;
    border-top: 1px var(--color-platinum) solid;
  }

  & > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-content-light);
    font-size: var(--paragraph-font-size-s);
    font-weight: var(--font-weight-normal);

    & a {
      font-weight: var(--font-weight-normal);
    }
  }

  &:hover .pinWrapper {
    display: block;
  }

  & .balance {
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    font-size: var(--paragraph-font-size-s);
    color: var(--color-content-light);

    &.amountCell {
      font-size: var(--font-size-h6);
      transition-property: color;
      transition-timing-function: steps(8, end);
      transition-duration: 1.5s;
    }

    &.animateRed {
      color: var(--color-red);
      transition-duration: 0s;
    }

    &.animateGreen {
      color: var(--color-deep-green);
      transition-duration: 0s;
    }
  }
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 14px;
  width: 100%;

  & > button {
    max-width: 30px;
    min-width: 30px;
  }

  & > div,
  & > button {
    padding: 0px !important;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  & > p:first-child {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & img {
    width: 20px;
  }

  & > p ~ div {
    display: flex;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
  }
}

.addressWrapper {
  padding: 20px 22px 20px 0px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  color: var(--color-content-light);
  align-items: center;

  & p {
    @mixin validatorName;

    margin: 0 0 8px 0;
  }

  & span {
    @mixin contentLarge;

    color: var(--color-slate-gray);
  }
}

.rowWrapper {
  width: 100%;
}
