@import '../../../app/mixins.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;

  & > h4 {
    @mixin headingLarge;

    margin: 0;
    font-size: 28px;
    color: var(--color-maastricht-blue);
  }

  & > p {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
    text-align: center;
    margin-bottom: 0;
  }
}

.box {
  background-color: var(--color-white);
  box-shadow: 0px 4px 10px rgba(234, 234, 234, 0.36);
  border-radius: 6px;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 20px;
}

.accountContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-periwinkle-blue);
  margin-bottom: 30px;

  & > div > h5 {
    @mixin contentNormal semi-bold;

    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--color-maastricht-blue);
  }

  & > div > p {
    @mixin contentLargest;

    margin-top: 2px;
    margin-left: 42px;

    & > span {
      @mixin contentLargest semi-bold;
      color: var(--color-maastricht-blue);
    }
  }
}

.addressContainer {
  display: flex;
  align-items: center;

  & > div:first-child {
    margin-right: 10px;
  }
}

.listHeading {
  @mixin headingNormal;

  color: var(--color-maastricht-blue);
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  
  & > li {
    @mixin contentLargest;

    color: #000;
    display: flex;
    margin-top: 20px;
    line-height: 26px;

    & > p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    & > p > span {
      margin-top: 7px;
      color: var(--color-blue-gray);
    }

    &::before {
      display: block;
      content: '';
      margin-right: 10px;
      margin-top: 8px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: var(--color-ultramarine-blue);
    }

    &.step::before {
      display: block;
      content: '';
      margin-right: 10px;
      margin-top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      border: 1px solid var(--color-blue-gray);
      background: transparent;
    }
    &.step.green::before {
      border: 1px solid var(--color-jade-green);
    }
    &.step.tick::before {
      border: 1px solid var(--color-jade-green);
      background: var(--color-jade-green);
    }
  }
}

.link {
  color: var(--color-link-active);
  cursor: pointer;
}

.button {
  margin-top: 30px;
  width: 430px;
}
