@import '../../../app/mixins.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;

  & > h4 {
    @mixin headingLarge;

    margin: 0;
    font-size: 28px;
    color: var(--color-maastricht-blue);
  }

  & > p {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
  }
}

.box {
  background-color: var(--color-white);
  box-shadow: 0px 4px 10px rgba(234, 234, 234, 0.36);
  border-radius: 6px;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
}

.accountContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-periwinkle-blue);

  & > div > h5 {
    @mixin contentNormal semi-bold;

    color: var(--color-maastricht-blue);
  }

  & > div > p {
    @mixin contentLargest semi-bold;

    color: var(--color-maastricht-blue);
  }
}

.addressContainer {
  display: flex;
}

.listHeading {
  @mixin headingNormal;

  color: var(--color-maastricht-blue);
}

.list {
  list-style: none;
  padding-left: 0;
  
  & > li {
    @mixin contentLargest;

    color: #000;
    display: flex;

    & > p {
      margin-top: 0;
    }

    & > p > span {
      color: var(--color-blue-gray);
    }

    &::before {
      display: block;
      content: ' ';
      margin-right: 10px;
      margin-top: 8px;
      background-image: url('../../../assets/images/icons/dot-blue.svg');
      background-repeat: no-repeat;
      width: 4px;
      height: auto;
    }

    &.step::before {
      display: block;
      content: ' ';
      margin-right: 10px;
      margin-top: 2px;
      background-image: url('../../../assets/images/icons/circle-grey.svg');
      background-repeat: no-repeat;
      width: 17px;
      height: auto;
    }
    &.step.green::before {
      background-image: url('../../../assets/images/icons/circle-green.svg');
    }
    &.step.tick::before {
      background-image: url('../../../assets/images/icons/circle-tick.svg');
    }
  }
}

.link {
  color: var(--color-link-active);
  cursor: pointer;
}

.button {
  width: 430px;
}
