@import '../../../app/mixins.css';

.wrapper {
  width: 720px;

  & > footer {
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    & > .confirmBtn {
      width: var(--footer-button-width);
    }

    & > .editBtn {
      width: auto !important;
      margin-top: 5px;
    }
  }
}

.content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;

  & section {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    color: var(--color-maastricht-blue);

    &:not(:first-child) {
      border-top: 1px solid var(--color-platinum);
    }

    & > label {
      display: flex;
      align-items: center;

      &:first-child {
        @mixin contentNormal bold;

        margin-bottom: 10px;
      }
    }

    & > .feeValue {
      @mixin contentLargest;
    }
  }

  & .checkbox {
    margin-right: 10px;
  }

  & .checkboxLabel {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: flex;
    margin: 55px 0 -10px;
    align-items: center;
  }
}

.tooltipContainer {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 19px;
  left: 123px;

  & :global(.tooltip-window) {
    max-width: 464px;
  }

  & .tooltipText {
    margin-bottom: 8px;
  }
}
