div.dialog-transfer(aria-label='Transfer funds')
  form(name='$ctrl.transferForm')
    md-toolbar
      .md-toolbar-tools
        h2 Transfer
    md-dialog-content
      .md-dialog-content
        div
          md-input-container.md-block
            label Recipient Address
            input(type='text', name='recipient', ng-model='$ctrl.recipient.value', required, ng-pattern='$ctrl.recipient.regexp', ng-disabled='$ctrl.loading')
            div(ng-messages='$ctrl.transferForm.recipient.$error')
              div(ng-message='required') Required
              div(ng-message='pattern') Invalid
          div(layout="row")
            md-input-container.md-block.flex-95
              label Transaction Amount
              input(type='text', name='amount', ng-model='$ctrl.amount.value', required, ng-pattern='$ctrl.amount.regexp', ng-disabled='$ctrl.loading')
              div.fee(ng-show='$ctrl.amount.value') Fee: 0.1 LSK
              div(ng-messages='$ctrl.transferForm.amount.$error')
                div(ng-message='required') Required
                div(ng-message='pattern') Invalid
                div(ng-message='max') Insufficient funds
            md-menu.flex-5.max-funds(md-position-mode='target-right target')
              md-button.md-icon-button(ng-click='$mdOpenMenu()')
                i.material-icons more_vert
              md-menu-content(width='4')
                md-menu-item
                  md-button(ng-click='$ctrl.setMaxAmount()')
                    div(layout='row', flex='')
                      p(flex='') Set maximum amount
          md-input-container.md-block(ng-if='$ctrl.account.get().secondSignature')
            label Second Passphrase
            input(type='password', ng-model='$ctrl.secondPassphrase', required)
    md-dialog-actions(layout='row')
      md-button.md-raised.md-secondary(ng-disabled='$ctrl.loading', ng-click='$ctrl.cancel()') {{ 'Cancel' }}
      span(flex)
      md-button.md-raised.md-primary(ng-disabled='!$ctrl.transferForm.$valid || $ctrl.loading', ng-click='$ctrl.transfer()') {{ $ctrl.loading ? 'Transfering...' : 'Transfer' }}
