@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 100%;
  height: 100%;
  display: block !important;
  padding: 0 !important;
  border-radius: 6px;

  & .container {
    & header {
      padding-left: var(--horizontal-modal-padding-l);
      padding-right: var(--horizontal-modal-padding-l);
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: var(--header-height);
      justify-content: space-between;
      margin: 0;
      width: 100%;
      z-index: 3;

      & h2 {
        @mixin headingNormal bold;

        color: var(--color-maastricht-blue);
        font-size: 20px;
        line-height: 26px;
        margin: 0;
        padding: 0;
      }
    }
  }

  & .box {
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 0;
    height: 100%;

    & .header {
      height: auto;
      padding: 0 var(--horizontal-modal-padding-l);
      margin-bottom: 20px;

      & .searchWrapper {
        width: 100%;
        margin-right: 10px;

        &:only-child {
          margin-right: 0;
        }

        & .searchInput {
          width: 100%;
          height: 44px;
          padding-left: 45px;

          &::placeholder {
            color: var(--color-blue-gray);
            font-size: 16px;
          }
        }
      }

      & .addButton {
        min-width: 130px;
        height: 44px;

        & .icon {
          left: 14px;
          top: 25px;
        }

        & .plusIcon {
          filter: brightness(100);
          vertical-align: middle;
          margin-right: 7px;
        }
      }
    }
  }

  & .bookmarkList {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;

    & .addButton {
      min-width: 130px;
      height: 44px;

      & .icon {
        left: 14px;
        top: 25px;
      }

      & .plusIcon {
        filter: brightness(100);
        vertical-align: middle;
        margin-right: 7px;
      }
    }

    & > .row {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px var(--horizontal-modal-padding-l);
      cursor: pointer;
      text-decoration: none;

      & .editInput {
        width: 244px;
        padding-right: 40px;
      }

      & .avatarAndDescriptionWrapper {
        display: flex;
        align-items: flex-start;

        & > .avatar {
          margin-right: 15px;
        }
      }

      & .description {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        & > span:first-child {
          @mixin headingSmall;

          white-space: pre;
          color: var(--color-maastricht-blue);
        }

        & > span:last-child {
          @mixin contentNormal;

          color: var(--color-slate-gray);
        }
      }

      & .buttonContainer {
        opacity: 0;
        transition: opacity var(--animation-speed-fast) ease;

        & > div,
        & > button {
          min-width: initial;
          padding: 0 10px;
          vertical-align: middle;
        }

        & .cancelBtn {
          color: var(--color-maastricht-blue);
        }
      }

      &:hover,
      &.editing {
        background-color: var(--color-rows-hover);

        & .buttonContainer {
          opacity: 1;
        }
      }

      &.disabled {
        & .description,
        & .avatar {
          opacity: 0.4;
        }
      }
    }
  }

  & .footer {
    width: auto;

    & a {
      text-decoration: none;
    }
  }
}

.hide {
  visibility: hidden;
}

.tooltipContainer {
  right: -27px !important;
}
