@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  min-width: 334px;
}

.item {
  align-items: center;
  border-bottom: 2px solid transparent;
  border-right: 1px solid var(--color-platinum);
  border-top: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding: 0 24px;
  text-decoration: none;

  &:last-child {
    border-right: 0 none;
  }
}

.notActive {
  pointer-events: none;
  cursor: default;

  & > * {
    opacity: 0.5;
  }
}

.item > img {
  margin-right: 8px;
}

.item > span {
  @mixin headingSmall;

  color: var(--color-slate-gray);
  font-weight: var(--font-weight-normal);
  line-height: 19px;
}

.selected {
  background: var(--color-white);
  border-bottom: 2px solid var(--color-ultramarine-blue);

  & > span {
    color: var(--color-ultramarine-blue);
  }
}

@media (--large-viewport) {
  .wrapper {
    min-width: 238px;
  }

  .item {
    flex-direction: column;
  }

  .item > img {
    margin-bottom: 8px;
    margin-right: 0;
  }
}

@media (--medium-viewport) {
  .wrapper {
    min-width: 120px;
  }

  .item {
    flex-direction: column;
  }

  .item > img {
    margin-bottom: 0;
    margin-right: 0;
  }

  .item > span {
    display: none;
  }
}
