@import '../app/variables.css';
@import '../app/variablesV2.css';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  min-width: 334px;
  margin-left: -25px;
}

.item {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.notActive {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.item > img {
  margin-right: 8px;
}

.item > span {
  font-size: 12px;
  font-weight: 600;
  color: #868ba1;
  font-family: var(--content-font);
}

.selected {
  & > span {
    color: var(--color-link-active);
  }
}

@media (--large-viewport) {
  .wrapper {
    margin-left: 23px;
  }
}

@media (--medium-viewport) {
  .wrapper {
    margin-left: 40px;
    min-width: 238px;
  }

  .item {
    flex-direction: column;
  }

  .item > img {
    margin-right: 0;
  }
}

@media (--small-viewport) {
  .wrapper {
    margin-left: 32px;
    min-width: 120px;
  }

  .item {
    flex-direction: column;
    margin-right: 24px;
  }

  .item > img {
    margin-right: 0;
  }

  .item > span {
    display: none;
  }
}
