@import '../app/variablesV2.css';

.wrapper {
  align-items: center;
  background: var(--color-white-smoke);
  border-bottom: 1px solid var(--color-platinum);
  box-sizing: border-box;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;

  & > div {
    box-sizing: border-box;
    display: flex;
    height: 100%;

    & > * {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
    }

    &:first-child {
      & > * {
        border-right: 1px solid var(--color-platinum);
      }
    }

    &:last-child {
      & > :not(:first-child) {
        border-left: 1px solid var(--color-platinum);
      }
    }
  }
}

.logo {
  padding: 0 30px;
}

.signIn {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 24px;
}

.timer {
  display: none !important;
}

.searchButton {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 24px;
  position: relative;

  & > img {
    cursor: pointer;
  }
}

.searchDropdown {
  right: 10px;
  top: calc(100% + 15px);
  width: 500px;
  padding: 20px;
  box-sizing: border-box;

  & > div {
    padding: 0;
  }
}

@media (--medium-viewport) {
  .logo {
    display: none !important;
  }
}
