@import '../app/variables.css';
@import '../app/variablesV2.css';

.wrapper {
  width: 100%;
  height: var(--header-height-xs);
  min-height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: var(--color-background-menu);
  border-bottom: 1px solid var(--color-light-gray);
  box-shadow: var(--box-shadow-header);
}

.elements {
  width: 100%;
  max-width: 1400px;
  height: var(--header-height-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 24px;
  background: transparent;
}

.signIn {
  min-width: 120px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  & > p {
    padding: 0;
    margin: 0;
    font-family: var(--content-font);
    font-size: 15px;
    font-weight: 600;
  }

  & > span {
    font-family: var(--content-font);
    font-size: 12px;
  }

  & > span > a {
    font-family: var(--content-font);
    font-size: 12px;
    margin-right: 5px;
    color: #4e80f7;
  }
}

@media (--small-viewport) {
  .wrapper {
    height: var(--header-height-s);
  }
}
