@import '../app/variablesV2.css';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.information {
<<<<<<< HEAD
  font-family: var(--content-font);
=======
  font-family: var(--heading-font);
>>>>>>> :nail_care: Update css file for menuItems, searchBar and userAccount
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 156px;
  margin-right: 16px;
}

.copyAddress {
<<<<<<< HEAD
  font-size: 12px;
  font-weight: 500;
  color: var(--color-dark-gray);
=======
  font-size: 11px;
  font-weight: 500;
  color: #868ba1;
>>>>>>> :nail_care: Update css file for menuItems, searchBar and userAccount
}

.balance {
  font-size: 11px;
  font-weight: 600;
<<<<<<< HEAD
  color: var(--color-content-light);
  font-family: var(--heading-font);
}

.avatar {
  position: relative;

  & > div {
    top: 56px;
    right: -7px;
  }
}

.onAvatar {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  position: relative;
  padding: 3px;

  &:hover {
    background-color: var(--color-white);
    box-shadow: 0 0 2px 0 skyblue;
  }
}

.dropdownOption {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-family: var(--content-font) !important;
  cursor: pointer;

  & > img:nth-child(2) {
    display: none;
  }

  &:hover {
    & > img:nth-child(1) {
      display: none;
    }

    & > img:nth-child(2) {
      display: block;
    }
  }
=======
  color: #2e2c3b;
>>>>>>> :nail_care: Update css file for menuItems, searchBar and userAccount
}
