@import '../app/variablesV2.css';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.information {
  font-family: var(--content-font);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 156px;
  margin-right: 16px;
}

.copyAddress {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-dark-gray);
}

.balance {
  font-size: 11px;
  font-weight: 600;
  color: var(--color-content-light);
  font-family: var(--heading-font);
}

.avatar {
  position: relative;

  & > div {
    top: 56px;
    right: -7px;
  }
}

.onAvatar {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  position: relative;
  padding: 3px;

  &:hover {
    background-color: var(--color-white);
    box-shadow: 0 0 2px 0 skyblue;
  }
}

.dropdownOption {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-family: var(--content-font) !important;
  cursor: pointer;
}

.signIn {
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  & > p {
    padding: 0;
    margin: 0;
    font-family: var(--content-font);
    font-size: 15px;
    font-weight: 600;
  }

  & > span {
    font-family: var(--content-font);
    font-size: 12px;
  }

  & > span > a {
    font-family: var(--content-font);
    font-size: 12px;
    margin-right: 5px;
    color: #4e80f7;
  }
}
