@import '../app/variables.css';

:root {
  --color-link: #2475b9;
}

.wrapper {
  width: 100%;
  box-shadow: var(--normal-shadow);
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  background-color: rgb(0, 0, 0, 0);

  & > aside {
    display: flex;
    height: 100%;
    background: #f5f8fc;
    padding: 40px 30px;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
  }

  & > section {
    background: var(--color-white);
    flex-basis: 70%;
    max-width: 70%;
  }

  & h2 {
    font-size: var(--font-size-h3);
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }

  & p {
    font-size: var(--font-size-h6);
    color: #3c5068;
    line-height: 26px;
  }

  & a {
    font-size: var(--font-size-h6);
    color: var(--color-link);
    margin-top: 16px;
    display: block;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
}

.sideBar {
  padding-right: 0px;
}

.helpSection {
  height: var(--main-box-height);
  min-height: 100%;
  padding: 58px 48px 0;

  &:first-child {
    background: var(--gradient-greyscale);
  }

  &:last-child {
    overflow: auto;
  }
}

.articleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 64px;

  & > div {
    width: 50%;
    padding-left: 48px;
  }

  & p {
    margin: 0;
    padding: 0;
  }

  & b {
    font-family: var(--heading-font);
  }

  & button {
    text-align: center;
    width: 228px;
    border-radius: 3px;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
  }

  & a {
    margin-top: 0;
  }
}

.headerIcon {
  width: 40px;
  height: 40px;
  margin-top: -7px;
  margin-right: 8px;
  font-size: 40px;
}

@media (--medium-viewport) {
  .sideBar:first-child {
    flex: 0 0 30%;
    width: 100%;
    max-width: 100%;
  }

  .wrapper {
    flex-direction: column;

    & > section {
      background: none;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
