@import '../app/variablesV2.css';

.wrapper {
  width: 100%;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 0;

  & > section {
    padding: 20px 59px;
  }

  & h3 {
    font-size: var(--font-size-h3);
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-bottom: 19px;
    margin-top: 63px;
  }

  & h4 {
    font-size: var(--font-size-h4);
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 28px;
  }

  & p {
    font-size: var(--paragraph-font-size-l);
    color: #70778b;
    line-height: 22px;
    font-family: var(--content-font);
  }

  & a {
    font-size: var(--paragraph-font-size-l);
    font-family: var(--content-font);
    color: var(--color-link-active);
    margin-top: 16px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
}

.listArrow {
  margin-left: 4px;
}

.topRow {
  border: none !important;
}

.topBox {
  display: flex;
  align-items: center;

  & article {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  & img {
    margin-left: 105px;
  }
}

.helpSection {
  min-height: 100%;
  padding: 58px 48px 0;

  &:last-child {
    overflow: auto;
  }
}

.articleContainer {
  margin-bottom: 62px;
  margin-top: 14px;
  padding-right: 0;
  padding-left: 63px;

  &:first-child {
    padding-left: 7px;
    padding-right: 63px;
  }

  &:last-child {
    padding-right: 0;
    padding-left: 118px;
  }

  & p {
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
  }

  & button {
    text-align: center;
    width: 228px;
    border-radius: 3px;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  & a {
    margin-top: 0;
  }
}

.titleIcon {
  margin-right: 5px;
}

@media (--medium-viewport) {
  .articleContainer {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .wrapper {
    flex-direction: column;

    & > section {
      background: none;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
