@import '../app/variables.css';

.feedbackForm {
  height: 788px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
  color: var(--color-black);
}
