@import '../app/variables.css';

.textInput {
  margin-bottom: 48px;

  & label {
    font-family: var(--content-font);
    font-weight: 600;
    color: var(--color-grayscale-dark);
  }
}

.radioInput {
  display: none;

  & ~ span {
    color: var(--color-grayscale-light);
    height: 32px;
    width: 32px;
    font-size: 32px;
    opacity: 0.8;
    margin-right: 16px;
  }

  &:checked ~ span {
    color: var(--color-primary-standard);
  }
}

.checkboxInput {
  display: none;

  & ~ span {
    color: var(--color-primary-standard);
    margin-top: -4px;
  }

  & ~ span:last-child {
    margin: 0 24px 0 8px;
    padding: 0;
  }

  & ~ span[class*='-check'] {
    display: none;
  }

  &:checked ~ span[class*='uncheck'] {
    display: none;
  }

  &:checked ~ span[class*='-check'] {
    display: inline-block;
  }
}

.checkboxGroup {
  margin-bottom: 32px;
}

.label {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--color-grayscale-dark);
  font-size: var(--font-size-h6);
  font-family: var(--content-font);
  font-weight: 600;
  line-height: 22px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
