@import './../../../app/mixins.css';

.wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 1226px;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;

  & h1 {
    @mixin headingLarge;
  }

  & p {
    @mixin contentLarge;

    color: var(--color-slate-gray);

    & > a {
      @mixin contentLarge bold;

      color: var(--color-ultramarine-blue);
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  & img {
    display: block;
    margin: 48px auto;
  }
}

@media (--medium-viewport) {
  .wrapper {
    max-width: 720px;
  }
}
