@import '../../app/variables';

:root {
  --sub-title-color: var(--color-grayscale-dark);
  --address-color: var(--color-primary-medium);
  --address-animation-delay: 1200ms;
  --address-animation-duration: 1000ms;
  --header-animation-duration: 450ms;
  --second-header-animation-delay: 1000ms;
}

.table {
  width: 100%;
  height: 100%;
  display: table;

  & .tableCell {
    display: table-cell;
    vertical-align: middle;
  }
}

.hidden {
  display: none;
}

.verifier {
  text-align: center;
  height: calc(100% - 22px);

  & > section {
    height: 50%;
  }

  & > header {
    height: 50%;
  }

  & header {
    font-size: 0.959em;

    & h2,
    & h5 {
      max-width: 750px;
      margin: 0 auto;
    }
  }

  & .word {
    display: inline-block;
    width: auto;
    background: transparent;
    padding: 0;
    font-size: 26px;
    line-height: 80px;
    height: 80px;
    margin: 0 5px;

    &.missing {
      width: 100px;

      & input,
      & textarea {
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 0);
        font-size: inhert;
        line-height: inhert;
        height: inhert;
        border: none;
        text-align: center;
      }
    }
  }

  & fieldset {
    border: 0;
    display: inline;
    vertical-align: top;
    padding-top: 80px;

    & div {
      & label {
        display: block;
        border: solid 2px #2a73b9;
        border-radius: 3px;
        padding: 0 5px;
        line-height: 50px;
        font-size: 22px;
        margin: 8px 0;
        cursor: pointer;
      }

      & input {
        visibility: hidden;
        position: absolute;

        &:checked + label {
          background-color: #2a73b9;
          color: #fff;
        }
      }
    }
  }

  &.verify {
    & header .done,
    & > section.done {
      display: none;
    }

    & h5 {
      opacity: 0;
      font-size: 18px;
      color: red;

      &.visible {
        opacity: 1;
      }
    }
  }

  &.done {
    & > header .verify,
    & > section.verify {
      display: none;
    }

    & > section {
      & .tableCell {
        vertical-align: top;
      }
    }

    & h4 {
      color: var(--address-color);
    }

    & figure {
      margin-top: -50px;

      & img {
        height: 180px;
      }
    }
  }
}
