@import '../../../../setup/react/app/mixins.css';

.container {
  width: auto !important;
  display: inline;

  & > div {
    padding-top: 0px !important;

    & > span {
      margin: 0 -20px;
    }
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;

  & header {
    @mixin headingNormal;

    font-size: var(--font-size-h5);
    color: var(--color-maastricht-blue);
  }
}
