@import '../app/variables.css';

:root {
  --font-size-card-h2: 30px;
  --font-size-card-h2-s: 24px;
  --address-font-size: 17px;
  --address-font-size-s: 14px;
  --small-font-size: 20px;
  --card-width: 347px;
  --card-height: 436px;
  --card-width-m: 267px;
  --card-width-s: 227px;
  --card-height-m: 336px;
}

.card {
  position: relative;
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--border-radius-normal);
  background-color: var(--color-white);
  box-shadow: var(--normal-shadow);
  margin: 24px;
  text-align: center;
  vertical-align: top;

  & h2 {
    position: relative;
    font-size: var(--font-size-card-h2);
    color: var(--color-black);

    & > small {
      font-size: var(--small-font-size);
    }
  }

  &:hover {
    & .accountVisual {
      transform: scale(1.1);
      transform-origin: 50%;
    }
  }

  & .removeButton {
    background: var(--color-white) !important;
    color: var(--color-grayscale-dark) !important;
    border: none;
    box-shadow: var(--normal-shadow);
    text-transform: none;

    &:hover {
      background: var(--color-white) !important;
      color: var(--color-primary-medium) !important;
    }
  }
}

.clickable {
  cursor: pointer;
}

.addNew {
  background-image: linear-gradient(-134deg, #93f4fe 1%, #004aff 98%);

  & > h2 {
    color: var(--color-white);
    text-align: center;
  }
}

.address {
  margin-bottom: 40px;
  color: var(--color-grayscale-dark);
  font-size: var(--address-font-size);
  font-weight: var(--font-weight-normal);
}

.cardIcon {
  width: 175px;
  height: 175px;
  margin: 78px 78px 32px;
  position: relative;
}

.plusShapeIcon {
  width: 134px;
  height: 134px;
  margin: 24px;
}

/** shapes  **/
.rectangleOnTheRight,
.rectangleImage2,
.rectangleImage3,
.triangleImage,
.circleImage {
  position: absolute;
  opacity: 0.8;
}

.circleImage {
  right: 0px;
  bottom: 64px;
}

.rectangleOnTheRight {
  right: 0px;
  bottom: 60px;
}

.rectangleImage2 {
  left: 50px;
  bottom: 0px;
}

.rectangleImage3 {
  left: 0px;
  bottom: 0px;
}

.triangleImage {
  left: 54px;
  bottom: 92px;
}

.network,
.unlocked,
.unlockedSecured {
  font-size: var(--font-size-h6);
  position: absolute;
  top: 0;
  padding: 24px;
  color: var(--color-grayscale-dark);
  font-weight: bold;

  & > * {
    vertical-align: bottom;
  }
}

.unlocked {
  left: 0;
  padding-top: 25px;

  & span {
    margin-bottom: 3px;
    transition: transform ease-in-out 500ms;
  }

  &:hover {
    & span {
      transform: scale(1.1);
      transform-origin: 100%;
    }
  }
}

.unlockedSecured {
  left: 0;
  padding-top: 30px;
}

.network {
  padding-top: 30px;
  right: 0;
}

.darkBackground {
  background-color: var(--color-primary-dark);
}

.removeConfirm {
  position: absolute;
  top: 0px;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border-radius: var(--border-radius-normal);
  height: var(--card-height);

  & h2 {
    white-space: normal;
    color: var(--color-white);
    margin: 155px 45px 24px;
  }

  & a {
    color: var(--color-white);
    text-decoration: underline;
    margin: 20px 40px 200px;
    cursor: pointer;
  }
}

@media (--medium-viewport) {
  .card {
    width: var(--card-width-m);
    height: var(--card-height-m);

    & h2 {
      font-size: var(--font-size-card-h2);
    }
  }

  .removeConfirm {
    height: var(--card-height-m);
  }

  .cardIcon {
    width: 175px;
    height: 175px;
    margin: 38px 48px 32px;
  }

  .address {
    margin-bottom: 20px;
  }
}

@media (--small-viewport) {
  .card {
    width: var(--card-width-s);
    height: 280px;
    margin: 0px 24px;

    & h2 {
      margin: 15px 0;
      padding: 0;
      font-size: var(--font-size-card-h2-s);
    }

    & .removeButton {
      position: absolute;
      top: -10px;
      left: -50%;
      transform: translateX(50%);
    }
  }

  .address {
    font-size: var(--address-font-size-s);
  }

  .cardIcon {
    height: 130px;
  }
}
