@import '../app/variables.css';

:root {
  --font-size-ids-h1: 4em;
  --font-size-card-h2: 2em;
  --close-button-shadow: 0 20px 20px 0 rgba(0, 32, 68, 0.25);
}

.wrapper {
  margin: -24px -24px -24px -24px;
  background: #013165;

  /* TODO this is temporary */
  font-size: 16px;

  & > h1 {
    position: relative;
    color: var(--color-white);
    font-size: var(--font-size-ids-h1);
    text-align: center;
    padding: 85px;
    margin: 0 auto;
    max-width: 600px;
  }
}

.cardsWrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 24px 48px 232px;
}

.card {
  position: relative;
  display: inline-block;
  width: 347px;
  height: 436px;
  border-radius: var(--border-radius-normal);
  background-color: var(--color-white);
  box-shadow: var(--normal-shadow);
  margin: 24px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;

  & > h2 {
    position: relative;
    font-size: var(--font-size-card-h2);
    color: var(--color-black);

    & > small {
      font-size: 0.6875em;
    }
  }
}

.addNew {
  background-image: linear-gradient(-134deg, #93f4fe 1%, #004aff 98%);

  & > h2 {
    color: var(--color-white);
    text-align: center;
  }
}

.address {
  margin-bottom: 40px;
  color: var(--color-grayscale-dark);
  font-size: 1.125em;
}

.cardIcon {
  width: 175px;
  height: 175px;
  margin: 78px 78px 32px;
  position: relative;
}

.plusShapeIcon {
  width: 134px;
  height: 134px;
  margin: 24px;
}

.rectangleOnTheRight,
.rectangleImage2,
.rectangleImage3,
.triangleImage,
.circleImage {
  position: absolute;
  opacity: 0.8;
}

.circleImage {
  right: 0px;
  bottom: 64px;
}

.rectangleOnTheRight {
  right: 0px;
  bottom: 60px;
}

.rectangleImage2 {
  left: 50px;
  bottom: 0px;
}

.rectangleImage3 {
  left: 0px;
  bottom: 0px;
}

.triangleImage {
  left: 54px;
  bottom: 92px;
}

.accountVisualPlaceholder,
.accountVisualPlaceholder2 {
  position: absolute;
  width: 126px;
  height: 84px;
  top: 40px;
  left: 24px;
  opacity: 0.9;
  background-image: linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
}

.accountVisualPlaceholder2 {
  top: 40px;
  left: 24px;
}

.unlocked {
  font-size: 1em;
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px;
  color: var(--color-grayscale-dark);
  font-weight: bold;

  & > * {
    vertical-align: bottom;
  }
}

.addAcctiveAccountButton {
  box-shadow: 0 0 0 2px var(--color-white);
  color: var(--color-white) !important;
  margin: 20px auto;
  display: block;
}

.addAcctiveAccountButton:hover {
  color: var(--color-black) !important;
  background-color: var(--color-white) !important;
}

.closeButton {
  box-shadow: var(--close-button-shadow);
  position: absolute;
  top: 85px;
  right: 85px;
}

.removeButton:hover,
.removeButton {
  background-color: var(--color-white) !important;
  color: var(--color-grayscale-dark) !important;
  border: none;
  box-shadow: var(--normal-shadow);
  text-transform: none;
}

.removeButton:hover {
  color: var(--color-primary-medium) !important;
}
