@import '../app/variables.css';

:root {
  --font-size-ids-h1-xl: 64px;
  --font-size-ids-h1-l: 48px;
  --font-size-ids-h1-s: 30px;
  --font-size-card-h2: 30px;
  --font-size-card-h2-s: 24px;
  --address-font-size: 17px;
  --small-font-size: 20px;
  --close-button-shadow: 0 20px 20px 0 rgba(0, 32, 68, 0.25);
  --h1-padding-xl: 85px;
  --h1-padding-l: 40px;
  --h1-padding-m: 25px;
  --add-button-margin: 200px;
  --card-width: 347px;
  --card-height: 436px;
  --card-width-m: 267px;
  --card-height-m: 336px;
  --add-button-margin: 240px;
  --wrapper-margin: -24px;
}

.content {
  position: relative;
  padding: 24px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.wrapper {
  display: flex;
  background: #013165;
  z-index: var(--accounts-index);
  position: absolute;
  height: 100vh; /* stylelint-disable-line */
  width: 100vw; /* stylelint-disable-line */
  max-width: 100vw; /* stylelint-disable-line */
  border-radius: 0;
  top: 0;
  -webkit-font-smoothing: antialiased; /* vendor specific, not supported by autoprefixer */
  -moz-osx-font-smoothing: grayscale;

  & > h1 {
    position: absolute;
    color: var(--color-white);
    font-size: var(--font-size-ids-h1-l);
    text-align: center;
    padding-top: var(--h1-padding-l);
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

.cardsWrapper {
  display: table-cell;
  vertical-align: middle;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  height: calc(100vh - (24px * 2)); /* stylelint-disable-line */
  width: calc(100vw - (24px * 2)); /* stylelint-disable-line */
  max-width: calc(100vw - (24px * 2)); /* stylelint-disable-line */
  padding: 0 232px;
  box-sizing: border-box;

  & > li {
    display: inline-block;
  }
}

.card {
  position: relative;
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--border-radius-normal);
  background-color: var(--color-white);
  box-shadow: var(--normal-shadow);
  margin: 24px;
  text-align: center;
  vertical-align: top;

  & h2 {
    position: relative;
    font-size: var(--font-size-card-h2);
    color: var(--color-black);

    & > small {
      font-size: var(--small-font-size);
    }
  }

  &:hover {
    & .accountVisual {
      transform: scale(1.1);
      transform-origin: 50%;
    }
  }

  & .removeButton {
    background: var(--color-white) !important;
    color: var(--color-grayscale-dark) !important;
    border: none;
    box-shadow: var(--normal-shadow);
    text-transform: none;

    &:hover {
      background: var(--color-white) !important;
      color: var(--color-primary-medium) !important;
    }
  }
}

.clickable {
  cursor: pointer;
}

.addNew {
  background-image: linear-gradient(-134deg, #93f4fe 1%, #004aff 98%);

  & > h2 {
    color: var(--color-white);
    text-align: center;
  }
}

.address {
  margin-bottom: 40px;
  color: var(--color-grayscale-dark);
  font-size: var(--address-font-size);
}

.cardIcon {
  width: 175px;
  height: 175px;
  margin: 78px 78px 32px;
  position: relative;
}

.plusShapeIcon {
  width: 134px;
  height: 134px;
  margin: 24px;
}

.rectangleOnTheRight,
.rectangleImage2,
.rectangleImage3,
.triangleImage,
.circleImage {
  position: absolute;
  opacity: 0.8;
}

.circleImage {
  right: 0px;
  bottom: 64px;
}

.rectangleOnTheRight {
  right: 0px;
  bottom: 60px;
}

.rectangleImage2 {
  left: 50px;
  bottom: 0px;
}

.rectangleImage3 {
  left: 0px;
  bottom: 0px;
}

.triangleImage {
  left: 54px;
  bottom: 92px;
}

.accountVisualPlaceholder,
.accountVisualPlaceholder2 {
  position: absolute;
  width: 126px;
  height: 84px;
  top: 20px;
  left: 24px;
  opacity: 0.9;
  background-image: linear-gradient(124deg, #3023ae 0%, #c86dd7 100%);
}

.accountVisualPlaceholder2 {
  top: 70px;
  left: 44px;
}

.network,
.unlocked,
.unlockedSecured {
  font-size: var(--font-size-h6);
  position: absolute;
  top: 0;
  padding: 24px;
  color: var(--color-grayscale-dark);
  font-weight: bold;

  & > * {
    vertical-align: bottom;
  }
}

.unlocked {
  left: 0;
  padding-top: 25px;

  & span {
    margin-bottom: 3px;
    transition: transform ease-in-out 500ms;
  }

  &:hover {
    & span {
      transform: scale(1.1);
      transform-origin: 100%;
    }
  }
}

.unlockedSecured {
  left: 0;
  padding-top: 30px;
}

.network {
  padding-top: 30px;
  right: 0;
}

.addAcctiveAccountButton {
  position: absolute !important;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.closeButton {
  box-shadow: var(--close-button-shadow);
  position: absolute !important;
  top: var(--h1-padding-l);
  right: 85px;
}

.darkBackground {
  background-color: var(--color-primary-dark);
}

.removeConfirm {
  position: absolute;
  top: 0px;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border-radius: var(--border-radius-normal);
  height: var(--card-height);

  & h2 {
    white-space: normal;
    color: var(--color-white);
    margin: 155px 45px 24px;
  }

  & a {
    color: var(--color-white);
    text-decoration: underline;
    margin: 20px 40px 200px;
    cursor: pointer;
  }
}

.editIcon {
  margin-right: 5px;
  margin-top: -5px;
}

@media (min-height: 1000px) {
  .wrapper {
    & > h1 {
      font-size: var(--font-size-ids-h1-xl);
      padding-top: var(--h1-padding-xl);
    }
  }

  .closeButton {
    top: var(--h1-padding-xl);
  }
}

@media (--medium-viewport) {
  .wrapper {
    top: -100px;

    & > h1 {
      font-size: var(--font-size-ids-h1-l);
      padding: var(--h1-padding-m);
    }
  }

  .cardsWrapper {
    padding: 0 40px;
  }

  .card {
    width: var(--card-width-m);
    height: var(--card-height-m);

    & h2 {
      font-size: var(--font-size-card-h2);
    }
  }

  .removeConfirm {
    height: var(--card-height-m);
  }

  .cardIcon {
    width: 175px;
    height: 175px;
    margin: 38px 48px 32px;
  }

  .closeButton {
    top: var(--h1-padding-m);
    right: 35px;
  }

  .addAcctiveAccountButton {
    bottom: 16vh; /* stylelint-disable-line */
  }

  .address {
    margin-bottom: 20px;
  }
}

.background {
  display: block !important;
  position: fixed !important;
  left: 0;
  top: 0;
}

@media (--small-viewport) {
  .wrapper {
    top: -67px;

    & > h1 {
      font-size: var(--font-size-ids-h1-s);
    }
  }

  .closeButton {
    top: 15px;
    right: 15px;
  }

  .cardsWrapper {
    padding: 0;
  }

  .card {
    width: var(--card-width-m);
    height: 320px;
    margin: 0px 24px;
  }

  .cardIcon {
    height: 130px;
  }

  .addAcctiveAccountButton {
    bottom: 18vh; /* stylelint-disable-line */
  }

  .deviceIos {
    & .addAcctiveAccountButton {
      bottom: 95px; /* stylelint-disable-line */
    }
  }

  .deviceAndroid {
    & .cardsWrapper {
      padding-bottom: 50px;
    }

    & .addAcctiveAccountButton {
      bottom: 120px;
    }
  }
}
