@import '../app/variables.css';

:root {
  --font-size-ids-h1-xl: 64px;
  --font-size-ids-h1-l: 48px;
  --font-size-ids-h1-s: 30px;
  --close-button-shadow: 0 20px 20px 0 rgba(0, 32, 68, 0.25);
  --h1-padding-xl: 85px;
  --h1-padding-l: 40px;
  --h1-padding-m: 25px;
  --add-button-bottom-margin: calc(100vh - (55px +  98px)); /* stylelint-disable-line */
}

.content {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.wrapper {
  display: flex;
  background: #013165;
  z-index: var(--accounts-index);
  position: absolute;
  height: 100vh; /* stylelint-disable-line */
  width: 100vw; /* stylelint-disable-line */
  max-width: 100vw; /* stylelint-disable-line */
  border-radius: 0;
  top: 0;
  -webkit-font-smoothing: antialiased; /* vendor specific, not supported by autoprefixer */
  -moz-osx-font-smoothing: grayscale;

  & > h1 {
    position: absolute;
    color: var(--color-white);
    font-size: var(--font-size-ids-h1-l);
    text-align: center;
    padding-top: var(--h1-padding-l);
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

.cardsWrapper {
  display: table-cell;
  vertical-align: middle;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  height: 100vh; /* stylelint-disable-line */
  width: 100vw; /* stylelint-disable-line */
  max-width: 100vw; /* stylelint-disable-line */
  padding: 0 232px;
  box-sizing: border-box;

  & > li {
    display: inline-block;
  }
}

/** Obsolete
.accountVisualPlaceholder,
.accountVisualPlaceholder2 {
  position: absolute;
  width: 126px;
  height: 84px;
  top: 20px;
  left: 24px;
  opacity: 0.9;
  background-image: linear-gradient(124deg, #3023ae 0%, #c86dd7 100%);
}

.accountVisualPlaceholder2 {
  top: 70px;
  left: 44px;
}
**/

.addAcctiveAccountButton {
  position: absolute !important;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.closeButton {
  box-shadow: var(--close-button-shadow);
  position: absolute !important;
  top: var(--h1-padding-l);
  right: 85px;
}

.editIcon {
  margin-right: 5px;
  margin-top: -5px;
}

@media (min-height: 1000px) {
  .wrapper {
    & > h1 {
      font-size: var(--font-size-ids-h1-xl);
      padding-top: var(--h1-padding-xl);
    }
  }

  .closeButton {
    top: var(--h1-padding-xl);
  }
}

.background {
  display: block !important;
  position: fixed !important;
  left: 0;
  top: 0;
}

@media (--medium-viewport) {
  .wrapper {
    top: -100px;

    & > h1 {
      font-size: var(--font-size-ids-h1-l);
      padding: var(--h1-padding-m);
    }
  }

  .cardsWrapper {
    padding: 0 40px;
  }

  .closeButton {
    top: var(--h1-padding-m);
    right: 35px;
  }

  .addAcctiveAccountButton {
    bottom: 16vh; /* stylelint-disable-line */
  }
}

@media (--small-viewport) {
  .wrapper {
    top: -67px;

    & > h1 {
      font-size: var(--font-size-ids-h1-s);
    }

    & > .closeButton[type='button'] {
      height: 40px;
      width: 40px;

      & > span[data-react-toolbox='font-icon'] {
        line-height: 40px;
      }
    }
  }

  .closeButton {
    top: 15px;
    right: 15px;
  }

  .cardsWrapper {
    padding-bottom: 100px;
  }

  .addAcctiveAccountButton {
    top: var(--add-button-bottom-margin);
  }

  .deviceIos {
    & .addAcctiveAccountButton {
      top: var(--add-button-bottom-margin);
    }
  }

  .deviceAndroid {
    & .cardsWrapper {
      padding-bottom: 50px;
    }

    & .addAcctiveAccountButton {
      top: var(--add-button-bottom-margin);
    }
  }
}
