@import '../../../../../setup/react/app/mixins.css';

.accountListWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  max-height: 240px;
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  background-color: var(--color-white);
  max-width: 480px;
  border-radius: 6px;
}

.headerWrapper {
  text-align: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 0 0 21px;
    font-size: 28px;
  }
}

.button {
  width: 100%;
  display: flex;
  color: var(--color-maastricht-blue);
  margin-top: 17px;

  & > img {
    width: 18px;
    margin-right: 10px;
  }
}

.addAccountBtn {
  color: var(--color-link);
  margin-top: 16px;
}

.manageAccount {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.manageAccountWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
}
