@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;

  & h1 {
    @mixin headingNormalIntermediate;

    margin: 0;
  }

  & .subtitle {
    @mixin contentNormal;

    color: var(--color-slate-gray);
  }
}

.account {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: flex-start;

  & .accountInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-left: 10px;

    & > div {
      align-items: center;
      display: flex;
    }
  }

  & .title {
    @mixin headingNormal;

    color: var(--color-content-light);
    margin: 0;
  }

  & .label {
    @mixin contentSmall bold;

    align-items: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius-standard);
    color: var(--color-slate-gray);
    display: flex;
    height: 16px;
    margin: 0 5px;
    padding: 0 5px;
    white-space: nowrap;
  }

  & .address {
    @mixin contentSmallest semi-bold;

    color: var(--color-slate-gray);
  }
}

.bookmarkContainer {
  position: relative;

  & .followDropdown {
    padding: 0;
    width: 380px;
  }
}

.buttonsHolder {
  display: flex;
  justify-content: space-between;

  & > * {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  & .bookmarkButton {
    display: flex;

    &::after {
      border: 4px solid transparent;
      border-top-color: currentColor;
      content: '';
      margin-left: 8px;
      margin-top: 4px;
    }
  }

  & .requestDropdown {
    left: auto;
    right: -90px;
    transform-origin: calc(100% - 196px) -5px;
  }

  & .bookmarkDropdown {
    right: 0;
  }
}

@media (--small-viewport) {
  .buttonsHolder {
    & button {
      padding: 0 24px;
      width: auto;
    }
  }
}
