.historyContainer {
  margin-bottom: 0;
  padding: var(--horizontal-modal-padding-l);
  width: auto !important;

  & .header {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
    margin-bottom: 24px;
    height: auto;

    & h1 {
      margin-bottom: 8px;
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-very-bold);
      color: var(--color-zodiac-blue);
    }

    & h6 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: var(--font-size-h6);
      line-height: 24px;
      color: var(--color-slate-gray);
    }
  }

  & .wrapper {
    padding: 0;

    & .historyDetailsContainer {
      font-size: var(--font-size-small-secondary);
      font-weight: var(--font-weight-semi-bold);
      color: var(--color-zodiac-blue);
    }
  }

  & .historyDetailsRow {
    margin-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;

    & .timestamp {
      color: var(--color-zodiac-blue);
    }

    & .commission {
      color: var(--color-slate-gray);
    }

    & .latest {
      color: var(--color-ultramarine-blue);
      font-weight: var(--font-weight-semi-bold);
    }
  }
}
