@import '../app/variables.css';

:root {
  --padding-top: 40px;
}

.register {
  & > div {
    height: 100%;
    overflow: hidden;
  }
}

.hasPaddingTop {
  padding-top: var(--padding-top);
}

@media (--medium-viewport) {
  .hasPaddingTop {
    height: 100vh; /* stylelint-disable-line */
  }
}

@media (--small-viewport) {
  .hasPaddingTop {
    padding-top: var(--box-padding);
  }
}

.hidden {
  display: none;
}
