.track,
.bar {
  transform: rotate(-90deg);
  transform-origin: center;
}

.track {
  stroke: var(--dark-border-color);
}

.bar {
  stroke: var(--color-ultramarine-blue);
  transition: stroke-dashoffset var(--animation-speed-fast) linear;

  &.error {
    stroke: var(--color-burnt-sienna);
  }
}
