@import '../../../../app/mixins.css';

.tablesContainer {
  display: flex;

  & > div:first-child {
    padding-right: 10px;
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
  }

  & > div:last-child {
    padding-left: 10px;
    flex-basis: calc((100% / 3) * 2);
    max-width: calc((100% / 3) * 2);
  }
}

.tableContent {
  padding: 0 !important;
}

.transactionRow {
  & > span {
    display: flex;
    align-items: center;

    & > .incomingOutcomingIcon {
      margin-right: 16px;
    }

    & > .avatar {
      margin-right: 16px;
    }

    & > .senderDetails {
      display: flex;
      flex-direction: column;

      & .addressTitle {
        margin-top: 0;
        margin-bottom: 10px;
      }

      & > .senderKey {
        @mixin contentNormal;

        margin: 0;
        color: var(--color-slate-gray);
      }
    }

    & > * > .status {
      @mixin contentLarge semi-bold;

      color: var(--color-link-active);
      margin: 0;
    }
  }
}

.addressTitle {
  @mixin headingSmall;

  color: var(--color-maastricht-blue);
  font-family: var(--content-font);
}

.groupBalance {
  border-radius: var(--border-radius-standard);
  display: inline-block;
  padding: 6px 12px;
  background-color: rgba(43, 214, 123, 0.15);
  color: var(--color-deep-green);
  box-sizing: border-box;
  line-height: initial;
  text-align: right;
}
