@import '../../../../../setup/react/app/mixins.css';

.HWConfirm {
  text-align: center;
  padding: 40px 24px;
  max-width: 100%;
  box-sizing: border-box;

  & .headerText {
    color: var(--color-maastricht-blue);
    margin: 40px 0 0 0;
    font-weight: var(--font-weight-very-bold);
  }

  & .description {
    margin: 16px 0 0 0;
    color: var(--color-blue-gray);
  }

  & .transactionConfirmFooterProp {
    margin-top: 36px;
  }
}
