@import '../../../app/variables.css';

:root {
  --input-horizontal-padding: 184px;
}

.delegateNameInput {
  padding: 0 var(--input-horizontal-padding);
  margin-bottom: 111px;

  & > input[type='text'] {
    font-size: 32px;
    font-family: var(--heading-font);
  }

  & > span[class*='input__error'] {
    font-size: 14px;
    font-family: var(--heading-font);
  }
}
