@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  padding-bottom: var(--horizontal-padding-l);
  padding-top: 30px;
  margin-bottom: -27px;

  & > div:not(:nth-child(3)) {
    min-width: 320px;
  }

  & .walletVisualWrapper {
    & div > div {
      cursor: pointer;
    }
  }

  & .accountSummary {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    cursor: pointer;

    & p {
      @mixin headingSmall;

      --content-font: 'gilroy';

      font-family: var(--content-font);
      font-weight: 600;
      font-size: var(--font-size-h5);
      line-height: var(--font-size-h5);
      margin-top: 0;
      margin-bottom: 5px;
    }

    & span {
      @mixin contentNormal;

      --content-font: 'gilroy';

      font-family: var(--content-font);
      font-size: var(--paragraph-font-size-s);
      font-weight: 500;
      margin: 0;
      color: var(--color-blue-gray);
    }
  }

  & .actionButtons {
    justify-content: flex-end;

    & button {
      width: 100%;
    }
  }
}

.tokenCarouselWrapper {
  margin: 43px 0px 20px;
  width: 100%;

  & .contentWrapper {
    flex: 0 1 auto;
    flex-wrap: wrap;
    padding: 8px;

    & .carouselHeader {
      display: flex;
      justify-content: space-between;
      margin: 12px 0;

      & > div:first-child {
        font-size: var(--font-size-h6) !important;
        font-weight: 500;
        color: var(--color-maastricht-blue) !important;
      }

      & > div:last-child {
        color: var(--color-ultramarine-blue);
        font-size: var(--paragraph-font-size-s);
      }
    }
  }
}

@media (--xLarge-viewport) {
  .balanceChart {
    width: calc(100% - 640px);
    flex-basis: unset;
  }
}

@media (--medium-viewport) {
  .wrapper {
    & > div:not(:nth-child(3)) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .balanceChart {
    margin-top: 20px;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
