@import '../../../setup/react/app/mixins.css';

.container {
  @mixin contentNormal;

  background-color: var(--color-vote-item-bg);
  padding: 8px;
  border-radius: 3px;
  margin: 10px 10px 0 0;
  white-space: nowrap;

  & a {
    text-decoration: none;
  }
}

.primaryText {
  @mixin contentNormal semi-bold;

  color: var(--color-ink-blue);
  margin-right: 10px;
}

.value {
  color: var(--color-maastricht-blue);
}

.arrowIcon {
  margin: 0 6px;
  color: var(--color-maastricht-blue);
}
