@import '../../../app/variables.css';
@import '../../../app/mixins.css';

.wrapper {
  margin: 0;
  position: relative;
}

.inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid var(--dark-border-color);
  border-radius: 3px;
  background-color: var(--color-white);
  padding: 0px 24px;
  box-sizing: border-box;
  outline: none;

  &:focus-within {
    border-color: var(--color-ultramarine-blue);
  }

  & > span {
    width: calc(100% / 6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    color: var(--color-ghost);

    &:focus-within {
      color: var(--color-ultramarine-blue);
    }

    & .inputNumber {
      width: 20px;
    }

    & .inputNumberError {
      color: var(--color-burnt-sienna);
    }

    & input {
      border: none;
      text-align: left;
      padding: 0 10px !important;

      &:focus {
        color: var(--color-ultramarine-blue);
      }
    }
  }
}

.boxOnError {
  border-color: var(--color-burnt-sienna) !important;
}

.footerContent {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.errorMessage {
  width: auto;
}

.showPassphrase {
  @mixin contentNormal;

  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: -36px;
  right: 0;

  & > input {
    display: none;
  }

  & .label {
    color: var(--color-slate-gray);
    margin-left: 8px;
  }

  & > img {
    width: 19px;
    height: 17px;
  }
}
