@import '../../app/variables.css';
@import '../../app/mixins.css';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  & .fieldGroup {
    display: block;
    position: relative;

    & .avatar {
      left: 16px;
      position: absolute;
      top: 12px;
    }
  }

  & label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    & > .label {
      @mixin contentNormal bold;

      color: var(--color-maastricht-blue);
      display: block;
      margin-bottom: 12px;
    }

    & .input[name="address"] {
      padding-left: 48px;
    }

    & .input:focus ~ .feedback {
      opacity: 1 !important;
    }
  }

  & .feedback {
    margin-top: 5px;
    min-height: 40px;
    opacity: 0;

    &.error {
      opacity: 1;
    }

    &:not(.error) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
