.wrapper {
  width: 400px;
  text-align: center;
  padding: 0 0 24px 0;

  & h3 {
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    color: var(--color-maastricht-blue);
  }

  & h6 {
    line-height: 18px;
    color: var(--color-maastricht-blue);
    margin: var(--vertical-padding-m) auto;

    &.error {
      color: var(--color-red);
    }
  }

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-maastricht-blue);
  }
}
