@import '../app/variablesV2.css';
@import '../app/mixins.css';

.settingsHolder {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.wrapper {
  max-width: 431px;
  width: 100%;
}

.content {
  & > section {
    margin: 20px;
  }

  & h1 {
    @mixin contentNormal bold;

    color: var(--color-slate-gray);
    margin: 0 0 20px;
  }
}
