@import '../app/variablesV2.css';
@import '../app/mixins.css';

.settingsHolder {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.wrapper {
  max-width: 431px;
  width: 100%;
}

.content {
  & > section {
    margin: 20px;
  }

  & h1 {
    @mixin contentNormal bold;

    color: var(--color-slate-gray);
    margin: 0 0 20px;
  }

  & .link {
    @mixin contentSmall bold;

    color: var(--color-ultramarine-blue);
    text-decoration: none;
  }
}

.fieldGroup {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  & .labelName {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: block;
    margin-bottom: 9px;
  }

  & p {
    @mixin contentNormal;

    color: var(--color-blue-gray);
    margin: 0;

    &.highlight {
      color: var(--color-maastricht-blue);
    }
  }
}
