@import '../app/variables.css';

:root {
  --secondPassphrase-color: var(--color-primary-standard);
  --carousel-nav-background-color: #3c506b;
  --slide-header-font: var(--heading-font);
  --secured-account-color: var(--color-success-dark);
  --check-box-height: 35px;
  --check-box-width: 65px;
  --check-box-font-size: 23px;
}

.disable {
  pointer-events: none !important;
  opacity: 0.5;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;

  & > aside {
    display: flex;
    height: 100%;
    background: #f5f8fc;
    padding: 40px 30px;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;

    & h4 {
      margin-top: 0;
    }
  }

  & > section {
    background: #fff;
    overflow: auto;
    padding: 40px 50px;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.network {
  margin-bottom: 0px;
}

.description {
  font-size: 12px;
}

.sliderInput {
  width: auto;

  & label {
    height: var(--check-box-height);
    line-height: var(--check-box-height);
    width: var(--check-box-width);
    background: var(--color-grayscale-light);
    display: inline-block;
  }

  & span.circle {
    background: var(--gradient-action-blue);
    width: var(--check-box-height);

    &.goal,
    &.begin {
      background: transparent;
    }

    & span {
      width: 100%;
      font-size: var(--check-box-font-size);
    }
  }

  & input[type='radio'],
  & input[type='checkbox'] {
    &:checked + label .button {
      transform: translateX(calc(-1 * var(--check-box-height)));
    }
  }
}

.secondPassphrase,
.secondPassphraseEnabled {
  height: var(--check-box-height);
  line-height: var(--check-box-height);
  min-width: var(--check-box-width);
  color: var(--secondPassphrase-color);
  font-family: var(--slide-header-font);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding-top: 2px;
  text-align: center;
}

.secondPassphraseEnabled {
  cursor: default;
}

.settingsButton {
  font-family: var(--slide-header-font);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  color: var(--secondPassphrase-color);
  background: transparent;
  line-height: 43px;
  padding: 5px 0px 0px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.currencyList {
  list-style: none;
  font-family: var(--slide-header-font);
  font-weight: var(--font-weight-bold);
  color: var(--color-grayscale-light);
  padding: 0;

  & li {
    margin-right: 16px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: var(--color-grayscale-dark);
    }
  }
}

@media (--medium-viewport) {
  aside:first-child {
    flex-basis: 30%;
    max-width: 30%;
  }

  .wrapper {
    & > section {
      flex-basis: 70%;
      max-width: 70%;
    }
  }
}

@media (--small-viewport) {
  aside:first-child {
    flex: 0 0 30%;
    max-width: 100%;
  }

  .wrapper {
    position: relative;
    margin-bottom: 62px;
    flex-direction: column;

    & > section {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .carouselNav {
    bottom: 20px;
  }
}
