@import '../app/variablesV2.css';
@import '../app/mixins.css';

.settingsHolder {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.wrapper {
  max-width: 720px;
  overflow: initial;
  width: 100%;
}

.content {
  display: block;
  padding-bottom: 50px;
  width: 100%;

  & > section {
    margin: 24px;
  }

  & h1 {
    @mixin contentLargest bold;

    color: var(--color-slate-gray);
    margin: 0 0 24px;
  }

  & .link {
    @mixin contentLargest bold;

    color: var(--color-ultramarine-blue);
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
  }
}

.fieldGroup {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.checkboxField {
    align-items: flex-start;
    display: flex;

    & > div:last-child {
      flex-basis: calc(100% - 25px);
      margin-left: auto;
    }

    & .checkmark {
      margin-top: 3px;
    }

    & .checkbox {
      margin-right: 10px;
    }
  }

  & .labelName {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
    display: block;
    margin-bottom: 9px;
  }

  & p {
    @mixin contentNormal;

    color: var(--color-blue-gray);
    margin: 0;

    &.highlight {
      color: var(--color-maastricht-blue);
    }
  }

  & .disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  & .hide {
    visibility: hidden;
  }
}
