@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  --content-font: 'gilroy';

  width: 260px;
  height: 96px;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  filter: drop-shadow(0px 4px 10px var(--color-token-card-shadow));
  background-image: url(../../../../../setup/react/assets/images/waves.png);
  background-color: var(--color-token-card-bg);
  background-repeat: round;
  column-gap: 8px;

  & > div:first-child {
    height: 100%;

    &.vCenter {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > .tokenLogo {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  & .tokenAmount {
    font-family: var(--content-font);
    font-size: 18px;
    font-weight: 600;
    color: var(--color-content-light);
    margin-bottom: 3px;
  }

  & .fiatBalance {
    color: var(--color-blue-gray);
  }
}

.lockedBalance {
  @mixin contentLarge;

  margin-top: 3px;
  color: var(--color-ink-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  text-decoration: none !important;

  & > img {
    width: 16px;
    height: 16px;
  }
}
