@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.input {
  @mixin contentLargest;

  background-color: var(--color-white);
  border: 1px solid var(--dark-border-color);
  border-radius: var(--border-radius-standard);
  box-sizing: border-box;
  color: var(--color-maastricht-blue);
  height: 46px;
  outline: none;
  padding: 8px 10px;
  text-align: left;
  transition:
    border var(--animation-speed-fast) linear,
    color var(--animation-speed-fast) linear;
  width: 100%;

  &:focus {
    border-color: var(--color-primary-standard);
  }

  &:global(.error) {
    border-color: var(--color-burnt-sienna);
    color: var(--color-burnt-sienna);
  }

  &::placeholder {
    color: var(--color-blue-gray);
  }

  &:read-only {
    background-color: var(--color-white);
    border: 1px solid var(--dark-border-color) !important;
    color: var(--color-blue-gray);
    outline: none;
  }
}
