@import '../../../../../setup/react/app/mixins.css';

.container {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  max-width: 465px;
}

.content {
  padding: 32px !important;
  box-sizing: border-box;
  max-width: 465px;
  border-radius: 6px !important;

  & h1 {
    margin: 0 0 16px 0;
  }

  & > .subheader {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin: 0;
    font-size: var(--subtitle-font-size-s);
  }

  & > .accountName {
    @mixin contentLargest semi-bold;

    color: var(--color-maastricht-blue);
    margin: 8px 0 0 0;
    font-size: var(--subtitle-font-size-s);
  }

  & > .accountAddress {
    @mixin contentNormal;

    margin: 8px 0 32px 0;
    color: var(--color-blue-gray);
  }

  & > .avatar {
    margin: 22px auto 0 auto;
  }

  & > .button {
    margin-top: 32px;
    width: 100%;
  }
}
