@import '../../../../../setup/react/app/mixins.css';

.container {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  max-width: 365px;
}

.content {
  padding: 32px !important;
  box-sizing: content-box;
  max-width: 365px;
  border-radius: 6px !important;
  align-items: center !important;

  & h1 {
    margin: 0 0 16px 0;
  }

  & > .subheader {
    @mixin contentLargest;

    margin: 0;
    font-size: var(--subtitle-font-size-s);
    color: var(--color-black);
  }

  & > .accountName {
    @mixin contentLargest semi-bold;

    color: var(--color-maastricht-blue);
    margin: 8px 0 0 0;
    font-size: var(--subtitle-font-size-s);
  }

  & > .accountAddress {
    @mixin contentNormal;

    margin: 8px 0 32px 0;
    color: var(--color-manatee-gray);
  }

  & > .avatar {
    margin: 22px auto 0 auto;
  }

  & > form {
    width: 85%;
  }
}

.button {
  margin-top: 32px !important;
  width: 100%;
}

.backButton {
  position: absolute;
  top: 10px;
  left: -15px;
  z-index: 1;
  margin-top: 18px;
}
