@import '../../../app/variables.css';
@import './../../../app/mixins.css';

.optionsHolder {
  justify-content: center;
  margin: 0 4px 20px 4px;

  & .option {
    display: flex;
    justify-content: space-between;
  }
}

.optionContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > h2 {
    @mixin contentNormal bold;

    align-items: center;
    color: var(--color-maastricht-blue);
    display: flex;
    margin: 0;
  }

  & > .downloadLisk {
    display: flex;

    & > p {
      @mixin contentLarge bold;

      color: var(--color-dark-blue);
      margin: 20px;
      text-align: left;
      word-spacing: 8px;
    }
  }

  & .downloadBtn {
    min-width: 89px;
  }
}

.hrSection {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--color-slate-gray);

  & > p {
    @mixin contentNormal;

    margin: 20px;
  }
}

.hrSection::before,
.hrSection::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.inputs {
  flex-wrap: wrap;
  margin-top: 4px;
  margin-bottom: 14px;

  & > span {
    margin: 6px 0;

    & input {
      @mixin contentLarge;

      color: var(--color-maastricht-blue) !important;
      text-align: center;
      height: 48px;
    }
  }
}

.passphraseSubheader {
  @mixin contentLargest;

  margin: 8px 0;
  color: var(--color-slate-gray);
}

.copyIcon {
  display: none;
}

@media (--medium-viewport) {
  .optionContent {
    & > p {
      word-spacing: 2px;
    }
  }
}
