@import '../../app/variables.css';
@import '../../app/mixins.css';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  background-color: var(--color-maastricht-blue);
  box-sizing: border-box;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--animation-speed-standard) ease-in-out;

  & img {
    margin-right: 7px;
  }

  & .text,
  & .externalLink {
    @mixin contentNormal;

    color: var(--color-mystic);
  }

  & .externalLink {
    @mixin contentNormal bold;

    text-decoration: none;
    margin-left: 10px;
  }

  & .button {
    min-width: 143px;
    margin-left: auto;
  }

  &.show {
    min-height: 56px;
    max-height: 56px;
  }
}
