@import '../../../app/mixins.css';

.wrapper {
  align-items: center;
  background-color: var(--color-flash-message);
  border-bottom: 1px solid var(--light-border-color);
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 24px;
  position: relative;
  width: 100%;
  z-index: 99;

  & img {
    margin-right: 7px;
  }

  & .text {
    @mixin contentNormal;

    align-items: center;
    color: var(--color-strong-mystic);
    display: flex;
    padding: 16px 0;

    & strong {
      font-size: inherit;
    }
  }

  & .link {
    @mixin contentNormal bold;

    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
  }

  & .button {
    min-width: 143px;
    margin-left: auto;
  }

  & .closeBtn {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: -10px;
    padding: 10px;
    width: 10px;

    &::before,
    &::after {
      background-color: #fff;
      content: "";
      height: 14px;
      position: absolute;
      width: 1px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
