@import '../../app/variables.css';

.linear {
  width: 450px;
  height: 23px;
  border-radius: 48px;
  max-width: 80%;
  background: var(--color-primary-dark);
  margin: 40px auto;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.value {
  background: var(--gradient-action-orange);
}
