.content {
  padding: 0 !important;

  & > header ~ a:first-of-type::before {
    border-top: none;
  }
}

.dataContainer {
  color: var(--color-maastricht-blue);
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;

  & .dataRow {
    height: 100px;
    border-bottom: 1px solid var(--color-platinum);
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: -1px;
    width: 20%;

    & > span {
      white-space: nowrap;
      width: 100%;
    }
  }

  & .generator {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;

    & > span {
      padding-left: 5px;
      color: var(--color-maastricht-blue);
    }
  }
}

h1 {
  color: var(--color-maastricht-blue);
}

.row {
  font-size: var(--font-size-h6);
  width: 100%;
  padding: 5px 15px 5px 15px;
  display: flex;
  align-items: center;
  position: relative;
}
