.dataContainer {
  color: var(--color-maastricht-blue);
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;

  & .dataRow {
    --content-font: 'gilroy';

    height: 100px;
    border-bottom: 1px solid var(--color-platinum);
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: -1px;
    width: 20%;

    & > span {
      white-space: nowrap;
      font-size: var(--font-size-h6);
      width: 100%;
    }

    & > label {
      font-family: var(--content-font);
      font-size: var(--font-size-h6);
      font-weight: var(--font-weight-bold);
    }

    &.blockID,
    &.blockTotalBurnt,
    &.blockGeneratedBy,
    &.blockDate {
      width: 24%;
    }

    &.blockVersion,
    &.blockStatus {
      width: 12%;
    }
  }

  & .generator {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;

    & > span {
      padding-left: 5px;
      color: var(--color-maastricht-blue);
    }
  }
}

h1 {
  color: var(--color-maastricht-blue);
}

.wrapper {
  margin-bottom: 25px;

  & .content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.feedback {
  position: relative;
}

.blockDetailsWrapper {
  & .errorFeedbackWrapper {
    display: flex;
    align-items: center;

    & > div:first-child {
      width: fit-content;
    }
  }
}
