@import '../../app/variables.css';
@import '../../app/mixins.css';

.feedback {
  @mixin contentNormal;

  align-items: center;
  box-sizing: border-box;
  border-radius: var(--border-radius-standard);
  color: var(--color-slate-gray);
  display: flex;
  height: auto;
  justify-content: flex-start;
  max-height: 0px;
  opacity: 0;
  padding: 0;
  transition:
    max-height var(--animation-speed-fast) linear,
    opacity var(--animation-speed-fast) linear,
    padding-bottom var(--animation-speed-fast) linear,
    padding-top var(--animation-speed-fast) linear;
  width: 100%;

  &.show {
    max-height: 40px;
    opacity: 1;
    padding: 8px 0;
  }

  &.error {
    background: var(--error-background-color);
    color: var(--color-burnt-sienna);
    padding: 8px 20px;
  }

  & > img {
    margin-right: 10px;
  }
}

.dark {
  color: var(--color-white) !important;
  background: var(--color-burnt-sienna) !important;
}
