@import '../../../../../../setup/react/app/mixins.css';

.RequestSignMessageDialog {
  width: 620px;
  border: none;

  &.passwordStep {
    max-width: 503px;
  }

  & .blockchainAppDetailsHeaderProp {
    padding-bottom: 12px;
  }
}
