@import '../../../../app/mixins.css';

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;

  & .box {
    margin-bottom: 0;
  }

  & .content {
    display: flex;
    width: auto;
    padding: 0;
    border-radius: 0;
  }

  & header {
    height: auto;
    padding: 0;
  }
}

.container {
  & > .header {
    & > h1 {
      @mixin headingNormal bold;

      margin: 0;
    }
  }

  & .infoContainer {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid var(--color-platinum);

    & .infoColumn {
      display: flex;
      flex-direction: column;
      flex: 1;

      &:last-child {
        padding-left: 10px;
      }
    }
  }

  & .footer {
    margin-top: 30px;

    & button {
      width: 230px;
    }
  }
}

.infoTitle {
  @mixin contentNormal semi-bold;

  margin-bottom: 10px;
}

.infoValue {
  @mixin contentNormal;

  font-size: 16px;
}
