@import '../../../../../setup/react/app/mixins.css';

.container {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  max-width: 565px;
  margin: auto;
  border-radius: 16px;
}

.content {
  padding: 32px !important;
}

h1 {
  margin: 0 0 16px 0;
}

.subheader {
  @mixin contentLargest;

  color: var(--color-slate-gray);
  margin: 0;
  font-size: var(--subtitle-font-size-s);
}

.accountName {
  @mixin contentLargest semi-bold;

  color: var(--color-maastricht-blue);
  margin: 8px 0 0 0;
  font-size: var(--subtitle-font-size-s);
}

.accountAddress {
  @mixin contentNormal;

  margin: 8px 0 32px 0;
  color: var(--color-blue-gray);
}

.avatar {
  margin: 22px auto 0 auto;
}

.buttonRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &.mgt30 {
    margin-top: 30px;
  }

  & > .button {
    width: 100%;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 10px;
  }
}

.accountRemovedIcon {
  margin: 45px;
}
