@import '../../../app/variables.css';

:root {
  --tab-inactive-color: --color-grayscale-dark;
  --font-size-L: 16px;
  --font-size-XS: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: 113px 0 0;
  padding: 0;

  & p {
    font-size: var(--font-size-L);
    line-height: 30px;
  }

  & > form {
    margin-top: 54px;

    & > div {
      height: 82px;

      & input {
        margin-top: 1px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    & > div:first-child {
      position: relative;

      & > label {
        top: 0;
      }

      & > div {
        position: absolute;
        top: 24px;
      }
    }

    & > div:nth-child(2) {
      margin-top: 25px;

      & textarea {
        font-weight: 600;
        color: var(--color-grayscale-dark);
      }
    }

    & label {
      font-weight: 600;
    }

    & input {
      font-weight: 600;
    }
  }

  & > footer {
    width: 100%;
    margin: 23px 0 0;

    & > div {
      height: 80px;

      & input {
        margin-top: 1px;
      }
    }

    & > section {
      width: 100%;
    }

    & > section > button {
      width: 160px;
      height: 56px;
    }

    & > section > button:last-child {
      margin-left: 22px;
      height: 57px;
    }
  }
}

.recepientRow {
  display: flex;
}

.disabled > .inputElement {
  border-bottom: none;
  color: #212121;
  overflow: auto;
  resize: none;
}

.fee {
  text-align: right;
  margin-top: -12px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 14px;
  color: grey;
}

input:read-only {
  border-bottom: solid 1px var(--color-white) !important;
}

.disabledInput label {
  font-size: 14px;
}

.button {
  min-width: 0;
  width: 100%;
}

.headerWrapper {
  padding: 0 !important;
  margin: 0;

  & .title {
    float: left;
  }

  & .account {
    float: right;
  }

  & h2 {
    margin: 0;
  }

  & h3 {
    display: inline-block;
    margin: 0;
  }

  & .balanceUnit {
    font-weight: var(--font-weight-bold);
  }

  & .address {
    text-align: right;
    cursor: pointer;
  }

  & .transfer {
    color: var(--color-grayscale-dark);
  }
}

.accountVisual {
  margin-right: 10px;
}

.text {
  color: #3c5068;
  font-size: 16px;
  font-weight: 600;
}

.smallAddress {
  margin-top: 9px;
  font-size: 12px;
  font-weight: 600;
}

.address {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}

.sendTo {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.disabledInput input:disabled {
  opacity: 1;
  border: none;
}

.subTitle {
  font-size: 14px;
}

@media (--small-viewport) {
  .headerWrapper {
    display: none;
  }

  .header {
    height: 60px;
  }

  .accountVisual {
    margin: 24px 0;
  }
}

@media (--xSmall-viewport) {
  .wrapper {
    & p {
      font-size: var(--font-size-L);
    }
  }
}
