@import '../../../app/mixins.css';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  & .content {
    width: var(--medium-box-width);
  }

  & .emptyState {
    min-height: 430px;

    & > p {
      @mixin headingNormal bold;

      max-width: initial;
      color: var(--color-maastricht-blue);
    }
  }
}
