@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  display: flex;
  flex-direction: column;

  & > p:first-child > div:first-child {
    margin-bottom: -4px;
    margin-left: 7px;
  }
}

.membersContainer {
  max-height: 440px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &.fullySigned {
    opacity: 0.5;
  }

  & p {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
  }

  & .label {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > p {
      text-align: left;
      color: var(--color-maastricht-blue);
      margin-top: 0;
      margin-bottom: 16px;
    }

    & .signatureInfo {
      @mixin contentNormal normal;

      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.15px;
      color: var(--color-slate-gray);

      & > span:last-child {
        font-weight: 500;
        color: var(--color-maastricht-blue);
      }

      & .tooltipWrapper {
        margin-right: 4px;
      }

      & .tooltipContainer {
        & p {
          @mixin contentNormal normal;

          color: var(--color-slate-gray);
        }
      }
    }
  }

  & > div {
    width: 50%;
  }
}

.memberInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  & > .memberInfoIndex {
    @mixin contentLarge;

    margin-right: 8px;
    color: var(--color-blue-gray);
  }

  & > .memberDetails {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    & > .memberTitle {
      @mixin headingSmall;

      margin-top: 0;
      margin-bottom: 10px;
      color: var(--color-maastricht-blue);
      font-family: var(--content-font);

      & > span {
        @mixin contentNormal;

        margin-left: 10px;
        color: black;
        color: var(--color-maastricht-blue);
      }
    }

    & > .memberKey {
      @mixin contentNormal;

      margin: 0;
      color: var(--color-slate-gray);
      text-align: left;
    }
  }
}
