@import '../app/variablesV2.css';

.wrapper {
  display: flex;
  height: 330px;
  margin-bottom: 12px;
  overflow: initial;
  padding: 0;
}

.content {
  flex-grow: 1;
  position: relative;
}

.graphHolder {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  & > * {
    height: 100%;
    left: -25px;
    position: absolute;
    width: calc(100% + 25px);
  }
}
