md-content(layout='row')
  md-content(flex='100', flex-gt-sm='70', flex-offset-gt-sm='15')
    md-content.header(layout='row', layout-align='center center', layout-padding)
      h2.md-headline Lisk Nano
      div(flex)
      md-button.md-icon-button(ng-click='close()')
        md-tooltip(md-direction='left') Logout
        md-icon(md-font-set='material-icons') close
    login(ng-show='!logged')
    md-card
      md-card-title
        md-card-title-text
          span.md-headline Account
      md-card-content
        account
    md-card
      md-card-title
        md-card-title-text
          span.md-headline Send
      md-card-content
        send
