@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  display: flex;
  margin-bottom: 12px;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;

  & .icon {
    display: block;
    height: 48px;
    width: 48px;
  }

  & > div {
    border-bottom: 1px solid var(--color-platinum);
    display: flex;
    justify-content: center;
    padding: 20px 0;

    &:last-child {
      border-bottom: 0 none;
    }
  }

  & .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    &:global(.account-balance) {
      &::after {
        background-color: var(--color-ultramarine-blue);
        border-radius: 1px;
        bottom: 0;
        content: '';
        height: 2px;
        left: calc(50% - 22px);
        position: absolute;
        width: 44px;
      }
    }

    & + .info {
      border-left: 1px solid var(--color-platinum);
    }
  }

  & .value {
    @mixin headingSmall;

    color: var(--color-maastricht-blue);
  }

  & .label {
    @mixin contentSmall;

    color: var(--color-slate-gray);
  }
}
