md-content(layout='row')
  md-content(flex='100', flex-gt-sm='70', flex-offset-gt-sm='15')
    md-content.header(layout='row', layout-align='center center', layout-padding)
      img.logo(src=require("./images/LISK.png"))
      h2.md-display-1 Lisk Nano
      div(flex)
      md-button.md-fab.md-mini.md-primary.logout(ng-click='logout()', ng-if='passphrase')
        i.material-icons exit_to_app
        md-tooltip(md-direction='left') Logout
    login(ng-show='!passphrase')
    account(ng-if='passphrase')
    send(ng-if='passphrase')
    history(ng-if='passphrase')
