@import '../app/variablesV2.css';

.splashscreen {
  align-items: center;
  background-color: var(--color-maastricht-blue);
  background-image: url('../../assets/images/illustrations/illustration-splash-dark.svg');
  background-size: cover;
  display: flex;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  & .button {
    margin-top: 12px;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.titleHolder {
  max-width: 430px;

  & > h1 {
    color: var(--color-white);
    font-family: var(--heading-font);
    font-size: var(--font-size-h2);
    letter-spacing: 0.3px;
    line-height: 1.33;
    font-weight: var(--font-weight-bold);
    margin: 0;
    text-align: center;
  }

  & > p {
    color: var(--color-slate-gray);
    font-family: var(--content-font);
    font-size: var(--paragraph-font-size-l);
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.2px;
    line-height: 1.43;
    margin: 35px 0 65px;
    text-align: center;
  }
}

.separator {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;

  & > span {
    color: var(--color-slate-gray);
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    margin: 0 12px;
    text-transform: uppercase;
  }

  &::after,
  &::before {
    background: var(--light-border-color);
    content: '';
    height: 1px;
    width: 100%;
  }
}

.link {
  color: var(--color-link);
  display: flex;
  font-family: var(--content-font);
  font-size: var(--button-font-size-s);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.3px;
  line-height: 1.33;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  & > img {
    margin-left: 5px;
  }
}
