.splashscreen {
  align-items: center;
  background-color: #f7f9fb;
  display: flex;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  & .button {
    margin-top: 12px;
    width: 100%;

    & > button {
      width: 100%;
    }
  }
}

.titleHolder {
  max-width: 400px;

  & > h1 {
    color: #1e194d;
    font-family: Gilroy, sans-serif;
    font-size: 32px;
    line-height: 1.56;
    font-weight: 600;
    margin: 0 0 3px;
    text-align: center;
  }

  & > p {
    color: #2e2c3b;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.47;
    margin: 0 0 50px;
    text-align: center;
  }
}

.separator {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;

  & > span {
    color: #2e2c3b;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    margin: 0 12px;
  }

  &::after,
  &::before {
    background: #2e2c3b;
    content: '';
    height: 1px;
    opacity: 0.2;
    width: 100%;
  }
}

.link {
  color: #4e80f7;
  display: inline-block;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  margin-bottom: 20px;
  text-align: center;
}
