.container {
  background-color: #fff;
  top: 40px;

  & .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: -3%;
    left: 70%;
    border-width: 0 20px 10px;
    border-color: transparent transparent #fff;
  }

  & .triangleBorder {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: -3.2%;
    left: 70%;
    border-width: 0 20px 10px;
    border-color: transparent transparent rgba(8, 24, 49, 0.1);
  }
}

.label {
  color: #2e2c3b;
  font-family: Gilroy; /* stylelint-disable-line */
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 20px;
}

.buttonContainer {
  padding: 0px 20px 10px;
}

.row {
  display: flex;
  margin: 10px 0;
}

.dash {
  vertical-align: middle;
  font-size: 12px;
}

.saveButton {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(4, 32, 76, 0.2);
  background-color: #4e80f7;
  color: #fff !important;
}

.filterTransactions {
  text-align: right;
}

.input {
  margin: 0 20px;
  padding: 1px;
  height: 36px;
  background-color: var(--color-white);
  border: 0.5px solid #a6adbd;
  border-radius: 4px;
  width: 100%;

  & input {
    background-color: var(--color-white);
    line-height: var(--search-box-line-height);
    font-size: 12px;
    color: var(--color-grayscale-medium);
    width: 100%;
    padding: 4px 0 0 10px;
    border-radius: 3px;
    border: none;
    transition: background-color 300ms linear;

    &::selection {
      color: #fff;
      background: var(--search-box-selection-background);
    }

    &::placeholder {
      color: var(--color-grayscale-medium);
      font-weight: 200;
      letter-spacing: 0;
    }

    &:focus {
      outline: none;
      background-color: var(--color-white);
    }
  }

  & span:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &::before,
    &::after {
      background-color: var(--color-grayscale-light);
    }
  }
}
