.container {
  width: 100%;
  display: flex;
  height: 200px;
  justify-content: start;
  font-family: Gilroy; /* stylelint-disable-line */
  font-size: 12px;
  font-weight: 600;
}

.filter {
  display: flex;
  padding: 0 20px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 3px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);
  background-color: #fff;

  & div {
    margin-left: 10px;
  }

  & p {
    padding: 5px 0;
    margin: 0;
  }
}

.icon {
  font-size: 20px;
  cursor: pointer;
  margin-top: 3px;
}

.label {
  margin-top: 10px;
}

.clearAll {
  color: #4e80f7;
  cursor: pointer;
}
