md-card.offline-hide
  md-card-content()
    md-content(layout='row', layout-align='start center', layout-padding, ng-show='!$ctrl.transactions.length && $ctrl.loaded')
      div(flex)
      span.empty No transactions
    md-content(layout='column', layout-align='center center')
      md-table-container(ng-show='$ctrl.transactions.length')
        table(md-table)
          thead(md-head)
            tr(md-row)
              th(md-column) Time
              th(md-column) Transaction ID
              th(md-column) From / To
              th(md-column)
              th(md-column) Amount
              th(md-column) Fee
          tbody(md-body, infinite-scroll='$ctrl.showMore()')
            tr(md-row, ng-repeat="transaction in $ctrl.transactions track by transaction.id | orderBy:'-timestamp'")
              td(md-cell)
                timestamp(data='transaction.timestamp', ng-show='transaction.confirmations')
                span(ng-bind='transaction.confirmations ? "" : "PENDING"')
              td(md-cell)
                span(ng-bind='transaction.id')
                  md-tooltip(md-direction='top', md-delay='350') {{ transaction.confirmations }} confirmations
              td(md-cell, ng-switch, on='transaction.type')
                span.tx(ng-switch-when='1') Second Signature Creation
                span.tx(ng-switch-when='2') Delegate Registration
                span.tx(ng-switch-when='3') Vote
                span.tx(ng-switch-when='4') Multisignature Creation
                span.tx(ng-switch-when='5') Blockchain Application Registration
                span.tx(ng-switch-when='6') Send Lisk to Blockchain Application
                span.tx(ng-switch-when='7') Send Lisk from Blockchain Application
                span(ng-switch-default)
                  span(ng-bind='transaction.senderId', ng-if='transaction.senderId !== $ctrl.account.get().address',
                    data-open-dialog='send', data-options='{"recipient-id": transaction.senderId}', class='has-send-modal')
                  span(ng-bind='transaction.recipientId', ng-if='transaction.senderId === $ctrl.account.get().address',
                    data-open-dialog='send', data-options='{"recipient-id": transaction.recipientId}', class='has-send-modal')
                  md-tooltip(md-direction='top', md-delay='350') Send to this recipient
              td(md-cell)
                i.material-icons(ng-if='transaction.type === 0 && transaction.senderId === transaction.recipientId') replay
                i.material-icons.in(ng-if='transaction.senderId !== $ctrl.account.get().address') call_received
                i.material-icons.out(ng-if='transaction.type !== 0 || transaction.recipientId !== $ctrl.account.get().address') call_made
              td(md-cell)
                .amount.negative(data-ng-if='transaction.type !== 0 || transaction.recipientId !== $ctrl.account.get().address',
                  data-ng-class='{"has-send-modal": transaction.amount > 0}',
                  data-open-dialog='send', data-options='{"send-amount": transaction.amount, "recipient-id": transaction.recipientId}')
                  lsk.value(amount='transaction.amount')
                  md-tooltip(md-direction='top', md-delay='350', data-ng-if='transaction.amount > 0') Repeat the transaction
                .amount.positive(data-ng-if='transaction.senderId !== $ctrl.account.get().address')
                  lsk.value(amount='transaction.amount')
                .amount.neutral(ng-if='transaction.type === 0 && transaction.senderId === transaction.recipientId')
                  lsk.value(amount='transaction.amount')
              td(md-cell)
                .fee
                  lsk(amount='transaction.fee')
      md-button.more-button(ng-show='$ctrl.moreTransactionsExist && $ctrl.loaded', ng-click='$ctrl.showMore()') Load More
