md-card(ng-show='$ctrl.transactions.length')
  md-card-title
    md-card-title-text
      span.md-title Transactions
  md-card-content
    md-content
      md-table-container
        table(md-table)
          thead(md-head)
            tr(md-row)
              th(md-column) Date
              th(md-column) Confirmations
              th(md-column) From / To
              th(md-column)
              th(md-column) Amount
              th(md-column) Fee
          tbody(md-body)
            tr(md-row, ng-repeat="transaction in $ctrl.transactions track by transaction.id | orderBy:'-timestamp'")
              td.timestamp(md-cell, data='transaction.timestamp')
              td(md-cell, width='1%', ng-bind='transaction.confirmations')
              td(md-cell, ng-switch, on='transaction.type')
                span.tx(ng-switch-when='1') Second Signature Creation
                span.tx(ng-switch-when='2') Delegate Registration
                span.tx(ng-switch-when='3') Vote
                span.tx(ng-switch-when='4') Multisignature Creation
                span.tx(ng-switch-when='5') Blockchain Application Registration
                span.tx(ng-switch-when='6') Transfer Lisk to Blockchain Application
                span.tx(ng-switch-when='7') Transfer Lisk from Blockchain Applicatio
                span(ng-switch-default)
                  span.address(md-cell, data='transaction.senderId', ng-if='transaction.senderId !== $ctrl.account.address')
                  span.address(md-cell, data='transaction.recipientId', ng-if='transaction.senderId === $ctrl.account.address')
              td(md-cell, width='1%')
                i.material-icons.type(ng-if='transaction.senderId === $ctrl.account.address', style='color: red') call_made
                i.material-icons.type(ng-if='transaction.senderId !== $ctrl.account.address', style='color: green') call_received
              td(md-cell, width='1%')
                .lsk(md-cell, amount='transaction.amount', negative='transaction.senderId === $ctrl.account.address')
              td(md-cell, width='1%')
                .lsk(md-cell, amount='transaction.fee', nocolor)
      md-content(layout='row', layout-align='center center', ng-show='$ctrl.more')
        md-button.more(ng-disabled='$ctrl.loading_more', ng-click='$ctrl.updateTransactions(true)') Load More
