@import '../app/variables.css';

:root {
  --grid-header-color: var(--color-black);
  --amount-positive-color: var(--color-success-dark);
  --amount-negative-color: var(--color-grayscale-dark);
  --blue: var(--color-primary-medium);
  --link-color: var(--color-primary-very-light);
  --row-background-color: var(--color-white);
  --filter-list-color: var(--color-grayscale-medium);
  --result-address-font-weight: var(--font-weight-semi-bold);
  --detail-label-font-weight: var(--font-weight-very-bold);
  --header-address-font-weight: var(--font-weight-semi-bold);
  --header-balance-unit-font-size-XL: 20px;
  --header-balance-unit-font-size-L: 18px;
  --header-subtitle-font-size-XL: 18px;
  --header-subtitle-font-size-L: 16px;
  --list-line-height: 25px;
  --grid-header-line-height: 60px;
  --main-row-line-height: 70px;
  --sub-row-height: 50px;
  --header-line-height: 36px;
  --main-header-unit-font-size: 20px;
  --grid-header-font-size: 15px;
  --details-font-color: var(--color-grayscale-dark);
  --details-label-font-size-XL: 15px;
  --details-label-font-size-L: 12px;
  --details-label-font-size-XS: 12px;
  --back-button-font-size-XL: 15px;
  --back-button-font-size-L: 12px;
  --back-button-font-size-XS: 12px;
  --back-button-arrow-font-size-XL: 16px;
  --back-button-arrow-font-size-L: 16px;
  --back-button-arrow-font-size-XS: 16px;
}

.empty {
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  padding-top: 25px;
  color: var(--color-grayscale-dark);
}

.results {
  overflow-y: initial;

  & .turnArrow {
    transform: rotate(180deg);
  }
}

@media (--xLarge-viewport) {
  .results {
    overflow-y: auto;
    margin: 0px calc(0 - var(--box-padding-left-XL));
  }
}

@media (--large-viewport) {
  .results {
    overflow-y: auto;
    margin: 0px calc(0 - var(--box-padding-left-L));
  }
}

@media (--medium-viewport) {
  .results {
    overflow-y: initial;
    padding-bottom: 100px;
    margin: 0px calc(0 - var(--box-padding-left-M));
  }
}
