
transactions {
  md-card-content, md-list {
    padding: 0 !important;
  }

  .md-button {
    margin: 0;
  }

  .md-cell {
    white-space: nowrap;
  }

  .tx {
    background-color: #efefef;
    border-radius: 4px;
    padding: 10px 7px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
