md-card
  md-card-title
    md-card-title-text
      span.md-title Transactions
  md-card-content
    md-content(style='max-height: 500px')
      section(ng-repeat="(group, list) in transactions")
        md-subheader {{ group }}
        md-table-container
          table(md-table)
            tbody(md-body)
              tr(md-row, ng-repeat="transaction in list track by transaction.id | orderBy:'-timestamp'")
                td.timestamp(md-cell, data='transaction.timestamp')
                td.lsk(md-cell, data='transaction.amount', fee='transaction.fee')
                td(md-cell)
                  i.material-icons.type(ng-if='transaction.senderId === address', style='color: red') call_made
                  i.material-icons.type(ng-if='transaction.senderId !== address', style='color: green') call_received
                td(md-cell)
                  span.address(md-cell, data='transaction.senderId', current='address', ng-if='transaction.senderId !== address')
                  span.address(md-cell, data='transaction.recipientId', current='address', ng-if='transaction.senderId === address')
                td(md-cell, ng-bind='transaction.confirmations')
