
transactions {
  md-card-content {
    padding: 0 0 0;
  }

  .md-button {
    margin: 0;
  }

  .md-cell {
    white-space: nowrap;
  }

  .tx {
    background-color: #eee;
    border-radius: 3px;
    padding: 6px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .more {
    margin: 0 0 5px;
  }
}
