:global .CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

:global .CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(2, 136, 209);
  transition: stroke-dashoffset 500ms ease 0ms;
}

:global .CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

:global .CircularProgressbar .CircularProgressbar-text {
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
