.flashContainer {
  background-color: var(--color-warning-bg);
  border-color: var(--color-warning-border);
  border-width: 1px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 18px;

  &:global(.dark) {
    color: var(--color-zodiac-blue);
  }
}

.btnContainer {
  display: flex;
  margin-left: auto;
}

.button {
  height: auto !important;
  padding: 15px 20px !important;
  margin-left: 12px;
  border-radius: 5px;
  border-color: var(--color-zodiac-blue);
  color: var(--color-zodiac-blue);

  &.primary {
    background-color: var(--color-ink-blue);

    &:global(.dark) {
      color: var(--color-zodiac-blue);
    }
  }
}

.stakeWarning {
  background-color: var(--color-warning-bg);
  border: solid 1px var(--color-warning-border);
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
}

.rightSpace {
  margin-right: 10px;
}
