@import './variables.css';
@import './global.css';
@import './type.css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

img,
a {
  -webkit-user-drag: none;
}

.bodyWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;

  & > section {
    width: 100%;
    padding-left: calc(var(--sidebar-width) + 24px);
    padding-right: 24px;
    opacity: 0;
    transition: all ease 250ms;
  }

  &.loaded > section {
    opacity: 1;
  }

  & > aside {
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-white);
  }
}

.hasMarginBottom {
  margin-bottom: 20px;
}

/* move to type */
.text-center {
  text-align: center;
}

.mainBox {
  margin: 0 auto;
  max-width: var(--main-box-width);
}

@media (--medium-viewport) {
  body {
    background-color: var(--color-grayscale-mobile-background);
    margin-top: var(--header-height-m);
  }

  .bodyWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    & > section {
      padding: 0;
    }
  }
}

@media (--xLarge-viewport) {
  body {
    font-size: 16px;
  }

  .bodyWrapper {
    & > section {
      padding-left: calc(var(--sidebar-width-xl) + 24px);
    }

    & > aside {
      width: var(--sidebar-width-xl);
    }
  }
}

@media (--large-viewport) {
  body {
    font-size: 15px;
  }
}

@media (--small-viewport) {
  body {
    margin-top: var(--header-height-s);
  }

  html.on-device,
  html.on-device body {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
  }
}

@media (--xSmall-viewport) {
  body {
    font-size: 14px;
  }
}
