@import './variables.css';
@import './global.css';
@import './type.css';

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bodyWrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 0;

  & > section {
    margin-top: 25px;
    width: 100%;
    opacity: 0;
    transition: all ease 250ms;
  }

  &.loaded > section {
    opacity: 1;
  }
}

.hasMarginBottom {
  margin-bottom: 20px;
}

/* move to type */
.text-center {
  text-align: center;
}

.mainBox {
  margin: 0 auto;
  width: 100%;
  max-width: var(--main-box-width);
}

@media (--medium-viewport) {
  body {
    background-color: var(--color-grayscale-mobile-background);
  }

  .bodyWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    & > section {
      padding: 0;
    }
  }
}

@media (--xLarge-viewport) {
  body {
    font-size: 16px;
  }
}

@media (--large-viewport) {
  body {
    font-size: 15px;
  }

  .mainBox {
    box-sizing: border-box;
    padding: 0 25px;
  }
}

@media (--small-viewport) {
  html.on-device,
  html.on-device body {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
    height: 100% !important;
  }
}

@media (--xSmall-viewport) {
  body {
    font-size: 14px;
  }
}
