@import './variablesV2.css';

.v2Wrapper {
  background-image: var(--color-background-wrapper);
  bottom: 0;
  left: 0;
  padding-top: var(--header-height-m);
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--normal-index);
}

@media (--small-viewport) {
  .v2Wrapper {
    padding-top: var(--header-height-s);
  }
}
