@define-mixin contentSmallest {
  font-family: var(--content-font);
  font-size: 11px;
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0;
  line-height: 18px;
}

@define-mixin contentSmall $weight: normal {
  font-family: var(--content-font);
  font-size: 12px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0;
  line-height: 20px;
}

@define-mixin contentNormal $weight: normal {
  font-family: var(--content-font);
  font-size: 13px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0.2px;
  line-height: 20px;
}

@define-mixin contentLarge $weight: normal {
  font-family: var(--content-font);
  font-size: 14px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0.2px;
  line-height: 20px;
}

@define-mixin contentLargest $weight: normal {
  font-family: var(--content-font);
  font-size: 15px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0;
  line-height: 21px;
}

@define-mixin headingExtraSmall {
  font-family: var(--heading-font);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2px;
  line-height: 18px;
}

@define-mixin headingSmall {
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.2px;
  line-height: 18px;
}

@define-mixin headingNormal $weight: bold {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0;
  line-height: 25px;
}

@define-mixin headingNormalIntermediate $weight: bold {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0.1;
  line-height: 32px;
}

@define-mixin headingLarge $weight: bold {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0.25px;
  line-height: 40px;
}

@define-mixin addressFont {
  font-family: var(--heading-font);
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1px;
}

@define-mixin validatorName {
  font-family: var(--content-font);
  font-size: var(--subtitle-font-size-s);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.1px;
  line-height: 18.4px;
}

@define-mixin validatorPerformanceValueFont {
  font-family: var(--heading-font);
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
}

@define-mixin stakeStatusHeading $weight:  {
  font-family: var(--heading-font);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-$(weight));
  letter-spacing: 0;
  line-height: 25px;
}
