@import '../app/variables.css';
@import '../app/mixins.css';

.learnMore {
  margin-top: 20px;

  & > a {
    @mixin contentLargest bold;

    color: var(--color-ultramarine-blue);
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
  }
}
