.spinner {
  width: 24px;
  text-align: center;
  display: inline-block;
}

.bounce1,
.bounce2,
.bounce3 {
  width: 3px;
  height: 3px;
  margin: 1px;
  border-radius: 100%;
  display: inline-block;
  animation: changeColor 1400ms infinite ease-in-out both;
}

.bounce1 {
  animation-delay: -6400ms;
}

.bounce2 {
  animation-delay: -320ms;
}

@keyframes changeColor {
  0%,
  80%,
  100% {
    background-color: #37516a;
  }

  40% {
    background-color: #c9dae5;
  }
}
