.dialogWrapper {
  max-width: 760px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  max-width: 720px;
  padding: 0 var(--horizontal-padding-l);
  height: auto;
}
