.container {
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  padding: 0 var(--horizontal-padding-l);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  max-width: 720px;
  height: auto;
}
