md-content(layout='row')
  md-content(flex='100', flex-gt-sm='80', flex-offset-gt-sm='10')
    md-content.header(layout='row', layout-align='center center', layout-padding)
      img.logo(src=require('./images/LISK.png'))
      h2.md-display-1 Lisk Nano
      div(flex)
      md-select(ng-model='$ctrl.peer', md-selected-text="$ctrl.getPeerSelectedText()", ng-if='$ctrl.logged')
        md-optgroup(ng-repeat='(name, peers) in $ctrl.$peers.stack', ng-if='peers.length', label='{{ name }}')
          md-option(ng-repeat='peer in peers', ng-value='peer') {{ peer.host }}
      md-button.md-fab.md-mini.md-primary.logout(ng-click='$ctrl.logout()', ng-if='$ctrl.logged')
        i.material-icons close
        md-tooltip(md-direction='bottom') Logout
    div(layout='row', layout-align='space-around', ng-show='$ctrl.prelogged')
      md-progress-circular.md-warn(md-mode='indeterminate', md-diameter='140')
    div(ng-show='!$ctrl.prelogged && !$ctrl.logged')
      login(passphrase='$ctrl.passphrase', peer='$ctrl.peer_selected')
    div(ng-if='$ctrl.logged')
      top(account='$ctrl.account')
      send(peer='$ctrl.peer', passphrase='$ctrl.passphrase')
      transactions(account='$ctrl.account', peer='$ctrl.peer')
