div.dialog-second(aria-label='Generate a second passphrase for your account', data-ng-init='$ctrl.step = 0')
    md-toolbar
      .md-toolbar-tools
        h2 Generate a second passphrase of your account
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()', aria-label='Close dialog')
          i.material-icons close
    div(layout='row', layout-padding, layout-align="left center", data-ng-if='$ctrl.step === 0')
      div(layout-margin)
        i.material-icons info
      p
        span Please click Next, then move around your mouse randomly to generate a random passphrase.
        br
        br
        span Note: After registration completes, your second passphrase will be required for all transactions sent from this account.
        br
        span Losing access to this passphrase will mean no funds can be sent from this account. So be sure to keep it safe!

    md-dialog-actions(layout='row', data-ng-if='$ctrl.step === 0')
      md-button.md-secondary(ng-disabled='$ctrl.loading', ng-click='cancel()') Cancel
      span(flex)
      fee(data-fee='$ctrl.fee')
      md-button.md-raised.md-primary.submit-button.next-button(ng-click='$ctrl.step = 1', ng-disabled='$ctrl.fee | fundsInsufficiency') Next
    section(data-ng-if='$ctrl.step === 1')
      passphrase(data-on-save='onSave', data-label='Register', data-fee='{{$ctrl.fee}}')
