@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--color-very-light-gray);
  display: flex;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  margin-bottom: 3px;
  cursor: pointer;

  & > div:first-child {
    flex: 1;
  }

  & > div:first-child ~ img {
    width: 20px;
    padding-right: 14px;
  }
}

.menuItemWrapper {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.optionListWrapper .menuItemWrapper {
  padding: 10px !important;
  box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.loading {
  color: var(--color-ultramarine-blue);
  margin-right: 16px;

  & > span {
    width: 20px;
    height: 20px;
  }
}
