@import '../../../../../setup/react/app/mixins.css';

.container {
  display: flex;

  &::before {
    content: '';
    min-width: calc(100% - 40px);
    position: absolute;
    height: 1px;
    border-top: 1px var(--color-platinum) solid;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-content-light);
    font-size: var(--paragraph-font-size-s);
    font-weight: var(--font-weight-normal);
  }

  &:hover .pinWrapper {
    display: block;
  }
}

.token {
  padding: 20px 22px 20px 0px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  color: var(--color-content-light);
  align-items: center;

  & > img:first-child {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  & > img:first-child ~ div {
    flex: 1;

    & > p {
      @mixin headingSmall;

      margin: 0px;
    }

    & > p ~ span {
      @mixin contentSmall;

      color: var(--color-slate-gray);
    }
  }
}

.balance {
  @mixin headingSmall;

  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;

  &,
  & span {
    color: var(--color-content-light) !important;
    font-size: var(--subtitle-font-size-s) !important;
    font-weight: var(--font-weight-semi-bold) !important;
    font-family: var(--heading-font) !important;
  }
}

.rowWrapper {
  width: 100%;
}
