@import '../app/variablesV2.css';
@import './../app/mixins.css';

.optionsHolder {
  justify-content: center;
  margin: 0 24px;

  & .option {
    display: flex;
    justify-content: space-between;
  }
}

.optionIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 24px;
}

.optionContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > h2 {
    @mixin contentNormal bold;

    align-items: center;
    color: var(--color-maastricht-blue);
    display: flex;
    margin: 0;
  }

  & > .downloadLisk {
    display: flex;

    & > p {
      @mixin contentLarge bold;

      color: var(--color-dark-blue);
      margin: 15px 0;
      text-align: left;
      word-spacing: 8px;
    }

    & > img {
      margin-right: 10px;
    }
  }
}

.passphraseField {
  width: 99px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-right: 8px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & div {
    @mixin contentLargest;
  }
}

.hrSection {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--color-slate-gray);

  & > p {
    @mixin contentSmall bold;

    margin: 20px;
  }
}

.hrSection::before,
.hrSection::after {
  content: "";
  flex-grow: 1;
  background: var(--color-blue-gray);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.passwordRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputs {
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 14px;

  & > span {
    margin: 6px 0;

    & input {
      @mixin contentLarge;

      color: var(--color-maastricht-blue) !important;
      text-align: center;
    }
  }
}

.copyIcon {
  display: none;
}

@media (--medium-viewport) {
  .optionContent {
    & > p {
      word-spacing: 2px;
    }
  }
}
