@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  width: 100%;
  min-height: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-white-smoke);
  border-top: 1px solid var(--color-platinum);

  & > span {
    @mixin contentSmall bold;

    color: var(--color-maastricht-blue);
  }
}
