@import '../app/variables.css';

:root {
  --submit-button-height: 55px;
  --filters-height: 55px;
}

.wrapper {
  width: 100%;
}

@media (--medium-viewport) {
  .wrapper {
    margin: 0;

    & > section {
      width: 100%;
      height: calc(100vh - var(--submit-button-height) - var(--header-height-m) - var(--footer-height-m)); /* stylelint-disable-line */
      position: relative;
    }

    & > aside {
      position: fixed;
      z-index: 2;
      left: 0;
      bottom: var(--footer-height-m);
      width: 100%;
      max-height: 100%;
      height: 95px;
    }
  }

  .hasLayover {
    & :global(.delegate-list-box) {
      overflow: hidden;
      opacity: 0;
    }

    & aside {
      height: 100%;
      height: calc(100% - var(--header-height-m) - var(--footer-height-m));
    }
  }

  .wrapper:not(.hasLayover) aside > div {
    background-color: transparent;
  }
}

@media (--small-viewport) {
  .wrapper {
    & > section {
      height: calc(100vh - var(--submit-button-height) - var(--header-height-s) - var(--footer-height-s)); /* stylelint-disable-line */
    }

    & > aside {
      bottom: var(--footer-height-s);
    }
  }

  .hasLayover aside {
    height: calc(100% - var(--header-height-s) - var(--footer-height-s));
  }
}

@media (max-width: 1025px) {
  .votingBox {
    flex-basis: 100%;
    max-width: 100%;
  }
}
