@import '../../../../../setup/react/app/mixins.css';

.container {
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  overflow: scroll;

  & h5 {
    font-family: var(--heading-font);
    flex-basis: 100%;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--color-maastricht-blue);
  }

  & > section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      flex-basis: calc(52% - 18px);
    }

    &:last-of-type {
      flex-basis: calc(48% - 18px);
    }
  }

  & .label {
    @mixin contentLarge;

    color: var(--color-maastricht-blue);
  }

  & .label ~ p {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-maastricht-blue);
  }

  & .footerContent {
    @mixin contentSmall;

    color: var(--color-slate-gray);
    display: block;
    margin-top: 12px;
    transition: opacity var(--animation-speed-fast) linear;

    &.hide {
      opacity: 0;
    }
  }

  & .sectionFooter {
    margin: 0;
    padding: 0;
  }

  & .footerActionable {
    color: var(--color-primary-standard);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
  }
}

.formSection {
  width: 320px;

  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  & .fieldLabel {
    @mixin contentNormal normal;

    color: var(--color-maastricht-blue);
    margin-bottom: 8px;
    font-size: 14px;
  }

  & .feedback {
    &.referenceFeedback {
      justify-content: flex-end;
    }
  }

  & .status {
    color: var(--color-ultramarine-blue);
    opacity: 0;
    position: absolute;
    right: 10px;
    transition: opacity var(--animation-speed-fast) linear;

    &.show {
      opacity: 1;
      transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
    }
  }

  & .amountField {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    & .converter {
      position: absolute;
      right: 34px;
      top: 15px;
    }

    & .input {
      padding-left: 10px;
      padding-right: 120px;
      width: 100%;
    }

    & img {
      top: calc(var(--height-l) / 2) !important;
    }
  }

  & .referenceField {
    display: flex;
    position: relative;
    width: 100%;

    & .byteCounter {
      bottom: 6px;
      opacity: 0;
      position: absolute;
      right: 10px;
      transition: opacity var(--animation-speed-fast) linear;
    }

    & .status {
      bottom: 10px;
      right: 12px;
    }

    & .textarea {
      padding-right: 30px;
      width: 100%;

      &:focus {
        & + .byteCounter {
          opacity: 1;
        }

        & ~ .status {
          opacity: 0;
        }
      }
    }
  }

  & .input,
  & .textarea {
    @mixin contentNormal;

    height: 48px !important;
    border-radius: 6px !important;
  }

  & .textarea {
    resize: none;
    overflow: hidden;
    padding: 8px 10px;
  }

  & .sharingLink {
    background-color: var(--color-request-textarea);
  }

  & .sectionFooter {
    margin-top: 20px;

    & button {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.qrSection {
  width: 300px;
  display: block;
  margin-left: 20px;

  &.hide {
    display: none;
  }

  & .qrCodeContainer {
    align-self: center;
    align-items: center;
    border: 1px solid var(--color-platinum);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 24px 0 0;
    width: 100%;
    width: 306px;
    max-height: 306px;

    & canvas {
      box-shadow: 0 0 1px 0 var(--color-strong-white);
      width: 80% !important;
      height: 80% !important;
    }

    &.disabled canvas {
      filter: blur(7px);
    }
  }
}

.copyButton {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  & > .copyIcon {
    filter: brightness(100) !important;
    margin-left: 8px;
  }
}

.feedback {
  @mixin contentNormal;

  display: flex;
  box-sizing: border-box;
  color: var(--color-slate-gray);
  justify-content: flex-end;
  padding: 8px 0 0;
  width: 100%;
  position: absolute;
  bottom: -25px;
  right: 0;
  opacity: 0;

  &.error {
    color: var(--color-burnt-sienna);
  }
}

.feedback:not(:empty) {
  opacity: 1;
  transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
}

.accountWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  border: none;
  border-radius: 0px;
  justify-content: flex-start;
  color: var(--color-maastricht-blue);
  transition: opacity 100ms linear;
  cursor: pointer;

  & > div:first-child ~ div {
    margin-left: 10px;
    flex: 1;
    width: calc(100% - 50px);
  }

  & > div:first-child ~ div > p {
    margin-top: 9px;
    margin-bottom: 0px;
    color: var(--color-slate-gray);
    font-size: 13px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }

  & > div:first-child ~ div ~ button {
    border: none;
    background-color: transparent;
    width: 40px;
  }
}

.chainOptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.chainLogo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.chainLogo ~ span {
  height: fit-content;
  font-size: 16px;
  font-weight: 500;
  padding-left: 8px;
  white-space: nowrap;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-maastricht-blue);
}
