.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & header {
    @mixin stakeStatusHeading;

    justify-content: center !important;
    padding-bottom: 4px !important;
  }

  & > header > h2 {
    font-size: var(--font-size-h3) !important;
  }

  & header ~ div {
    padding-top: 10px;
  }

  & .messageLabel {
    color: var(--color-maastricht-blue);
    margin-top: 25px;
    text-align: center;
  }

  & .stakedHeader {
    color: var(--color-maastricht-blue);
  }

  & .footer {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button.actionButton {
      width: 80%;
    }
  }

  & > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;

    & .illustration ~ h4 {
      @mixin contentLargest semi-bold;

      margin-top: 14px;
    }

    & .illustration ~ h4 ~ p {
      @mixin contentLarge;

      color: var(--color-slate-gray);
      margin-top: -4px;
      margin-bottom: 20px;
      width: 63%;
      text-align: center;
    }
  }

  & > footer {
    box-sizing: border-box;
    width: 100% !important;
    padding: 0px 24px;
  }
}
