md-dialog.dialog-second(aria-label='Enter the second passphrase of your account')
  form
    md-toolbar
      .md-toolbar-tools
        h2 Enter the second passphrase of your account
    md-dialog-content
      .md-dialog-content
        md-input-container.md-block
          label Second Passphrase
          input(type='password', ng-model='$ctrl.value')
    md-dialog-actions(layout='row')
      md-button(ng-click="$ctrl.cancel()") Cancel
      span(flex)
      md-button(ng-click="$ctrl.ok()", md-autofocus) OK
