@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 75%;
  max-width: 630px;
  min-width: 550px;
  height: 423px;
  background: var(--color-white);
  border-radius: var(--border-radius-box);

  & .content {
    width: 100%;
    height: 100%;
  }

  & .emptyState {
    & > p {
      @mixin headingNormal bold;

      max-width: initial;
      color: var(--color-maastricht-blue);
    }
  }
}
