@import '../../../../../setup/react/app/mixins.css';

.pendingWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center !important;
  align-items: center !important;
  flex-grow: 1;

  & h5 {
    font-weight: var(--font-weight-bold);
    color: var(--color-maastricht-blue);
  }

  & img {
    width: 210px;
  }
}
