@import '../../../../../../setup/react/app/mixins.css';

.skeletonLoader {
  height: 80px;
  padding: 0px 20px;
  padding-left: 50px;
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px;

  &::before {
    content: '';
    width: 110%;
    margin-left: -20px;
    position: relative;
    display: block;
    border-top: 1px var(--color-platinum) solid;
  }

  & > div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    animation: skeletonLoaderAnimation 2s linear;
    animation-iteration-count: infinite;
  }

  & > div:first-child > div:first-child {
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-very-light-gray);
    margin-right: 10px;
  }

  & > div:first-child > div:first-child ~ div {
    width: 40%;
    height: 15px;
    border-radius: 40px;
    background-color: var(--color-very-light-gray);
  }

  & > div:nth-child(2) > div {
    width: 20%;
    height: 15px;
    border-radius: 40px;
    background-color: var(--color-very-light-gray);
  }

  & > div:nth-child(3) > div {
    width: 50%;
    height: 34px;
    border-radius: 40px;
    background-color: var(--color-very-light-gray);
  }

  & > div:nth-child(4) {
    justify-content: flex-end;
  }

  & > div:nth-child(4) > div {
    width: 50%;
    height: 15px;
    border-radius: 40px;
    background-color: var(--color-very-light-gray);
  }
}

@keyframes skeletonLoaderAnimation {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 20%;
  }

  100% {
    opacity: 100%;
  }
}
