@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0 var(--horizontal-padding-s);
  background: var(--color-white);
  border-radius: 0 0 var(--border-radius-box) var(--border-radius-box);
  border-top: solid 1px var(--color-mystic);
  margin-top: -8px;
}

.header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;
  padding: 2px 20px 12px;

  & > label {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
  }
}

.content {
  width: 100%;
  height: auto;
  max-height: 310px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;

  & .walletInformation {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    box-sizing: border-box;

    & > div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  & .tag {
    @mixin contentNormal bold;

    white-space: nowrap;
    background: var(--color-white-smoke);
    color: var(--color-ink-blue);
    padding: 9px;
    box-sizing: border-box;
    margin-left: 7px;
    border-radius: var(--border-radius-box);
    line-height: unset;
  }

  & .accountTitle {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
  }

  & .validatorName {
    @mixin contentLargest bold;

    color: var(--color-ghost);
  }

  & .highlight {
    color: var(--color-maastricht-blue);
    background-color: initial;
  }

  & .accountSubtitle {
    @mixin contentNormal;

    color: var(--color-slate-gray);
  }

  & .accountBalance {
    @mixin contentSmallest;

    color: var(--color-maastricht-blue);
    margin-left: auto;
  }

  & .accountRow {
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: var(--color-rows-hover);
    }
  }
}
