-
  cdn = {
    js: [],
    css: [
      'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic',
      'https://fonts.googleapis.com/icon?family=Material+Icons',
    ]
  }

doctype html
html
  head
    title Lisk Nano
    style(type='text/css').
      body {
        background-color: #eee !important;
      }
    each item in cdn.css
      link(rel='stylesheet', href=item)
  body
    main
    each item in cdn.js
      script(src=item)
