@import '../../../app/variables.css';

.delegateName {
  font-family: var(--heading-font);
  font-size: var(--font-size-h2);
  margin-bottom: 32px;
}

.accountVisual {
  margin: 0;
}

.inputWide {
  width: 271px;

  & > label {
    padding-left: 10px;
  }
}

.descriptionBold {
  font-weight: var(--font-weight-semi-bold);
}

.iconAtLeft {
  float: left;
  margin-top: 5px;
}
