@import '../../../../app/mixins.css';

.emptyState {
  height: 300px;
}

.results {
  border-radius: 0 0 var(--border-radius-box) var(--border-radius-box);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
  position: relative;

  &.hasMore {
    padding-bottom: 36px;
  }

  &.isLoading {
    & .loadingOverlay {
      background: var(--overlay-color);
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    & :global(.empty-message) {
      display: none;
    }
  }

  & .showMore {
    @mixin contentSmall bold;

    align-items: center;
    background: var(--color-white-smoke);
    border-top: 1px solid var(--color-platinum);
    bottom: 0;
    color: var(--color-maastricht-blue);
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
}

.linear {
  background: transparent !important;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}

.hide {
  display: none;
}

@media (--medium-viewport) {
  .hideMedium {
    display: none;
  }
}
