@import '../../../../app/mixins.css';

.transactions {
  background: var(--color-white);
  border: 1px solid var(--color-platinum);
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 40px;
  min-height: 371px;
  padding: 0;
}

.container {
  align-items: center;
  border-radius: var(--border-radius-box) var(--border-radius-box) 0 0;
  display: flex;
  background: var(--color-white-smoke);
  justify-content: space-between;
  border-bottom: 1px solid var(--color-platinum);
  padding-left: 20px;

  & .items {
    padding: 0px 10px;
  }
}

.topHeader {
  display: flex;
}

.txDetails {
  word-break: break-word;

  &.delegateVote {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & > span {
      display: inline-block;
      margin-right: 5px;
    }
  }

  & .label {
    display: inline;
  }
}

.amountLabel {
  @mixin contentNormal bold;

  &.greyLabel {
    color: var(--color-content-light);
  }

  &.greenLabel {
    color: #00b262;
  }
}
