@import '../app/variables.css';

:root {
  --grid-padding-L: var(--box-padding-left-L);
  --header-line-height: 36px;
}

.header {
  line-height: var(--header-line-height);
  padding: 20px var(--grid-padding-L);

  & h2 {
    margin-bottom: 0;
    font-weight: 400;
    padding-bottom: 60px;

    &.desktopTitle {
      display: block;
    }

    &.mobileTitle {
      display: none;
    }
  }

  & h3 {
    display: inline-block;
    margin: 0;
  }
}

.search {
  position: relative;

  & input {
    height: 25px;
    border: none;
    outline: none;
    margin: 0;
    font-size: 15px;
    color: var(--color-grayscale-dark);
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
    vertical-align: middle;
    background-color: transparent;
    border-bottom: solid 1px transparent;
    transition: all ease 250ms;

    &:-moz-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--color-grayscale-medium);
      font-size: 15px;
    }

    &.desktopInput {
      display: inline-block;
    }

    &.mobileInput {
      display: none;
    }

    &.dirty {
      border-bottom-color: var(--color-grayscale-dark);

      & ~ .clean {
        visibility: visible;
      }
    }
  }

  & .clean,
  & .search {
    color: rgba(0, 0, 0, 0.38);
    position: absolute;
  }

  & .search {
    font-size: 20px;
    vertical-align: middle;
    top: 4px;
    left: 4px;
    color: var(--color-grayscale-dark);
  }

  & .clean {
    visibility: hidden;
    top: 6px;
    right: 0;
    font-size: 16px;
  }
}

.filters {
  font-weight: var(--font-weight-bold);
  color: var(--filter-list-color);
  line-height: var(--list-line-height);
  list-style: none;
  padding: 0;

  & .filter {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
    margin-right: 10px;

    &:not(:last-of-type) {
      margin-right: 24px;
    }
  }

  & .active {
    border-bottom: 2px solid var(--amount-negative-color);
    color: var(--amount-negative-color);
  }
}

@media (--medium-viewport) {
  .search input {
    &.desktopInput {
      display: none;
    }

    &.mobileInput {
      display: inline-block;
    }
  }
}
