@import '../app/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;

  & > div {
    padding-bottom: 70px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  max-width: 670px;
  height: auto;
}
