@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  background: var(--color-white-smoke);
  border-bottom: 1px solid var(--color-platinum);
  box-sizing: border-box;
  height: var(--header-height);
  padding: 0 24px;
  position: absolute;
  top: 0;
  width: 100%;

  &:global(.dark) {
    background: var(--color-maastricht-blue);
    border-bottom: 1px solid var(--light-border-color);
  }
}

.headerContent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1226px;
  width: 100%;

  & .logo {
    & > img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  & .buttonsHolder {
    display: flex;
    justify-content: space-between;

    & > * {
      margin-left: 24px;
    }
  }
}

.settingButton > button {
  @mixin contentSmall bold;

  height: var(--header-elements-height);
  min-height: var(--header-elements-height);
  padding: 0 20px;
  width: auto;
}

.dropdownHandler {
  @mixin contentSmall bold;

  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-standard);
  box-sizing: border-box;
  color: var(--color-maastricht-blue);
  cursor: pointer;
  display: flex;
  height: var(--header-elements-height);
  justify-content: space-between;
  min-height: var(--header-elements-height);
  min-width: 241px;
  padding: 0 20px;
  position: relative;
  width: auto;

  &::after {
    border: 3px solid transparent;
    border-bottom: 0;
    border-top-color: var(--color-slate-gray);
    content: '';
  }
}

.button {
  height: 32px;
  width: 100%;
}

.networkInput {
  height: 32px !important;
  margin: 10px 0;

  & input {
    height: 30px !important;
  }
}
