@import '../toolbox/buttons/css/base.css';
@import '../app/variables.css';
@import '../app/variablesV2.css';

.wrapper {
  align-items: center;
  background: var(--color-background-header);
  border-bottom: 1px solid var(--color-light-gray);
  box-shadow: var(----box-shadow-header);
  box-sizing: border-box;
  display: flex;
  height: var(--header-height-m);
  justify-content: space-between;
  padding: var(--header-padding);
  position: absolute;
  top: 0;
  width: 100%;
}

.logo {
  height: var(--header-logo-size);
  width: var(--header-logo-size);

  & > img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.settingButton > button {
  font-size: var(--button-font-size-s);
  height: var(--header-elements-height);
  letter-spacing: 0.5px;
  min-height: var(--header-elements-height);
  line-height: var(--header-elements-height);
  width: 144px;
}

@media (--small-viewport) {
  .wrapper {
    height: var(--header-height-s);
  }
}
