@import '../../../../app/mixins.css';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  & .fieldGroup {
    display: block;
    position: relative;

    & .avatar {
      left: 16px;
      position: absolute;
      top: 12px;
    }
  }

  & label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    & > .label {
      @mixin contentNormal bold;

      color: var(--color-maastricht-blue);
      display: block;
      margin-bottom: 12px;
    }

    & .input[name="address"] {
      padding-left: 48px;
    }
  }
}
