@import '../app/variablesV2.css';

.recipientField {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  & .input {
    @mixin contentLargest;

    width: 100%;
    height: 48px;
    padding-right: 30px;

    & ~ .bookmarkContainer {
      opacity: 0 !important;
      visibility: hidden !important;
    }

    &:focus ~ .bookmarkContainer {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

.moveTextToRight {
  padding-left: 50px;
}

.accountVisual {
  position: absolute;
  left: 16px;
}

.bookmarkContainer {
  @mixin contentLargest;

  position: absolute;
  top: 52px;
  width: 100%;
  display: flex;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-search);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
  max-height: 176px;
  overflow: hidden;
  transition: visibility var(--animation-speed-fast) linear, opacity var(--animation-speed-fast) linear;

  & > div:first-child {
    overflow: auto;
    max-height: 176px;
    width: calc(100% + 20px);
  }
}

.status {
  position: absolute;
  right: 10px;
}

.bookmarkList {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;

  & li {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    height: 44px;
    min-height: 44px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    & > span {
      margin-left: 10px;
      color: var(--color-maastricht-blue);
    }

    & > span:last-child {
      color: var(--color-blue-gray) !important;
    }

    &:hover,
    &.active {
      background-color: var(--primary-background-color);

      & > span {
        color: var(--color-ultramarine-blue);
      }
    }
  }
}

.feedbackMessage {
  margin-top: 5px;
}

.spinner {
  position: absolute;
  right: 11px;
}

.show {
  opacity: 1;
  transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
}

.hide {
  opacity: 0;
  transition: opacity var(--animation-speed-fast) linear;
}
