h2.address {{ address }}
md-card
  md-card-content
    md-list
      md-list-item
        span.md-title Peer
        div(flex)
        h4 {{ peer.uri }}
        md-divider
      md-list-item
        span.md-title Balance
        div(flex)
        h4 {{ balance | lsk }}
