md-card
  md-card-title
    md-card-title-text
      span.md-title Account {{ account.address }}
  md-card-content
    md-list
      md-list-item(ng-repeat='(a,b) in account')
        h4 {{ a }}
        p {{ b }}
        md-divider(ng-if="!$last")
