md-card
  md-card-content
    md-list
      md-list-item
        h3 Balance
        div(flex)
        balance(flex='none', address='address')
        md-divider
      md-list-item
        h3 USD equivalent
        div(flex)
        balance(flex='none', address='address', usd)
