@import './../app/variables.css';

.wrapper {
  margin: 8px -8px 16px;
}

.network {
  margin-right: 8px;
  margin-top: -3px;
}

.value-wrapper {
  position: relative;
  width: 100%;
  height: 70px;
  text-align: center;
  background: #eee;
  overflow: hidden;

  & :global .inner {
    font-size: 100%;
    color: #5f696e;
    display: inline-block;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    &.primary {
      font-weight: bold;
      padding: 9px;
    }

    &.secondary {
      font-size: 100%;
    }

    &.full {
      line-height: 51px;
      height: 70px;
    }

    &.tooltip {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      top: 100%;
      transition: all ease 200ms;
      font-size: 85% !important;
      z-index: 0;
    }

    &.hasTip:hover {
      color: #000;
    }

    &.hasTip:hover + .tooltip {
      top: 45px;
    }
  }

  & :global .status {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
}

.title {
  color: white;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testnetTitle,
.devnetTitle {
  color: var(--color-grayscale-medium);
}

.current {
  color: var(--color-grayscale-medium);
  margin-top: 8px;
  margin-left: 32px;
  display: inline-block;
}

.peer {
  font-size: 16px;
  display: inline-block;
  text-align: left;
  width: auto;
  height: 56px;
  margin-bottom: 20px;
}

@media (--medium-viewport) {
  .peer {
    display: none;
  }
}
