md-content(layout='row')
  md-card(flex=33)
    md-card-content.address
      h4 Your Address
      h3 {{ address }}
  md-card(flex=33)
    md-card-content.amount
      h4 Balance
      h3.lsk(data='balance')
  md-card(flex=33)
    md-card-content.peer
      h4 Peer
      h3 {{ peer.uri }}
