md-card
  md-card-content
    md-list
      md-list-item
        h4 Balance
        div(flex)
        data(flex='none', type='balance', data='address', time=10)
        md-divider
      md-list-item
        h4 Unconfirmed Balance
        div(flex)
        data(flex='none', type='unconfirmedBalance', data='address', time=10)
