h2.address Your Address: {{ address }}
md-card
  md-card-content
    md-content(layout='row')
      h3 Peer
      div(flex)
      h3(flex='none') {{ peer.url }}
md-card
  md-card-content
    md-content(layout='row')
      h3 Balance
      div(flex)
      h3(flex='none') {{ balance | lsk }}
