@import '../../../../../../setup/react/app/mixins.css';

.container {
  & .dialogLink {
    cursor: pointer;
  }

  & > div:first-child {
    padding: 0px 20px;
  }

  &:hover .pinWrapper {
    display: block;
  }
}

.container::before,
.skeletonLoader::before {
  content: '';
  width: calc(100% - 40px);
  margin-left: 20px;
  position: relative;
  display: block;
  border-top: 1px var(--color-platinum) solid;
}

.content {
  padding: 0 !important;
}

.chainId {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > span {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 4px;
  }
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--color-ink-blue);
  font-size: 14px;
  font-weight: 600;
  padding-right: 23px;

  & > .fee {
    font-family: var(--content-font);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--color-blue-gray);
  }
}

.statusChip {
  font-size: 14px !important;
  padding: 10px 16px;
  border-radius: 40px;
}

.activated {
  background-color: #00d5631a;
  color: var(--color-jade-green);
}

.registered {
  background-color: #4070f41a;
  color: var(--color-ultramarine-blue);
}

.terminated {
  background-color: var(--color-maastricht-blue);
  color: var(--color-ghost-white);
}

.chainName {
  font-size: 15px;
  margin-left: 15px;
  padding-left: 20px;

  & img,
  & .chainInitials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  & .chainInitials {
    background-color: var(--color-periwinkle-blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pinWrapper {
  max-width: fit-content;
  position: absolute;
  left: 11px;
  display: none;

  &.show {
    display: block !important;
  }

  & img {
    width: 20px;
  }

  & button {
    min-width: fit-content;
    height: fit-content !important;
    padding: 0px !important;
  }
}
