@import '../../../../../setup/react/app/mixins.css';

:root {
  --item-size: 50px;
}

.wrapper {
  position: fixed;
  width: auto;
  height: 100%;
  background-color: var(--color-side-bar);
  z-index: var(--normal-index);
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  width: auto;
  height: 100%;
  padding: var(--header-height) 0 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.menuGroup {
  width: calc(var(--item-size) + 10px);
  transition: width ease 200ms;
  transform: translateZ(0);
  backface-visibility: hidden;

  &::before {
    content: '';
    display: block;
    width: calc(100% - 20px);
    background-color: var(--color-title-header-box);
    height: 1px;
    margin: 10px;
  }

  &:first-child,
  &:last-child {
    &::before {
      display: none;
    }
  }

  &:last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &:empty {
    display: none;
  }
}

:global(.expanded) {
  & .menuGroup {
    width: var(--side-bar-expanded-size);
  }
}

.item {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--item-size);
  width: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  padding: 0 5px;

  & .holder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  & .label {
    @mixin contentLargest normal;

    color: #c5cfe4;
    line-height: var(--item-size);
    padding-left: 5px;
  }

  & .iconWrapper {
    width: var(--item-size);
    height: var(--item-size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;

  & .label,
  & img {
    opacity: 0.5;
  }
}

.selected {
  background: var(--color-strong-ink-blue);

  & img {
    filter: brightness(100);
  }

  & .label {
    color: var(--color-strong-white);
  }
}

.signOutContainer {
  width: 0;
  height: 0;
}
