@import '../app/variables.css';

.registerDelegate {
  background: var(--color-white);
  width: 100%;
  margin: 0;
  padding: 48px 0;
}

.background {
  display: block !important;
  position: fixed !important;
  left: 0;
  top: 0;
}

.multiStep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(75vh - (48px * 2)); /* stylelint-disable-line */
  width: 100%;

  & > nav > section {
    width: 300px;
  }

  & div[class*='multiStep__navEl'] {
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
  }
}
