@import '../../../app/mixins.css';

/* send */
.information {
  margin: 0;
  margin-left: 15px;
}

.secondText {
  @mixin contentLargest;

  color: var(--color-blue-gray);
  margin-left: 10px;
}

/* register delegate */
.userInformation {
  width: 100%;
  height: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  & .username {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
    margin: 0 0 0 15px;
  }

  & .address {
    @mixin contentLargest;

    color: var(--color-blue-gray);
    margin: 0 0 0 10px;
  }
}

/* vote */

.infoContainer {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid var(--color-platinum);

  & .infoColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 10px;
  }
}

.contentHeading {
  @mixin contentLarge semi-bold;

  color: var(--color-maastricht-blue);
}

.infoTitle {
  @mixin contentNormal bold;

  margin-bottom: 10px;
  color: var(--color-maastricht-blue);
}

.infoValue {
  @mixin contentNormal;

  font-size: 16px;
  color: var(--color-maastricht-blue);
}

.voteItems {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.voteItem {
  @mixin contentSmall;

  background-color: var(--color-silver);
  padding: 8px;
  border-radius: 3px;
  margin: 10px 10px 0 0;
  white-space: nowrap;
}

/* Unlock */
.sender {
  & .address {
    padding-left: var(--horizontal-padding-xs);
  }
}

.msignRow {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;

  & > .col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 100%;

    & > label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    & > label:first-child {
      font-family: var(--content-font);
      font-size: 13px;
      font-weight: var(--font-weight-bold);
      letter-spacing: 0.2px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
}

.membersContainer {
  overflow-y: scroll;
  max-height: 200px;
  width: 100%;
}

.memberInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 22px;

  & > .memberDetails {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    & > .memberTitle {
      @mixin headingSmall;

      margin-top: 0;
      margin-bottom: 10px;
      color: var(--color-maastricht-blue);
      font-family: var(--content-font);

      & > span {
        @mixin contentNormal;

        margin-left: 10px;
        color: var(--color-maastricht-blue);
      }
    }

    & > .memberKey {
      @mixin contentNormal;

      margin: 0;
      color: var(--color-slate-gray);
    }
  }
}
