.buttonWrapper {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.image {
  display: flex;
  justify-content: center;
}

.button {
  height: 60px;
  width: 230px;
  margin: 0 15px;
}
