@import '../../../app/variables.css';
@import '../../../app/mixins.css';

.row {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0.5em; /* stylelint-disable-line */
  position: relative;

  &:not(.header) {
    &::before,
    &:not(:last-child)::after {
      background-color: var(--color-platinum);
      content: '';
      height: 1px;
      left: 20px;
      position: absolute;
      right: 20px;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      display: none;
      left: 0;
      right: 0;
      top: -1px;
    }

    &:hover {
      background-color: var(--primary-background-color);

      &::before {
        display: block;
      }

      &::after {
        display: block;
        left: 0;
        right: 0;
      }
    }
  }

  & > * {
    @mixin contentNormal;

    align-items: center;
    box-sizing: border-box;
    color: var(--color-maastricht-blue);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    text-align: left;

    &:last-child {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.header {
  background-color: var(--color-white);

  & > * {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    padding: 16px 20px;
  }
}

.sortable,
.sortAsc,
.sortDesc {
  cursor: pointer;

  &::after {
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    margin-left: 5px;
    border: 4px solid transparent;
    border-top-color: var(--color-content-light);
    transition: all var(--animation-speed-fastest) linear;
    transform-origin: 5px 2px;
  }
}

.sortAsc::after {
  transform: rotate(180deg);
}
