@import '../../../setup/react/app/mixins.css';

.wrapper {
  display: flex;
}

.options {
  align-self: flex-start;
  display: flex;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0;

  & > li {
    @mixin contentLargest semi-bold;

    align-items: left;
    box-sizing: border-box;
    color: var(--color-blue-gray);
    cursor: pointer;
    display: block;
    list-style: none;
    padding: 10px 33px 10px 0;
    text-align: center;
    position: relative;
    transition: color var(--animation-speed-fast) linear;

    &::after {
      content: '';
      display: block;
      width: 0px;
      height: 2px;
      background-color: var(--color-dark-blue);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all var(--animation-speed-fast) linear;
    }
  }

  & > .active {
    color: var(--color-dark-blue);

    &::after {
      width: 30px;
    }
  }
}
