div.dialog-delegate-registration(aria-label='Vote for delegates')
  form(name='delegateRegistrationForm', ng-submit='form.onSubmit(delegateRegistrationForm)')
    md-toolbar
      .md-toolbar-tools
        h2 Register as delegate
        span(flex='')
        md-button.md-icon-button(ng-click='cancel(delegateRegistrationForm)', aria-label='Close dialog')
          i.material-icons close
    md-dialog-content
      .md-dialog-content
        div
          md-input-container.md-block
            label Delegate name
            input.username(type='text', name='delegateName', ng-model='form.name', required, ng-disabled='loading', md-autofocus)
            div(ng-messages='delegateRegistrationForm.name.$error')
              div(ng-message='required') Required
            md-input-container.md-block(ng-if='!account.get().secondSignature')
              div.fee Fee: {{form.fee}} LSK
          md-input-container.md-block(ng-if='account.get().secondSignature')
            label Second Passphrase
            input(type='password', ng-model='form.secondPassphrase', required)
            md-input-container.md-block
              div.fee Fee: {{form.fee}} LSK
          md-divider
          div(layout='row')
            p.info-icon-wrapper
              i.material-icons info
            p
              span Becoming a delegate requires registration. You may choose your own delegate name, which can be used to promote your delegate. Only the top 101 delegates are eligible to forge. All fees are shared equally between the top 101 delegates.
          md-divider
            p.error(ng-bind='form.error', ng-if='form.error')
      md-dialog-actions(layout='row')
        md-button.md-secondary(ng-disabled='loading', ng-click='cancel(delegateRegistrationForm)') {{ 'Cancel' }}
        span(flex)
        md-button.md-raised.md-primary.register-button(ng-disabled='!delegateRegistrationForm.$valid || loading', type='submit') {{ loading ? 'Registering...' : 'Register' }}
