@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
