@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  & .content {
    width: 100%;
  }

  & .header {
    border-bottom: solid 1px var(--color-very-light-gray);
    padding: 15px 20px 11px 15px;
  }

  & .fullWidth {
    width: 100%;
  }

  & .box {
    & header {
      padding-right: var(--horizontal-padding-l);
      padding-left: var(--horizontal-padding-l);
    }

    & > div {
      padding-top: 0;
    }
  }

  & .fieldGroup {
    display: block;
    position: relative;

    & .avatar {
      left: 16px;
      position: absolute;
      top: 12px;
    }
  }

  & label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    & > .label {
      @mixin contentNormal bold;

      color: var(--color-maastricht-blue);
      display: block;
      margin-bottom: 12px;
    }

    & .input[name="address"] {
      padding-left: 48px;
    }
  }
}

.removeBtn {
  display: flex;
  align-items: center;

  & > img {
    margin-right: 6px;
    margin-bottom: 4px;
  }
}
