@import '../app/variablesV2.css';

.headerWrapper {
  display: flex;
  padding: 0 32px 20px;
}

.feedbackWrapper {
  padding: 0 32px 160px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  min-height: 670px;
  overflow: hidden;
  height: 723px;

  & .extentionsWrapper {
    padding: 0 32px;
    height: 250px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0 32px;

  & button {
    margin: 10px;
  }
}

.link {
  color: var(--color-link);
  cursor: pointer;
  display: inline-block;
  font-family: var(--heading-font);
  font-size: var(--paragraph-font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1.47;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.label {
  color: var(--color-content-light);
  font-family: var(--content-font);
  font-size: var(--paragraph-font-size-l);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.47;
  margin-bottom: 8px;
}
