@import '../../../../app/mixins.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  width: 100%;
}

.votesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  & .voteTag {
    @mixin contentSmall bold;

    align-items: center;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-standard);
    box-sizing: border-box;
    color: var(--color-maastricht-blue);
    display: flex;
    height: 32px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 7px 10px;
    text-decoration: none;
  }

  & .rank {
    @mixin contentSmall semi-bold;

    align-items: center;
    background-color: var(--color-slate-gray);
    border-radius: var(--border-radius-standard);
    color: var(--color-strong-white);
    display: flex;
    height: 18px;
    margin-right: 10px;
    padding: 0 5px;
    text-align: center;
  }
}
