@import './../../../app/mixins.css';

:root {
  --login-title-font-size: 24px;
}

.login {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;

  & form {
    width: 100%;
  }

  & .button,
  & .hwLink {
    @mixin contentLargest bold;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .hwWalletIcon {
      margin-right: 15px;
    }
  }

  & .hwLink {
    margin-top: 24px;
  }

  & .backButton {
    @mixin contentLargest bold;
  }
}

.titleHolder {
  text-align: center;

  & > .stepsLabel {
    @mixin contentSmallest;

    color: var(--color-slate-gray);
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 0 0 10px;
  }

  & > p {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin: 0;
    letter-spacing: 1px;

    & > a {
      margin: 0;
    }
  }
}

.buttonsHolder {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 430px;
  width: 100%;

  & a {
    width: 100%;
  }
}

.inputsHolder {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 30px auto 40px;
  max-width: 665px;
  width: 100%;

  & .customNode {
    max-height: 0;
    overflow: hidden;
    transform: scale(0);
    transform-origin: top center;
    transition:
      max-height var(--animation-speed-fast) linear,
      transform var(--animation-speed-fast) linear;
    width: 100%;

    &.showInput {
      max-height: 150px;
      overflow: initial;
      transform: scale(1);
    }
  }

  & .inputLabel {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
  }

  & .inputText {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin: 8px 0 16px;
  }

  & .addressInput {
    margin-bottom: 20px;
    width: 100%;

    & input {
      @mixin contentLargest;

      margin: 10px 0;
      padding: 15px 20px;
    }
  }
}

.link {
  @mixin contentLarge bold;

  color: var(--color-link);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.discreetMode {
  margin-top: 16px;
}

.exploreAsGuest {
  @mixin contentLargest;

  position: absolute;
  bottom: 0;
  color: var(--color-slate-gray);
  margin: 0 0 32px;
  letter-spacing: 0px;

  & > a {
    margin: 0 0 0 5px;
  }
}
