.RequestSignMessageConfirmation {
  text-align: center;
  color: var(--color-maastricht-blue);

  .description {
    margin: 18px 0 0 0;
  }

  & .content {
    display: flex;
    flex-direction: column;
    text-align: left;

    & .copyToClipboardProp {
      font-size: 15px;
    }

    & .label {
      font-family: var(--content-font);
      font-size: 13px;
      font-weight: var(--font-weight-bold);
      letter-spacing: 0.2px;
      margin: 18px 0 10px 0;
    }

    & .messageBox {
      border-radius: 10px;
      background: #08223c;
      color: #9bf436;
      word-wrap: break-word;
      padding: 12px;
    }

    & .btnContinue {
      margin-top: 18px;
      align-self: center;
    }
  }
}
