.wrapper {
  min-height: 400px;
  flex: 1;
  width: 100% !important;

  & .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    & h5 {
      font-weight: var(--font-weight-bold);
      color: var(--color-maastricht-blue);
    }

    & img {
      width: 210px;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  & > div > div {
    width: 100% !important;
    max-width: unset;

    & > h1 {
      font-size: var(--font-size-h3);
    }

    & > p:first-of-type {
      font-size: var(--font-size-h6);
      padding: 0px 47px;
      color: var(--color-slate-gray);
    }

    & input {
      border-radius: var(--vertical-padding-xs);
    }
  }

  & > div {
    max-width: unset !important;
  }
}

.backButton {
  position: absolute;
  top: 10px;
  left: -8px;
  z-index: 1;
  margin-top: 18px;
}
