@import '../../../app/mixins.css';

.wrapper {
  flex-shrink: 0;
  width: 100%;
  margin: 0px;
  overflow: hidden;

  & .main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    & > .subContainer {
      width: 100%;
      max-width: var(--footer-button-width);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
    }

    & > .community {
      width: 100%;
      box-sizing: border-box;
      margin: 0 12px;
      flex-grow: 1;
    }

    & > .bookmarks {
      width: 100%;
      max-width: 321px;
      box-sizing: border-box;
    }
  }
}

.marginFix {
  margin-bottom: 12px;
}

.bannerWrapper {
  margin: 0px;
  padding-bottom: 20px;
  width: 100%;

  & footer {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.initLink {
  margin-left: 25px;
  color: var(--color-link-active);
  font-size: var(--paragraph-font-size-l);
  text-decoration: none;
}

@media (--medium-viewport) {
  .wrapper {
    & > .main {
      & .subContainer > .bookmarks {
        width: 100%;
      }
    }
  }
}
