@import '../app/variablesV2.css';

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input {
  height: 30px;
  font-size: var(--font-size-small-secondary);
}

/**
* Search Message, could be because and error or no data found
*/
.wrapper > .searchMessage {
  width: 100%;
  max-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  & .errorMessage {
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    margin: 25px 0 3px;
    color: var(--color-text-slate-gray);
  }
}

.wrapper > .searchMessageError {
  max-height: 40px;
  visibility: visible;
  opacity: 1;
}

/**
* Loading bar style
*/
.linear {
  background: transparent;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}
