@import '../app/variablesV2.css';

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input {
  height: 30px;
  font-size: var(--font-size-small-secondary);
}

/**
* Search Message, could be because and error or no data found
*/
.wrapper > .searchMessage {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: height 1s, opacity 1s ease-in-out;

  & .errorMessage {
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    margin: 25px 0 3px;
  }
}

.wrapper > .searchMessageError {
  height: auto;
  visibility: visible;
  opacity: 1;
}
