@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & > .searchMessage {
    width: 100%;
    max-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;

    & .errorMessage {
      @mixin contentSmall;

      margin: 25px 0 3px;
      color: var(--color-slate-gray);
    }
  }

  & > .searchMessageError {
    max-height: 40px;
    visibility: visible;
    opacity: 1;
  }
}

.linear {
  background: transparent;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}
