@import '../../../../../../setup/react/app/mixins.css';

.content {
  width: 100%;
  padding: 0px !important;
}

.boxHeader {
  --content-font: 'gilroy';

  font-size: 20px;
  font-weight: 600;
  padding-bottom: 22px !important;
  color: var(--color-maastricht-blue);
  font-family: var(--content-font);

  & .filterHolder {
    max-width: 302px;
  }
}

.searchInputWrapper {
  max-width: 300px;
  position: absolute;
  right: 0;
  top: -55px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: -8px;
}

.chainSearch {
  border-radius: 40px;
}

.tableHeader {
  padding: 0px 20px;
  padding-left: 50px;
}
