@import '../app/variables.css';

.wrapper {
  padding: 0px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-y: hidden;
  box-sizing: border-box;
}

.button {
  min-width: 0;
  width: 100%;
}

.headerWrapper {
  padding: 20px 0px;

  & h2 {
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
    font-size: 2em;
  }
}

.wrapper {
  width: 100%;
}

.header {
  padding-bottom: 60px;
}

.input {
  padding: 5px !important;
}
