@import '../app/variables.css';

.wrapper {
  padding: 0px 30px 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  overflow-y: hidden;
  box-sizing: border-box;
  height: 100%;

  & footer {
    width: 100%;
  }
}

.button {
  min-width: 0;
  width: 100%;
}

.headerWrapper {
  padding: 20px 0px 0;

  & h2 {
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 0;
  }
}

.input {
  padding: 5px !important;
}

@media (--small-viewport) {
  .wrapper {
    padding: 0px 30px 80px;
    max-height: 100%;
    overflow: auto;
  }
}
