/*****************************************

Please Read the guide line
before adding any rules here

# No component specific rule
This file is intended to solely include
global/common rules, every rule added here
must be used at least in 2 different
components.

# Usecases
Rules defined here must be related
to positioning and visibility or the overal
behaviour of the application e.g. scrolling
or text selection color.

# Avoid !important
Please avoid using !important since it will
result in many compulsory !important usages
all over the application

# Use with :global
As name of the file suggests, The rules
defined here must initiate with :global in
order to be available application wide

****************************************/

:global .hidden {
  position: absolute;
  visibility: hidden;
}

:global .boxPadding {
  padding: 0px 30px;
}

html[data-useragent*='Windows'],
html[data-useragent*='Linux'] {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(200, 200, 200, 0.4);
    cursor: pointer;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    width: 12px;
    background-color: rgba(200, 200, 200, 1);
  }
}

@media (--medium-viewport) {
  :global .hidden-m {
    position: absolute;
    visibility: hidden;
  }
}

@media (--small-viewport) {
  :global .boxPadding {
    padding: 0px 20px;
  }
}
