doctype html
html
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Lisk Nano
    style(type='text/css').
      body {
        background-color: #eee !important;
      }
  body
    main
