
@import './assets/fonts/roboto/style.less';
@import './assets/fonts/roboto-mono/style.less';
@import './assets/fonts/material-design-icons/style.less';

body {
  min-width: 320px;
}

md-card {
  margin-bottom: 20px;
}
login,  login md-card {
  display: block;
  height: auto;
}