@import '../../../../../app/mixins.css';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  & .btn {
    width: var(--footer-button-width);
  }

  & .bookmarkBtn {
    position: relative;
    margin-top: 20px;
  }

  & .bookmarkDropdown {
    left: calc(50% - 184px);
    top: calc(100% + 10px);
    width: 368px;
    padding: 0;
  }

  & .bookmarkButton {
    display: flex;

    &::after {
      border: 4px solid transparent;
      border-top-color: currentColor;
      content: '';
      margin-left: 8px;
      margin-top: 4px;
    }
  }

  & :global(.dropdown-arrow) {
    right: calc(50% - 18px);
  }
}
