@import '../../../../../setup/react/app/mixins.css';

:root {
  --horizontal-margin: calc(var(--side-bar-shrunk-size) * 2);
}

.wrapper {
  max-width: 750px;
  width: calc(100% - var(--horizontal-margin));
  padding: 0 var(--horizontal-padding-l);
}

.header {
  text-align: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
    color: var(--color-maastricht-blue);
  }
}

.fieldGroup {
  display: block;
  margin: 30px 0 40px;

  & > span {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: block;
    margin-bottom: 12px;
    text-align: left;
  }

  & .textarea {
    resize: none;
    line-height: 28px;
  }
}

.noPadding {
  padding: 0 !important;
}

.result {
  background: #08223c !important;
  color: #9bf436 !important;
  margin-bottom: 30px;
}

.button {
  min-width: 185px !important;
}

.pendingWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center !important;
  align-items: center !important;
  flex-grow: 1;

  & h5 {
    font-weight: var(--font-weight-bold);
    color: var(--color-maastricht-blue);
  }

  & img {
    width: 210px;
  }
}

.statusWrapper {
  flex-wrap: nowrap;
  align-items: center !important;

  & img {
    width: 210px;
  }

  & h5 {
    font-weight: var(--font-weight-bold);
    color: var(--color-maastricht-blue);
    margin-bottom: 0;
  }
}
