@import '../../../../../setup/react/app/mixins.css';

.optionsHolder {
  justify-content: center;
  margin: 0 4px 32px 4px;

  & .option {
    display: flex;
    justify-content: space-between;
    margin-top: 1em; /* stylelint-disable-line unit-whitelist */

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 48px;
    }
  }
}

.optionContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  & > h2 {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
    display: flex;
    margin: 0;
  }

  & > .downloadLisk {
    display: flex;

    & > p {
      @mixin contentLarge bold;

      color: var(--color-dark-blue);
      margin: 20px;
      text-align: left;
      word-spacing: 8px;
    }
  }

  & .downloadBtn {
    padding-right: 15px;
    padding-left: 15px;
  }

  &.jsonWrapper {
    & .infoFooterText {
      margin-bottom: 16px;
    }

    & div {
      @mixin contentNormal;

      font-size: 14px;

      & > span:first-child {
        padding: 8px 12px;
        margin-right: 8px;
        border: 1px solid var(--color-slate-gray);
        border-radius: 100px;
        color: var(--color-zodiac-blue);

        & img {
          margin-right: 8px;
        }
      }

      & span:last-child {
        color: var(--color-ultramarine-blue);
        font-weight: 500;

        & > span {
          margin-right: 8px;
        }

        & img {
          vertical-align: middle;
        }
      }
    }
  }
}

.tipContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em; /* stylelint-disable-line unit-whitelist */

  & p {
    margin: 0 0;
    font-size: var(--font-size-small-secondary);
    font-weight: var(--font-weight-semi-bold);
    margin-left: 5px;
    color: var(--color-maastricht-blue);
  }
}

.hidden {
  display: none;
}

.copyIcon {
  filter: none;
  margin-left: 7px;

  &:hover {
    filter: none;
  }
}

.infoText {
  @mixin contentLargest;

  margin: 15px 0;
  color: var(--color-slate-gray);
}

.infoFooterText {
  @mixin contentLargest;

  margin: 15px 0 0;
  color: var(--color-slate-gray);
}

.copyPassphrase {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0 !important;

  & > * {
    display: flex;
    justify-content: end;
  }
}

@media (--medium-viewport) {
  .optionContent {
    & > p {
      word-spacing: 2px;
    }
  }
}
