@import '../../../../../setup/react/app/mixins.css';

.optionsHolder {
  justify-content: center;
  margin: 0 4px 32px 4px;

  & .option {
    display: flex;
    justify-content: space-between;
    margin-top: 1em; /* stylelint-disable-line unit-whitelist */
  }
}

.optionContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  & > h2 {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
    display: flex;
    margin: 0;
  }

  & > .downloadLisk {
    display: flex;

    & > p {
      @mixin contentLarge bold;

      color: var(--color-dark-blue);
      margin: 20px;
      text-align: left;
      word-spacing: 8px;
    }
  }

  & .downloadBtn {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.tipContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em; /* stylelint-disable-line unit-whitelist */

  & p {
    margin: 0 0;
    font-size: var(--font-size-small-secondary);
    font-weight: var(--font-weight-semi-bold);
    margin-left: 5px;
    color: var(--color-maastricht-blue);
  }
}

.hidden {
  display: none;
}

.copyIcon {
  filter: none;
  margin-left: 7px;

  &:hover {
    filter: none;
  }
}

.infoText {
  @mixin contentLargest;

  margin: 15px 0;
  color: var(--color-slate-gray);
}

.infoFooterText {
  @mixin contentLargest;

  margin: 15px 0 0;
  color: var(--color-slate-gray);
}

.copyPassphrase {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 0 !important;

  & > * {
    display: flex;
    justify-content: end;
  }
}

@media (--medium-viewport) {
  .optionContent {
    & > p {
      word-spacing: 2px;
    }
  }
}
