@import './../app/variablesV2.css';
@import './../app/mixins.css';

.inputs {
  flex-wrap: wrap;

  & > span {
    margin: 0 0 12px 0;

    & input {
      text-align: center;
    }
  }
}

.footerContent {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 100%;
}

.errorMessage {
  width: auto;
}

.showPassphrase {
  @mixin contentNormal;

  display: flex;
  align-items: center;

  & > input {
    display: none;
  }

  & .label {
    color: var(--color-slate-gray);
    margin-left: 8px;
  }

  & > img {
    width: 19px;
    height: 17px;
  }
}
