@import './../app/variablesV2.css';

.inputs {
  flex-wrap: wrap;

  & > span {
    margin: 10px 0;

    & input {
      text-align: center;
    }
  }
}

.footerContent {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 100%;
}

.errorMessage {
  width: auto;
}

.showPassphrase {
  display: flex;

  & > input {
    display: none;

    &:checked + .fakeCheckbox {
      background-color: var(--color-ultramarine-blue);
      border-color: var(--color-ultramarine-blue);
    }
  }

  & .fakeCheckbox {
    align-items: center;
    background-color: var(--color-white);
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-standard);
    box-sizing: border-box;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    height: 16px;
    transition:
      background var(--animation-speed-fast) linear,
      border var(--animation-speed-fast) linear,
      color var(--animation-speed-fast) linear;
    width: 16px;

    & > .icon {
      font-size: 12px;
    }
  }

  & .label {
    @mixin contentNormal;

    color: var(--color-slate-gray);
    margin-left: 8px;
  }
}
