@import './base.css';

.button {
  @mixin buttonBasics;

  background-color: transparent;
  border: solid 1px #dfe6f2;
  opacity: 1;
  transition: opacity 200ms linear;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}
