.footer {
  display: flex;

  & button {
    display: block;
  }

  &.horizontal {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 18px;

    & button {
      width: auto;
      min-width: 160px;
      margin: 0 10px;
    }
  }

  &.vertical {
    flex-flow: column nowrap;
    margin: 0 auto 24px;
    width: var(--footer-button-width);

    & button {
      width: 100%;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}
