@import '../../../setup/react/app/mixins.css';

.infoText {
  @mixin contentLargest;

  letter-spacing: 0.21px;
  line-height: 23px;
  margin: 0 0 20px;
  text-align: left;
  color: var(--color-slate-gray);
}
