@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.input {
  @mixin contentLargest;

  background-color: var(--color-white);
  border: 1px solid var(--dark-border-color);
  border-radius: var(--border-radius-standard);
  box-sizing: border-box;
  color: var(--color-maastricht-blue);
  height: 46px;
  outline: none;
  padding: 8px 10px;
  text-align: left;
  transition:
    border var(--animation-speed-fast) linear,
    color var(--animation-speed-fast) linear;
  width: 100%;

  &.l {
    @mixin contentLargest;

    height: 48px;
    padding: 15px 20px;
  }

  &.m {
    @mixin contentLargest;

    height: 40px;
    padding: 11px 16px;
  }

  &.s {
    @mixin contentNormal;

    height: 36px;
    padding: 8px 10px;
  }

  &.xs {
    @mixin contentNormal;

    height: 32px;
    padding: 6px 10px;
  }

  &:focus {
    border-color: var(--color-primary-standard);
  }

  &:global(.error), /* TODO: Remove after all inputs use props */
  &.error {
    border-color: var(--color-burnt-sienna);
    color: var(--color-burnt-sienna);
  }

  &::placeholder {
    color: var(--color-blue-gray);
  }

  &:read-only {
    background-color: var(--color-white);
    border: 1px solid var(--dark-border-color) !important;
    color: var(--color-blue-gray);
    outline: none;
  }

  &.withIcon {
    padding-left: 36px;
  }
}

.icon {
  position: absolute;
  top: 32px;
  left: 31px;
}

.loading {
  color: var(--color-ultramarine-blue);
  position: absolute;
  top: 32px;
  right: 31px;
}

.autoresize {
  overflow: hidden;
}
