@import '../../../../../setup/react/app/mixins.css';

.input {
  display: none;
}

.fullWidth {
  width: 100%;
}

.fileInputLabel {
  @mixin contentNormal normal;

  color: var(--color-maastricht-blue);
}

.fileInputBtn {
  @mixin contentNormal semi-bold;

  cursor: pointer;
  color: var(--color-ultramarine-blue);
}

.textAreaContainer {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid var(--color-very-light-gray);
  border-radius: 3px;

  &.dark {
    border-color: var(--light-border-color);
    background-color: var(--color-maastricht-blue);
    color: var(--color-white);
  }

  & > textarea {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background:
      url(../../../../../setup/react/assets/images/icons/upload.svg)
      center no-repeat;
    resize: none;
    border: none;
    box-sizing: border-box;
    color: var(--color-maastricht-blue);
    background-color: var(--color-white);
    padding: var(--vertical-padding-l);
    line-height: 1.4em; /* stylelint-disable-line unit-whitelist */
  }

  & > span {
    z-index: 100;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80%;
  }

  &:focus-within {
    border: 1px solid var(--color-ultramarine-blue);
  }

  &.error {
    border: 1px solid var(--error-background-color);

    & > textarea {
      background: none;
    }
  }

  &.filled {
    & > textarea {
      background: none;
    }

    & > span {
      display: none;
    }
  }
}

.buttonHolder {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.confirmButton {
  width: 65%;
}

.titleHolder {
  max-height: fit-content;
  color: var(--color-content);
  font-family: var(--heading-font);
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--color-maastricht-blue);

    & > img {
      margin-right: 16px;
    }
  }

  & > p {
    @mixin contentLargest;

    margin: 0;
    color: var(--color-slate-gray);
    min-width: 450px;
  }
}
