@import '../../../app/mixins.css';

.header {
  @mixin contentLargest bold;

  color: var(--color-maastricht-blue);
  display: flex;
  margin: 0;
}

.subheader {
  @mixin contentLargest;

  text-align: left;
  margin: 15px 0;
  color: var(--color-slate-gray);
}

.passphraseContainer {
  width: 100%;
  background-color: var(--color-passphrase-bg);
  border: 1px solid var(--dark-border-color);
  flex-wrap: wrap;
  padding: 12px 16px;
  box-sizing: border-box;
  counter-reset: indicator;

  & .inputRow {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  & .inputContainer {
    margin: 6px 0;
    display: flex;
    justify-content: left;
  }

  & .inputValue {
    @mixin contentLargest;

    text-align: left;

    &::before {
      counter-increment: indicator;
      content: counter(indicator) ". ";
      color: var(--color-ghost);
    }
  }

  & .default {
    color: var(--color-maastricht-blue);
  }

  & .emptyWord,
  & .emptyWordFocused {
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
    bottom: 2px;

    &::before {
      font-weight: var(--font-weight-bold);
      position: relative;
      top: 2px;
    }
  }

  & .emptyWord {
    color: var(--color-ghost);

    &::before {
      color: var(--color-maastricht-blue);
    }
  }

  & .emptyWordFocused,
  & .emptyWordFocused::before {
    color: var(--color-ultramarine-blue);
  }

  & .selected,
  & .selected::before {
    cursor: pointer;
    color: var(--color-maastricht-blue);
    font-weight: var(--font-weight-bold);
  }

  & .error,
  & .error::before {
    color: var(--color-burnt-sienna);
    font-weight: var(--font-weight-bold);
  }

  & .correct,
  & .correct::before {
    color: var(--color-deep-green);
    font-weight: var(--font-weight-bold);
  }

  & .disabled {
    color: var(--color-ghost);
  }

  & .whitespace {
    position: absolute;
  }
}

.optionsContainer {
  display: flex;
  justify-content: left;

  & div {
    @mixin contentLarge bold;

    cursor: pointer;
    margin-top: 20px;
    padding: 8px 26px;
    background-color: var(--color-white);
    font-weight: var(--font-weight-bold);
    color: var(--color-shadow-word-option);
    margin-right: 20px;
    box-shadow: var(--box-shadow-word-option);
  }
}

.confirmPassphraseFooter {
  margin-top: 40px;
  align-self: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .confirmBtn {
    width: var(--footer-button-width);
  }

  & > .editBtn {
    margin-top: 5px;
    width: auto !important;
  }
}
