@import './../app/variables.css';

:root {
  --search-box-width-l: 589px; /* stylelint-disable-line */
  --search-box-width-xl: 558px;
  --search-box-font-size: 16px;
  --search-box-line-height: 56px;
  --sub-title-line-height: 26px;
  --search-box-selection-background: var(--color-primary-light);
}

.searchBar {
  width: var(--search-box-width-l);
  height: 36px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: var(--color-white);

  &:focus {
    border: 1.5px inset #4e80f7;
  }
}

@media (--xLarge-viewport) {
  .searchBar {
    width: var(--search-box-width-xl);
  }
}

@media (--large-viewport) {
  .searchBar {
    width: var(--search-box-width-l);
  }
}

@media (--medium-viewport) {
  .searchBar {
    display: none;
  }

  .searchBar.show {
    display: block;
    max-width: none;
    width: 100%;
  }
}
