@import './../app/variables.css';

:root {
  --search-box-width: 30vw; /* stylelint-disable-line */
  --search-box-font-size: 16px;
  --search-box-line-height: 56px;
  --sub-title-line-height: 26px;
  --search-box-selection-background: var(--color-primary-light);
}

.searchBar {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: var(--search-box-width);
  margin-right: 50px;
  max-width: 500px;

  & .icon {
    position: absolute;
    right: 0;
    top: 25%;
    color: var(--color-white);
    font-size: 28px;
    cursor: pointer;
  }

  & .subTitle {
    line-height: var(--sub-title-line-height);
    color: var(--color-grayscale-medium);
  }
}

@media (--medium-viewport) {
  .searchBar {
    display: none;

    & .icon {
      right: 20px;
    }

    & .input {
      border-radius: 0px;
    }
  }

  .searchBar.show {
    display: block;
    max-width: none;
    width: 100%;
  }
}
