.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.btnContainer {
  display: flex;
  margin-left: auto;
}

.button {
  height: auto !important;
  padding: 15px 20px !important;
  margin-left: 12px;
  border-radius: 5px;

  &.primary {
    background-color: var(--color-ink-blue);

    &:global(.dark) {
      color: var(--color-constant-zodiac-blue);
      background-color: var(--color-content-light);
    }
  }
}
