md-card
  md-card-title
    md-card-title-text
      span.md-title Sign In
  md-card-content(flex='100', flex-gt-sm='70', flex-offset-gt-sm='15')
    form(ng-submit='$ctrl.passConfirmSubmit()')
      md-input-container.md-block
        label.select Network
        md-select(ng-model='$ctrl.network', aria-label='Peer')
            md-option(ng-repeat='network in $ctrl.networks', ng-value='network') {{ network.name }}
      div(ng-if='$ctrl.network.custom')
        md-input-container.md-block
          label.pass Node address
          input(type="text", ng-model="$ctrl.network.address")
      md-input-container.md-block(md-is-error='$ctrl.valid === 0')
        label.pass Enter your passphrase
        input(type="{{ $ctrl.show_passphrase ? 'text' : 'password' }}", ng-model='$ctrl.input_passphrase', ng-disabled='$ctrl.generatingNewPassphrase', autofocus)
      md-input-container.md-block
        md-checkbox.md-primary(ng-model="$ctrl.show_passphrase", aria-label="Show passphrase") Show passphrase
      md-content(layout='row', layout-align='center center')
        // md-button(ng-disabled='$ctrl.generatingNewPassphrase', ng-click='$ctrl.devTestAccount()') Dev Test Account
        md-button.md-primary(ng-disabled='$ctrl.random || $ctrl.generatingNewPassphrase', ng-click='$ctrl.generatePassphrase()') NEW ACCOUNT
        md-button.md-raised.md-primary(md-autofocus, ng-disabled='$ctrl.valid != undefined && $ctrl.valid !== 1', type='submit') Login
    passphrase(ng-if='$ctrl.generatingNewPassphrase', data-on-login='$ctrl.onLogin', data-target='primary-pass')
