md-card
  md-card-title
    md-card-title-text
      span.md-title Sign In
  md-card-content
    form
      md-input-container.md-block(md-is-error='$ctrl.valid === 0')
        label Enter your passphrase
        input(ng-model='$ctrl.input_passphrase', ng-disabled='$ctrl.random')
    md-content(layout='row', layout-align='center center')
      // md-button(ng-disabled='$ctrl.random', ng-click='$ctrl.devTestAccount()') Dev Test Account
      md-button.md-primary(ng-disabled='$ctrl.random', ng-click='$ctrl.start()') NEW ACCOUNT
      md-button.md-raised.md-primary(md-autofocus, ng-disabled='$ctrl.valid !== 1', ng-click='$ctrl.go()') Login
    md-content(layout-padding, layout='column', layout-align='center center', ng-show='$ctrl.random')
      h4.move Move your mouse to generate random bytes
      md-progress-linear(md-mode='determinate', value='{{ $ctrl.progress }}')
      md-content.bytes
        span.byte(ng-repeat='byte in $ctrl.seed track by $index', ng-bind='byte', animate-on-change='byte')
