
.dialog-save {
  .passphrase {
    font-size: 150%;
    margin-bottom: 30px;
    border: 0;
  }

  .missing {
    padding: 0 5px 0;
    font-weight: bold;
    color: rgb(2,136,209);
  }
}

@media (min-width : 850px) {
  .dialog-save {
    .passphrase {
      width: 800px;
    }
  }
}
