
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  background: white;
  padding: 20px;
  font-weight: 400;
  font-family: 'basier-circle', sans-serif;
}

h1{
  font-weight: 500;
  font-size: 32px;
  font-family: gilroy,Open Sans,sans-serif;
}

h3 {
  font-weight: 500;
  font-family: gilroy,Open Sans,sans-serif;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #0C152E;
  font-size: 18px;
  line-height: 25px;
}

a {
  color: #4070F4;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.header {
  color: #0C152E;
  font-family: Gilroy;
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}

.description {
  color: #70778B;
  font-family: 'basier-circle', sans-serif;
  font-size: 15px;
  letter-spacing: 0.21px;
  line-height: 23px;
  text-align: center;
  margin-top: 0;
}

.app {
  background: #fff;
  margin: 20px 0;
  height: 270px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #E1E3EB;
  border-radius: 3px;
  background-color: #FFFFFF;
  padding: 24px;
  color: #0C152E;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.21px;
  line-height: 23px;
}

.app ul {
  padding-inline-start: 0px;
  list-style: none;

}

.app li {
  color: #70778B;
  font-size: 13px;
  padding: 2px 20px;
  position: relative;
  font-weight: 400;
}

.app li:after {
  content: '';
  height: .6em;
  width: .6em;
  background-color: #BEC1CD;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .6em;
  left: 0;
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  height: 48px;
  width: 148px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #4070F4;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out,color .25s ease-in-out!important;
}

.button:hover {
  background: #517df5;
  box-shadow: 3px 3px 10px 0 rgba(61,113,255,.36);
}

.button.isClose {
  color: #0C152E;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 3px;
  background-color: white;
}

.button.isClose:hover {
  color: #4070f4;
  box-shadow: none;
}

