.wrapper {
  background: var(--color-white);
  border-radius: 6px;
  position: absolute;
  top: 50px;
  right: 100px;
  max-width: 400px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;

  & > header {
    height: fit-content !important;
    padding: 16px 37px !important;
    padding-top: 0px !important;
  }

  & > header > h1 {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  & > header ~ div {
    padding: 0px !important;
    padding-right: 4px !important;
    border-radius: 0px !important;
  }
}

.applicationListContainer {
  --content-font: 'gilroy';

  max-height: 160px;
  overflow: auto;
}

.applicationListContainer::-webkit-scrollbar {
  width: 4px !important;
}

.applicationListContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-platinum);
}

.activeAppBg {
  --color-ultramarine-blue-blurred: #4070f41a;

  background-color: var(--color-ultramarine-blue-blurred) !important;
}

.addApplicationBtn {
  width: 100%;
  color: var(--color-ultramarine-blue);
  border-radius: 10px;
  margin-top: 16px;
  display: flex;
  opacity: 1;

  & > img {
    width: 16px;
    margin-right: 8px;
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.appItemWrapper {
  width: 100%;
  padding: 7px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-maastricht-blue);
  border-radius: 10px;
  box-sizing: border-box;
}

.appItemWrapper:hover {
  background-color: var(--color-athens-white);
}

.appItemWrapper:hover .pinWrapper {
  display: block;
}

.appItemWrapper:hover .deleteBtn {
  display: block;
  opacity: 1;
}

.deleteBtn {
  min-width: 30px;
  display: none;
  padding: 5px !important;
  width: fit-content;
  margin: 0px;
  height: fit-content !important;
  box-sizing: border-box;
  margin-right: -6px;
  transition: opacity linear 250ms;
}

.deleteBtn:hover {
  opacity: 0.8;
}

.leftWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 30px;
  box-sizing: border-box;
}

.rightWrapper {
  width: 30px;
  padding-right: 17px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chainLogo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.chainLogo ~ span {
  height: fit-content;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--content-font);
  padding-left: 8px;
  white-space: nowrap;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pinWrapper {
  max-width: fit-content;
  position: absolute;
  left: 5px;
  margin-top: 1px;
  display: none;

  &.show {
    display: flex !important;
  }

  & img {
    width: 20px;
  }

  & button {
    display: flex;
    min-width: fit-content;
    height: fit-content !important;
    padding: 0px !important;
  }
}
