.container {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  color: white;
  align-items: center;
  column-gap: 8px;
  text-decoration: none;
  opacity: 1;

  & > span {
    font-weight: 500;
    font-size: 14px;
  }

  & .chainLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--color-ultramarine-blue);

    & > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.wrapper:focus,
.wrapper:hover {
  text-decoration: none;
}

.wrapper:hover {
  opacity: 0.9;
  transition: all 300ms linear;
}
