@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 22px;
  white-space: nowrap;
  cursor: pointer;

  /* Message */
  & > .message {
    @mixin contentNormal semi-bold;

    color: var(--color-constant-white);
    margin-left: 8px;

    /* Network name */
    & > span {
      margin-right: 5px;
      font-weight: var(--font-weight-very-bold);
      text-transform: capitalize;
      display: inline-block;
    }

    & > * {
      vertical-align: middle;
    }

    & p {
      text-transform: lowercase;
    }
  }
}

.dropdown {
  width: 200px;
  margin-right: 20px;
}

.networkItem {
  text-transform: capitalize;
  outline: none;
  border: none;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-weight: var(--font-weight-very-bold);
}

.status {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.online {
  background-color: #25ca95;
}

.offline {
  background-color: red;
}

.tooltipContainer {
  transform: translateX(-24px) !important;
}
