.summaryContainer {
  & > header {
    padding-left: 20px !important;
    padding-right: var(--horizontal-padding-l) !important;
  }

  & > footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  & .confirmBtn,
  & .editBtn {
    width: 100%;
    max-width: 391px;
  }
}

.actionBtn {
  max-width: 360px;
}
