@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & .header {
    & h2 {
      font-size: var(--font-size-h5);
      font-weight: var(--font-weight-bold);
      color: var(--color-black);
      margin: 0;
    }
  }

  & .formSection {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px !important;
  }
}

.formSection {
  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
  }

  & .fieldLabel {
    @mixin contentNormal bold;

    align-items: center;
    color: var(--color-content-light);
    display: flex;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
  }

  & .amountHint {
    @mixin contentSmallest;

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-slate-gray);
    position: relative;
    top: 8px;
    width: 100%;

    & > img {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  & .input,
  & .textarea {
    @mixin contentLargest;

    height: 48px;
    padding: 14px;
  }

  & .textarea {
    resize: none;
    overflow: hidden;
    padding-right: 40px;
    padding-left: var(--horizontal-padding-l);

    &:focus ~ .byteCounter {
      opacity: 1;

      &.hide ~ .referenceStatus {
        opacity: 1;
      }
    }

    &:focus ~ .referenceStatus {
      opacity: 0;
    }
  }

  & .referenceStatus {
    bottom: var(--vertical-padding-l);
    position: absolute;
    right: var(--horizontal-padding-l);
  }

  & .referenceField {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  & .selector {
    margin: 13px 0;
  }

  & .processingInfo {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    display: flex;
    margin: 8px 0;

    & > span {
      color: var(--color-maastricht-blue);
      display: flex;
      margin-left: 5px;
    }
  }

  & .balance {
    display: flex;
    position: absolute;
    bottom: calc(50% - 26px);
    right: 50px;
    color: var(--color-content-light);

    & > span {
      font-weight: 500;
      color: var(--color-ultramarine-blue);
      display: flex;
    }
  }
}

.feedbackMessage {
  margin-top: 5px;
  max-height: 100% !important;
  min-height: 40px;
}

.byteCounter {
  bottom: 10px;
  opacity: 0;
  position: absolute;
  right: var(--horizontal-padding-l);
  transition: opacity var(--animation-speed-fast) linear;
}

.feedback {
  @mixin contentSmallest;

  box-sizing: border-box;
  color: var(--color-slate-gray);
  display: none;
  justify-content: flex-end;
  padding: 8px 0;
  width: 100%;

  &:global(.error) {
    color: var(--color-burnt-sienna);
  }

  &.show {
    display: flex;
  }

  &.referenceFeedback {
    @mixin contentSmallest;
  }
}

.tooltipText {
  @mixin contentLarge;
}

.show {
  opacity: 1;
  transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
}

.hide {
  opacity: 0 !important;
  transition: opacity var(--animation-speed-fast) linear;
}

.recipientWalletVisual {
  margin-left: -4px;
  margin-top: 4px;
}

.recipientFieldWrapper {
  margin-bottom: 3px !important;
}

.ApplilcationFieldWrapper {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  column-gap: 16px;
  margin-bottom: 16px;

  & > div:first-child {
    flex: 1;
    position: relative;
  }

  & > div:nth-child(2) {
    width: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
  }

  & > div:last-child {
    flex: 1;
    position: relative;
  }
}

.chainOptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.chainLogo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.chainLogo ~ span {
  height: fit-content;
  font-size: 16px;
  font-weight: 500;
  padding-left: 8px;
  white-space: nowrap;
  max-width: 228px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-maastricht-blue);
}
