@import '../../app/variablesV2.css';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  & > h1 {
    @mixin headingNormal bold;

    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & .row {
    width: 100%;
    height: 88px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid rgba(111, 114, 118, 0.1);
    box-sizing: border-box;

    & > label:first-child {
      @mixin contentNormal bold;

      color: var(--color-maastricht-blue);
      margin-bottom: 10px;
    }

    & .account {
      width: 100%;
      height: 27px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;

      & > label {
        margin-left: 15px;
      }
    }

    & .amount {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  & .passphrase {
    height: auto;
  }
}

.information {
  @mixin contentLargest;

  color: var(--color-content-light);
  margin: 0;
}

.secondText {
  @mixin contentLargest;

  color: var(--color-dark-gray);
  margin-left: 10px;
}

.amountSecondText {
  margin-left: 10px;
}

.transactionFee {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > span:last-child {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
  }
}

.tooltipText {
  @mixin contentLarge;
}

.footer {
  width: 100%;
  min-width: 572px;
  margin: 36px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  & > .confirmBtn {
    width: 431px;
  }

  & > .editBtn {
    width: 100px !important;
  }
}
