@import '../app/variables.css';

.reset {
  margin-right: 15px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  color: var(--color-primary-standard);
  display: inline;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
}

.default {
  color: var(--color-grayscale-medium);
}

.timeout {
  color: var(--color-error);
}

.timerRow {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Open Sans';
}

@media (--medium-viewport) {
  .default {
    color: var(--color-grayscale-medium);
  }
}
