md-content.header(layout='row', layout-align='center center', layout-padding)
  img.logo(src=require('../../assets/images/LISK-nano.png'))
  div(flex)
  md-button.md-raised.md-primary.send-button.offline-hide(data-show-send-modal, ng-if='$root.logged' ng-disabled='!$root.peers.online') Send
  md-button.md-raised.md-secondary.logout-button(ng-click='$root.logout()', ng-if='$root.logged') Logout
  md-menu.top-menu.offline-hide(ng-if='$root.logged', md-position-mode='target-right target', md-offset='14 0')
    md-button.md-icon-button(ng-click='$mdOpenMenu()')
      i.material-icons more_vert
    md-menu-content(width='2')
      md-menu-item(ng-if='$root.logged && !$ctrl.account.get().secondSignature')
        md-button.register-second-passphrase(data-set-second-pass)
          div(layout='row', flex='')
            p(flex='') Register second passphrase
      md-menu-item(ng-if='$root.logged && !$ctrl.account.get().isDelegate')
        md-button.register-as-delegate(data-delegate-registration)
          div(layout='row', flex='')
            p(flex='') Register as delegate 
      md-menu-item
        md-button.sign-message(ng-click='$ctrl.signVerify.openSignMessageDialog()')
          div(layout='row', flex='')
            p(flex='') Sign message
      md-menu-item
        md-button.verify-message(ng-click='$ctrl.signVerify.openVerifyMessageDialog()')
          div(layout='row', flex='')
            p(flex='') Verify message
