@import '../toolbox/buttons/css/base.css';
@import '../app/variables.css';

:root {
  --avatar-height: 69px;
  --menu-icon-height: 39px;
  --font-size-normal: 1.6em;
  --font-size-small: 1.3em;
}

.wrapper {
  padding: 8px;
  float: right;
  margin: 50px 0px;
}

.logoWrapper {
  width: 25%;
}

.logo {
  width: 100%;
  min-width: 108px;
  max-width: 200px;
  padding: 8px;
}

.button {
  padding: 8px;
  margin: 6px 8px;
  height: auto;
  float: right;
}

.iconButton {
  padding: 2px;
}

.primary {
  line-height: 40px;

  @mixin buttonBasics;
  @mixin buttonPrimary;
}

.secondaryBlue {
  line-height: 39px;

  @mixin buttonBasics;
  @mixin buttonSecondary--blue;
}

.material-icons {
  font-size: 24px !important;
}

.menu {
  right: -8px !important;
}

.menuItem {
  padding: 0;
}

.menuLink {
  text-decoration: none;
  text-align: left;
  width: 100%;
  height: 100%;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 16px;
  padding-right: 16px;
}

.account__wrapper {
  position: relative;
}

.account__avatar {
  display: inline-block;
  height: var(--avatar-height);
  width: var(--avatar-height);

  /* background will be replaced with avatar */
  background: linear-gradient(-44deg, #fff 1%, #93f4fe 98%);
  border-radius: 100%;
  margin-right: 10px;
}

.account__information {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  padding-right: 20px;
  height: var(--avatar-height);
}

.account__information__balance {
  font-size: var(--font-size-normal);
  color: var(--color-white);
}

.account__information__address {
  font-size: var(--font-size-normal);
  color: var(--color-grayscale-medium);
}

.account__information__timer {
  font-size: var(--font-size-small);
  color: var(--color-grayscale-medium);
}

.account__menuIcon {
  position: absolute;
  bottom: -10px;
  right: 0px;
  background: var(--color-white);
  border-radius: 100%;
  height: var(--menu-icon-height);
  width: var(--menu-icon-height);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.62);
}
