@import '../toolbox/buttons/css/base.css';
@import '../app/variables.css';

:root {
  --avatar-height: 69px;
  --avatar-height-m: 40px;
  --avatar-height-s: 33px;
  --menu-icon-height-XL: 39px;
  --menu-icon-height-M: 34px;
  --font-size-normal: 16px;
  --font-size-small: 13px;
}

.wrapper {
  margin: 5vh 0px;  /* stylelint-disable-line */
  text-align: right;

  & .noPadding {
    padding: 0px;
  }

  & .searchBar {
    display: inline-block;
    float: left;
  }
}

.logoWrapper {
  width: 25%;
}

.logo {
  display: none;
}

.logoutButton {
  padding: 8px;
  margin: 6px 8px;
  height: auto;
  float: right;
}

.lock {
  font-size: 19px;
  height: auto;
  vertical-align: top;
  line-height: 24px !important;
  margin-right: 5px;
}

.primary {
  line-height: 40px;

  @mixin buttonBasics;
  @mixin buttonPrimary;
}

.secondaryBlue {
  line-height: 39px;

  @mixin buttonBasics;
  @mixin buttonSecondary--blue;
}

.material-icons {
  font-size: 24px !important;
}

.actionButton {
  text-align: right;
  display: block;
}

.rightSide {
  display: inline-block;
  width: 32vw; /* stylelint-disable-line */
}

.account {
  position: relative;
  height: 80px;

  & .avatar {
    display: inline-block;
    vertical-align: middle;
    height: var(--avatar-height);
    width: var(--avatar-height);
    margin-right: 30px;
  }

  & .information {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    padding-right: 20px;
    height: var(--avatar-height);

    & .balance {
      font-size: var(--font-size-normal);
      color: var(--color-white);
    }

    & .address {
      font-size: var(--font-size-normal);
      color: var(--color-grayscale-medium);
    }

    & .timer {
      font-size: var(--font-size-small);
      color: var(--color-grayscale-medium);
    }
  }

  & .menu {
    & .item {
      padding: 0;
    }

    & .link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      line-height: 39px;
      color: rgba(0, 0, 0, 0.87);
      padding: 0;
      text-align: center;
    }

    & .iconCircle {
      position: absolute;
      bottom: -14px;
      right: -24px;
      background: var(--color-white);
      border-radius: 100%;
      height: var(--menu-icon-height-XL);
      width: var(--menu-icon-height-XL);
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.62);
      text-align: center;

      & .button {
        padding: 2px;
      }
    }
  }
}

@media (--medium-viewport) {
  .rightSide {
    width: 100%;
    float: none;
  }

  .wrapper {
    margin: 0px;
    box-shadow: 0 2px 4px 0 rgba(60, 80, 104, 0.14), 0 8px 10px 0 rgba(60, 80, 104, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    z-index: 20;
    height: auto;

    & .searchBar {
      width: 100%;
    }
  }

  .logo {
    display: inline-block;
    height: 42px;
    padding: 4px;
    margin-left: 26px;
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .logoutButton {
    display: none;
  }

  .account {
    margin-right: 26px;
    margin-top: 23px;
    height: 72px;

    & .avatar {
      height: var(--avatar-height-m);
      width: var(--avatar-height-m);
    }

    & .information {
      height: var(--avatar-height-m);

      & .balance {
        font-size: 20px;
        color: var(--color-black);
        font-family: var(--heading-font);

        & small {
          font-size: 12px;
        }
      }

      & .address {
        font-size: 12px;
        font-weight: 400;
      }

      & .timer {
        display: none;
      }
    }

    & .menu {
      & .iconCircle {
        bottom: 20px;
        right: -32px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 -2px 24px 0 rgba(0, 0, 0, 0.24);
        height: var(--menu-icon-height-M);
        width: var(--menu-icon-height-M);
      }
    }
  }

  .actionButton {
    /* temporarily and fixed in #263 */
    display: none;
  }
}

@media (--small-viewport) {
  .wrapper {
    height: auto;
  }

  .account {
    margin-left: 20px;
    margin-top: 10px;
    height: auto;

    & .avatar {
      margin-top: 4px;
      margin-right: 0;
      height: var(--avatar-height-s);
      width: var(--avatar-height-s);
    }

    & .information {
      margin-top: 0;
      height: var(--avatar-height-s);
      line-height: 20px;

      & .balance {
        font-size: 18px;
        font-weight: bold;

        & small {
          font-size: 10px;
        }
      }
    }

    & .menu {
      & .iconCircle {
        display: none;
      }
    }
  }

  .logo {
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
