@import '../toolbox/buttons/css/base.css';
@import '../app/variables.css';

:root {
  --avatar-height: 69px;
  --avatar-height-m: 40px;
  --avatar-height-s: 33px;
  --menu-icon-height: 39px;
  --font-size-normal: 16px;
  --font-size-small: 13px;
}

.wrapper {
  padding: 8px;
  float: right;
  margin: 50px 0px;
}

.logoWrapper {
  width: 25%;
}

.logo {
  display: none;
}

.logoutButton {
  padding: 8px;
  margin: 6px 8px;
  height: auto;
  float: right;
}

.lock {
  font-size: 19px;
  height: auto;
  vertical-align: top;
  line-height: 24px !important;
  margin-right: 5px;
}

.primary {
  line-height: 40px;

  @mixin buttonBasics;
  @mixin buttonPrimary;
}

.secondaryBlue {
  line-height: 39px;

  @mixin buttonBasics;
  @mixin buttonSecondary--blue;
}

.material-icons {
  font-size: 24px !important;
}

.account {
  position: relative;
  padding-left: 50px;

  & .avatar {
    display: inline-block;
    height: var(--avatar-height);
    width: var(--avatar-height);
    overflow: hidden;
    background: var(--color-white);
    border-radius: 100%;
    margin-right: 30px;
  }

  & .information {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    padding-right: 20px;
    height: var(--avatar-height);

    & .balance {
      font-size: var(--font-size-normal);
      color: var(--color-white);
    }

    & .address {
      font-size: var(--font-size-normal);
      color: var(--color-grayscale-medium);
    }

    & .timer {
      font-size: var(--font-size-small);
      color: var(--color-grayscale-medium);
    }
  }

  & .menu {
    & .item {
      padding: 0;
    }

    & .link {
      text-decoration: none;
      text-align: left;
      width: 100%;
      height: 100%;
      line-height: 48px;
      color: rgba(0, 0, 0, 0.87);
      padding-left: 16px;
    }

    & .iconCircle {
      position: absolute;
      bottom: -24px;
      right: -24px;
      background: var(--color-white);
      border-radius: 100%;
      height: var(--menu-icon-height);
      width: var(--menu-icon-height);
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.62);

      & .button {
        padding: 2px;
      }
    }
  }
}

@media (--medium-viewport) {
  .wrapper {
    margin: 0px;
    box-shadow: 0 2px 4px 0 rgba(60, 80, 104, 0.14), 0 8px 10px 0 rgba(60, 80, 104, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    z-index: 20;
    height: var(--m-top-bar-height);
  }

  .logo {
    display: inline-block;
    height: calc(100% - 8px);
    padding: 4px;
    margin-left: 30px;
  }

  .logoutButton {
    display: none;
  }

  .account {
    margin-right: 20px;

    & .avatar {
      margin-top: 14px;
      height: var(--avatar-height-m);
      width: var(--avatar-height-m);
    }

    & .information {
      margin-top: 14px;
      height: var(--avatar-height-m);

      & .balance {
        font-size: 20px;
        color: var(--color-black);
        font-family: var(--heading-font);
        margin-bottom: -8px;

        & small {
          font-size: 12px;
        }
      }

      & .address {
        font-size: 12px;
      }

      & .timer {
        display: none;
      }
    }

    & .menu {
      & .iconCircle {
        bottom: -12px;
        right: -34px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 -2px 24px 0 rgba(0, 0, 0, 0.24);
      }
    }
  }
}

@media (--small-viewport) {
  .wrapper {
    height: var(--s-top-bar-height);
  }

  .account {
    margin-left: 0;
    padding-left: 0;

    & .avatar {
      margin-top: 4px;
      margin-right: 0;
      height: var(--avatar-height-s);
      width: var(--avatar-height-s);
    }

    & .information {
      margin-top: 0;
      height: var(--avatar-height-s);

      & .balance {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;

        & small {
          font-size: 10px;
        }
      }

      & .address {
        display: none;
      }
    }

    & .menu {
      & .iconCircle {
        display: none;
      }
    }
  }

  .logo {
    margin-left: 10px;
  }
}
