@import '../app/variables.css';

:root {
  --title-bar-extra-padding-M: 58px;
  --title-bar-extra-padding-S: 52px;
}

.wrapper {
  min-width: 100%;
  box-shadow: 0px 22px 22px 0px rgba(0,0,0,.22);

  & .sendTo {
    width: 100%;
    padding-right: 0px;
  }

  & .transactions {
    padding-left: 0px;
  }
}

@media (--medium-viewport) {
  .wrapper {
    padding-top: var(--title-bar-extra-padding-M);
  }
}

@media (--small-viewport) {
  .wrapper {
    padding-top: var(--title-bar-extra-padding-S);
  }
}

@media (max-width: 1025px) {
  .transactions {
    width: 100%;
  }
}
