@import '../app/variables.css';

:root {
  --title-bar-extra-padding-M: 58px;
  --title-bar-extra-padding-S: 52px;
}

.wrapper {
  min-width: 100%;

  & .sendTo {
    width: 100%;
  }
}

@media (--medium-viewport) {
  .wrapper {
    padding-top: var(--title-bar-extra-padding-M);
  }
}

@media (--small-viewport) {
  .wrapper {
    padding-top: var(--title-bar-extra-padding-S);
  }
}

@media (max-width: 1025px) {
  .transactions {
    width: 100%;
  }
}
