@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  & > header {
    justify-content: flex-end !important;
    padding: 0 !important;
    height: 20px !important;
    margin-top: -30px !important;

    & > div {
      margin-top: -84px;
    }
  }
}

.transactionTitle {
  & > span {
    padding-left: 35px;
  }
}

.sortingColumn {
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  &.arrowUp {
    border-bottom: 4px solid black;
  }

  &.arrowDown {
    border-top: 4px solid black;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0 !important;
}

.tooltipOffset {
  left: -8px;
}

.transactionReference {
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes appear {
  0% {
    height: 0;
    opacity: 0;
  }

  40% {
    height: 85px;
    opacity: 0;
  }
  70% { height: 80px; }

  100% {
    height: 80px;
    opacity: 1;
  }
}

@keyframes showIcons {
  0% {
    opacity: 0;
    transform: scale(1.6);
  }

  70% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loadLatestBtnWrapper {
  position: absolute;
  top: -80px;
  z-index: 4;
  left: 50%;
}
