.tableOfContents {
  background: var(--color-white-smoke);
  border-bottom: 1px solid var(--color-platinum);
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--normal-index);

  & a {
    color: var(--color-slate-gray);
    display: inline-block;
    padding: 10px;
    text-decoration: initial;

    &:hover {
      color: var(--color-maastricht-blue);
    }
  }
}

.section {
  margin-bottom: -100px;
  overflow: auto;
  padding-top: 150px;
  width: 100%;

  & pre {
    overflow-x: auto;
    width: 100%;
  }
}
