@import '../../../../../setup/react/app/mixins.css';

.container {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.content {
  padding: 64px !important;

  & h1 {
    margin: 0 0 16px 0;
  }

  & > .subheader {
    @mixin contentLargest;

    color: var(--color-blue-gray);
    margin: 0;
    font-size: var(--subtitle-font-size-s);
  }

  & > .jsonFile {
    @mixin contentNormal;

    margin: 8px 0 32px 0;
    color: var(--color-blue-gray);
  }

  & > .downloadLisk {
    display: flex;
    width: 100%;
    padding: 16px 0;
    justify-content: center;

    & > p {
      @mixin contentLarge bold;

      color: var(--color-blue-gray);
      margin: 20px;
      text-align: left;
      word-spacing: 8px;
    }
  }

  & > .button {
    @mixin contentNormal;

    width: 100%;
  }
}
