@import '../../../../../setup/react/app/mixins.css';

.container {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  max-width: 562px;
  min-width: 350px;
  width: 90%;
}

.content {
  padding: 64px 64px 50px !important;

  & h1 {
    margin: 0 0 16px 0;
  }

  & > .subheader {
    @mixin contentLargest;

    color: var(--color-black);
    margin: 0;
    font-size: var(--subtitle-font-size-s);

    &.mgb16 {
      margin: 16px;
    }
  }

  & > .jsonFile {
    @mixin contentNormal;

    margin: 8px 0 32px 0;
    color: var(--color-blue-gray);
  }

  & > .continueButton {
    @mixin contentNormal;

    width: 100%;
    font-size: 14px;
  }
}

.downloadBtn > span {
  display: flex;
}

.buttonContent {
  & img {
    margin-left: 6px;
  }
}
