@import '../app/variables.css';

:root {
  --unvotes-color: #f9b8b8;
  --upvotes-color: #a2e6f1;
}

.noShadow {
  box-shadow: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & .title {
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    margin-bottom: 16px;
  }

  & .votes {
    color: var(--color-grayscale-dark);
    font-size: 14px;
  }

  & .cancel {
    color: var(--color-grayscale-dark);
    font-family: var(--content-font);
    float: right;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }

  & .selectedVotes {
    overflow: auto;
  }

  & .block {
    margin-bottom: 32px;
  }

  & .button {
    margin-bottom: 32px;
  }

  & footer {
    margin-top: 40px;
  }
}

.notFound {
  color: var(--color-error);
}

.alreadyVoted {
  color: var(--color-grayscale-medium);
}

.unvotes {
  color: var(--unvotes-color);
}

.upvotes {
  color: var(--upvotes-color);
}

@media (--medium-viewport) {
  .wrapper {
    & footer {
      padding-bottom: 100px !important;
    }

    & .cancel {
      line-height: 32px;
    }

    & .button {
      display: none;
    }
  }
}

@media (--small-viewport) {
  .wrapper {
    & .title {
      font-size: 14px;
    }
  }
}
