.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  margin-bottom: 16px;
}

.close {
  position: absolute;
  top: 48px;
  right: 48px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.block {
  margin-bottom: 32px;
}

.button {
  margin-bottom: 32px;
}
