@import '../../../app/mixins.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    height: 300px;
  }

  & > h1 {
    @mixin headingLarge bold;

    margin-bottom: 20px;
  }

  & > p {
    @mixin contentLarge;

    color: var(--color-slate-gray);
    margin: 10px 0;
  }

  & .button {
    width: var(--footer-button-width);
    margin: 10px 0 20px;
  }
}
