@import '../../../../../../setup/react/app/mixins.css';

.validatorDetails {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > div {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-left: 8px;
    }

    & > .validatorName {
      @mixin headingSmall;

      margin-top: 0;
      margin-bottom: 10px;
      color: var(--color-maastricht-blue);
      font-family: var(--content-font);

      & > span {
        @mixin contentNormal;

        margin-left: 10px;
        color: black;
      }
    }

    & > .validatorAddress {
      @mixin contentNormal;

      margin: 0;
      color: var(--color-slate-gray);
    }
  }
}

.validatorWeight {
  padding-left: 0;
  padding-right: 0;

  & > span {
    display: inline-block;
  }
}

.content {
  padding: 0 !important;
}

.tabSelector {
  margin-bottom: 15px !important;
  padding-bottom: 15px !important;

  & img {
    margin-top: 5px;
    margin-left: -5px;
  }
}

.stakesColumnTitle {
  justify-content: flex-start !important;
}

.stakesColumn {
  display: inline-block;

  & .stake,
  & .unStake {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-bottom: 0;
  }

  & .icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
  }

  & .stake {
    & .icon {
      color: var(--color-deep-green);
    }
  }

  & .validatorsList {
    display: flex;
    word-break: break-word;
    flex-wrap: wrap;
    justify-content: flex-end;

    & span {
      display: inline;
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
}

.tableRow {
  & > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: inherit;
    display: block;

    & > .validatorColumn {
      display: flex;

      & > .summaryTooltip {
        align-self: flex-start;
        z-index: 100000;
      }

      & > .eyeIconTooltip {
        align-self: center;

        & > .eyeIcon {
          display: flex;
          position: relative;
          width: 28px;
          height: 28px;
          margin-right: 8px;

          &.watchedValidator {
            & > img {
              visibility: visible !important;
              opacity: 1 !important;
            }
          }

          & > img {
            visibility: hidden;
            opacity: 0;
            width: 18px;
          }
        }
      }

      & .tooltipContainer {
        left: -25px;
      }

      & .summaryTooltipContainer {
        left: -36px !important;
        top: -25px !important;
        background-color: transparent;
        border: none;
        box-shadow: unset;
        backdrop-filter: unset;
      }
    }
  }

  & > span:last-child {
    padding-left: 0px;
    padding-right: 0px;
  }

  & > .noEllipsis {
    text-overflow: initial;
  }

  &:hover {
    & > span > .validatorColumn > .eyeIconTooltip > .eyeIcon > img {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (--large-viewport) {
  .statusTitle {
    padding-right: 0;
  }
}

.statusTooltip {
  white-space: nowrap;
}

.statusIconsContainer {
  overflow: visible !important;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start !important;

  & > div:first-child {
    margin-left: calc(50% - 17px);
  }

  & > div:nth-child(2) {
    margin-left: 12px;
  }
}

.statusIcon {
  max-height: 17px;
}

header {
  & .validatorHeader:first-of-type {
    padding-left: 45px;
  }
}

.roundStateHeader {
  padding-left: 0;
  justify-content: center !important;
  text-align: center;
}

.validatorStatus {
  @mixin contentSmall semi-bold;

  padding: 8px 10px;
  border-radius: 3px;
  line-height: 12px;
  letter-spacing: 0.2px;
  white-space: pre-wrap;
  display: inline-block;

  &.active {
    color: var(--color-jade-green);
    background-color: var(--color-jade-green-transparent);
  }

  &.standby {
    &.light {
      color: var(--color-ink-blue);
      background-color: var(--color-active-tab);
    }

    &.dark {
      color: var(--color-ultramarine-blue);
      background-color: var(--color-cloud-burst);
    }
  }

  &.banned {
    &.light {
      color: var(--color-red);
      background-color: var(--color-red-transparent);
    }

    &.dark {
      color: var(--color-red);
      background-color: var(--color-red-semitransparent);
    }
  }

  &.punished {
    &.light {
      color: var(--color-maastricht-blue);
      background-color: var(--color-yellow-transparent);
    }

    &.dark {
      color: var(--color-warning-border);
      background-color: var(--color-yellow-transparent);
    }
  }

  &.ineligible {
    color: var(--color-blue-gray);
    background-color: var(--color-blue-manatee-transparent);
  }
}

.loadMoreStakesBtn {
  @mixin contentLarge semi-bold;

  background-color: transparent;
  border: unset;
  color: var(--color-ultramarine-blue);
  cursor: pointer;
  margin-top: 9px;

  &:hover {
    color: var(--color-maastricht-blue);
  }
}

.validatorPageWrapper {
  width: 100%;

  & > div:first-child {
    width: 100%;
    margin-left: 0px !important;
  }

  & h3 {
    color: var(--color-content-light);
  }

  & > div:first-child > div:first-child {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
  }

  & > div:first-child > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px !important;
    column-gap: 24px;
  }

  & > div:first-child > div:first-child > h3 {
    font-weight: var(--font-weight-very-bold);
  }
}

.filterValidators {
  border-radius: 30px;
  min-width: 250px !important;
}

.bannerSwiper {
  background-color: var(--color-ultramarine-blue);
  border-radius: var(--border-radius-standard);
  margin-top: 32px;

  & :global(.bannerWrapper) {
    margin-top: 0;
  }

  & :global(.swiper-pagination-bullet) {
    border: 1px solid var(--color-periwinkle-blue);

    &:global(.swiper-pagination-bullet-active) {
      background-color: white;
    }
  }

  & :global {
    & .swiper-button-next,
    & .swiper-button-prev {
      color: var(--color-constant-white);
    }

    & .swiper-button-next::after,
    & .swiper-button-prev::after {
      font-size: 32px;
    }
  }

  & :global(.swiper-button-next) {
    right: 5px;
  }

  & :global(.swiper-button-prev) {
    left: 5px;
  }

  & :global(.swiper-pagination-bullets) {
    text-align: left;
    width: initial;
    left: 30px;
  }

  & .bannerWrapper {
    & p > a {
      display: inline;
      font-weight: var(--font-weight-bold);
      font-size: 14px;
      color: var(--color-constant-white);
      cursor: pointer;
    }
  }
}

.swippableBanner {
  width: 100%;
}
