@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(0px);
  }

  100% {
    transform: translateX(-50%) translateY(100px);
  }
}

.button {
  animation: slideDown var(--animation-speed-fast) ease-in;
  animation-fill-mode: forwards;
  position: absolute;
  z-index: 2;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;

  & .icon {
    vertical-align: bottom;
    padding-right: 12px;
  }
}
