@import '../../../../../../setup/react/app/mixins.css';

.summaryContainer {
  align-items: center;

  & > header {
    padding-left: var(--horizontal-padding-l) !important;
    padding-right: var(--horizontal-padding-l) !important;
  }

  & > footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  & .confirmBtn,
  & .editBtn {
    width: 100%;
    max-width: 391px;
  }
}
