@import '../../app/variables.css';
@import '../../app/mixins.css';

.wrapper {
  background: var(--color-white-smoke);
  border-bottom: 1px solid var(--color-platinum);
  box-sizing: border-box;
  height: var(--header-height);
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--normal-index);

  &:global(.dark) {
    background: var(--color-maastricht-blue);
    border-bottom: 1px solid var(--light-border-color);

    & .dropdownHandler {
      background: var(--color-maastricht-blue);
      color: var(--color-white);
      border: 1px solid var(--light-border-color);
    }
  }
}

.headerContent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  width: 100%;

  & .logo {
    height: 100%;
    padding: 0 30px;
    border-right: 1px solid rgba(225, 227, 235, 0.3);

    & > img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  & .buttonsHolder {
    height: 100%;
    display: flex;
    justify-content: space-between;

    & > div:first-child {
      height: 36px;
      margin: auto;
    }

    & > * {
      margin-left: 24px;
    }
  }

  & .settings {
    border-left: 1px solid rgba(225, 227, 235, 0.3);
  }
}

.settingButton > button {
  @mixin contentSmall bold;

  padding: 0 20px;
  width: auto;
}

.dropdownHandler {
  @mixin contentSmall bold;

  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-standard);
  box-sizing: border-box;
  color: var(--color-maastricht-blue);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-between;
  min-width: 241px;
  padding: 0 20px;
  position: relative;
  width: auto;

  &::after {
    border: 3px solid transparent;
    border-bottom: 0;
    border-top-color: var(--color-slate-gray);
    content: '';
  }
}

.dropdown {
  max-width: 241px;
  right: auto;
  top: calc(100% + -10px);
}

.button {
  @mixin contentSmall bold;

  margin-bottom: 5px;
  height: 32px;
  width: 100%;
}

.networkSpan {
  display: flex;
  flex-direction: column;

  & .inputWrapper {
    margin: 10px 0;
  }
}
