@import '../../../app/mixins.css';

.wrapper {
  @mixin contentLargest;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  box-sizing: border-box;

  & > label {
    @mixin contentNormal bold;

    margin-bottom: 13px;
  }
}
