@import '../app/variables.css';

.requestForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: left;

  & > div {
    width: 100%;
    height: 80px;
  }

  /* first form row elements Recipient */
  & > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  & > div:first-child > figure {
    width: 52px;
    height: 52px;
    margin: 0;
    padding: 0;
  }

  & > div:first-child > div {
    width: calc(100% - 65px);
  }

  & > div:first-child > div > label {
    font-size: var(--paragraph-font-size-s);
    font-weight: var(--font-weight-bold);
    font-family: var(--content-font);
  }

  & > div:nth-child(2) {
    & input {
      margin: 0;
    }
  }

  /* Last element Amount */
  & > div:last-child {
    margin-bottom: -19px;
  }
}

/**
* Theme
**/

.input {
  font-weight: var(--font-weight-semi-bold);
  font-size: 16px;
  margin: 0;
}

.label {
  font-size: var(--paragraph-font-size-s);
  color: var(--color-grayscale-dark);
  font-weight: 600;
  font-family: var(--content-font);
}

.error,
.counter {
  color: var(--color-error);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  font-family: var(--content-font);
}

.disabledInput input:disabled {
  opacity: 1;
  border: none;
}
