@define-mixin shape $left, $top {
  position: absolute;
  left: $left;
  top: $top;
  z-index: 0;
}

.circle {
  @mixin shape 1117px, 376px;
}

.smallCircle {
  @mixin shape 152px, 660px;
}

.triangle {
  @mixin shape 1040px, 540px;
}

.smallTriangle {
  @mixin shape 1010px, 598px;
}

.rightRectangle {
  @mixin shape 850px, 530px;
}

.leftRectangle {
  @mixin shape 48px, 454px;
}

.circleOutline {
  @mixin shape 379px, 630px;
}

.stripe {
  @mixin shape 455px, 585px;
}

.smallStripe {
  @mixin shape 829px, 657px;
}

.byte {
  display: inline-block;
  text-align: center;
  font-size: 140%;
  margin: 5px;
  font-family: monospace;
  transition: all ease 300ms;
}

.wrapper {
  flex-direction: row;
  height: 100%;
}

.missing {
  padding: 0 5px;
  font-weight: bold;
  color: #0288d1;
}

.stable {
  transform: scale(1);
  display: inline-block;
  transition: all ease 300ms;
}

.generatorHeader {
  position: relative;
  z-index: 1;
  width: 580px;
  margin: 0 auto;
}

.bouncing {
  transform: scale(1.2);
}

hr {
  display: none;
}

.templateItem {
  min-height: 130px;
  height: 100%;
}

.value {
  background-color: #0288d1;
  background-image: linear-gradient(-90deg, #0792ff 0%, #def4ff 94%);
}

.linear {
  background: transparent !important;
  position: absolute !important;
  bottom: 0;
  left: 0;
  display: inline-block;
  height: 8px !important;
  overflow: hidden;
  width: 100%;
}
