form(ng-if='$ctrl.step === 1')
  md-toolbar
    .md-toolbar-tools
      h2 Save your passphrase in a safe place!
      span(flex='')
      md-button.md-icon-button(ng-click='$ctrl.close()', aria-label='Close dialog')
        i.material-icons close
  md-dialog-content
    .md-dialog-content
      md-input-container.md-block
        textarea.passphrase(ng-bind='$ctrl.passphrase', md-autofocus, readonly, aria-label='Passphrase', ng-blur='$ctrl.preventBlur($event)')
  md-dialog-actions(layout='row')
    md-button.close-button(ng-click="$ctrl.close()") Cancel
    span(flex)
    md-button.md-raised.md-primary.yes-its-save-button(ng-click="$ctrl.next()") Yes! It's safe!
form(ng-if='$ctrl.step === 2')
  md-toolbar
    .md-toolbar-tools
      h2 Enter the missing word to continue
      span(flex='')
      md-button.md-icon-button(ng-click='$ctrl.close()', aria-label='Close dialog')
        i.material-icons close
  md-dialog-content
    .md-dialog-content
      div
        p.passphrase
          span {{ $ctrl.pre }}
          span.missing -----
          span {{ $ctrl.pos }}
        md-input-container.md-block(md-is-error='!$ctrl.missing_ok')
          label Enter the missing word
          input(ng-model='$ctrl.missing_input', md-autofocus, aria-label='Enter the missing word')
          div.fee(ng-if='$ctrl.fee') Fee: {{$ctrl.fee}} LSK
  md-dialog-actions(layout='row')
    md-button.back-button(ng-click="$ctrl.back()") Back
    span(flex)
    md-button.md-raised.md-primary.ok-button(ng-click="$ctrl.ok()", ng-disabled='!$ctrl.missing_ok', ng-bind='$ctrl.label')
