.wrapper {
  width: 100%;
  margin: 0;

  & > section {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    z-index: 1;
  }
}

.votes {
  padding-left: 0px;
  position: relative;
}

@media (max-width: 1025px) {
  .votingBox {
    flex-basis: 100%;
    max-width: 100%;
  }
}
