div.offline-hide
  md-card(layout='column')
    md-card-content(layout-align='center center')
      span(md-position-mode='target-right target')
        md-button.pull-right.remove-votes-link()
          i.material-icons close
          span Remove votes 
          span(ng-if='$ctrl.unvoteList.length') from {{$ctrl.unvoteList.length}} selected delegates 
        md-button.pull-right.green-link()
          i.material-icons done
          span  Vote 
          span(ng-if='$ctrl.voteList.length')  for {{$ctrl.voteList.length}} selected delegates 
  md-card(flex-gt-xs=100)
    md-card-title
      md-card-title-text
        span.md-title
          span Delegates:
          span.filter-select
            md-select(ng-model='$ctrl.filter')
              md-option(ng-repeat='filter in states', ng-value='filter') {{ filter }}
          span ({{$ctrl.filteredDelegates.length}})
    md-content(layout='column')
      md-table-container(ng-show='$ctrl.delegates.length')
        table(md-table)
          thead(md-head, ng-show='$ctrl.filteredDelegates.length')
            tr(md-row)
              th(md-column) 
              //th(md-column) Status
              th(md-column)
                span Rank  
                i.material-icons sort
              th(md-column) 
                span(ng-hide='$ctrl.searchActive', ng-click='$ctrl.activateSearch()') 
                  span Name 
                  i.material-icons search 
                md-input-container.md-block(ng-show='$ctrl.searchActive')
                  label Name 
                  input(type='text', name='name', ng-model='$ctrl.search', autofocus)
                  i.material-icons(ng-click='$ctrl.searchActive=false; $ctrl.search = ""') close 
              th(md-column) Lisk Address
              th(md-column)
                span Uptime 
                i.material-icons sort
              th(md-column)
                span Approval 
                i.material-icons sort
          tbody(md-body)
            tr(md-row, ng-hide='$ctrl.filteredDelegates.length')
              td(md-cell) No delegates found
            tr(md-row, ng-repeat="delegate in ($ctrl.filteredDelegates = ($ctrl.delegates | filter : {username: $ctrl.search} | boolFilter: {status : $ctrl.filter})) | limitTo : $ctrl.delegatesDisplayedCount")
              td(md-cell)
                input(type='checkbox', ng-model='delegate.status.Selected' ng-change='$ctrl.selectionChange(delegate)')
              //td.status(md-cell) 
                span(ng-repeat='(status, value) in delegate.status', ng-if='status != "Selected" && status != "All" && value')
                  span  
                  span.label(ng-bind='status')
              td(md-cell) {{ delegate.rate}}
              td(md-cell) {{ delegate.username}}
              td(md-cell) {{ delegate.address}}
              td(md-cell) {{ delegate.productivity}}
              td(md-cell) {{ delegate.approval}}
      md-button.more(ng-show='$ctrl.delegatesDisplayedCount < $ctrl.filteredDelegates.length', ng-click='$ctrl.showMore()') Show More
