delegates {
  .pull-right {
    float: right;
    margin: -8px 6px;
  }

  button {
    margin: -10px;
  }

  i {
    vertical-align: inherit;
    margin-right: 10px;
  }

  .green-link {
    color: #7cb342;
  }
  .red-link {
    color: #c62828;
  }
  .remove-votes-link {
    margin-right: -2px;
  }

  thead {
    i {
      cursor: pointer;
    }

    md-input-container {
      margin: 0;
    }
    .md-errors-spacer {
      min-height: 0;
    }
  }

  .label {
    font-weight: bold;
    background-color: #5f696e;
    color: #fff;
    border-radius: 3px;
    padding: 4px 9px;
    white-space: nowrap;
  }

  .status {
    line-height: 2em;
  }

  .filter-select md-select{
    display: inline-block;
    margin: 0 10px
  }
}
