div.dialog-vote(aria-label='Vote for delegates')
  form
    md-toolbar
      .md-toolbar-tools
        h2 Vote for delegates
    md-dialog-content
      .md-dialog-content
        div
          h4 Add vote to
          md-chips(ng-model='$ctrl.voteList', md-require-match='true', md-max-chips='33', md-autocomplete-snap)
            md-chip-template {{$chip.username}}
            md-autocomplete(flex, required, md-input-minlength='2', md-no-cache='false', md-selected-item='$ctrl.selectedVoteDelegate', md-search-text='$ctrl.voteSearchText', md-items='delegate in $ctrl.delegateService.voteAutocomplete($ctrl.voteSearchText, $ctrl.votedDict)', md-item-text='delegate.username', md-require-match, placeholder='Search by username')
              span(md-highlight-text='$ctrl.voteSearchText') {{delegate.username}}
        md-divider(ng-if='$ctrl.voteList.length && $ctrl.unvoteList.length')
        div
          h4 Remove vote from
          md-chips(ng-model='$ctrl.unvoteList', md-require-match='true', md-max-chips='33')
            md-chip-template {{$chip.username}}
            md-autocomplete(flex, required, md-input-minlength='2', md-no-cache='false', md-selected-item='$ctrl.selectedUnvoteDelegate', md-search-text='$ctrl.unvoteSearchText', md-items='delegate in $ctrl.delegateService.unvoteAutocomplete($ctrl.unvoteSearchText, $ctrl.votedList)', md-item-text='delegate.username', md-require-match, placeholder='Search by username')
              span(md-highlight-text='$ctrl.unvoteSearchText') {{delegate.username}}
        p.pull-right Fee: 1 LSK
        md-divider
        div(layout='row')
          p.info-icon-wrapper 
            i.material-icons info
          p
            span You can select up to 33 delegates in one voting turn.
            br
            span You can vote for up to 101 delegates in total.
        md-divider
        md-input-container.md-block(ng-if='$ctrl.account.get().secondSignature')
          label Second Passphrase
          input(type='password', ng-model='$ctrl.secondPassphrase')
          md-divider
    md-dialog-actions(layout='row')
      md-button(ng-click="$ctrl.$mdDialog.cancel()") Cancel
      span(flex)
      md-button(ng-disabled='!$ctrl.canVote()', ng-click="$ctrl.vote()") {{$ctrl.votingInProgress ? 'Voting...' : 'Confirm vote'}}
