@import '../../../../../setup/react/app/mixins.css';

.mainContent {
  padding: 2px 0 !important;
  min-height: 400px;
  display: grid !important;
  justify-items: flex-start;
  align-items: center;
  grid-template-columns: repeat(2, 1fr); /* stylelint-disable-line unit-whitelist */
  grid-auto-rows: minmax(84px, auto);
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "recipient recipient"
    "amount message"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "transactionParams transactionParams";

  & > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-platinum);
    }
  }
}

.transferLayout {
  & > * {
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }
}

.generalLayout {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionParams transactionParams";
}

.structuredGeneralLayout {
  grid-template-areas:
    "module command"
    "sender sender"
    "fee nonce"
    "transactionId transactionId"
    "genericParams genericParams";
}

.multiSigLayout {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "date transactionId"
    "fee confirmations"
    "blockId blockHeight"
    "members members"
    "numberOfSignatures numberOfSignatures"
    "transactionParams transactionParams";
}

.stakeLayout {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "stakes stakes"
    "transactionParams transactionParams";
}

.registerValidator {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "transactionParams transactionParams";

  & > * {
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}

.claimRewards {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "transactionParams transactionParams";

  & > * {
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}

.transferPreview {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "recipient recipient"
    "amount message"
    "transactionId fee"
    "signedAndRemainingMembersList signedAndRemainingMembersList";
}

.transferCrossChainPreview {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "receivingChain recipient"
    "amount message"
    "fee messageFee"
    "signedAndRemainingMembersList signedAndRemainingMembersList";
}

.stakePreview {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "stakes stakes"
    "transactionId fee"
    "signedAndRemainingMembersList signedAndRemainingMembersList";
}

.registerValidatorPreview {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId fee"
    "signedAndRemainingMembersList signedAndRemainingMembersList";
}

.claimRewardsPreview {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId fee"
    "signedAndRemainingMembersList signedAndRemainingMembersList";
}

.unlockToken {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "amount amount"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "transactionParams transactionParams";

  & > * {
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}

.unlockTokenPreview {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "amount amount"
    "transactionId fee"
    "signedAndRemainingMembersList signedAndRemainingMembersList";
}

.multiSigRegisterPreview {
  grid-template-areas:
    "sender sender"
    "numberOfSignatures fee"
    "members members"
    "signedAndRemainingMembersList signedAndRemainingMembersList"
    "signedAndRemainingSignatureList signedAndRemainingSignatureList";
}

.reportValidatorMisbehavior {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "transactionParams transactionParams";

  & > * {
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}

.reclaimLSK {
  grid-template-areas:
    "illustration illustration"
    "sender sender"
    "transactionId date"
    "blockId blockHeight"
    "fee confirmations"
    "amount amount"
    "transactionParams transactionParams";
}
