.wrapper {
  display: inline-block;
  border-radius: 100%;
  transition: transform ease-in-out 500ms;
}

.accountVisual {
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  animation-name: float;
  animation-duration: 4000ms;
  animation-delay: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes float {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(10deg);
  }
}
