@import '../../../../app/mixins.css'; 

.illustration {
  grid-area: illustration;
  justify-content: flex-start !important;
  align-items: center !important;
  
  & h2 {
    @mixin contentLargest semi-bold;
    
    font-size: 16px;
  }
}

.sender {
  grid-area: sender;
}

.recipient {
  grid-area: recipient;
}

.transactionId {
  grid-area: transactionId;
}

.message {
  grid-area: message;
}

.amount {
  grid-area: amount;
}

.fee {
  grid-area: fee;
}

.confirmations {
  grid-area: confirmations;
}

.amount {
  grid-area: amount;
}

.date {
  grid-area: date;
}

.requiredSignatures {
  grid-area: requiredSignatures;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  margin-bottom: 10px;
}
