@import '../app/variables.css';

.send {
  position: relative;
}

.sendAllMenu {
  position: absolute !important;
  right: 0;
  top: 86px;
}

.fee {
  text-align: right;
  margin-top: -12px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 14px;
  color: grey;
}

.tab {
  margin: 40px 0px;
  font-size: 1.8em;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-weight: 500;
}

.tabActive {
  color: white;
  background: linear-gradient(45deg, #17499b 0%, #3c7fb4 100%);
  border-radius: 3px 0 0 3px;
}

.tabInactive {
  color: #3c5068;
  border: 2px solid #3c5068;
  border-radius: 0 3px 3px 0;
}

.actionSection {
  text-align: center;
  margin-top: 50px;

  & .subTitle {
    margin-top: 20px;
    font-size: 1.6em;
    color: #3c5068;
  }
}

input:read-only {
  border-bottom: solid 1px #fff !important;
}

.button {
  min-width: 0;
  width: 100%;
}

.smallAvatar {
  height: 50px;
  width: 50px;
  background: linear-gradient(90deg, #3023ae 0%, #53a0fd 48%, #b4ec51 100%);
  position: absolute;
  border-radius: 100%;
}
