md-card
  md-card-title
    md-card-title-text
      span.md-title Send
  md-card-content
    form(name='sendForm')
      md-content(flex='100', flex-gt-sm='70', flex-offset-gt-sm='15')
        md-input-container.md-block
          label Recipient Address
          input(type='text', name='recipient', ng-model='recipient.value', required, ng-pattern='recipient.regexp', ng-disabled='loading')
          div(ng-messages='sendForm.recipient.$error')
            div(ng-message='required') Required
            div(ng-message='pattern') Invalid
        md-input-container.md-block
          label Enter the amount
          input(type='text', name='amount', ng-model='amount.value', required, ng-pattern='amount.regexp', ng-disabled='loading')
          div(ng-messages='sendForm.amount.$error')
            div(ng-message='required') Required
            div(ng-message='pattern') Invalid
    md-content(layout='row', layout-align='center center')
      md-button.md-raised.md-primary(ng-disabled='!sendForm.$valid || loading', ng-click='go()') {{ loading ? 'Sending...' : 'Send' }}
