@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 400px;
  text-align: center;
  padding: 45px 24px;

  & h3 {
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    color: var(--color-maastricht-blue);
  }

  & h6 {
    line-height: 18px;
    margin: var(--vertical-padding-m) auto;
    color: var(--color-maastricht-blue);

    &.error {
      color: var(--color-red);
    }
  }

  & .input {
    margin: 5px 0 0;

    & + span {
      margin-top: 30px;
    }
  }

  & .feedback {
    @mixin contentSmall;

    display: block;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
  }

  & .feedbackErrorColor {
    color: var(--color-red);
  }

  & .feedbackCorrectionColor {
    color: var(--color-zodiac-blue);
  }

  & button {
    margin-top: 24px;
    width: 100%;
  }
}

.inputWrapper {
  & > span > span {
    top: 29px !important;
  }
}
