@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 400px;
  text-align: center;
  padding: 45px 24px;

  & h3 {
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    color: var(--color-maastricht-blue);
  }

  & h6 {
    line-height: 18px;
    margin: var(--vertical-padding-m) auto;
    color: var(--color-maastricht-blue);

    &.error {
      color: var(--color-red);
    }
  }

  & .input {
    margin: 5px 0 0;
  }

  & .feedback {
    @mixin contentSmall;

    height: 30px;
    display: block;
    text-align: left;
    color: var(--color-red);
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & button {
    width: 100%;
  }
}
