@import '../../../app/mixins.css';

.notFoundPage {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
}

.errorMessageContainer {
  width: var(--footer-button-width);
  margin: auto;
  text-align: center;

  & h2 {
    @mixin headingLarge;

    margin: 32px 0 20px;
  }

  & p {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    margin-bottom: 32px;
    line-height: 22px;
    letter-spacing: 0.21px;
    padding: 0px 13px;
  }
}

.goToDashboardButton {
  width: 100%;
}
