@import '../../../../../../setup/react/app/mixins.css';

.modal {
  width: 100%;
  background: var(--color-white);
  border-radius: var(--border-radius-box);
}

.confirmModal {
  width: 371px;
  background: var(--color-white);
  border-radius: var(--border-radius-box);
}

.toggleIcon {
  padding-left: 14px;
  box-sizing: border-box;

  & :hover {
    cursor: pointer;
  }

  & img {
    width: 20px;
  }
}

.toggleIcon.notHeader {
  border-bottom: 1px solid var(--color-platinum);
  display: flex;
  height: 50px;
}
