.container {
  border: 0;

  & :global(.dialog-close-button) {
    &::before,
    &::after {
      background-color: var(--color-strong-white);
    }
  }
}

.header {
  width: 100%;

  & img {
    width: 100%;
    height: auto;
  }

  & .avatar {
    margin-top: -32px;
  }
}

.wrapper {
  padding: 0 !important;

  & .nameAndAddress {
    text-align: center;
  }

  & .mainContent {
    padding-top: 0;

    & .accountName {
      width: auto;

      & h3,
      & img {
        display: inline-block;
        vertical-align: middle;
      }

      & h3 {
        font-weight: 600;
        letter-spacing: 1px;
        margin: 12px 0;
        color: var(--color-maastricht-blue);
      }

      & img {
        padding: 10px;
        margin: 0 5px;
      }
    }

    & .row {
      & .title,
      & > div,
      & > div > span,
      & > div > img {
        vertical-align: middle;
        display: inline-block;
      }

      & .title {
        letter-spacing: 0.33px;
        color: var(--color-blue-gray);
      }

      & > div {
        padding-left: 5px;
        padding-right: 20px;
        color: var(--color-maastricht-blue);
      }
    }
  }

  & .content {
    display: flex;
    width: auto;
    padding: 0;
    border-radius: 0;
  }

  & .infoContainer {
    display: flex;
    border-top: 1px solid var(--color-platinum);
    text-align: left;
    padding-top: 26px;

    & > div {
      width: 50%;
    }

    & strong {
      @mixin contentLargest semi-bold;

      margin: 0;
      color: var(--color-maastricht-blue);
    }

    & p {
      letter-spacing: 0.4px;
      color: var(--color-maastricht-blue);
      margin: 0;
    }

    & span {
      margin: 6px 0 0 0;
      letter-spacing: 0px;
      color: var(--color-blue-gray);
      font-size: 14px;
      display: block;
    }
  }

  & .members {
    & > p {
      @mixin contentLargest semi-bold;
    }
  }
}
