.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0;
}

.progressContent {
  margin-left: 16px;

  & > p {
    margin-bottom: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    line-height: 18px;
  }

  & > .progressBar {
    margin-top: 8px;
    width: 230px;
    height: 5px;
    display: flex;
    border-radius: 43px;
    background-color: var(--light-border-color);

    & > .lineGenerated {
      border-radius: 43px;
      background-color: var(--color-ultramarine-blue);
    }
  }
}

.closeBtn {
  margin-left: 20px;
  cursor: pointer;

  &::before,
  &::after {
    background-color: var(--overlay-color);
    content: '';
    height: 11px;
    position: absolute;
    width: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.completedContent {
  margin: 0 16px;
  line-height: 24px;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.percentage {
  font-weight: 500;
}
