md-content(layout='row')
  md-card(flex=33)
    md-card-content.top-address
      h3 Address
      h4 {{ address }}
  md-card(flex=33)
    md-card-content.top-amount
      h3 Balance
      h4.lsk(amount='balance', nocolor)
  md-card(flex=33)
    md-card-content.top-peer
      h3 Peer
      h4 {{ peer.uri }}
