md-content(layout='column', layout-gt-xs='row')
  md-card.offline-hide(flex=33)
    md-card-content(layout='column', layout-align='center center')
      span.md-title.title Address
      .address.value {{ $ctrl.account.address }}
  md-card(flex=33, ng-class='{ online: $ctrl.$peers.online, offline: !$ctrl.$peers.online }')
    md-card-content(layout='column', layout-align='center center')
      span.md-title.title Peer
      md-select(ng-model='$ctrl.$peers.active', aria-label='Peer')
        md-optgroup(ng-repeat='(name, peers) in $ctrl.$peers.stack', ng-if='peers.length', label='{{ name }}')
          md-option(ng-repeat='peer in peers', ng-value='peer') {{ peer.host }}
  md-card.offline-hide(flex=33)
    md-card-content(layout='column', layout-align='center center')
      span.md-title.title Balance
      lsk.balance.value(amount='$ctrl.account.balance', nocolor, append)
