
top {
  .title {
    margin-bottom: 15px;
  }

  .value {
    font-size: 120%;
    font-weight: bold;
    background-color: #5f696e;
    color: #fff;
    border-radius: 3px;
    padding: 9px 9px;
    font-weight: bold
  }
}
