md-content(layout='column', layout-gt-xs='row')
  md-card.offline-hide(flex-gt-xs=33)
    md-card-content(layout='column', layout-align='center center', ng-if='!$ctrl.account.get().isDelegate')
      span.md-title.title Address
      .address.value {{ $ctrl.account.get().address }}
    md-card-content(layout='column', layout-align='center center', ng-if='$ctrl.account.get().isDelegate')
      span.md-title.title Delegate
      .address.value {{ $ctrl.account.get().username }}
      small.username {{ $ctrl.account.get().address }}
  md-card.peer(flex-gt-xs=33)
    md-card-content(layout='column', layout-align='center center')
      span.status
        i.material-icons.offline(ng-show='!$ctrl.peers.online') error
        i.material-icons.online(ng-show='$ctrl.peers.online') check circle
      span.md-title.title Peer
      div.active-peer.value
        span(ng-bind="$ctrl.peers.active.currentPeer")
        span(ng-if="$ctrl.peers.active.port && $ctrl.peers.active.port != '8000' ")
          span :
          span(ng-bind="$ctrl.peers.active.port")
  md-card.offline-hide(flex-gt-xs=33)
    md-card-content(layout='column', layout-align='center center')
      span.md-title.title Balance
      div(class='balance-wrapper', data-show-send-modal, data-amount='$ctrl.totalSendable', data-ng-class='{"has-send-modal": $ctrl.totalSendable > 0}')
        lsk.balance.value(amount='$ctrl.account.get().balance', nocolor, append)
        md-tooltip(md-direction='top', md-delay='350', data-ng-if='$ctrl.account.get().balance > 0') Send all funds
