@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.wrapper {
  display: flex;
  flex-direction: column;
}

.tabs {
  align-self: flex-start;
  border: 1px solid var(--color-platinum);
  border-radius: var(--border-radius-standard);
  display: flex;
  height: 34px;
  margin: 0;
  padding: 0;

  & > li {
    @mixin contentSmall bold;

    align-items: center;
    background: var(--color-white-smoke);
    border-left: 1px solid var(--color-platinum);
    color: var(--color-slate-gray);
    cursor: pointer;
    display: flex;
    list-style: none;
    padding: 0px 30px;
    position: relative;
    transition:
      background-color var(--animation-speed-fast) linear,
      color var(--animation-speed-fast) linear;

    &:first-child {
      border-left: 0 none;
    }
  }

  & > .active {
    background-color: var(--color-white);
    color: var(--color-ultramarine-blue);
  }
}

.contentHolder {
  margin-top: 24px;

  & > div {
    display: none;

    &.active {
      display: block;
    }
  }
}
