.wrapper {
  & h1 {
    & .name {
      color: var(--color-ink-blue);
    }
  }

  & h5 {
    margin: 5px 0 0;
    color: var(--color-maastricht-blue);
    font-family: var(--heading-font);
    font-weight: 600;
  }

  & header {
    & p {
      color: var(--color-blue-gray);
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 6px;
    }

    & .actions {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 15px;
      border-bottom: 1px solid var(--color-very-light-gray);
      padding: 10px 0 40px;

      & a {
        flex: 1 auto;

        & button {
          border-radius: 24px;
          font-weight: 300;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  }

  & .tips {
    list-style-type: none;
    padding: 35px 0 0;
    margin: 0;

    & li {
      display: flex;
      align-items: flex-start;
      padding-bottom: 30px;

      & .number {
        display: block;
        width: 39px;
        height: 39px;
        background: var(--color-active-tab);
        border: 0.5px solid var(--color-link-active);
        color: var(--color-maastricht-blue);
        border-radius: 50%;
        flex-shrink: 0;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
      }

      & .tip {
        padding-left: 12px;

        & h5 {
          margin: 0;
          color: var(--color-maastricht-blue);
          font-weight: 500;
          font-size: 16px;
        }

        & span {
          color: var(--color-blue-gray);
          font-weight: 400;
          font-size: 16px;
          padding-top: 10px;
          display: inline-block;
        }
      }
    }
  }
}
