.wrapper {
  & .container {
    padding-bottom: 125px;
  }

  & .tips {
    list-style-type: none;
    padding: 5px 0;
    margin: 0;

    & li {
      display: flex;
      align-items: flex-start;
      padding-bottom: 37px;

      & .number {
        display: block;
        width: 39px;
        height: 39px;
        background: var(--color-flash-message-border);
        border: 0.5px solid var(--color-link-active);
        color: var(--color-maastricht-blue);
        border-radius: 50%;
        flex-shrink: 0;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
      }

      & .tip {
        padding-left: 12px;

        & h5 {
          margin: 0;
          color: var(--color-maastricht-blue);
          font-weight: 500;
          font-size: 16px;
        }

        & span {
          color: var(--color-blue-gray);
          font-weight: 400;
          font-size: 16px;
          padding-top: 10px;
          display: inline-block;
        }
      }

      &:last-child {
        padding-bottom: 15px;
      }
    }
  }

  & .actions {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 15px;
    position: relative;
    z-index: 1;
  }

  & .illustration {
    border-radius: var(--border-radius-box);
    width: 220px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}
