@import '../../../app/variablesV2.css';

@define-mixin buttonBasics {
  width: 250px;
  max-width: 100%;
  border-radius: var(--border-radius-standard);
  text-transform: none;
  font-weight: var(--font-weight-bold);
  font-family: var(--content-font) !important;
  font-size: var(--button-font-size);
  outline: none;
  transition: var(--transition-button) !important;

  & .ripple {
    display: none;
  }

  &:disabled {
    opacity: 0.58;
  }
}

@define-mixin buttonPrimaryV2 {
  background-color: var(--color-ultramarine-blue) !important;
  color: var(--color-white) !important;

  &:focus,
  &:hover {
    background: color(var(--color-ultramarine-blue) + rgba(255, 255, 255, 0.08)) !important;
    box-shadow: 3px 3px 10px 0 rgba(61, 113, 255, 0.36) !important;
  }
}

@define-mixin buttonDangerV2 {
  background-color: var(--color-danger) !important;
  color: var(--color-white) !important;

  &:focus,
  &:hover {
    background: #ff6300 !important;
  }
}

@define-mixin buttonSecondaryV2 {
  background-color: transparent !important;
  border: solid 1px rgba(0, 0, 0, 0.08) !important;
  color: var(--color-maastricht-blue) !important;

  &:global(.light) {
    color: var(--color-white) !important;
    border-color: var(--light-border-color) !important;

    &:focus,
    &:hover {
      border-color: color(var(--light-border-color) a(58%)) !important;
      color: var(--color-white) !important;
    }
  }

  &:focus,
  &:hover {
    color: var(--color-ultramarine-blue) !important;
  }
}
