@import '../../../app/variablesV2.css';
@import '../../../app/mixins.css';

@define-mixin buttonBasics {
  @mixin contentNormal bold;

  width: 250px;
  max-width: 100%;
  border-radius: var(--border-radius-standard);
  text-transform: none;
  outline: none;
  transition: var(--transition-button) !important;

  & .ripple {
    display: none;
  }

  &:disabled {
    opacity: 0.58;
  }
}

@define-mixin buttonPrimaryV2 {
  background-color: var(--color-ultramarine-blue) !important;
  color: var(--color-white) !important;

  &:focus,
  &:hover {
    background: color(var(--color-ultramarine-blue) l(+4%)) !important;
    box-shadow: 3px 3px 10px 0 rgba(61, 113, 255, 0.36) !important;
  }
}

@define-mixin buttonDangerV2 {
  background-color: var(--color-danger) !important;
  color: var(--color-white) !important;

  &:focus,
  &:hover {
    background: #ff6300 !important;
  }
}

@define-mixin buttonSecondaryV2 {
  background-color: transparent !important;
  border: solid 1px var(--dark-border-color);
  color: var(--color-maastricht-blue) !important;

  &:global(.light) {
    color: var(--color-white) !important;
    border-color: var(--light-border-color) !important;

    &:focus,
    &:hover {
      border-color: color(var(--light-border-color) a(58%)) !important;
      color: var(--color-white) !important;
    }
  }

  &:focus,
  &:hover {
    color: var(--color-ultramarine-blue) !important;
  }
}

@define-mixin buttonTertiaryV2 {
  background-color: transparent !important;
  border: none !important;
  color: var(--color-ultramarine-blue) !important;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
