@import '../app/variablesV2.css';

.container {
  display: flex;
  padding: 0 12px;

  & > section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 12px;
  }

  & .label {
    color: var(--color-dark-gray);
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.83;
  }

  & .footerContent {
    color: var(--color-dark-gray);
    display: block;
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.83;
    margin-top: 12px;
    transition: opacity var(--animation-speed-fast) linear;

    &.hide {
      opacity: 0;
    }
  }

  & .footerActionable {
    color: var(--color-primary-standard);
    cursor: pointer;
  }
}

.formSection {
  width: 320px;

  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  & .fieldLabel {
    color: var(--color-content-light);
    font-family: var(--heading-font);
    font-size: var(--paragraph-font-size-l);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
  }

  & .feedback {
    color: var(--color-dark-gray);
    display: block;
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.83;
    margin-top: 8px;
    max-height: 0;
    opacity: 0;
    text-align: right;
    transition: opacity var(--animation-speed-fast) linear;
    width: 100%;

    &:global(.error) {
      color: var(--color-error);
    }

    &.show {
      max-height: 22px;
      opacity: 1;
    }
  }

  & .input {
    font-size: var(--button-font-size-s);
    height: 36px;
    line-height: 1.83;
  }

  & .textarea {
    font-size: var(--button-font-size-s);
    height: auto;
    line-height: 1.83;
    resize: none;
    overflow: hidden;
  }

  & .sectionFooter {
    margin-top: 32px;

    & button {
      width: 100%;
    }
  }
}

.qrSection {
  width: 305px;
  max-width: 305px;
  max-height: 400px;
  opacity: 1;
  transform: scale(1);
  transition:
    max-height var(--animation-speed-fast) linear,
    max-width var(--animation-speed-fast) linear,
    opacity var(--animation-speed-fast) linear,
    transform var(--animation-speed-fast) linear;

  &.hide {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    transform: scale(0);
  }

  & .qrCodeContainer {
    align-items: center;
    border: 1px solid var(--color-light-gray);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 24px 0 0;
    width: 100%;
  }
}
