@import '../app/variablesV2.css';
@import '../app/mixins.css';

.container {
  display: flex;
  padding: 0 12px;

  & > section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 12px;
  }

  & .label {
    @mixin contentLarge;

    color: var(--color-slate-gray);
  }

  & .footerContent {
    @mixin contentSmall;

    color: var(--color-slate-gray);
    display: block;
    margin-top: 12px;
    transition: opacity var(--animation-speed-fast) linear;

    &.hide {
      opacity: 0;
    }
  }

  & .sectionFooter {
    margin: 0;
    padding: 0;
  }

  & .footerActionable {
    color: var(--color-primary-standard);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
  }
}

.formSection {
  width: 300px;

  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  & .fieldLabel {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    margin-bottom: 8px;
  }

  & .feedback {
    @mixin contentNormal;

    box-sizing: border-box;
    color: var(--color-slate-gray);
    display: none;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 6px 10px;
    width: 100%;

    &:global(.error) {
      background-color: var(--error-background-color);
      color: var(--color-burnt-sienna);
    }

    &.show {
      display: flex;
    }

    &.referenceFeedback {
      @mixin contentSmallest;

      justify-content: flex-end;
    }
  }

  & .status {
    color: var(--color-ultramarine-blue);
    opacity: 0;
    position: absolute;
    right: 10px;
    transition: opacity var(--animation-speed-fast) linear;

    &.show {
      opacity: 1;
      transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
    }
  }

  & .amountField {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    & .converter {
      position: absolute;
      right: 34px;
    }

    & .input {
      padding-left: 10px;
      padding-right: 120px;
      width: 100%;
    }
  }

  & .referenceField {
    display: flex;
    position: relative;
    width: 100%;

    & .byteCounter {
      bottom: 6px;
      opacity: 0;
      position: absolute;
      right: 10px;
      transition: opacity var(--animation-speed-fast) linear;
    }

    & .status {
      bottom: 10px;
      right: 12px;
    }

    & .textarea {
      padding-right: 30px;
      width: 100%;

      &:focus {
        & + .byteCounter {
          opacity: 1;
        }

        & ~ .status {
          opacity: 0;
        }
      }
    }
  }

  & .input,
  & .textarea {
    @mixin contentNormal;

    height: 36px;
  }

  & .textarea {
    resize: none;
    overflow: hidden;
    padding: 8px 10px;
  }

  & .sectionFooter {
    margin-top: 32px;

    & button {
      width: 100%;
    }
  }
}

.qrSection {
  width: 300px;
  display: block;

  &.hide {
    display: none;
  }

  & .qrCodeContainer {
    align-items: center;
    border: 1px solid var(--color-platinum);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 24px 0 0;
    width: 100%;
  }
}
