@import '../../app/variablesV2.css';

.userInformation {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .nickname {
    color: var(--color-maastricht-blue);
    margin: 0 20px 0 10px;
  }

  & .address {
    color: var(--color-blue-gray);
    margin: 0;
  }
}
