@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-padding-l) 0;

  & > h1 {
    @mixin stakeStatusHeading very-bold;

    margin-bottom: 20px;
    color: var(--color-maastricht-blue);
  }

  & > h6 {
    font-weight: var(--font-weight-semi-bold);
    margin: 20px 0 0;
    color: var(--color-maastricht-blue);
  }

  & a,
  & > p {
    @mixin contentLarge;

    margin: 0;
    text-align: center;

    & > button {
      font-size: 15px;
    }
  }

  & > p {
    color: var(--color-slate-gray);
    max-width: 76%;
  }

  & .button {
    width: var(--footer-button-width);
    margin: 10px 0 20px;
  }

  & > img {
    width: 132px;
    margin-top: var(--horizontal-padding-l);
    margin-bottom: 32px;
  }
}

.backToWallet {
  margin-top: 32px;
  margin-bottom: 30px;
  width: 160px;
}

.retryBtn {
  width: 100%;
  max-width: 354px;
  margin-top: 50px;
}
