@import '../../../app/mixins.css';

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.stepContainer {
  display: flex;
  flex: 1;
}

.step {
  @mixin contentSmall;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 0;
  border: 1px solid var(--color-periwinkle-blue);
  border-radius: 50%;
  color: var(--color-blue-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  border: 0;
  box-sizing: border-box;
  flex: 1;
  height: 10px;
  border-bottom: 1px dashed var(--color-periwinkle-blue);
}

.current {
  border-color: var(--color-ink-blue);
  color: var(--color-ink-blue);
}

.active {
  border-color: var(--color-ink-blue);
  background-color: var(--color-ink-blue);
  color: white;
}

.solid {
  border-style: solid;
  border-color: var(--color-ink-blue);
}

.labelContainer {
  margin-top: 6px;
  display: flex;
  
  & span {
    @mixin contentNormal;

    color: var(--color-blue-gray);
    display: flex;
    flex: 1;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.activeLabel {
  color: var(--color-ink-blue);
}