@import '../../../../app/mixins.css';

.container {
  & .content {

    & .contentItem {
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
    }

    & .contentHeading {
      @mixin contentLarge semi-bold;
    }
  }

  & .infoContainer {
    display: flex;
    padding-top: 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.15);

    & .infoColumn {
      display: flex;
      flex-direction: column;
      flex: 1;

      &:last-child {
        padding-left: 10px;
      }
    }
  }

  & .footer {
    & button {
      width: 230px;
    }
  }
}

.infoTitle {
  margin-bottom: 10px;

  @mixin contentNormal semi-bold;
}

.infoValue {
  @mixin contentNormal;

  font-size: 16px;
}

.voteItems {
  display: flex;
  flex-wrap: wrap;
}

.voteItem {
  background-color: #EEF0F7;
  padding: 8px;
  border-radius: 3px;
  margin: 10px 10px 0 0;
  white-space: nowrap;

  @mixin contentSmall;
}

.addressText {
  color: #254898;
  margin-right: 10px;
}

.arrowIcon {
  margin: 0 6px;
}