@import '../app/variables.css';

:root {
  --padding-top: 40px;
}

.register {
  & > div {
    height: 100%;
    overflow: hidden;
    margin-right: calc(-1 * var(--box-padding-left-XL));
    margin-left: calc(-1 * var(--box-padding-left-XL));
  }
}

.hasPaddingTop {
  padding-top: var(--padding-top);
}

@media (--large-viewport) {
  .hasPaddingTop {
    & > div {
    margin-right: calc(-1 * var(--box-padding-left-L));
    margin-left: calc(-1 * var(--box-padding-left-L));
    }
  }
}

@media (--medium-viewport) {
  .hasPaddingTop {
    height: 100vh; /* stylelint-disable-line */
  }
}

@media (--small-viewport) {
  .hasPaddingTop {
    padding-top: var(--box-padding);

    & > div {
    margin-right: calc(-1 * var(--box-padding-left-M));
    margin-left: calc(-1 * var(--box-padding-left-M));
    }
  }
}
