@import './../app/variables.css';
@import './../app/mixins.css';

.register {
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  width: 100%;
  max-width: 878px;

  & .button {
    @mixin contentLargest bold;

    width: var(--footer-button-width);

    & > button {
      width: 100%;
    }
  }

  & .backButton {
    @mixin contentLargest bold;

    border: none;
    margin: 0;
    color: var(--color-ultramarine-blue) !important;
  }
}

.stepsLabel {
  @mixin contentNormal;

  color: var(--color-slate-gray);
  height: 18px;
  letter-spacing: 0.4px;
  line-height: 1.8;
  text-transform: uppercase;
}

.titleHolder {
  color: var(--color-content);
  font-family: var(--heading-font);
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    @mixin headingLarge;

    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--color-maastricht-blue);

    & > img {
      margin-right: 16px;
    }
  }

  & > p {
    @mixin contentLargest;

    margin: 0;
    color: var(--color-slate-gray);
    width: 450px;
  }
}

.PassphraseBackupContainer {
  margin: 20px 0;
}

.buttonsHolder {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.disabledLink {
  pointer-events: none;
}

.continueBtn {
  @mixin contentLargest bold;
}
