@import '../app/variables.css';

:root {
  --padding-top: 40px;
}

.register {
  & > div {
    height: 100%;
    overflow: hidden;
  }
}

.hasPaddingTop {
  padding: var(--padding-top) 0 0 0;
}

@media (--medium-viewport) {
  .hasPaddingTop {
    height: 100vh; /* stylelint-disable-line */
    padding: var(--padding-top) 0 0 0;
  }
}

@media (--small-viewport) {
  .hasPaddingTop {
    padding: var(--box-padding) 0 0 0;
  }
}
