@import '../../../app/variables.css';
@import '../../../app/mixins.css';

.wrapper {
  & .row {
    & > * {
      margin-right: 15px;
      margin-left: -2px;
    }
  }

  & label {
    @mixin contentNormal;

    color: var(--color-slate-gray);
    margin-bottom: 5px;
    display: block;
  }

  & .value {
    @mixin headingNormal bold;

    color: var(--color-maastricht-blue);
    word-break: break-all;
    margin-bottom: -4px;
  }

  & .copyIcon {
    vertical-align: -2px;
  }
}
