@import '../../app/variables.css';

.wrapper {
  margin: 20px auto;
  display: flex;
  align-items: center;
  text-align: center;

  &.top {
    justify-content: flex-start;
  }

  &.middle {
    justify-content: center;
    min-height: 100%;
  }

  & .full {
    width: 100%;
  }

  & .medium {
    width: var(--medium-box-width);
  }
}
