@import '../../../../../setup/react/app/mixins';

.badge {
  background-color: var(--color-notification);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -5px;
}
