@import '../app/mixins.css';
@import '../app/variablesV2.css';

.alertBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;

  & p.description {
    @mixin contentLargest;

    color: var(--color-slate-gray);
    max-width: 460px;
    text-align: center;
  }

  & .okButton {
    display: flex;
    justify-content: center;
    margin: 32px 0;

    & button {
      width: var(--footer-button-width);
    }
  }
}
