@import '../app/variablesV2.css';
@import '../app/mixins.css';

.dialog {
  border-radius: 6px;

  & .title {
    @mixin headingNormalIntermediate;

    color: var(--color-maastricht-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 25px 0;
  }

  & .x-button {
    right: -20px;

    & span {
      color: rgba(255, 255, 255, 0.87);
    }
  }

  & header {
    border-radius: 2px 2px 0 0;
    color: rgba(255, 255, 255, 0.87);

    & h1 {
      color: rgba(255, 255, 255, 0.87);
      font-weight: normal;
    }
  }

  & hr {
    border-bottom-width: 0;
    margin: 16px -24px;
    border-color: rgba(0, 0, 0, 0.12);
  }
}

.body {
  border-radius: 2px 2px 0 0;
  padding: 0px;
}

.innerBody {
  padding: 24px;
  max-height: calc(100vh - 64px); /* stylelint-disable-line */
  overflow: auto;
}

.fullscreen {
  width: 650px;
}

.overlay {
  background-color: rgba(12, 21, 46, 0.52);
  opacity: 1 !important;
}

@media screen and (min-width: 600px) {
  .innerBody {
    max-height: calc(100vh - 100px); /* stylelint-disable-line */
  }
}

.error {
  background-color: #c62828;
}

.success {
  background-color: #7cb342;
}
