@import '../app/variables.css';

.optionsBody {
  padding: 0 40px;
}

.text {
  padding: 0 70px;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-grayscale-dark) !important;
}

.buttonsRow {
  padding: 30px 0;
}

@media (--small-viewport) {
  .optionsBody {
    padding: 0 15px;
  }
}
