.wrapper {
  min-width: 100%;
}

@media (--xLarge-viewport) {
  .gridPadding {
    padding-right: 37px;
  }
}

@media (--large-viewport) {
  .gridPadding {
    padding-right: 24px;
  }
}

@media (--medium-viewport) {
  .gridPadding {
    padding-right: 0;
  }
}

@media (max-width: 1025px) {
  .transactions {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (--medium-viewport) {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .transactions {
    padding: 0;
  }
}
