.flag {
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 20px;
  border-radius: 5px;

  &.bordered {
    border: solid 1px var(--color-mystic);
  }
}

.sprite {
  position: relative;
  background-image: url(../../../../assets/images/flags.png);
  background-repeat: no-repeat;
  display: block;
  width: 64px;
  height: 64px;
  transform: scale(0.5);
  top: -22px;
  left: -17px;

  &:global(.undefined) {
    display: none;
  }
}

.abkhazia {
  background-position: -5px -5px;
}

.AF {
  background-position: -79px -5px;
}

.AX {
  background-position: -153px -5px;
}

.AL {
  background-position: -227px -5px;
}

.DZ {
  background-position: -301px -5px;
}

.AS {
  background-position: -375px -5px;
}

.AD {
  background-position: -449px -5px;
}

.AO {
  background-position: -523px -5px;
}

.AI {
  background-position: -597px -5px;
}

.AQ {
  background-position: -671px -5px;
}

.AG {
  background-position: -745px -5px;
}

.AR {
  background-position: -819px -5px;
}

.AM {
  background-position: -893px -5px;
}

.AW {
  background-position: -967px -5px;
}

.AU {
  background-position: -1041px -5px;
}

.AT {
  background-position: -1115px -5px;
}

.AZ {
  background-position: -5px -79px;
}

.BS {
  background-position: -79px -79px;
}

.BH {
  background-position: -153px -79px;
}

.BD {
  background-position: -227px -79px;
}

.BB {
  background-position: -301px -79px;
}

.basque-country {
  background-position: -375px -79px;
}

.BY {
  background-position: -449px -79px;
}

.BE {
  background-position: -523px -79px;
}

.BZ {
  background-position: -597px -79px;
}

.BJ {
  background-position: -671px -79px;
}

.BM {
  background-position: -745px -79px;
}

.BT {
  background-position: -819px -79px;
}

.BO {
  background-position: -893px -79px;
}

.BA {
  background-position: -967px -79px;
}

.BW {
  background-position: -1041px -79px;
}

.BR {
  background-position: -1115px -79px;
}

.BQ {
  background-position: -5px -153px;
}

.VG {
  background-position: -79px -153px;
}

.BN {
  background-position: -153px -153px;
}

.BG {
  background-position: -227px -153px;
}

.BF {
  background-position: -301px -153px;
}

.BI {
  background-position: -375px -153px;
}

.KH {
  background-position: -449px -153px;
}

.CM {
  background-position: -523px -153px;
}

.CA {
  background-position: -597px -153px;
}

.IC {
  background-position: -671px -153px;
}

.CV {
  background-position: -745px -153px;
}

.KY {
  background-position: -819px -153px;
}

.CF {
  background-position: -893px -153px;
}

.TD {
  background-position: -967px -153px;
}

.CL {
  background-position: -1041px -153px;
}

.CN {
  background-position: -1115px -153px;
}

.CX {
  background-position: -5px -227px;
}

.CC {
  background-position: -79px -227px;
}

.CO {
  background-position: -153px -227px;
}

.commonwealth {
  background-position: -227px -227px;
}

.KM {
  background-position: -301px -227px;
}

.CK {
  background-position: -375px -227px;
}

.CR {
  background-position: -449px -227px;
}

.CI {
  background-position: -523px -227px;
}

.HR {
  background-position: -597px -227px;
}

.CU {
  background-position: -671px -227px;
}

.CW {
  background-position: -745px -227px;
}

.CY {
  background-position: -819px -227px;
}

.CZ {
  background-position: -893px -227px;
}

.CD {
  background-position: -967px -227px;
}

.DK {
  background-position: -1041px -227px;
}

.DJ {
  background-position: -1115px -227px;
}

.DM {
  background-position: -5px -301px;
}

.DO {
  background-position: -79px -301px;
}

.TP {
  background-position: -153px -301px;
}

.EC {
  background-position: -227px -301px;
}

.EG {
  background-position: -301px -301px;
}

.SV {
  background-position: -375px -301px;
}

.england {
  background-position: -449px -301px;
}

.GQ {
  background-position: -523px -301px;
}

.ER {
  background-position: -597px -301px;
}

.EE {
  background-position: -671px -301px;
}

.ET {
  background-position: -745px -301px;
}

.FK {
  background-position: -893px -301px;
}

.FO {
  background-position: -967px -301px;
}

.FJ {
  background-position: -1041px -301px;
}

.FI {
  background-position: -1115px -301px;
}

.FR {
  background-position: -5px -375px;
}

.PF {
  background-position: -79px -375px;
}

.TF {
  background-position: -153px -375px;
}

.GA {
  background-position: -227px -375px;
}

.GM {
  background-position: -301px -375px;
}

.GE {
  background-position: -375px -375px;
}

.DE {
  background-position: -449px -375px;
}

.GH {
  background-position: -523px -375px;
}

.GI {
  background-position: -597px -375px;
}

.gosquared {
  background-position: -671px -375px;
}

.GR {
  background-position: -745px -375px;
}

.GL {
  background-position: -819px -375px;
}

.GD {
  background-position: -893px -375px;
}

.GU {
  background-position: -967px -375px;
}

.GT {
  background-position: -1041px -375px;
}

.GG {
  background-position: -1115px -375px;
}

.GN {
  background-position: -5px -449px;
}

.GW {
  background-position: -79px -449px;
}

.GY {
  background-position: -153px -449px;
}

.HT {
  background-position: -227px -449px;
}

.HN {
  background-position: -301px -449px;
}

.HK {
  background-position: -375px -449px;
}

.HU {
  background-position: -449px -449px;
}

.IS {
  background-position: -523px -449px;
}

.IN {
  background-position: -597px -449px;
}

.ID {
  background-position: -671px -449px;
}

.IR {
  background-position: -745px -449px;
}

.IQ {
  background-position: -819px -449px;
}

.IE {
  background-position: -893px -449px;
}

.IM {
  background-position: -967px -449px;
}

.IL {
  background-position: -1041px -449px;
}

.IT {
  background-position: -1115px -449px;
}

.JM {
  background-position: -5px -523px;
}

.JP {
  background-position: -79px -523px;
}

.JE {
  background-position: -153px -523px;
}

.JO {
  background-position: -227px -523px;
}

.KZ {
  background-position: -301px -523px;
}

.KE {
  background-position: -375px -523px;
}

.KI {
  background-position: -449px -523px;
}

.XK {
  background-position: -523px -523px;
}

.KW {
  background-position: -597px -523px;
}

.KG {
  background-position: -671px -523px;
}

.LA {
  background-position: -745px -523px;
}

.LV {
  background-position: -819px -523px;
}

.LB {
  background-position: -893px -523px;
}

.LS {
  background-position: -967px -523px;
}

.LR {
  background-position: -1041px -523px;
}

.LY {
  background-position: -1115px -523px;
}

.LI {
  background-position: -5px -597px;
}

.LT {
  background-position: -79px -597px;
}

.LU {
  background-position: -153px -597px;
}

.MO {
  background-position: -227px -597px;
}

.MK {
  background-position: -301px -597px;
}

.MG {
  background-position: -375px -597px;
}

.MW {
  background-position: -449px -597px;
}

.MY {
  background-position: -523px -597px;
}

.MV {
  background-position: -597px -597px;
}

.ML {
  background-position: -671px -597px;
}

.MT {
  background-position: -745px -597px;
}

.MH {
  background-position: -893px -597px;
}

.MQ {
  background-position: -967px -597px;
}

.MR {
  background-position: -1041px -597px;
}

.MU {
  background-position: -1115px -597px;
}

.YT {
  background-position: -5px -671px;
}

.MX {
  background-position: -79px -671px;
}

.FM {
  background-position: -153px -671px;
}

.moldova {
  background-position: -227px -671px;
}

.MC {
  background-position: -301px -671px;
}

.MN {
  background-position: -375px -671px;
}

.ME {
  background-position: -449px -671px;
}

.MS {
  background-position: -523px -671px;
}

.MA {
  background-position: -597px -671px;
}

.MZ {
  background-position: -671px -671px;
}

.MM {
  background-position: -745px -671px;
}

.nato {
  background-position: -819px -671px;
}

.nagorno-karabakh {
  background-position: -893px -671px;
}

.NA {
  background-position: -967px -671px;
}

.NR {
  background-position: -1041px -671px;
}

.NP {
  background-position: -1115px -671px;
}

.NL {
  background-position: -5px -745px;
}

.AN {
  background-position: -79px -745px;
}

.NC {
  background-position: -153px -745px;
}

.NZ {
  background-position: -227px -745px;
}

.NI {
  background-position: -301px -745px;
}

.NE {
  background-position: -375px -745px;
}

.NG {
  background-position: -449px -745px;
}

.NU {
  background-position: -523px -745px;
}

.NF {
  background-position: -597px -745px;
}

.KP {
  background-position: -671px -745px;
}

.northern-cyprus {
  background-position: -745px -745px;
}

.MP {
  background-position: -819px -745px;
}

.NO {
  background-position: -893px -745px;
}

.OM {
  background-position: -1041px -745px;
}

.PK {
  background-position: -1115px -745px;
}

.PW {
  background-position: -5px -819px;
}

.PS {
  background-position: -79px -819px;
}

.PA {
  background-position: -153px -819px;
}

.PG {
  background-position: -227px -819px;
}

.PY {
  background-position: -301px -819px;
}

.PE {
  background-position: -375px -819px;
}

.PH {
  background-position: -449px -819px;
}

.PN {
  background-position: -523px -819px;
}

.PL {
  background-position: -597px -819px;
}

.PT {
  background-position: -671px -819px;
}

.PR {
  background-position: -745px -819px;
}

.QA {
  background-position: -819px -819px;
}

.red-cross {
  background-position: -893px -819px;
}

.CG {
  background-position: -967px -819px;
}

.RO {
  background-position: -1041px -819px;
}

.RU {
  background-position: -1115px -819px;
}

.RW {
  background-position: -5px -893px;
}

.saint-barthelemy {
  background-position: -79px -893px;
}

.SH {
  background-position: -153px -893px;
}

.saint-kitts-and-nevis {
  background-position: -227px -893px;
}

.LC {
  background-position: -301px -893px;
}

.MF {
  background-position: -375px -893px;
}

.VC {
  background-position: -449px -893px;
}

.WS {
  background-position: -523px -893px;
}

.SM {
  background-position: -597px -893px;
}

.ST {
  background-position: -671px -893px;
}

.SA {
  background-position: -745px -893px;
}

.scotland {
  background-position: -819px -893px;
}

.SN {
  background-position: -893px -893px;
}

.RS {
  background-position: -967px -893px;
}

.SC {
  background-position: -1041px -893px;
}

.SL {
  background-position: -1115px -893px;
}

.SG {
  background-position: -5px -967px;
}

.SK {
  background-position: -79px -967px;
}

.SI {
  background-position: -153px -967px;
}

.SB {
  background-position: -227px -967px;
}

.SO {
  background-position: -301px -967px;
}

.ZA {
  background-position: -449px -967px;
}

.GS {
  background-position: -523px -967px;
}

.KR {
  background-position: -597px -967px;
}

.south-ossetia {
  background-position: -671px -967px;
}

.SS {
  background-position: -745px -967px;
}

.ES {
  background-position: -819px -967px;
}

.LK {
  background-position: -893px -967px;
}

.SD {
  background-position: -967px -967px;
}

.SR {
  background-position: -1041px -967px;
}

.swaziland {
  background-position: -1115px -967px;
}

.SE {
  background-position: -5px -1041px;
}

.CH {
  background-position: -79px -1041px;
}

.SY {
  background-position: -153px -1041px;
}

.TW {
  background-position: -227px -1041px;
}

.TJ {
  background-position: -301px -1041px;
}

.TZ {
  background-position: -375px -1041px;
}

.TH {
  background-position: -449px -1041px;
}

.TG {
  background-position: -523px -1041px;
}

.TK {
  background-position: -597px -1041px;
}

.TO {
  background-position: -671px -1041px;
}

.trinidad-and-tobago {
  background-position: -745px -1041px;
}

.TN {
  background-position: -819px -1041px;
}

.TR {
  background-position: -893px -1041px;
}

.TM {
  background-position: -967px -1041px;
}

.turks-and-caicos-islands {
  background-position: -1041px -1041px;
}

.TV {
  background-position: -1115px -1041px;
}

.us-virgin-islands {
  background-position: -5px -1115px;
}

.UG {
  background-position: -79px -1115px;
}

.UA {
  background-position: -153px -1115px;
}

.AE {
  background-position: -227px -1115px;
}

.UK {
  background-position: -301px -1115px;
}

.united-nations {
  background-position: -375px -1115px;
}

.US {
  background-position: -449px -1115px;
}

.unknown {
  background-position: -523px -1115px;
}

.UY {
  background-position: -597px -1115px;
}

.UZ {
  background-position: -671px -1115px;
}

.VU {
  background-position: -745px -1115px;
}

.vatican-city {
  background-position: -819px -1115px;
}

.VE {
  background-position: -893px -1115px;
}

.VN {
  background-position: -967px -1115px;
}

.wales {
  background-position: -1041px -1115px;
}

.wallis-and-futuna {
  background-position: -1115px -1115px;
}

.EH {
  background-position: -1189px -5px;
}

.YE {
  background-position: -1189px -79px;
}

.ZM {
  background-position: -1189px -153px;
}

.ZW {
  background-position: -1189px -227px;
}
