@import '../app/variables';
@import '../app/variablesV2.css';

:root {
  --stepSwitch-font-size: 16px;
}

.wrapper {
  height: 100%;
  min-height: 200px;
  position: relative;

  & > header {
    justify-content: space-between;
  }
}

.chartWrapper {
  height: 89%;
  min-height: 130px;
  width: calc(100% + 50px);
  margin: 0 -25px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.errorMessage {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & img {
    height: 60px;
  }

  & p {
    margin-top: 0px;
  }
}

.stepSwitchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stepSwitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: var(--paragraph-font-size-s);
  font-weight: var(--font-weight-semi-bold);
  font-family: var(--content-font);
  color: var(--color-title-header-box);
  margin: 0 5px;
  position: relative;

  &:not(:first-child)::before {
    background-color: var(--color-dark-gray);
    content: '';
    height: 18px;
    opacity: 0.1;
    left: -5px;
    position: absolute;
    width: 1px;
  }

  &.active {
    background-color: var(--color-white);
    color: var(--color-primary-standard);
    box-shadow: var(--box-shadow-graph-selector);
    border-radius: 2px;
  }
}

@media (--medium-viewport) {
  .wrapper {
    min-height: 327px;
  }

  .chartWrapper {
    height: 89px;
    min-height: 230px;
  }

  .errorMessage {
    margin-top: 30px;
  }
}
