@import '../app/variables';

:root {
  --stepSwitch-font-size: 16px;
}

.wrapper {
  height: 100%;
  min-height: 200px;
  position: relative;

  & > header {
    justify-content: space-between;
  }
}

.chartWrapper {
  height: 100%;
  min-height: 130px;
  width: calc(100% + 50px);
  margin: 0 -25px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.errorMessage {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & img {
    height: 60px;
  }

  & p {
    margin-top: 0px;
  }
}

.stepSwitchWrapper {
  float: right;
  margin: 50px 10px 50px 0px;
  z-index: 10;
  position: relative;
}

.stepSwitch {
  padding: 10px;
  cursor: pointer;
  font-size: var(--stepSwitch-font-size);
  font-weight: 600;
  font-family: var(--heading-font);
  color: var(--color-grayscale-light);

  &.active {
    color: var(--color-grayscale-dark);
  }
}

@media (--medium-viewport) {
  .wrapper {
    min-height: 327px;

    & header {
      padding: 20px var(--box-padding-left-M) 0 var(--box-padding-left-M);
    }
  }

  .chartWrapper {
    min-height: 230px;
  }

  .errorMessage {
    margin-top: 30px;
  }
}

@media (--small-viewport) {
  .stepSwitchWrapper {
    margin: 45px 0;
  }
}
