@import '../app/variables';

:root {
  --stepSwitch-font-size: 15px;
}

.wrapper {
  height: 100%;
  min-height: 200px;
  position: relative;
}

.chartWrapper {
  height: 100%;
  min-height: 130px;
  width: calc(100% + 50px);
  margin: 0 -25px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.errorMessage {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & img {
    height: 60px;
  }

  & p {
    margin-top: 0px;
  }
}

.stepSwitchWrapper {
  float: right;
  margin: 50px;
  z-index: 10;
  position: relative;
}

.stepSwitch {
  padding: 10px 16px;
  cursor: pointer;
  font-size: var(--stepSwitch-font-size);
  font-weight: 500;
  color: var(--color-grayscale-medium);

  &.active {
    color: var(--color-white);
    background: var(--gradient-tertiary);
    border-radius: var(--border-radius-normal);
    font-weight: 300;
  }
}

@media (--xLarge-viewport) {
  .wrapper {
    & header {
      padding: 20px var(--box-padding-left-XL) 0 var(--box-padding-left-XL);
    }
  }
}

@media (--large-viewport) {
  .wrapper {
    & header {
      padding: 20px var(--box-padding-left-L) 0 var(--box-padding-left-L);
    }
  }
}

@media (--medium-viewport) {
  .wrapper {
    min-height: 300px;

    & header {
      padding: 20px var(--box-padding-left-M) 0 var(--box-padding-left-M);
    }
  }

  .chartWrapper {
    min-height: 230px;
  }

  .errorMessage {
    margin-top: 30px;
  }
}

@media (--small-viewport) {
  .stepSwitchWrapper {
    margin: 45px 0;
  }
}
