@import '../app/variables.css';

.wrapper {
  display: grid;
  grid-template-columns: 1fr .3fr .7fr .7fr .3fr 1fr; /* stylelint-disable-line */
  grid-template-rows: 1fr 1fr .1fr .9fr 1fr; /* stylelint-disable-line */
  grid-gap: 15px 15px;
  max-height: 75vh; /* stylelint-disable-line */
}

.latestActivity {
  grid-area: 1 / 1 / 4 / 5;

  & :global(.transaction-results) {
    overflow-y: hidden;
    margin: 0px calc(0 - var(--box-padding-left-XL));
  }
}

.newsFeedWrapper {
  padding-right: 0px;
  grid-area: 1 / 5 / 6 / 7;
}

.bookmarks {
  grid-area: 4 / 1 / 6 / 3;
}

.graphs {
  grid-area: 4 / 3 / 6 / 5;
}

.seeAllLink {
  font-size: 15px;
  color: var(--color-primary-standard);
  margin-left: 40px;
  text-decoration: none;
  font-family: var(--content-font);
  font-weight: var(--font-weight-bold);
}

.send {
  position: relative;
}

.bottomModuleWrapper {
  min-height: 200px;
  grid-area: 4 / 1 / 6 / 4;
}

.graph {
  overflow: hidden;
  padding: 0px;
}

.showMore {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #2475b9;
  cursor: pointer;
}

.onShowMoreToggle {
  transition: height 0.5s ease;
  height: auto;
}

@media (--medium-viewport) {
  .wrapper {
    & .main {
      max-width: 100%;
      flex-basis: 100%;
      max-height: unset;
      overflow: hidden;
    }

    margin: 0;
  }

  .graph {
    height: 60%;
    min-height: 300px;
    margin-bottom: 0;
  }

  .following {
    height: auto;
    min-height: 300px;
  }

  .bottomModuleWrapper {
    height: auto;
  }

  .latestActivity {
    height: unset;
    min-height: unset;
    overflow: hidden;
  }
}

@media (--small-viewport) {
  .seeAllLink {
    display: block;
    margin-top: 16px;
    margin-left: 0;
  }
}
