@import '../app/variables.css';

.wrapper {
  width: 100%;
  margin: 0px;
  padding-bottom: 50px;
}

.main {
  height: auto;
  padding: 0px;
}

.latestActivity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 0 0 20px;
  padding: 0;

  & > header {
    padding: 20px 48px 0;
  }

  & :global(.transaction-results) {
    margin: 0;
  }
}

.bottomModuleWrapper {
  height: auto;
  min-height: 200px;
  padding: 0px 8px;

  & > div:first-child {
    padding-right: 10px;
    height: auto;
  }

  & > div:last-child {
    padding-left: 10px;
  }
}

.following {
  height: auto;
}

.newsFeedWrapper {
  padding-right: 0px;
  padding-left: 15px;
}

.seeAllLink {
  font-size: 15px;
  color: var(--color-primary-standard);
  margin-left: 40px;
  text-decoration: none;
  font-family: var(--content-font);
  font-weight: var(--font-weight-bold);
}

.graph {
  overflow: hidden;
  padding: 0px;
  height: 410px;
}

.showMore {
  margin-top: 5px;
}

@media (--medium-viewport) {
  .wrapper {
    margin: 0;
    min-height: unset;

    & .main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      flex-basis: 100%;
      max-width: 100%;
      min-height: min-content;
      padding-bottom: 50px;
    }
  }

  .latestActivity {
    height: auto;
    min-height: 0;
    margin: 0 8px 20px;
  }

  .bottomModuleWrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0;

    & > div {
      max-width: 100%;
      padding: 0;
    }

    & > div:first-child {
      margin-bottom: 20px;
      padding-right: 0;
    }

    & > div:last-child {
      padding-left: 0;
    }
  }

  .newsFeedWrapper {
    flex-basis: 50%;
    padding: 0 8px;
  }

  .graph {
    height: 60%;
    min-height: 300px;
    margin-bottom: 0;
  }

  .following {
    height: auto;
    min-height: 300px;
  }
}
