@import '../app/variables.css';

.wrapper {
  display: grid;
  grid-template-columns: 1fr .3fr .7fr .7fr .3fr 1fr; /* stylelint-disable-line */
  grid-template-rows: 1fr 1fr .1fr .9fr 1fr; /* stylelint-disable-line */
  grid-gap: 15px 15px;
  max-height: 75vh; /* stylelint-disable-line */
}

.main {
  max-height: 75vh; /* stylelint-disable-line */
  padding: 0px;
}

.latestActivity {
  height: calc(50% - 20px);
  margin: 0 0 20px;
}

.bottomModuleWrapper {
  height: 50%;
  min-height: 200px;
  padding: 0px 8px;

  & > div:first-child {
    padding-right: 10px;
  }

  & > div:last-child {
    padding-left: 10px;
  }
}

.newsFeedWrapper {
  padding-right: 0px;
  padding-left: 15px;
}

.seeAllLink {
  font-size: 15px;
  color: var(--color-primary-standard);
  margin-left: 40px;
  text-decoration: none;
  font-family: var(--content-font);
  font-weight: var(--font-weight-bold);
}

.graph {
  overflow: hidden;
  padding: 0px;
}

@media (--medium-viewport) {
  .wrapper {
    margin: 0;
    min-height: unset;

    & .main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      flex-basis: 100%;
      max-width: 100%;
      min-height: min-content;
    }
  }

  .latestActivity {
    height: 400px;
    min-height: 0;
    margin: 0 8px 20px;
  }

  .bottomModuleWrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0;

    & > div {
      max-width: 100%;
      padding: 0;
    }

    & > div:first-child {
      margin-bottom: 20px;
      padding-right: 0;
    }

    & > div:last-child {
      padding-left: 0;
    }
  }

  .newsFeedWrapper {
    flex-basis: 50%;
    padding: 0 8px;
  }

  .graph {
    height: 60%;
    min-height: 300px;
    margin-bottom: 0;
  }

  .following {
    height: auto;
    min-height: 300px;
  }
}
