@import '../app/variables.css';

.wrapper {
  width: 100%;
  margin: 0px;
}

.main {
  max-height: 75vh; /* stylelint-disable-line */
  padding-left: 0px;
}

.seeAllLink {
  font-size: 15px;
  color: var(--color-primary-standard);
  margin-left: 40px;
  text-decoration: none;
  font-family: var(--content-font);
  font-weight: var(--font-weight-bold);
}

.newsFeedWrapper {
  padding-right: 0px;
}

.send {
  position: relative;
}

.bottomModuleWrapper {
  height: 50%;
  min-height: 200px;
  padding: 0px 8px;
}

.graph {
  overflow: hidden;
  padding: 0px;
}

.latestActivity {
  height: 413px;
  margin: 0px 0px 20px;

  & :global(.transaction-results) {
    overflow-y: hidden;
    margin: 0px calc(0 - var(--box-padding-left-XL));
  }
}

.showMore {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #2475b9;
  cursor: pointer;
}

.onShowMoreToggle {
  transition: height 0.5s ease;
  height: auto;
}

@media (--medium-viewport) {
  .wrapper {
    & .main {
      max-width: 100%;
      flex-basis: 100%;
      max-height: unset;
      overflow: hidden;
    }

    margin: 0;
  }

  .graph {
    height: 60%;
    min-height: 300px;
    margin-bottom: 0;
  }

  .following {
    height: auto;
    min-height: 300px;
  }

  .bottomModuleWrapper {
    height: auto;
  }

  .latestActivity {
    height: unset;
    min-height: unset;
    overflow: hidden;
  }
}

@media (--small-viewport) {
  .seeAllLink {
    display: block;
    margin-top: 16px;
    margin-left: 0;
  }
}
