@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  display: flex;
  padding: 0;

  & .content {
    display: flex;
    height: 200px;
    flex-grow: 1;
    position: relative;
    border-bottom-left-radius: var(--border-radius-box);
    border-bottom-right-radius: var(--border-radius-box);
    padding-left: 0;
    padding-right: 0;
    background-image: url(../../../../../../setup/react/assets/images/waves.png);
    background-size: 110%;
  }
}

.title {
  @mixin contentLargest normal;

  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px 10px;
  color: var(--color-ink-blue);
  box-sizing: border-box;
}

.valuesRow {
  display: flex;
  flex: 1;
  padding: 0 var(--horizontal-padding-l);

  & .cryptoValue {
    @mixin headingNormalIntermediate normal;

    color: var(--color-ink-blue);
  }

  & .fiatValue {
    @mixin contentLargest normal;

    color: var(--color-ink-blue);
    opacity: 0.8;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: baseline;

    & > div {
      margin-bottom: 10px;
      white-space: pre;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.actionRow {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 var(--horizontal-padding-l);
  justify-content: center;
  font-weight: normal;

  & .button {
    flex-grow: 1;

    & + .button {
      margin-left: 10px;
    }

    & button {
      width: 100%;
    }
  }

  & .registerValidator {
    @mixin contentLarge semi-bold;

    line-height: 40px;
    color: var(--color-ultramarine-blue);
    flex-grow: 1;
    cursor: pointer;

    & > button {
      padding: 0;
    }
  }

  & .sendButton {
    &.LSK {
      background-color: var(--color-ultramarine-blue);
    }
  }
}

.lockedBalance {
  @mixin headingNormal normal;

  color: var(--color-ink-blue);

  &.pointer {
    cursor: pointer;
  }

  & > img {
    width: 17px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.pointer {
  cursor: pointer;
}

.lockedIcon {
  display: flex;
  align-self: center;
  margin-left: 5px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: gray;
  font-weight: 100;
}

.emptyBalanceTooltipWrapper {
  display: inline-block;
}

.emptyBalanceTooltipChild {
  pointer-events: none;
}
