.header {
  position: sticky;
  top: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: calc(var(--header-height) + 25px);
  justify-content: space-between;
  padding: 30px 0 25px;
  z-index: 4;
  pointer-events: none;

  & > h1 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0;
  }
}
