@import '../../app/variablesV2.css';

.checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 2;
  cursor: pointer;

  & input {
    visibility: hidden;
    position: absolute;
  }

  & span {
    color: var(--color-ultramarine-blue);
    border-radius: var(--border-radius-standard);
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;

    &.checked {
      display: none;
      color: var(--color-ultramarine-blue);
    }

    &.unchecked {
      font-size: 16px;
      background-color: var(--color-white);
      border: solid 1px rgba(0, 0, 0, 0.08);
      color: var(--color-white);
      display: block;
    }

    &.accent {
      border: 1px solid var(--color-ultramarine-blue);
      box-shadow: 0 0 5px 0 var(--color-ultramarine-blue);
      line-height: 15px !important;
    }

    &.removed {
      border: solid 1px var(--color-burnt-sienna);
      box-shadow: unset;
    }
  }

  & input:checked {
    & ~ .checked {
      display: block;
    }

    & ~ .unchecked {
      display: none;
    }
  }
}
