@import '../../app/variablesV2.css';

.wrapper {
  position: relative;

  & .dropdown {
    transform-origin: top center;
  }
}

.inputHolder {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;

  & input,
  & input:read-only {
    color: var(--color-maastricht-blue);
    cursor: inherit;
  }

  &::after {
    border: 4px solid transparent;
    border-bottom: 0 none;
    border-top: 4px solid var(--color-slate-gray);
    content: '';
    position: absolute;
    right: 20px;
  }
}
