@import '../../../../app/mixins.css';

.wrapper {
  & > header {
    justify-content: flex-end !important;
    padding: 0 !important;
    height: 20px !important;

    & > div {
      margin-top: -70px;
    }
  }
}

.sortingColumn {
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  &.arrowUp {
    border-bottom: 4px solid black;
  }

  &.arrowDown {
    border-top: 4px solid black;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0 !important;
}

.tooltipOffset {
  left: -8px;
}

.pending {
  animation-delay: var(--animation-speed-slowest);
  animation-duration: var(--animation-speed-slow);
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: appear;
  animation-timing-function: linear;

  & :global(.tx-avatar),
  & :global(.tx-icon) {
    animation-delay: calc(var(--animation-speed-slowest) + calc(var(--animation-speed-slow) / 1.5));
    animation-duration: var(--animation-speed-standard);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: showIcons;
    animation-timing-function: linear;
  }
}

.voteDetails {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  & .voteItem {
    background: var(--color-mystic);
    padding: 4px 6px;
    border-radius: 3px;
    flex: 1 0 0;
    margin: 0 3px;

    & .username {
      color: var(--color-ink-blue);
      padding-right: 10px;
      font-weight: var(--font-weight-semi-bold);
    }
  }

  & .more {
    @mixin contentLarge semi-bold;

    top: 8px;
    position: relative;
    color: var(--color-link-active);
    flex: 1 100%;
  }
}

.transactionReference {
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes appear {
  0% {
    height: 0;
    opacity: 0;
  }

  40% {
    height: 85px;
    opacity: 0;
  }
  70% { height: 80px; }

  100% {
    height: 80px;
    opacity: 1;
  }
}

@keyframes showIcons {
  0% {
    opacity: 0;
    transform: scale(1.6);
  }

  70% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
