.wrapper {
  width: 100%;
  height: auto;
  padding: 0 !important;

  & .object {
    width: 100%;
    box-sizing: border-box;

    & .object {
      padding-left: var(--horizontal-padding-l);
    }
  }

  & .pair {
    width: 100%;
    border-bottom: 1px solid var(--color-platinum);
    box-sizing: border-box;
    padding: 5px 0px;

    &:last-child {
      border-bottom: none;
    }
  }

  & .list {
    counter-reset: section;

    & > .listItem {
      display: block;
      position: relative;
      padding-left: var(--horizontal-padding-l);
      padding-top: 9px;

      & > .object {
        padding-left: 0;
      }

      &::before {
        counter-increment: section;
        content: counter(section) ".";
        position: absolute;
        left: 0px;
        color: gray;
        top: 13px;
      }
    }
  }

  & .label,
  & .value {
    display: block;
    width: 100%;
  }

  & .label {
    @mixin contentLarge;

    color: var(--color-maastricht-blue);
    line-height: 30px;
    text-transform: capitalize;
  }

  & .value {
    line-height: 26px;
    font-weight: 500;
  }
}
