@import '../../app/variables.css';

.inputWrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  & .input {
    @mixin contentLargest;

    width: 100%;
    height: 48px;
    padding-left: 50px;
    padding-right: 30px;

    & ~ .suggestionList {
      opacity: 0 !important;
      visibility: hidden !important;
    }

    &:focus ~ .suggestionList {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

.icon {
  position: absolute;
  left: 16px;
}

.status {
  position: absolute;
  right: 10px;
}

.suggestionList {
  @mixin contentLargest;

  position: absolute;
  top: 52px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid var(--dark-border-color);
  border-radius: var(--border-radius-standard);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  max-height: 176px;
  overflow: hidden;
  transition: visibility var(--animation-speed-fast) linear, opacity var(--animation-speed-fast) linear;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  &:empty {
    border: unset;
  }

  & li {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    height: 44px;
    min-height: 44px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    & > span {
      margin-left: 10px;
      color: var(--color-maastricht-blue);
    }

    & > span:last-child {
      color: var(--color-blue-gray) !important;
    }

    &:hover,
    &.active {
      background-color: var(--primary-background-color);

      & > span {
        color: var(--color-ultramarine-blue);
      }
    }
  }
}

.feedbackMessage {
  margin-top: 5px;
  max-height: 100% !important;
  min-height: 40px;
}

.spinner {
  color: var(--color-ultramarine-blue);
  position: absolute;
  right: 11px;
}

.show {
  opacity: 1;
  transition: opacity var(--animation-speed-fast) linear var(--animation-delay-standard);
}

.hide {
  opacity: 0;
  transition: opacity var(--animation-speed-fast) linear;
}
