@import '../../../../../../setup/react/app/mixins.css';

.news {
  text-decoration: none;
}

.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 15px;

    & > .title {
      @mixin contentLargest bold;

      color: var(--color-maastricht-blue);
    }

    & > .subtitle {
      @mixin contentNormal;

      color: var(--color-slate-gray);
    }
  }
}

.description {
  @mixin contentLargest;

  width: calc(100% - 55px);
  margin: 15px 0 0 auto;
  padding-right: 10px;
  color: var(--color-slate-gray);
  text-align: justify;
  box-sizing: border-box;
  word-break: break-word;
}

.img {
  width: calc(100% - 55px);
  margin: 10px 0 0 auto;
  border-radius: 5px;
  display: block;
}

.icon {
  width: 40px;
}

.author {
  font-weight: 500;
  color: var(--color-maastricht-blue);

  &::after {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 3px;
    height: 3px;
    content: '';
    background-color: var(--color-maastricht-blue);
    margin: 0 5px;
    border-radius: 50%;
  }
}
