.wrapper {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;

  & > label {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
  }
}

.content {
  width: calc(100% + 40px);
  height: auto;
  max-height: 310px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  margin: 0 -20px -20px -20px;

  & .accountRow {
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-rows-hover);
    }
  }

  & .accountInformation {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    box-sizing: border-box;

    & > div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  & .tag {
    @mixin contentNormal bold;

    background: var(--color-slate-gray);
    color: var(--color-strong-white);
    padding: 3px 7px;
    box-sizing: border-box;
    margin-left: 7px;
    border-radius: 3px;
    line-height: unset;
  }

  & .accountTitle {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
  }

  & .delegateName {
    @mixin contentLargest bold;

    color: var(--color-ghost);
  }

  & .highlight {
    color: var(--color-maastricht-blue);
    background-color: initial;
  }

  & .accountSubtitle {
    @mixin contentNormal;

    color: var(--color-slate-gray);
  }

  & .accountBalance {
    @mixin contentSmallest;

    color: var(--color-maastricht-blue);
    margin-left: auto;
  }
}

.active {
  background-color: var(--color-rows-hover);
}
