.wrapper {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;

  & label {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
  }
}

.subTitles {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  @mixin contentLargest;

  width: calc(100% + 40px);
  height: auto;
  max-height: 220px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -20px;

  & .resultRow {
    width: 100%;
    height: auto;
    min-height: 53px;
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-background-color);
    }
  }

  & .resultRow > img {
    margin: 10px 20px 10px 0;
  }

  & .transactionId {
    color: var(--color-maastricht-blue);
  }

  & .transactionMessage {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
    margin-left: auto;
  }
}

.active {
  background-color: var(--primary-background-color);
}
