@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
  overflow: auto;

  & .box {
    & > header {
      padding-left: var(--horizontal-padding-l) !important;
      padding-right: var(--horizontal-padding-l) !important;
    }
  }

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
