@import '../app/variables.css';
@import '../app/variablesV2.css';

.container {
  background-color: var(--color-white);
  top: 40px;

  & .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: -3%;
    left: 70%;
    border-width: 0 20px 10px;
    border-color: transparent transparent var(--color-white);
  }

  & .triangleBorder {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: -3.2%;
    left: 70%;
    border-width: 0 20px 10px;
    border-color: transparent transparent rgba(8, 24, 49, 0.1);
  }
}

.label {
  color: var(--color-content-light);
  font-family: var(--heading-font);
  font-size: var(--paragraph-font-size-l);
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
}

.buttonContainer {
  padding: 0px 20px;
}

.row {
  display: flex;
  margin: 14px 0 24px;
}

.dash {
  vertical-align: middle;
  font-size: 12px;
}

.button {
  width: 100%;
}

.bar::before,
.bar::after {
  height: 0px;
}

.filterTransactions {
  display: flex;
  justify-content: center;
  font-size: var(--button-font-size-s);
  padding: 10px 20px 0;
  height: 25px;
}

.error {
  color: var(--color-error);
  font-size: var(--button-font-size-s);
  font-weight: var(--font-weight-semi-bold);
  text-align: right;
  width: 100%;
  text-align: right;
  position: absolute;
  top: 40px;
}

.errored {
  border-color: var(--color-error);
  margin-bottom: 20px !important;
}

.errored > .inputElement, .errored > .inputElement:focus {
  color: var(--color-error);
  border-color: var(--color-error);
  outline-color: var(--color-error);
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}

.input {
  margin: 0 20px;
  padding: 1px;
  height: 36px;
  background-color: var(--color-white);
  border: 0.5px solid #a6adbd;
  border-radius: 4px;
  width: 100%;

  & input {
    background-color: var(--color-white);
    line-height: var(--search-box-line-height);
    font-size: 12px;
    color: var(--color-grayscale-medium);
    width: 100%;
    padding: 8px 0 8px 14px;
    border-radius: 3px;
    border: none;
    transition: background-color 300ms linear;
    margin-top: 0px !important;

    &::selection {
      color: var(--color-white);
      background: var(--color-primary-light);
    }

    &::placeholder {
      color: var(--color-grayscale-medium);
      font-weight: 200;
      letter-spacing: 0;
    }

    &:focus {
      border-color: var(--color-primary-standard);
      outline-color: var(--color-primary-standard);
      outline-style: auto;
      outline-width: 5px;
      outline-offset: -2px;
    }
  }

  & span:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &::before,
    &::after {
      background-color: var(--color-grayscale-light);
    }
  }
}

.bigDropdown {
  width: 368px;
  position: absolute;
}

.triangleDown {
  font-size: 15px;
  margin-top: -3px;
  margin-left: 10px;
}

.dropdownContainer {
  position: relative;
  max-width: 1400px;
  width: 100%;
  height: 0px;
}
