@import '../app/variablesV2.css';
@import '../app/mixins.css';

.transactionType {
  align-items: center;
  display: flex;

  & .icon {
    display: block;
    height: 24px;
    margin-right: 24px;
    width: 24px;
  }

  & .info {
    display: flex;

    & > .avatar {
      margin-right: 24px;
    }

    & > .accountInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  & .title {
    @mixin headingSmall;

    color: var(--color-maastricht-blue);
    display: block;
  }

  & .address {
    @mixin contentSmallest;

    color: var(--color-slate-gray);
  }
}

@media (--medium-viewport) {
  .transactionType {
    & .icon {
      display: none;
    }

    & .info {
      & > .avatar {
        display: none;
      }
    }
  }
}
