@import '../app/variablesV2.css';
@import '../app/mixins.css';

.transactions {
  background: var(--color-white);
  border: 1px solid var(--color-platinum);
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 40px;
  min-height: 600px;
  overflow: hidden;
  padding: 0;
}

.txFilters {
  background-color: var(--color-white-smoke);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    @mixin contentSmallest;

    align-items: center;
    border-bottom: 1px solid var(--color-platinum);
    border-right: 1px solid var(--color-platinum);
    color: var(--color-slate-gray);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 14px 20px;
    position: relative;

    &:last-child:not(.active) {
      border-right: 0 none;
    }

    &.active {
      background: var(--color-white);
      border-bottom: 1px solid var(--color-white);
      color: var(--color-ultramarine-blue);
    }
  }
}

.topHeader {
  display: flex;
}

.txDetails {
  word-break: break-word;

  &.delegateVote {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & > span {
      display: inline-block;
      margin-right: 5px;
    }
  }

  & .label {
    display: inline;
  }
}

.amountLabel {
  font-family: var(--heading-font);
  font-size: var(--paragraph-font-size-l);
  font-weight: var(--font-weight-bold);

  &.greyLabel {
    color: var(--color-content-light);
  }

  &.greenLabel {
    color: #00b262;
  }
}

.container {
  align-items: center;
  display: flex;
  background: var(--color-white-smoke);
  justify-content: space-between;
  border-bottom: 1px solid var(--color-platinum);

  & .items {
    padding: 0px 10px;
  }
}
