.manageAccountBoxProp {
  flex-shrink: 0;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & .manageAccountsContentProp {
    & h1 {
      display: none;
    }
  }
}
