@import './../../../app/mixins.css';

.optionsHolder {
  justify-content: center;
  margin: 0 4px 20px 4px;

  & .option {
    display: flex;
    justify-content: space-between;
  }
}

.optionContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > h2 {
    @mixin contentLargest bold;

    color: var(--color-maastricht-blue);
    display: flex;
    margin: 0;
  }

  & > .downloadLisk {
    display: flex;

    & > p {
      @mixin contentLarge bold;

      color: var(--color-dark-blue);
      margin: 20px;
      text-align: left;
      word-spacing: 8px;
    }
  }

  & .downloadBtn {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.hrSection {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--color-slate-gray);
  margin: 40px 0;
}

.hrSection::before,
.hrSection::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.tipContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  & p {
    font-size: var(--font-size-small-secondary);
    font-weight: var(--font-weight-semi-bold);
    margin-left: 5px;
    color: var(--color-maastricht-blue);
  }
}

.copyButtonContainer {
  margin-top: 15px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hidden {
  display: none;
}

.infoText {
  @mixin contentLargest;

  margin: 15px 0;
  color: var(--color-slate-gray);
}

.infoFooterText {
  @mixin contentLargest;

  margin: 15px 0 0;
  color: var(--color-slate-gray);
}

.copyIcon {
  display: none;
}

@media (--medium-viewport) {
  .optionContent {
    & > p {
      word-spacing: 2px;
    }
  }
}
