@import '../styles.css';
@import '../../../../app/mixins.css';

.input {
  display: none;
}

.fileInputLabel {
  @mixin contentNormal normal;

  color: var(--color-maastricht-blue);
}

.fileInputBtn {
  @mixin contentNormal semi-bold;

  cursor: pointer;
  margin-left: 15px;
  color: var(--color-ultramarine-blue);
}

.textAreaContainer {
  width: 100%;
  height: 200px;
  border: 1px solid var(--color-very-light-gray);

  & > textarea {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: url(../../../../assets/images/icons/upload.svg) center no-repeat;
    resize: none;
    border: none;
    box-sizing: border-box;
    color: var(--color-maastricht-blue);
    padding: var(--vertical-padding-l);
    line-height: 1.4em; /* stylelint-disable-line unit-whitelist */
  }

  &:focus-within {
    border: 1px solid var(--color-ultramarine-blue);
  }

  &.error {
    border: 1px solid var(--error-background-color);

    & > textarea {
      background: none;
    }
  }

  &.filled {
    & > textarea {
      background: none;
    }
  }
}
