@import '../../../app/mixins.css';

.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-padding-l) 0;

  & > h1 {
    @mixin headingLarge bold;

    margin-bottom: 20px;
    color: var(--color-maastricht-blue);
  }

  & > h6 {
    font-weight: var(--font-weight-semi-bold);
    margin: 20px 0 0;
    color: var(--color-maastricht-blue);
  }

  & a,
  & > p {
    @mixin contentLarge;

    margin: 10px 0;
    text-align: center;
  }

  & > p {
    color: var(--color-slate-gray);
    max-width: 70%;
  }

  & .button {
    width: var(--footer-button-width);
    margin: 10px 0 20px;
  }

  & > img {
    width: 210px;
    margin-top: var(--horizontal-padding-l);
  }
}

.primaryActions {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  & .copy,
  & .download {
    width: 160px;
    flex-shrink: 0;
    margin: 0 10px;

    & img {
      vertical-align: middle;
      margin-right: 10px;
    }

    &.secondary {
      & img {
        filter: invert(45%) sepia(39%) saturate(7283%) hue-rotate(214deg) brightness(98%) contrast(95%);
      }
    }
  }
}

.backToWallet {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 160px;
}
