@import '../../../../../setup/react/app/mixins.css';

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0 !important;
}

.tooltipOffset {
  left: -145px;
}

.type {
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
  text-overflow: ellipsis;
  display: block !important;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > .fee {
    font-family: var(--content-font);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--color-blue-gray);
  }
}

.transactionFeeCell {
  display: inherit;

  @media (--medium-viewport) {
    display: none;
  }
}

.stakeDetails {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  & .container {
    @mixin contentNormal;

    background-color: var(--color-stake-item-bg);
    padding: 8px;
    border-radius: 3px;
    white-space: nowrap;
  }

  & .primaryText {
    @mixin contentNormal semi-bold;

    color: var(--color-ink-blue);
    margin-right: 10px;
  }

  & .value {
    color: var(--color-maastricht-blue);
  }

  & .more {
    @mixin contentSmall;

    height: 100%;
    padding: 10px;
  }
}

.txId > img {
  padding-right: 8px;
}

.walletVisualWithAddress span {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h6);
}

.validatorDetails {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > div {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-left: 8px;
    }

    & > .validatorName {
      @mixin headingSmall;

      margin-top: 0;
      margin-bottom: 10px;
      color: var(--color-maastricht-blue);
      font-family: var(--content-font);

      & > span {
        @mixin contentNormal;

        margin-left: 10px;
        color: black;
      }
    }

    & > .validatorAddress {
      @mixin contentNormal;

      margin: 0;
      color: var(--color-slate-gray);
    }
  }
}

.dateTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
