@import '../../../../../setup/react/app/mixins.css';

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0 !important;
}

.tooltipOffset {
  left: -145px;
}

.type {
  font-weight: bold;
  text-transform: capitalize;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > .fee {
    font-family: var(--content-font);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--color-blue-gray);
  }
}

.transactionFeeCell {
  display: inherit;

  @media (--medium-viewport) {
    display: none;
  }
}

.voteDetails {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  & .container {
    @mixin contentNormal;

    background-color: var(--color-vote-item-bg);
    padding: 8px;
    border-radius: 3px;
    white-space: nowrap;

    & a {
      text-decoration: none;
    }
  }

  & .primaryText {
    @mixin contentNormal semi-bold;

    color: var(--color-ink-blue);
    margin-right: 10px;
  }

  & .value {
    color: var(--color-maastricht-blue);
  }

  & .more {
    @mixin contentSmall;

    margin-bottom: calc(-1 * var(--vertical-padding-m));
  }
}

.txId > img {
  padding-right: 8px;
}

.walletVisualWithAddress span {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h6);
}
