.container {
  text-decoration: none !important;
  margin-left: 0px;

  & .stakes {
    grid-area: stakes;
  }

  &::before {
    content: '';
    min-width: calc(100% - 30px);
    position: absolute;
    height: 1px;
    top: 0px;
    border-top: 1px var(--color-platinum) solid;
  }

  &.full,
  &.general {
    grid-template-areas: "id sender height type date status";

    & > * {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      padding: 16px 8px;
      box-sizing: border-box;
      color: var(--color-content-light);
      font-weight: var(--font-weight-normal);
    }

    & > *:nth-child(1) {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    & > *:nth-child(2) {
      flex-basis: 16.666666667%;
      max-width: 16.6666666667%;
    }

    & > *:nth-child(3) {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    & > *:nth-child(4) {
      font-weight: var(--font-weight-semi-bold);
      flex-basis: 25%;
    }

    & > *:nth-child(5) {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
      font-size: var(--paragraph-font-size-s);
    }

    & > *:nth-child(6) {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
      padding-right: 5px;
    }

    & > *:last-child {
      justify-content: center;
    }

    @media (--medium-viewport) {
      & > *:nth-child(5) {
        flex-basis: 25%;
        max-width: 25%;
      }

      & > *:nth-child(3) {
        display: none;
      }
    }
  }

  &.hosted {
    grid-template-areas: "id height type date status";

    & > * {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
    }

    & > *:nth-child(1) {
      flex-basis: 25%;
      max-width: 25%;
    }

    & > *:nth-child(3) {
      flex-basis: 25%;
      max-width: 25%;
    }

    & > *:nth-child(2),
    & > *:nth-child(4) {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    & > *:nth-child(5) {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }

    & > *:first-child {
      padding-left: 10px;
    }

    & > *:last-child {
      justify-content: flex-end;
      flex: 1;
    }
  }

  &.minimal {
    grid-template-areas: "counterpart amount";

    & > * {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > *:first-child {
      flex-flow: row nowrap;
      justify-content: flex-start;
      flex-grow: 1;
      padding-left: 10px;
    }

    & > *:last-child {
      width: auto;
      justify-content: flex-end;
    }
  }

  &.stake {
    grid-template-areas: "sender date height assets";

    &::before {
      left: 0px !important;
    }

    & > * {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      flex-basis: 33.3333333%;
      max-width: 33.3333333%;
    }

    & > *:nth-child(2),
    & > *:nth-child(3) {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      flex-basis: 16.66666666667%;
      max-width: 16.66666666667%;
    }

    & > *:last-child {
      justify-content: flex-end !important;
    }
  }
}
