@import '../styles.css';

.content {
  margin: 0 auto;
  padding-bottom: 0;
}

.buttonContent {
  @mixin contentLarge;

  display: flex;
  justify-content: center;

  & > img {
    margin-right: 8px;
  }

  &.download {
    & img {
      filter: invert(45%) sepia(39%) saturate(7283%) hue-rotate(214deg) brightness(98%) contrast(95%);
    }
  }
}
