@import '../../../../../setup/react/app/mixins.css';

.fieldGroup {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.fieldLabel {
  @mixin contentNormal bold;

  align-items: center;
  color: var(--color-maastricht-blue);
  display: flex;
}

.loadingWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-bottom: 14px;

  & > span:first-child {
    color: var(--color-maastricht-blue);
    padding-right: 10px;
  }

  & .spinner > span::after {
    border-color: var(--color-maastricht-blue);
    border-bottom-color: transparent;
    justify-content: flex-end;
  }
}

.wrapper {
  flex-direction: row;

  & > .col {
    display: flex;
    flex-direction: column;
    height: 74px;
    width: 50%;
    row-gap: 8px;

    & > .prioritySelector {
      display: flex;
      flex-direction: row;
      margin-bottom: 4px;
      border-radius: 40px;
      width: fit-content;
      max-width: 85%;
      border: solid 1px var(--color-ultramarine-blue-blurred);

      & > .priorityTitle {
        background-color: var(--color-white);
        color: var(--color-tx-priority-btn-default);
        font-family: var(--content-font);
        font-size: 16px;
        line-height: 18px;
        border-radius: 18px;
        padding: 7px 11px;
        outline: none;
        border: none;

        &:disabled {
          opacity: 0;
          display: none;
        }

        &.priorityTitleSelected {
          font-weight: 500;
          background-color: var(--color-ultramarine-blue-blurred);
          color: var(--color-ultramarine-blue);
        }
      }
    }

    &.fee {
      text-align: left;
      height: unset !important;

      & .fieldLabel {
        display: inline-block;

        & div > div {
          width: 16vw; /* stylelint-disable-line */

          & .feeInfoWrapper {
            &:first-of-type {
              margin-bottom: 20px;
            }

            & .feesHeader {
              font-weight: var(--font-weight-semi-bold);
              color: var(--color-zodiac-blue);
            }

            & .feesDetails {
              color: var(--color-slate-gray);
            }
          }

          @media (--large-viewport) {
            width: 22vw; /* stylelint-disable-line */
          }
        }
      }

      & .value {
        color: var(--color-content-light) !important;
        font-family: var(--content-font);
        font-weight: normal;
        font-size: var(--font-size-h6);
        display: inline-block;

        & > img {
          margin-left: 10px;
        }
      }
    }
  }
}

.feesListWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  & > .feeRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & div > div {
      width: 18vw; /* stylelint-disable-line */

      & .feesBreakdownRow {
        display: flex;
        flex-flow: wrap;
        row-gap: 8px;
        justify-content: space-between;

        & p {
          color: var(--color-ultramarine-blue);
          width: 100%;
        }

        & span {
          width: 50%;
          font-size: 14px;
          color: var(--color-slate-gray);
          text-transform: capitalize;
        }
      }
    }
  }

  & > .feeRow span:first-child {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-slate-gray);
  }

  & > .feeRow span:first-child ~ span {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--color-zodiac-blue) !important;
  }
}
