@import '../../../../app/mixins.css';

.container {
  & .header {
    padding: 0;
    height: 50px;
    justify-content: flex-start;

    & .title {
      margin-left: 12px;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  & .footer {
    margin-top: 48px;
  }
}

.submissionHeading {
  @mixin contentNormal semi-bold;

  font-size: 16px;
  margin-top: 14px;
}

.submissionSubHeading {
  @mixin contentLarge;

  margin-top: 10px;
}

.subHeadingBold {
  @mixin contentLarge semi-bold;

  color: #4463a7;
  margin: 0 6px;
}
