@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  & .fieldLabel {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    margin-bottom: 8px;
  }

  & .fieldRow {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    & > .separator {
      background-color: var(--color-platinum);
      display: block;
      flex-shrink: 0;
      height: 1px;
      margin: 0 15px;
      width: 10px;
    }

    & textarea {
      min-height: 32px;
      overflow: hidden;
    }

    & .input {
      @mixin contentNormal;

      height: 32px;
      min-height: 32px;
      resize: none;
    }
  }

  & .feedback {
    color: var(--color-error);
    display: block;
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.83;
    margin-top: 8px;
    max-height: 0;
    opacity: 0;
    text-align: right;
    transition: opacity var(--animation-speed-fast) linear;
    width: 100%;

    &.show {
      max-height: 100%;
      opacity: 1;
    }
  }
}

.dropdownWrapper {
  position: relative;
  width: 100%;

  & .calendarDropdown {
    padding: 16px;
    right: calc(100% + 15px);
    top: -110px;
    transform-origin: calc(100% + 9px) 50%;
    width: auto;

    & :global(.dropdown-arrow) {
      top: calc(50% - 18px);
    }
  }
}
