@import '../../app/variablesV2.css';

.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  & .fieldLabel {
    color: var(--color-content-light);
    font-family: var(--heading-font);
    font-size: var(--paragraph-font-size-l);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
  }

  & .fieldRow {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    & > span {
      color: var(--color-dark-gray);
      font-family: var(--content-font);
      font-size: var(--button-font-size-s);
      font-weight: var(--font-weight-semi-bold);
      letter-spacing: 0.04px;
      line-height: 22px;
      margin: 0 15px;
    }

    & textarea {
      min-height: 36px;
      overflow: hidden;
    }

    & .input {
      font-size: var(--button-font-size-s);
      height: 36px;
      line-height: 1.83;
      min-height: 36px;
      resize: none;
    }
  }

  & .feedback {
    color: var(--color-error);
    display: block;
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.83;
    margin-top: 8px;
    max-height: 0;
    opacity: 0;
    text-align: right;
    transition: opacity var(--animation-speed-fast) linear;
    width: 100%;

    &.show {
      max-height: 100%;
      opacity: 1;
    }
  }
}

.dropdownWrapper {
  position: relative;
  width: 100%;

  & .calendarDropdown {
    padding: 16px;
    right: calc(100% + 15px);
    top: -110px;
    transform-origin: calc(100% + 9px) 50%;
    width: auto;

    & :global(.dropdown-arrow) {
      top: calc(50% - 18px);
    }
  }
}
