@import '../../../../../app/mixins.css';

.wrapper {
  & .content {
    height: 200px;
    position: relative;

    &.LSK {
      background-color: var(--color-ultramarine-blue);
    }

    &.BTC {
      background-color: var(--color-btc);
    }
  }

  & .title {
    @mixin contentLargest normal;

    color: var(--color-strong-mystic);
    margin: 0 0 5px;
    box-sizing: border-box;
  }

  & .info {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    z-index: 1;
  }

  & .identity {
    display: block;
    position: relative;
    z-index: 1;
    min-height: 53px;
    padding-left: 10px;
    max-width: calc(100% - 40px);

    & .text {
      @mixin contentNormal normal;

      width: 100%;
      line-height: 15px;
      opacity: 0.7;
      font-family: var(--heading-font);
      color: var(--color-strong-mystic);
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }

    & .primary {
      @mixin headingNormalIntermediate normal;

      font-size: 22px;
      line-height: 22px;
      display: block;
      color: var(--color-strong-mystic);
      opacity: 1;
    }

    & .full {
      position: relative;
      display: block;
      width: 100%;
      word-wrap: break-word;
      opacity: 0;
      pointer-events: none;

      &.primaryTooltip {
        margin-top: -22px;
      }

      &.secondaryTooltip {
        margin-top: -16px;
      }
    }

    & .legacy {
      padding-top: 7px;
      margin-top: 10px;
      border-top: solid 1px rgba(255, 255, 255, 0.2);
      opacity: 0;
      pointer-events: none;

      & img {
        filter: brightness(100) !important;
      }

      & .label {
        padding-bottom: 4px;
      }
    }

    & .tooltip {
      & > div {
        width: auto;
      }

      & main {
        width: auto;

        & span {
          white-space: nowrap;
        }
      }
    }
  }

  & .showFullAddress {
    & .identity {
      & .truncated {
        opacity: 0;
        pointer-events: none;
      }

      & .legacy,
      & .full {
        opacity: 1;
        pointer-events: auto;
      }
    }

    & ~ footer {
      transform: translateY(50%);
      pointer-events: none;
      opacity: 0;
    }
  }

  & footer {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 var(--horizontal-padding-l) 0;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all ease 200ms;

    & .helperIcon {
      width: 40px;
      height: 40px;
      border: solid 1px var(--color-strong-mystic);
      border-radius: var(--border-radius-standard);
      margin: 0 15px;
      box-sizing: border-box;
      cursor: pointer;

      & > div {
        & > button {
          padding: 0;
          height: auto;
          width: auto;
          min-width: 0;
          background: transparent;
          line-height: 100%;
          min-height: 0;
          box-sizing: border-box;
        }
      }
    }

    & img {
      &.copyIcon,
      &.qrCode,
      &.bookmark,
      &.verify {
        filter: brightness(100) !important;
      }
    }

    & .copyIcon {
      padding: 11px;
    }

    & .qrCodeWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .qrCodeIcon {
      width: 26px;
      margin: 6px;
    }

    & .bookmark {
      padding: 10px;
    }

    & .hwWalletIcon {
      width: 26px;
      height: 26px;
      margin: 6px;
    }
  }

  & .watermarkLogo {
    opacity: 0.1;
    position: absolute;
    top: 10px;
    right: 12px;
    height: 114px;
    filter: brightness(100);
    z-index: 0;
  }
}

.tooltipWrapper {
  width: 100%;
  height: 100%;
}
