@import '../../../../../setup/react/app/mixins.css';

.container {
  display: flex;
  width: 100%;
  position: relative;

  & > div:first-child {
    @mixin contentLarge;

    padding: 20px 22px 20px 0px;
    color: var(--color-content-light);
  }

  & > .eventAction {
    padding: 0px;
  }

  &::before {
    content: '';
    min-width: 100%;
    position: absolute;
    height: 1px;
    border-top: 1px var(--color-platinum) solid;
  }

  &:first-of-type::before {
    display: none;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-content-light);
    font-size: var(--paragraph-font-size-s);
    font-weight: var(--font-weight-normal);
  }

  &:hover .pinWrapper {
    display: block;
  }
}

.text {
  padding: 0px 16px 0px 5px;

  &.capitalized span {
    text-transform: capitalize;
  }

  & span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-h6);
  }

  & a {
    color: var(--color-ultramarine-blue);
    text-decoration: none;
  }
}

.expandToggle {
  --content-font: 'basier-circle';

  height: initial !important;
  padding-left: 5px !important;
  max-width: fit-content !important;
  min-width: fit-content !important;
  text-decoration: none !important;

  & span {
    font-weight: var(--font-weight-semi-bold) !important;
    font-size: var(--font-size-h6);
    color: var(--color-ultramarine-blue);
    font-family: var(--content-font);
  }

  &.collapsed span {
    color: var(--color-blue-gray) !important;
  }
}

.addressWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px;

  & > div {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-left: 8px;
    }

    & > .name {
      @mixin headingSmall;

      margin-top: 0;
      margin-bottom: 3px;
      color: var(--color-maastricht-blue);
      font-family: var(--content-font);

      & > span {
        @mixin contentNormal;

        margin-left: 10px;
        color: black;
      }
    }

    & > .address {
      @mixin contentNormal;

      margin: 0;
      color: var(--color-slate-gray);
    }
  }
}

.statusWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transactionStatus {
  padding: 8px 13px;
  border-radius: 6px;
  line-height: 12px;
  letter-spacing: 0.2px;
  white-space: pre-wrap;
  display: inline-block;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--paragraph-font-size-s);
  text-transform: capitalize;

  &.success {
    color: var(--color-jade-green);
    background-color: var(--color-jade-green-transparent);
  }

  &.pending {
    color: var(--color-tx-pending-status-text);
    background-color: var(--color-tx-pending-status-bg);
  }

  &.fail {
    color: var(--color-tx-fail-status-text);
    background-color: var(--color-tx-fail-status-bg);
  }
}

.copyIcon {
  margin-left: -17px;
  width: 20px;
}
