@import '../../../../../setup/react/app/mixins.css';

.result {
  background: #08223c !important;
  color: #9bf436 !important;
  margin-bottom: 30px;
  resize: none;
}

.button {
  min-width: 185px !important;
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center !important;

  & .illustration {
    margin-top: 30px;
    width: 380px;
  }

  & .backBtn {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 20px;
    height: 20px;
  }

  & h3 {
    font-weight: var(--font-weight-bold);
    color: var(--color-maastricht-blue);
    margin-bottom: 0;
  }

  & .errorInfoText {
    text-align: center;
    color: var(--color-slate-gray);
  }
}
