@import '../../app/variables.css';

:root {
  --main-content-horizontal-padding: 218px;
  --main-content-horizontal-padding-s: 20px;
  --step-heading-fs: 48px;
  --step-heading-fs-s: 25px;
  --form-content-horizontal-padding: 48px;
  --form-content-horizontal-padding-s: 20px;
}

.headerWrapper {
  text-align: center;

  & h2 {
    font-family: var(--heading-font);
    font-size: var(--step-heading-fs);
    font-weight: var(--font-weight-semi-bold);
    padding: 0 var(--main-content-horizontal-padding);
    margin: 0;
    margin-bottom: 96px;
  }
}

.firstGrid {
  display: none;
}

.button {
  margin: 48px auto;
  width: 261px;
}

.input {
  padding-bottom: 0;
}

.wrapper {
  padding: var(--form-content-horizontal-padding);
  position: relative;

  & header {
    padding-top: 0;
    margin-bottom: 160px;
  }

  &::before {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    background-color: var(--color-form-bg);
    left: 0;
    top: 250px;
    bottom: 0;
  }
}

@media (--small-viewport) {
  .headerWrapper {
    & h2 {
      font-size: var(--step-heading-fs-s);
      padding: 0 var(--main-content-horizontal-padding-s);
      margin-bottom: 24px;
      text-align: left;
    }
  }

  .input {
    padding: 0;
  }

  .wrapper {
    padding: var(--form-content-horizontal-padding-s);
    padding-top: 0;

    &::before {
      bottom: calc(-150% + 164px);
    }

    & div[class*='inputTypeToggle'] {
      text-align: right;
      width: auto;
    }
  }

  .button {
    margin: 10px auto;
  }
}

@media (--xSmall-viewport) {
  .wrapper {
    &::before {
      display: none;
    }

    & header {
      margin-bottom: 28px;
    }
  }
}
