@keyframes delayedFadeIn {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes somersault {
  0% {
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }

  100% {
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotateX(-30deg);
  }

  25% {
    transform: rotateX(30deg);
  }

  50% {
    transform: rotateY(-30deg);
  }

  75% {
    transform: rotateY(30deg);
  }

  100% {
    transform: rotateZ(20deg);
  }
}

@-webkit-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes wander {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }

  100% {
    transform: translate3d(-15%, 10%, 0) rotateZ(0deg);
  }
}
