@import './../app/variables.css';

:root {
  --transition: all ease 300ms;
}

.wrapper {
  animation: delayedFadeIn 300ms;
  overflow: visible !important;
  display: block !important;
  clear: both;
  padding-right: 16px;
  margin-top: 66px;
  height: calc(75vh - 23px); /* stylelint-disable-line */
}

@define-mixin login-signup {
  transition: var(--transition);
  position: relative;
  box-sizing: border-box;
  float: left;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}

.outTaken {
  position: absolute;
  width: 100%;
}

.loading {
  text-align: center;
  padding: 20px;
  color: var(--color-grayscale-medium);
  padding-top: 200px;
  clear: both;
}

.input {
  padding-bottom: 0px;
}

@media (--medium-viewport) {
  .wrapper {
    height: 100%;
    padding-right: 0;
  }
}

@media (--small-viewport) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }
}
