md-card
  md-card-title
    md-card-title-text
      span.md-title Sign In
  md-card-content
    form(layout='column', layout-gt-sm='row')
      md-input-container.md-block(flex,md-is-error='login.valid === 0')
        label Enter your passphrase
        input(ng-model='login.passphrase', ng-disabled='login.random')
      md-input-container.md-block
        label Peer
        md-select(ng-model='peer_selected')
          md-option(ng-value='null', selected) Random
          md-option(ng-repeat='item in peers', ng-value='item') {{ item.host }}
    md-content(layout='row', layout-align='center center')
      md-button(ng-disabled='login.random', ng-click='devTestAccount()') Dev Test Account
      md-button.md-primary(ng-disabled='login.random', ng-click='login.start()') NEW ACCOUNT
      md-button.md-raised.md-primary(md-autofocus, ng-disabled='login.valid !== 1 || passphrase', ng-click='go()') Login
    md-content(layout-padding, layout='column', layout-align='center center', ng-show='login.random')
      h4.move Move your mouse to generate random bytes
      md-progress-linear(md-mode='determinate', value='{{ login.progress }}')
      md-content.bytes
        span.byte(ng-repeat='byte in login.seed track by $index', ng-bind='byte', animate-on-change='byte')
