@import './../app/variables.css';
@import './animations.css';
@import './layout.css';

:root {
  --header-focused-font-size: 32px;
  --back-button-icon-margin-XL: -6px;
  --back-button-icon-margin-L: -6px;
  --back-button-icon-margin-XS: 0px;
  --arrow-font-size: 60px;
  --arrow-focused-font-size: 40px;
  --rect-width: 200px;
  --login-box-padding-L: var(--box-padding-left-L);
  --login-box-padding-XL: var(--box-padding-left-XL);
  --signup-box-padding-L: var(--box-padding-left-L);
  --signup-box-padding-XL: var(--box-padding-left-XL);
  --focused-signup-box-padding-XL: 31px;
  --focused-signup-box-padding-L: 24px;
  --back-button-label-font-size-XL: 15px;
  --back-button-label-font-size-L: 12px;
  --back-button-icon-font-size-XL: 24px;
  --back-button-icon-font-size-L: 16px;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.outTaken {
  position: absolute;
}

.loading {
  text-align: center;
  padding: 20px;
  color: var(--color-grayscale-medium);
  padding-top: 200px;
  clear: both;
}

.login {
  height: 100%;
  width: 42%;
  overflow: auto;

  & footer {
    padding-top: 7vh; /* stylelint-disable-line */
  }

  & .table {
    position: relative;
  }

  & h2 {
    color: var(--color-black);
    margin-top: 30vh; /* stylelint-disable-line */
    margin-bottom: 20px;
  }

  & form button {
    display: none;
    transition: var(--transition);
    animation: fadeIn 300ms forwards;
  }

  & header {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 50px;

    & .backButton {
      color: var(--color-primary-standard);
      text-decoration: initial;
      font-family: var(--content-font);
      font-weight: var(--font-weight-bold);

      & .label {
        vertical-align: middle;
      }

      & .icon {
        vertical-align: middle;
      }
    }
  }

  /* @todo remove these with #3 */

  & .outTaken {
    top: 100px;

    & + .outTaken {
      top: 150px;

      & + .outTaken {
        top: 200px;
      }
    }
  }

  &.focused {
    transform: translateZ(0);

    & form button {
      display: inline-block;
    }

    & h2 {
      font-size: var(--header-focused-font-size);
    }
  }
}

@media (--xLarge-viewport) {
  .login {
    padding-right: var(--login-box-padding-XL);

    &.focused {
      width: 75%;
    }

    & header {
      & .backButton {
        & .label {
          font-size: var(--back-button-label-font-size-XL);
        }

        & .icon {
          font-size: var(--back-button-icon-font-size-XL);
        }
      }
    }
  }
}

@media (--large-viewport) {
  .login {
    padding-right: var(--login-box-padding-L);

    &.focused {
      width: 68%;
    }

    & header {
      & .backButton {
        & .label {
          font-size: var(--back-button-label-font-size-L);
        }

        & .icon {
          font-size: var(--back-button-icon-font-size-L);
        }
      }
    }
  }
}

@media (--medium-viewport) {
  .login {
    height: calc(100vh - var(--m-top-bar-height) - var(--m-menu-bar-height)); /* stylelint-disable-line */
    width: 40%;
  }
}

@media (--small-viewport) {
  .login {
    height: calc(50vh - var(--s-top-bar-height)); /* stylelint-disable-line */
    width: 100%;

    & header {
      position: relative;
      left: -5px;
      font-size: 14px;
      margin-top: 20px;
    }

    &.focused {
      width: 100%;
      height: auto;

      & h2 {
        margin-bottom: 10px;
      }

      & form button {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }

    & .outTaken {
      right: 0;
      top: 0;

      & + .outTaken {
        top: 50px;
      }

      & > .outTaken {
        top: 50px;
      }
    }

    & .table {
      display: block;
      position: relative;

      & .tableCell {
        display: block;
        vertical-align: initial;
      }
    }
  }
}
