@import '../app/variables';

:root {
  --gradient: linear-gradient(45deg, rgba(0, 74, 255, 1) 0%, rgba(147, 244, 254, 1) 100%);
  --transition: all ease 300ms;
}

.wrapper {
  overflow: visible !important;
  display: block !important;
  clear: both;
  padding-right: 16px;
}

.wrapper,
.login {
  height: 100%;
}

.login,
.signUp {
  transition: var(--transition);
  padding: 0 40px;
  position: relative;
  box-sizing: border-box;
  float: left;
}

.login {
  width: 42%;

  & .table {
    position: relative;
  }

  & h2 {
    color: var(--color-primary-medium);
    margin-bottom: 0.2em;
  }

  & form button {
    display: none;
    transition: var(--transition);
    animation: fadeIn 300ms forwards;
  }

  & header {
    position: absolute;
    left: 0;
    top: 0;

    & .backButton {
      color: var(--color-grayscale-dark);
      font-size: var(--font-size-h3);

      & .icon {
        font-size: 32px;
      }

      & .icon,
      & b {
        display: inline-block;
        vertical-align: middle;
      }

      & b {
        font-size: 0.36em !important;
      }
    }
  }

  /* @todo remove these with #3 */

  & .outTaken {
    top: 100px;

    & + .outTaken {
      top: 150px;

      & + .outTaken {
        top: 200px;
      }
    }
  }

  &.focused {
    transform: translateZ(0);
    width: 75%;

    & form button {
      display: inline-block;
    }
  }
}

.signUp {
  height: calc(100% + 46px);
  width: 58%;
  margin-top: -23px;
  border-radius: 3px;
  overflow: hidden;

  & .bg,
  & .shapes,
  & .shapes > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  & .bg {
    z-index: 0;
    opacity: 0.94;
    background: var(--gradient);
    border-radius: 3px;
  }

  & .shapes {
    z-index: 1;
  }

  & .shape {
    position: absolute !important;

    &.rectA {
      right: 20% !important;
      top: 20% !important;
      left: auto !important;
      width: 200px;

      & img {
        animation: wave 20s 0.1s infinite linear; /* stylelint-disable-line */
      }
    }

    &.rectB {
      left: 10% !important;
      bottom: 18% !important;
      top: auto !important;
      width: 200px;

      & img {
        animation: wave 16s 0.1s infinite linear; /* stylelint-disable-line */
      }
    }

    &.rectC {
      right: 20% !important;
      bottom: 25% !important;
      top: auto !important;
      left: auto !important;
      z-index: 2;
      width: 200px;

      & img {
        animation: wave 12s 0.1s infinite linear; /* stylelint-disable-line */
      }
    }

    &.circle {
      right: 10% !important;
      bottom: 7% !important;
      left: auto !important;
      top: auto !important;
      width: 150px;

      & img {
        animation: wander 16s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); /* stylelint-disable-line */
      }
    }

    &.triangle {
      right: 10% !important;
      left: auto !important;
      top: 10% !important;
      width: 250px;

      & img {
        animation: somersault 20s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); /* stylelint-disable-line */
      }
    }
  }

  & .table {
    position: relative;
    z-index: 2;
  }

  & h2 {
    color: var(--color-white);
  }

  & h5,
  & a,
  & .singUpArrow {
    color: var(--color-white);
    vertical-align: middle;
    transition: var(--transition);
  }

  & h5 {
    max-width: 320px;
  }

  & a {
    text-decoration: none;
  }

  & .singUpArrow {
    font-size: 55px;
  }

  & .shapes {
    position: absolute;
    z-index: 1;
  }

  &.focused {
    width: 25%;
    transform: translateZ(0);

    & h2 {
      font-size: 2.1em;
    }

    & .singUpArrow {
      font-size: 34px;
    }

    & h5 {
      font-size: 1em;
    }
  }
}

.table {
  display: table;
  width: 100%;
  height: 100%;

  & .tableCell {
    display: table-cell;
    vertical-align: middle;
  }
}

.outTaken {
  position: absolute;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes somersault {
  0% {
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }

  100% {
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotateX(-30deg);
  }

  25% {
    transform: rotateX(30deg);
  }

  50% {
    transform: rotateY(-30deg);
  }

  75% {
    transform: rotateY(30deg);
  }

  100% {
    transform: rotateZ(20deg);
  }
}

@-webkit-keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes wander {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }

  100% {
    transform: translate3d(-15%, 10%, 0) rotateZ(0deg);
  }
}
