div.dialog-primary(aria-label='Generate a primary passphrase for a new account', data-ng-init='$ctrl.step = 0')
    md-toolbar
      .md-toolbar-tools
        h2 New Account
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()', aria-label='Close dialog')
          i.material-icons close
    div(layout='row', layout-padding, layout-align="left center", data-ng-if='$ctrl.step === 0')
      div(layout-margin)
        i.material-icons info
      p
        span Please click Next, then move around your mouse randomly to generate a random passphrase.
        br
        br
        span Note: After registration completes, your passphrase will be required for loging in to your account.
        <br>
        span This passphrase is not recoverable and if you lose it, you will lose access to your account forever. Please keep it safe!

    md-dialog-actions(layout='row', data-ng-if='$ctrl.step === 0')
      md-button.md-secondary(ng-disabled='$ctrl.loading', ng-click='cancel()') Cancel
      span(flex)
      md-button.md-raised.md-primary.submit-button.next-button(ng-click='$ctrl.step = 1') Next
    section(data-ng-if='$ctrl.step === 1')
      passphrase(data-on-save='onSave', data-label='Login')
