@import '../app/variables.css';

:root {
  --title-bar-extra-padding-M: 58px;
  --title-bar-extra-padding-XS: 52px;
  --header-subtitle-font-size-XL: 18px;
  --header-subtitle-font-size-L: 16px;
  --grid-padding-XL: 48px;
  --grid-padding-L: 32px;
  --grid-padding-XS: 19px;
  --details-wrapper-max-width-s: 800px;
  --details-wrapper-max-width-m: 650px;
}

.copyLabel {
  color: var(--color-grayscale-dark);
  line-height: 26px;
}

.copyIcon {
  color: var(--color-primary-standard);
}

.transaction {
  & header {
    & h2 {
      font-weight: var(--font-weight-semi-bold);
    }
  }

  & .content {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;

    & .detailsWrapper {
      margin: 0 auto;
      max-width: var(--details-wrapper-max-width-s);
      width: 90%;
    }
  }
}

@media (--xLarge-viewport) {
  .transaction {
    & header {
      padding: 20px var(--grid-padding-XL);

      & h2 {
        margin-bottom: 7px;
      }
    }
  }
}

@media (--large-viewport) {
  .transaction {
    & header {
      padding: 20px var(--grid-padding-L);

      & h2 {
        margin-bottom: 5px;
      }
    }
  }
}

@media (--medium-viewport) {
  .transaction {
    margin-top: var(--title-bar-extra-padding-M);

    & header {
      padding: 20px  var(--grid-padding-L) calc(20px + var(--title-bar-extra-padding-M)) var(--grid-padding-L);
    }

    & .content {
      & .detailsWrapper {
        max-width: var(--details-wrapper-max-width-m);
      }
    }
  }
}

@media (--xSmall-viewport) {
  .transaction {
    margin-top: var(--title-bar-extra-padding-XS);

    & header {
      padding: 20px  var(--grid-padding-XS) calc(20px + var(--title-bar-extra-padding-XS)) var(--grid-padding-XS);
    }

    & .content {
      display: block;
    }
  }
}
