@import '../app/variablesV2.css';
@import '../app/mixins.css';

.box {
  width: 100%;

  & .bookmarkList {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;

    & > .row {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid var(--color-mystic);
      cursor: pointer;
      text-decoration: none;

      & > .avatar {
        margin-right: 15px;
      }

      & .description {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        & > span:first-child {
          @mixin headingSmall;

          color: var(--color-maastricht-blue);
        }

        & > span:last-child {
          @mixin contentNormal;

          color: var(--color-slate-gray);
        }
      }
    }

    & .footer {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
    }
  }
}
