@import '../app/variables.css';
@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  width: 100%;
  margin: 0px;
  padding-bottom: 50px;

  & > header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0 30px;

    & > h1 {
      @mixin headingNormalIntermediate;

      color: var(--color-maastricht-blue);
      margin: 1px 0;
      padding: 0;
    }

    & > h2 {
      @mixin contentNormal;

      color: var(--color-slate-gray);
      margin: 1px 0;
      padding: 0;
    }
  }

  & .main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    & > .subContainer {
      width: 100%;
      max-width: 431px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
    }

    & > .community {
      width: 100%;
      max-width: 541px;
      box-sizing: border-box;
      margin: 0 12px;
    }

    & > .bookmarks {
      width: 100%;
      max-width: 321px;
      box-sizing: border-box;
    }
  }
}

.marginFix {
  margin-bottom: 12px;
}

.bannerWrapper {
  margin: 0px;
  padding-bottom: 20px;
  width: 100%;
}

.initLink {
  margin-left: 25px;
  color: var(--color-link-active);
  font-size: var(--paragraph-font-size-l);
  text-decoration: none;
}

@media (--medium-viewport) {
  .wrapper {
    & > .main {
      & > .bookmarks {
        max-width: 431px;
        margin-left: 12px;
      }
    }
  }
}
