@import '../app/variables.css';
@import '../app/variablesV2.css';
@import '../app/mixins.css';

.wrapper {
  width: 100%;
  margin: 0px;
  padding-bottom: 50px;

  & > header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0 30px;

    & > h1 {
      @mixin headingNormalIntermediate;

      color: var(--color-maastricht-blue);
      margin: 1px 0;
      padding: 0;
    }

    & > h2 {
      @mixin contentNormal;

      color: var(--color-slate-gray);
      margin: 1px 0;
      padding: 0;
    }
  }

  & .main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.bannerWrapper {
  margin: 0px;
  padding-bottom: 20px;
  width: 100%;
}

.bottomModuleWrapper {
  height: auto;
  min-height: 200px;
  padding: 0px 8px;

  & > div:first-child {
    padding-right: 10px;
    height: auto;
  }

  & > div:last-child {
    padding-left: 10px;
  }
}

.initLink {
  margin-left: 25px;
  color: var(--color-link-active);
  font-size: var(--paragraph-font-size-l);
  text-decoration: none;
}

.bookmarks {
  height: auto;
  padding: 0;
  width: calc(50% - 10px);
}

.newsFeedWrapper {
  width: 100%;
  max-width: 540px;
  margin: 0 15px;
}

.seeAllLink {
  font-family: var(--content-font);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary-standard);
  margin-left: 40px;
  text-decoration: none;
}

.graph {
  padding: 0px;
  height: 318px;
}

.showMore {
  align-self: flex-end;
  margin-top: auto;
}

@media (--medium-viewport) {
  .wrapper {
    margin: 0;
    min-height: unset;

    & .main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      flex-basis: 100%;
      max-width: 100%;
      min-height: min-content;
      padding-bottom: 50px;
    }
  }

  .latestActivity {
    height: auto;
    min-height: 0;
    margin: 0 8px 20px;
  }

  .bottomModuleWrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0;

    & > div {
      max-width: 100%;
      padding: 0;
    }

    & > div:first-child {
      margin-bottom: 20px;
      padding-right: 0;
    }

    & > div:last-child {
      padding-left: 0;
    }
  }

  .newsFeedWrapper {
    padding: 0 8px;
    min-width: 476px;
  }

  .graph {
    height: 60%;
    min-height: 327px;
    margin-bottom: 0;
    overflow: initial;
  }

  .bookmarks {
    height: auto;
    min-height: 300px;
    width: 100%;
  }

  .main > div:first-child {
    margin: 0 0 20px;
  }

  .main > div:nth-child(2) {
    padding-left: 0;
  }

  .main > div:last-child {
    padding-right: 0;
  }
}
