@import '../app/variables.css';

:root {
  --tab-inactive-color: var(--color-grayscale-dark);
  --grid-padding-left: 30px;
  --header-line-height: 36px;
  --header-subtitle-font-size: var(--font-size-medium);
  --font-weight-bold: 500;
}

.fee {
  text-align: right;
  margin-top: -12px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 14px;
  color: grey;
}

input:read-only {
  border-bottom: solid 1px var(--color-white) !important;
}

.button {
  min-width: 0;
  width: 100%;
}

.temporarySmallAvatar {
  /* values are not saved as variable since this will be deleted anyway */
  height: 50px;
  width: 50px;
  background: linear-gradient(90deg, #3023ae 0%, #53a0fd 48%, #b4ec51 100%);
  position: absolute;
  border-radius: 100%;
  left: -40px;
  top: -15px;
}

.paddingLeft {
  padding: 0px var(--grid-padding-left);
}

.headerWrapper {
  padding: 20px 0px;
  line-height: var(--header-line-height);

  & .title {
    float: left;
  }

  & .subTitle {
    font-size: var(--header-subtitle-font-size);
  }

  & .account {
    float: right;
  }

  & h2 {
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
    font-size: 2em;
  }

  & h3 {
    display: inline-block;
    margin: 0;
  }

  & .balanceUnit {
    font-weight: var(--font-weight-bold);
  }

  & .address {
    text-align: right;
    cursor: pointer;
  }

  & .transfer {
    color: var(--color-grayscale-dark);
  }
}

.header {
  height: 300px;
}

@media (--small-viewport) {
  .headerWrapper {
    display: none;
  }

  .header {
    height: 50px;
  }
}

@media (--xSmall-viewport) {
  .nextButton {
    width: 100%;
  }
}
