@import '../../../../../app/mixins.css';

.row {
  height: 275px;
}

.chartBox {
  height: 100%;

  & h2 {
    margin: 0;
  }

  & .chartTitle {
    @mixin contentLargest bold;
  }

  & > .chart {
    position: relative;
    height: calc(100% - 20px);
  }
}
