@import '../../../setup/react/app/mixins.css';

.deviceContainer {
  margin: 15px -6px 0 -6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & .content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0px;
    box-sizing: border-box;

    & > div:nth-child(1) {
      padding: 0 12px 0 20px;
    }

    & > div:nth-child(2) {
      width: 100%;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      position: relative;

      & > * > p {
        margin: 0;
      }

      & > .header {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > .editAccountTitle {
          display: flex;
          margin-top: 2px;

          & > .saveBtn {
            height: auto;
            padding: 0;
            width: 35px;
            min-width: 35px;
            margin-left: 10px;
          }
        }

        & > .accountTitle {
          @mixin contentLargest semi-bold;

          color: var(--color-maastricht-blue);
          width: 100%;
          margin-bottom: 6px;
          display: flex;
          align-items: center;

          & .editBtn {
            margin: 0 0 0 10px;
            height: 14px;
            cursor: pointer;
            display: none;
          }

          &:hover {
            & .editBtn {
              display: inline;
            }
          }
        }

        & > .accountAddress {
          @mixin contentLarge;

          color: var(--color-slate-gray);
        }
      }

      & > .accountBalance {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > p:nth-child(1) {
          @mixin contentLargest;

          color: var(--color-maastricht-blue);
          margin-bottom: 4px;
        }

        & > p:nth-child(2) {
          @mixin contentLargest bold;

          color: var(--color-ink-blue);
        }
      }

      & > .legacyWarning {
        width: 18px;
        margin: 0;
        position: absolute;
        right: 22px;

        & > img {
          margin: 0;
        }

        & > .tooltip {
          width: 265px;

          & > main > .reclaimBalance {
            color: var(--color-ink-blue);
          }
        }
      }
    }
  }
}

.account {
  width: calc(33.3% - 12px);
  box-sizing: border-box;
  border-radius: var(--border-radius-box);
  border: 2px solid transparent;
  background: var(--color-white);
  margin: 0 6px 12px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &:hover {
    border: 2px solid var(--color-ultramarine-blue);

    & .editBtn {
      display: flex;
    }
  }
}

.createAccountBtn {
  padding: 0 8px !important;
}

.selectAccountWrapper {
  display: flex;
  flex-direction: column;

  & > h1 {
    margin: 0;
  }
}

.hideAccountsCheckbox {
  @mixin contentLargest;

  align-items: flex-start;
  display: flex;
  margin-top: 60px;
  margin-bottom: 5px;
  color: var(--color-zodiac-blue);

  &.false {
    opacity: 0.4;
  }

  & > div:last-child {
    flex-basis: calc(100% - 25px);
    margin-left: auto;
  }

  & .checkbox {
    margin-right: 10px;

    & > span > img {
      margin: 0;
    }
  }
}

@media (--medium-viewport) {
  .account {
    width: calc(50% - 12px);
  }
}
