.container {
  height: auto;
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */
  display: block;
  padding: 0 var(--horizontal-padding-l);
  box-sizing: border-box;
}
