@import './../app/variables.css';

:root {
  --box-padding-top: 20px;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background: var(--color-white);
  box-shadow: var(--normal-shadow);
  border-radius: 3px;
  max-height: 100%;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  height: var(--main-box-height);
  -webkit-overflow-scrolling: touch;

  & header {
    padding-top: var(--box-padding-top);
  }

  & footer {
    padding-bottom: 50px;
    text-align: center;

    & :global .subTitle {
      margin-top: 20px;
      font-size: var(--subtitle-font-size);
      color: var(--color-grayscale-dark);
      height: 22px;
    }
  }
}

@media (--xLarge-viewport) {
  .wrapper {
    padding: 0 var(--box-padding-left-XL) 0 var(--box-padding-left-XL);
  }
}

@media (--large-viewport) {
  .wrapper {
    padding: 0 var(--box-padding-left-L) 0 var(--box-padding-left-L);
  }
}

@media (--medium-viewport) {
  .wrapper {
    padding: 0 var(--box-padding-left-M) 0 var(--box-padding-left-M);
    min-height: calc(100vh - var(--m-menu-bar-height) - var(--m-menu-bar-height)); /* stylelint-disable-line */
    background-color: var(--color-grayscale-mobile-background);
    box-shadow: unset;
  }
}

@media (--small-viewport) {
  .wrapper {
    min-height: calc(100vh - var(--s-menu-bar-height) - var(--s-menu-bar-height)); /* stylelint-disable-line */

    & footer {
      position: relative;
    }
  }
}
