@import '../app/variables.css';
@import '../app/mixins.css';

.wrapper {
  align-items: inherit;
  background: var(--color-white);
  border: 1px solid var(--color-platinum);
  border-radius: var(--border-radius-box);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;

  & .content {
    padding: 20px;
  }

  &.main {
    min-height: 600px;
  }

  &.full {
    width: 100%;
  }

  &.medium {
    width: var(--medium-box-width);
  }
}

.withHeader {
  margin-bottom: 12px;

  & > header,
  & > .header {
    align-items: center;
    background-color: var(--color-white-smoke);
    border-bottom: 1px solid var(--color-platinum);
    border-top-left-radius: var(--border-radius-box);
    border-top-right-radius: var(--border-radius-box);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: space-between;
    margin: 0;
    padding: 16px 20px;
    width: 100%;

    & h1,
    & h2 {
      @mixin contentLargest bold;

      color: var(--color-maastricht-blue);
      margin: 0;
      padding: 0;
    }

    & input {
      min-width: 177px;
    }
  }

  & > section {
    margin: 0 20px;
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-platinum);
    }
  }

  & > p {
    color: var(--color-blue-gray);
  }
}
