@import './../../../../app/mixins.css';

.deviceContainer {
  width: calc(100% + 12px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 42px -6px 0;
  box-sizing: border-box;
  padding: 0;

  & > .account {
    width: calc(33.3% - 12px);
    height: 340px;
    box-sizing: border-box;
    border-radius: var(--border-radius-box);
    border: 1px solid var(--color-platinum);
    background: var(--color-white);
    margin: 0 6px 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      & .editBtn {
        display: flex;
      }
    }
  }

  & .header {
    width: 100%;
    height: 47px;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: var(--color-white-smoke);
    border-top-left-radius: var(--border-radius-box);
    border-top-right-radius: var(--border-radius-box);
    border-bottom: 1px solid var(--color-platinum);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .accountTitle {
      @mixin contentNormal bold;
    }

    & .editBtn {
      @mixin contentSmall bold;

      width: 83px;
      min-width: auto;
      height: 32px;
      color: var(--color-maastricht-blue) !important;
      display: flex;
      display: none;

      & > img {
        width: 14px;
        height: 14px;
        margin: 0 0 0 5px;
        padding: 0;
      }
    }

    & .saveBtn {
      @mixin contentSmall bold;

      width: 83px;
      height: 32px;
      margin-left: 20px;
    }
  }

  & .content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    & .row {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      & > p {
        @mixin headingNormal bold;

        color: var(--color-maastricht-blue);
        margin: 0;
        padding: 0;
      }

      & > span {
        @mixin contentSmall;

        color: var(--color-slate-gray);
      }
    }

    & > button {
      width: 100%;
    }
  }
}

.createAccountBtn {
  padding: 5px;
}

@media (--medium-viewport) {
  .deviceContainer {
    & > .account {
      width: calc(50% - 12px);
    }
  }
}
