@import '../../../../app/mixins.css';

.header {
  padding-left: var(--horizontal-padding-l);
  padding-right: var(--horizontal-padding-l);

  & > h1 {
    @mixin headingNormal bold;
  }
}

.content {
  max-width: 450px;
  margin: 0 auto;
}

.buttonsContainer {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.buttonsContainer button {
  width: 200px;

  & > span {
    @mixin contentLarge;

    display: flex;
    justify-content: center;

    & > img {
      margin-right: 8px;
    }
  }
}
