@import '../../../../app/mixins.css';

.wrapper {
  padding: 0 var(--horizontal-padding-l);
}

.container {
  & > header {
    padding-left: var(--horizontal-padding-l) !important;
    padding-right: var(--horizontal-padding-l) !important;
    padding-bottom: 0px !important;
    height: auto !important;

    & > h1 {
      line-height: unset !important;
    }
  }
}

.buttonsContainer {
  display: flex;
}
