@import '../app/variablesV2.css';

.wrapper {
  box-sizing: border-box;
  padding: 24px;
  width: 100%;

  & .fieldGroup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  & .fieldLabel {
    color: var(--color-content-light);
    font-family: var(--heading-font);
    font-size: var(--paragraph-font-size-l);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
  }

  & .feedback {
    color: var(--color-dark-gray);
    display: block;
    font-family: var(--content-font);
    font-size: var(--button-font-size-s);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.83;
    margin-top: 8px;
    max-height: 0;
    opacity: 0;
    text-align: right;
    transition:
      max-height var(--animation-speed-fast) linear,
      opacity var(--animation-speed-fast) linear;
    width: 100%;

    &:global(.error) {
      color: var(--color-error);
      max-height: 22px;
      opacity: 1;
    }
  }

  & .input {
    font-size: var(--button-font-size-s);
    height: 36px;
    line-height: 1.83;
  }

  & button {
    width: 100%;
  }

  & .checkboxGroup {
    display: flex;
    flex-direction: row;

    & > input {
      display: none;

      &:checked + .fakeCheckbox {
        background-color: var(--color-primary-standard);
        border-color: var(--color-primary-standard);
      }
    }

    & .fakeCheckbox {
      align-items: center;
      background-color: var(--color-white);
      border: 1px solid var(--color-dark-gray);
      border-radius: var(--border-radius-standard);
      box-sizing: border-box;
      color: var(--color-white);
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      margin-right: 16px;
      height: 24px;
      transition:
        background var(--animation-speed-fast) linear,
        border var(--animation-speed-fast) linear,
        color var(--animation-speed-fast) linear;
      width: 24px;

      & > .icon {
        font-size: var(--paragraph-font-size-s);
      }
    }

    & .checkboxInfo {
      display: flex;
      flex-direction: column;
    }

    & .label {
      color: var(--color-content-light);
      font-family: var(--content-font);
      font-size: var(--paragraph-font-size-l);
      font-weight: var(--font-weight-semi-bold);
      line-height: 1.6;
    }

    & .note {
      color: var(--color-dark-gray);
      font-family: var(--content-font);
      font-size: var(--footnote-font-size);
      font-weight: var(--font-weight-semi-bold);
      line-height: 1.83;
      margin-top: 3px;
      width: 80%;
    }
  }
}
