@import '../../../setup/react/app/mixins.css';

.wrapper {
  width: 100%;
  height: 100%;
  display: block !important;
  padding: 0 !important;
  border-radius: 6px;

  & .header {
    height: auto;
    padding: 0;

    & .searchInput {
      width: 100%;
      height: 53px;
      border-radius: 0;
      border-bottom: solid 1px var(--color-platinum);
      padding-left: 45px;

      &::placeholder {
        color: #8a8ca2;
        font-size: 16px;
      }
    }

    & .icon {
      left: 14px;
      top: 25px;
    }
  }

  & .box {
    max-height: 370px;
    overflow-y: scroll;
    margin-bottom: 0;
    height: 100%;

    & header {
      padding-left: var(--horizontal-padding-l);
      padding-right: var(--horizontal-padding-l);
    }

    & .plusIcon {
      filter: brightness(100);
      vertical-align: middle;
      margin-right: 7px;
    }
  }

  & .bookmarkList {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;

    & > .row {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px var(--horizontal-padding-l);
      cursor: pointer;
      text-decoration: none;

      & .editInput {
        width: 244px;
        padding-right: 40px;
      }

      & .avatarAndDescriptionWrapper {
        display: flex;
        align-items: flex-start;

        & > .avatar {
          margin-right: 15px;
        }
      }

      & .description {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        & > span:first-child {
          @mixin headingSmall;

          white-space: pre;
          color: var(--color-maastricht-blue);
        }

        & > span:last-child {
          @mixin contentNormal;

          color: var(--color-slate-gray);
        }
      }

      & .buttonContainer {
        opacity: 0;
        transition: opacity var(--animation-speed-fast) ease;

        & > div,
        & > button {
          min-width: initial;
          padding: 0 10px;
          vertical-align: middle;
        }
      }

      &:hover,
      &.editing {
        background-color: var(--color-rows-hover);

        & .buttonContainer {
          opacity: 1;
        }
      }

      &.disabled {
        & .description,
        & .avatar {
          opacity: 0.4;
        }
      }
    }
  }

  & .footer {
    width: auto;

    & a {
      text-decoration: none;
    }
  }
}

.hide {
  visibility: hidden;
}

.tooltipContainer {
  right: -27px !important;
}
