@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
}

.header {
  & > h1 {
    @mixin headingNormal bold;

    margin: 0;
  }
}

.content {
  margin: 0 auto;
}

.buttonsContainer {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonsContainer button {
  width: 160px;
  margin: 0 10px;

  & > span {
    @mixin contentLarge;

    display: flex;
    justify-content: center;

    & > img {
      margin-right: 8px;
    }
  }
}
