-
  cdn = {
    js: [
      'https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js',
      'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js',
      'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js',
      'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js',
      'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js',
      'https://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js',
    ],
    css: [
      'https://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.css',
      'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic',
      'https://fonts.googleapis.com/icon?family=Material+Icons',
    ]
  }

doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Lisk Nano
    style(type='text/css').

      body {
        background-color: #eee !important;
      }

      .preloading {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .preloading-loader {
        position: relative;
        margin: 0px auto;
        width: 100px;
        height: 100%;
      }

      .preloading-loader:before {
        content:'';
        display: block;
        padding-top: 100%;
      }

      .preloading-circular {
        animation: preloading_rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
      }

      @keyframes preloading_rotate {
        100% { transform: rotate(360deg); }
      }

      .preloading-path {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
        animation: preloading_dash 1.5s ease-in-out infinite, preloading_color 6s ease-in-out infinite;
        stroke-linecap: round;
      }

      @keyframes preloading_dash {
        0% {
          stroke-dasharray: 1,200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89,200;
          stroke-dashoffset: -124px;
        }
      }

      @keyframes preloading_color {
        100%, 0% { stroke: #f57c00; }
        40% { stroke: #be9c77; }
        66% { stroke: #0288d1; }
      }

    each item in cdn.css
      link(rel='stylesheet', href=item)
  body
    main

    .preloading: .preloading-loader: svg.preloading-circular(viewbox='25 25 50 50')
      circle.preloading-path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')
    each item in cdn.js
      script(src=item)
