doctype html
html
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Lisk Nano
    style(type='text/css').
      body {
        background-color: #eee !important;
      }
  body
    div.body-wrapper
      md-content(id="main", flex='100', flex-gt-sm='80', flex-offset-gt-sm='10')
        header
        div.absolutely-positioned-loading(layout='row', layout-align='space-around', ng-show='prelogged')
          md-progress-circular.md-warn(md-mode='indeterminate', md-diameter='80')
        div(ng-class='{ online: $root.peers.online, offline: !$root.peers.online }')
          div(data-ui-view)
