@import '../../../../../setup/react/app/mixins.css';

.infoBanner {
  background-color: var(--color-ultramarine-blue);
  border-radius: var(--border-radius-standard);
  color: var(--color-white);
  display: flex;
  margin-top: 24px;
  overflow: hidden;
  position: relative;
  min-height: 282px;

  & .illustrations {
    min-height: 257px;
    flex-basis: 33%;

    & > img {
      bottom: 0;
      opacity: 0;
      position: absolute;
      transform: translateX(-100%);
      transition:
        transform var(--animation-speed-slow) linear,
        opacity var(--animation-speed-fast) linear;
      will-change: transform, opacity;

      &.active {
        opacity: 1;
        transform: translateX(0);
        transition:
          transform var(--animation-speed-slow) cubic-bezier(0.17, 0.65, 0.33, 0.88),
          opacity var(--animation-speed-standard) linear calc(var(--animation-delay-standard) * 1.5);
      }

      &.active ~ img {
        transform: translateX(100%);
        transition:
          transform var(--animation-speed-standard) linear,
          opacity var(--animation-speed-fast) linear;
      }
    }
  }

  & .label {
    display: flex;

    & > span {
      background-color: var(--color-jade-green);
      color: var(--color-zodiac-blue);
      border-radius: var(--border-radius-box);
      padding: 5px 10px;
      font-family: var(--heading-font);
      font-size: 14px;
      font-weight: var(--font-weight-semi-bold);
      line-height: 18px;
    }

    & > .active {
      background-color: var(--color-ultramarine-blue);
      border-color: var(--color-ultramarine-blue);
    }
  }

  & .closeBtn {
    align-items: center;
    border: 1px solid var(--color-ghost-white);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    justify-content: center;
    margin-left: auto;
    right: 30px;
    position: absolute;
    top: 30px;
    width: 24px;
    z-index: 10;

    &::before,
    &::after {
      background-color: var(--color-strong-white);
      content: '';
      height: 11px;
      position: absolute;
      width: 1px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  & .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 67%;
    padding: 30px 50px 30px 50px;
    z-index: 1;
  }

  & .bannerImg {
    display: flex;
  }

  & .slides {
    height: 100%;
    position: relative;

    & > section {
      box-sizing: border-box;
      margin-bottom: 15px;
      display: flex;
      height: 100%;
      flex-direction: column;
      left: 0;
      opacity: 0;
      transform: translateX(-100%);
      transition:
        transform var(--animation-speed-slow) linear,
        opacity var(--animation-speed-fast) linear;
      top: 0;
      will-change: transform, opacity;

      &.active {
        opacity: 1;
        transform: translateX(0);
        transition:
          transform var(--animation-speed-slow) cubic-bezier(0.17, 0.65, 0.33, 0.88),
          opacity var(--animation-speed-standard) linear calc(var(--animation-delay-standard) * 1.5);
      }

      &.active ~ section {
        transform: translateX(100%);
        transition:
          transform var(--animation-speed-standard) linear,
          opacity var(--animation-speed-fastest) linear;
      }
    }

    & p {
      @mixin contentLargest;

      line-height: 25px;
      margin: 0;
      color: var(--color-strong-white);
      font-size: 16px;

      &.infoLink {
        margin-top: 16px;
      }
    }

    & h1 {
      @mixin headingNormalIntermediate;

      margin: 20px 0 10px 0;
      color: var(--color-strong-white);
    }
  }
}

.infoMessage {
  font-size: var(--font-size-h3);
}

.infoLink {
  font-size: var(--subtitle-font-size-s);
  display: flex;
  align-items: inherit;
  text-decoration: underline;

  & > img {
    margin-left: 8px;
  }
}

@media (--medium-viewport) {
  .infoBanner {
    & .illustrations {
      display: none;
    }

    & .content {
      flex-basis: 100%;
    }
  }
}
