@import '../../../app/mixins.css';

.wrapper {
  width: calc(100% - 456px);
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 266px;

  & .icon {
    left: 10px;
  }

  & input {
    border-width: 0 !important;
    border-radius: var(--border-radius-box) !important;
  }
}

.linear {
  background: transparent;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;

  & .value {
    height: 3px;
  }
}

.searchFeedback {
  @mixin contentLargest;

  display: block;
  width: 100%;
  color: var(--color-slate-gray);
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  padding: 30px var(--horizontal-padding-s) var(--horizontal-padding-s);
  box-sizing: border-box;
  margin: -10px 0 0;
}
