.downloadLisk {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 8px 0 0;
  justify-content: center;
  align-items: center;

  & > p {
    @mixin contentLarge bold;

    color: var(--color-maastricht-blue);
    margin: 10px 20px;
    word-spacing: 8px;
    word-break: break-all;
    text-align: center;
  }
}

.downloadButton {
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.buttonContent {
  display: flex;

  & > img {
    margin-left: 4px;
  }
}
