@import '../app/variablesV2.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;

  & .recieve {
    padding: 6px;
    background-color: rgba(43, 214, 123, 0.15);
    color: var(--color-amount-green);
  }
}
