@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.summaryHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  & > h2 {
    @mixin contentSmall;

    color: var(--color-slate-gray);
    margin-bottom: 10px;
  }

  & > p,
  & .txAmount {
    @mixin headingNormal;

    color: var(--color-maastricht-blue);
    margin: 0;
  }
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-platinum);
  }

  & .accountInfo {
    display: flex;
    flex-direction: column;

    & .avatar {
      margin-right: 10px;
    }

    & .addressRow {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & .address {
      @mixin contentLargest;

      color: var(--color-maastricht-blue);
      text-decoration: none;
    }
  }

  & .label {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;

    & .count {
      font-size: var(--paragraph-font-size-l);
      color: var(--color-content-light);
    }
  }

  & .message {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
    text-align: left;
  }

  & .votesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    & .voteTag {
      @mixin contentSmall bold;

      align-items: center;
      border: 1px solid var(--dark-border-color);
      border-radius: var(--border-radius-standard);
      box-sizing: border-box;
      color: var(--color-maastricht-blue);
      display: flex;
      height: 32px;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 7px 10px;
      text-decoration: none;
    }

    & .rank {
      @mixin contentSmall bold;

      align-items: center;
      background-color: var(--color-slate-gray);
      border-radius: var(--border-radius-standard);
      color: var(--color-white);
      display: flex;
      height: 18px;
      margin-right: 10px;
      padding: 0 5px;
      text-align: center;
    }
  }
}
