@import '../../app/variablesV2.css';
@import '../../app/mixins.css';

.summaryHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  & > h1 {
    @mixin contentSmall;

    color: var(--color-slate-gray);
    margin: 0;
  }

  & > p,
  & .txAmount {
    @mixin headingNormal;

    color: var(--color-maastricht-blue);
    margin: 0;
  }
}

.accountWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;

  & .separator {
    flex-grow: 0;
    flex-shrink: 0;
    height: 14px;
    margin: 0 auto;
    width: 7px;
  }

  & .accountInfo {
    align-items: center;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;

    & .avatar {
      margin-bottom: 20px;
    }

    & > div:last-child {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    & .addressRow {
      display: flex;
      flex-direction: row;
    }

    & .label {
      @mixin contentSmall;

      color: var(--color-slate-gray);
      margin: 0;
    }

    & .address {
      @mixin headingSmall;

      color: var(--color-maastricht-blue);
      text-decoration: none;
    }
  }
}

.detailsWrapper {
  border-top: 1px solid var(--color-platinum);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 0;

  & .label {
    @mixin contentSmall;

    color: var(--color-slate-gray);
    margin-bottom: 10px;
    text-align: left;

    & .count {
      font-size: var(--paragraph-font-size-l);
      color: var(--color-content-light);
    }
  }

  & .message {
    @mixin contentLargest;

    color: var(--color-maastricht-blue);
    text-align: left;
  }

  & .votesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    & .voteTag {
      @mixin contentSmall bold;

      align-items: center;
      border: 1px solid var(--dark-border-color);
      border-radius: var(--border-radius-standard);
      box-sizing: border-box;
      color: var(--color-maastricht-blue);
      display: flex;
      height: 32px;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 7px 10px;
      text-decoration: none;
    }

    & .rank {
      @mixin contentSmall bold;

      align-items: center;
      background-color: var(--color-slate-gray);
      border-radius: var(--border-radius-standard);
      color: var(--color-white);
      display: flex;
      height: 18px;
      margin-right: 10px;
      padding: 0 5px;
      text-align: center;
    }
  }
}
