@import '../app/variables.css';
@import '../app/variablesV2.css';

:root {
  --amount-negative-color: var(--color-grayscale-dark);
  --link-color: var(--color-primary-very-light);
  --row-background-color: var(--color-white);
  --result-address-font-weight: var(--font-weight-semi-bold);
  --main-row-line-height: 70px;
}

.leftText {
  text-align: left;
  padding-left: 0px;
}

.rightText {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

.followedAccountsWrapper {
  height: auto;
}

.cancelButton {
  min-width: 0;
  width: 100%;
}

.addAccount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 318px;
  box-sizing: border-box;

  & > div {
    padding: 0 16px;
    box-sizing: border-box;
  }

  & div > div {
    font-family: var(--content-font) !important;
  }

  & > div > div > input {
    font-size: 12px !important;
    font-weight: 600;
    color: var(--color-content-light) !important;
  }

  & > div > div > label {
    font-size: 15px !important;
    font-weight: 600;
    color: var(--color-content-light) !important;
  }

  & > div > div > span:last-child {
    font-size: 12px !important;
    font-weight: 400;
    color: var(--color-error) !important;
  }

  & > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px 20px;

    & > div > button {
      font-size: 12px;
      min-height: 32px;
    }

    & > div {
      width: calc(50% - 10px);
    }
  }
}

header {
  & .edit {
    height: 40px;
    min-width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-primary-standard);
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    float: right;

    & > span:last-child {
      margin-left: 16px;
    }

    & > span > span {
      font-size: 20px;
    }
  }
}

.bookmarkHeader {
  justify-content: space-between !important;
}

.addAccountLink {
  color: var(--color-primary-standard) !important;
  font-weight: var(--font-weight-bold);
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 271px;
  height: auto;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  font-family: var(--content-font);
}

.emptyList {
  padding: 0 16px;

  & p {
    color: var(--color-grayscale-dark);
    font-size: 12px;
  }
}

.addBookmarkBtn {
  margin-top: 25px;

  & > button {
    width: 100%;
    height: 32px;
    min-height: 32px;
    font-size: 12px;
  }
}

.accounts {
  width: 100%;
  overflow: hidden;
  height: 240px;
  margin-bottom: 30px;

  & .list {
    overflow-y: initial;

    & .rows {
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: var(--amount-negative-color);
      margin: 0;
      padding: 0 16px;

      &:nth-of-type(even) {
        background: var(--row-background-color);
      }

      &:nth-of-type(odd) {
        background: var(--gradient-greyscale);
      }

      &:hover {
        background: var(--color-primary-very-light);
      }

      & .accountInformation {
        font-weight: var(--font-weight-bold);
        width: calc(100% - 40px);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        & .balance {
          color: var(--color-black);
          font-size: 12px;
          text-align: right;
        }

        & .title {
          color: var(--color-grayscale-medium);
          font-size: 12px;
          padding: 0px;
        }

        & .title input {
          color: var(--color-grayscale-medium);
          font-weight: var(--font-weight-bold);
          font-size: 12px;
          text-align: right;
        }

        & .title input:disabled {
          opacity: 1;
          border: none;
          padding: 0;
        }

        & .editMode {
          margin-right: 10px;
          width: 75%;

          & .balance {
            color: var(--color-grayscale-medium);
            font-weight: var(--font-weight-bold);
            font-size: 12px;
          }
        }

        & .removeAccount {
          display: inline-block;
          vertical-align: middle;
          color: var(--color-primary-standard);
        }
      }
    }
  }

  & .addAccountLink {
    text-align: right;
  }

  & .accountVisual {
    vertical-align: middle;
  }
}

.showMore {
  margin-top: auto;
}

@media (--medium-viewport) {
  .followedAccountsWrapper {
    min-height: 318px;
  }

  .addAccount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 318px;
    box-sizing: border-box;

    & > div {
      padding: 0 48px;
      box-sizing: border-box;
    }

    & > footer {
      padding: 0 48px 20px;
      box-sizing: border-box;
    }
  }

  .accounts {
    & .list {
      overflow: hidden;

      & .rows {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .accountInformation {
          margin: 0;
        }

        &:nth-of-type(even) {
          background: var(--gradient-greyscale-mobile);
        }

        &:nth-of-type(odd) {
          background: var(--color-grayscale-mobile-background);
        }
      }
    }
  }
}

.onShowBar {
  margin-bottom: 0;
}

.showMoreToggle {
  height: auto;
}
