@import '../../../../../setup/react/app/mixins.css';

.buttonLabel {
  font-weight: 400;

  & > img {
    margin-left: 0 !important;
    margin-right: 0.42em; /* stylelint-disable-line */
  }
}

.form {
  display: flex;
  flex-direction: row;

  & .container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: -10px 0;
    min-width: 300px;

    &.extendedContainer {
      padding-bottom: 20px;
    }

    & label {
      font-weight: var(--font-weight-normal);
      margin-top: 12px;
    }
  }

  & .submitButton {
    margin: 40px 0 20px !important;
    height: 46px !important;
    width: 100%;
    border-radius: var(--border-radius-standard);
  }

  & .actionable {
    color: var(--color-primary-standard);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    text-align: right;
    position: relative;
    top: 10px;
    font-size: 12px;
    margin: 3px 0;
  }
}
