@import '../../../app/mixins.css';

.modal {
  width: 45%;
  min-width: 638px;
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  position: absolute;
  top: 0;
  left: 216px;
}

.toggleIcon {
  padding-left: 14px;
  box-sizing: border-box;
  
  & :hover {
    cursor: pointer;
  }
}

.toggleIcon.notHeader {
  border-bottom: 1px solid #DFE6F2;
  display: flex;
  height: 50px;
}

.header {
  display: flex;
  padding: 0 16px;
  margin-top: 20px;

  & .heading {
    width: 45%;
    @mixin headingNormal;

    font-size: var(--font-size-h5);
  }

  & .voteStats {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e1e3eb;

    & span:first-child {
      margin-right: 6px;
    }

    &:last-child {
      border: 0;
    }

    & .addedNumeral {
      color: #2BD67B;
    }

    & .editedNumeral {
      color: #254998;
    }
  }

  & .statText {
    @mixin contentLargest;

    line-height: 15px;
    color:var(--color-blue-gray);
  }
}