@import '../../../app/mixins.css';

.modal {
  width: 45%;
  min-width: 638px;
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  position: absolute;
  top: 0;
  left: 216px;
}

.toggleIcon {
  @mixin headingNormal;

  box-sizing: border-box;
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--color-platinum);

  & .title {
    margin-left: 12px;
    color: var(--color-maastricht-blue);
  }

  & :hover {
    cursor: pointer;
  }

  & img {
    margin-left: 14px;
    width: 20px;
  }
}

.statsContainer {
  display: flex;
  padding: 20px 0;
  border-left: 1px solid var(--color-platinum);

  & .voteStats {
    padding: 0 var(--horizontal-padding-m);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-platinum);

    & span:first-child {
      margin-right: 6px;
    }

    &:last-child {
      border: 0;
    }

    & .addedNumeral {
      color: var(--color-jade-green);
    }

    & .editedNumeral {
      color: var(--color-ink-blue);
    }

    & .removedNumeral {
      color: var(--color-maastricht-blue);
    }
  }

  & .statText {
    @mixin contentLargest;

    line-height: 15px;
    color: var(--color-blue-gray);
  }
}
