.wrapper {
  width: 45%;
  min-width: 638px;
  background: var(--color-white);
  border-radius: var(--border-radius-box);
  position: absolute;
  top: 0;
  left: 216px;

  & .contentContainer {
    display: flex;
    width: auto;
    padding: 0;
    margin: 20px;
    border-radius: 0;
    border-bottom: 1px solid #e1e3eB;
  }

  & .header {
    padding: 0 16px;
    
    & .heading {
      width: 45%;
    }

    & .voteStats {
      width: 18%;
      text-align: center;
      border-right: 1px solid #e1e3eB;
  
      &:last-child {
        border: 0;
      }
    }
  }
}

.contentHeader {
  display: flex;
}

.infoColumn {
  width: 45%;
}

.oldAmountColumn {
  width: 20%;
}

.newAmountColumn {
  width: 22%;
}

.delegateInfoContainer {
  display: flex;
}

.delegateInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.editColumn {
  width: auto;
}

.contentScrollable {
  margin-top: 10px;
  overflow: scroll;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.voteItemContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  padding: 8px 0;

  &:last-child {
    margin-bottom: 0;
  }

  & img.editIcon {
    display: none;
  }

  &:hover {
    & img.editIcon {
      display: block;
      cursor: pointer;
    }
  }
}

.toggleIcon {
  padding: 14px 0 0 12px;
}

.txPriority {
  margin: 10px 20px;
}

.editIconsContainer {
  display: flex;
  justify-content: space-between;
  width: 50px;
}