.dialogs {

  .x-button {
    right: -20px;
  }

  p {
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.4em;
    font-size: 1em;
  }

  header {
    margin: -24px;
    margin-bottom: 24px;
    border-radius: 2px 2px 0 0; 
    color: rgba(255,255,255,0.87);

    h1 {
      color: rgba(255,255,255,0.87);
      font-weight: normal;
    }
    button span {
      color: rgba(255,255,255,0.87);
    }
  }

  hr {
    border-bottom-width: 0;
    margin: 16px -24px;
    border-color: rgba(0,0,0,0.12);
  }
}

:global {
  @media screen and (min-width: 960px) {
    .theme__fullscreen___3tLXQ {
      width: 75vw;
    }
  }
}
