.wrapper {
  position: relative;

  & .selectingDelegatesOverlay {
    background: var(--overlay-color);
    bottom: 13px;
    position: absolute;
    top: 50px;
    left: 2px;
    right: 2px;
    width: 100%;
    z-index: var(--overlay-index);
    box-sizing: border-box;
    border-radius: var(--border-radius-standard);
    pointer-events: none;
  }

  & .selectingDelegates {
    position: absolute;
    top: 60px;
    bottom: 50px;
    left: 10px;
    width: 36px;
    border-radius: var(--border-radius-standard);
    background-color: var(--color-highlight-checkboxes);
    z-index: calc(var(--overlay-index) + 1);

    & .tooltipClass {
      top: 220px;
    }

    & .infoIcon {
      display: none;
    }
  }
}
