.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 8px;
  font-weight: var(--font-weight-bold);

  & .receive {
    border-radius: var(--border-radius-standard);
    display: inline-block;
    padding: 6px 12px;
    background-color: rgba(43, 214, 123, 0.15);
    color: var(--color-deep-green);
    box-sizing: border-box;
    line-height: initial;
    text-align: right;
  }
}
