@import '../../../app/mixins.css';

.container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 4px 20px;
  width: 100%;
}

.labelsHolder {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter {
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-platinum);
  border-radius: var(--border-radius-standard);
  box-shadow: var(--box-shadow-standard);
  box-sizing: border-box;
  color: var(--color-maastricht-blue);
  display: flex;
  height: 32px;
  margin: 4px 10px 4px 0;
  padding: 0 15px;

  & > .clearBtn {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 16px;
    justify-content: center;
    margin-left: 8px;
    position: relative;
    width: 14px;

    &::before,
    &::after {
      background-color: var(--color-blue-gray);
      border-radius: 1px;
      color: inherit;
      content: '';
      height: 15px;
      position: absolute;
      width: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  & > .label {
    color: inherit;
    display: block;
    height: auto;
    margin: 0;
    max-width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.label {
  @mixin contentSmallest;

  align-items: center;
  color: var(--color-maastricht-blue);
  display: flex;
  height: 32px;
  margin: 4px 15px 4px 0;
  white-space: nowrap;
}
