.quickTips {
  height: calc(50% - 20px);
  margin: 0px 0px 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 28px;
}

.title {
  font-size: 16px;
}

.descriptionRow {
  display: flex;
  justify-content: space-between;

  & div {
    width: 50%;
    & img {
      margin-top: -100px;
    }
  }
}

.steps {
  display: flex;
}

.disabled {
  pointer-events: none;
  color: gray;
}