@import '../app/variables.css';
@import '../app/variablesV2.css';

.quickTips {
  height: 318px;
  margin: 0px 0px 20px;
  overflow: hidden;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;

  & .goTo {
    color: var(--color-primary-standard);
    text-decoration: none;
    font-family: var(--content-font);
    font-weight: var(--font-weight-bold);
    font-size: var(--button-font-size-s);
  }
}

.header {
  margin-bottom: 25px;

  & > h2 {
    margin: 0;
    font-family: var(--content-font);
    font-weight: 600;
    font-size: 18px;
  }
}

.picture {
  position: absolute;
  right: 0;
  top: 0;
}

.descriptionRow {
  display: flex;
  justify-content: space-between;
  font-family: var(--content-font);
  height: 200px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-content-light);

  & .description {
    width: 279px;
    line-height: 1.5;
    overflow-y: auto;
  }
}

.steps {
  display: flex;
  color: var(--color-primary-standard);
  font-size: 12px;
  font-weight: 600;
  font-family: var(--content-font);

  & span {
    font-size: 12px;
  }

  & .previousStep {
    cursor: pointer;
    margin-right: 20px;
  }

  & .nextStep {
    cursor: pointer;
    margin-left: 20px;
  }

  & > div:nth-child(2) {
    color: var(--color-content-light);
  }
}

.disabled {
  pointer-events: none;
  color: var(--color-primary-light);
}

.quickTipBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (--large-viewport) {
  .picture {
    position: absolute;
    right: -80px;
    width: 50%;

    & img {
      width: 80%;
    }
  }
}

@media (--medium-viewport) {
  .quickTipBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .quickTips {
    min-height: 200px;
  }
}
