table tbody tr td {
  color: #3c5068 !important;
  font-size: 1.2em !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

tr:nth-child(even) {
  background: linear-gradient(to right, #fff, #f5f8fc);
}

tr:nth-child(odd) {
  background: #fff;
}

tr {
  line-height: 50px;
}

table thead tr th {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.1em !important;
}

table tbody tr:hover {
  background: #e8f0fa !important;
}
