@import '../../../../../../setup/react/app/mixins.css';

.summaryContainer {
  margin-bottom: 0px;

  & > header {
    padding: var(--horizontal-modal-padding-l) !important;

    & h2 {
      font-size: var(--font-size-h3) !important;
    }
  }

  & > footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
    margin-bottom: 24px;
    padding-bottom: 0px !important;
  }

  & .confirmBtn,
  & .editBtn {
    width: 100%;
    max-width: 391px;
  }
}

.actionBtn {
  max-width: 360px;
}
