@import '../../../../../../setup/react/app/mixins.css';

.NetworkMenuItem {
  font-weight: var(--font-weight-normal) !important;
  font-size: var(--font-size-h6) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px !important;
  color: var(--color-content-light) !important;
  width: calc(100% - 32px) !important;
  border-radius: 8px !important;

  &.selected {
    background-color: var(--color-network-selected-background) !important;
  }

  & .networkIcons {
    & > :not(:last-child) {
      margin-right: 10px;
    }

    & .modifyIcons {
      display: none;
    }
  }

  &:hover {
    & .modifyIcons {
      display: inline;
      cursor: pointer;
      vertical-align: top;
    }
  }
}
