@import '../../../setup/react/app/mixins.css';

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-5%) scale(0.9);
    visibility: hidden;
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    visibility: visible;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
    visibility: visible;
  }

  to {
    opacity: 0;
    transform: translateY(-5%) scale(0.9);
    visibility: hidden;
  }
}

@keyframes showMask {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes hideMask {
  from { opacity: 1; }
  to { opacity: 0; }
}

.mask {
  animation-duration: var(--animation-speed-fast);
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-items: center;
  background-color: var(--color-dialog-bg);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--dialog-index);

  &.show {
    animation-name: showMask;

    & .wrapper {
      animation-name: show;
    }
  }

  &.hide {
    animation-name: hideMask;

    & .wrapper {
      animation-name: hide;
      opacity: 1;
      transform: translateY(0) scale(1);
      visibility: visible;
    }
  }
}

.wrapper {
  animation-delay: var(--animation-delay-standard);
  animation-direction: alternate;
  animation-duration: var(--animation-speed-fastest);
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
  border: solid 1px var(--dark-border-color);
  box-shadow: var(--box-shadow-dialog);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */
  max-width: var(--dialog-box-width);
  opacity: 0;
  padding: 0;
  position: relative;
  transform: translateY(-50%) scale(0.9);
  visibility: hidden;
  overflow: hidden;
  width: 100%;
}

.title {
  @mixin headingLarge;

  color: var(--color-maastricht-blue);
  margin: 20px 0 0;
}

.description {
  @mixin contentLargest;

  color: var(--color-slate-gray);
  max-width: 460px;
  margin: 10px 0;

  & *:not(a) {
    color: inherit;
    font-size: inherit;
    margin: 0;
  }
}

.optionsHolder {
  display: flex;
  box-sizing: border-box;
  padding: 0 var(--horizontal-padding-l) var(--horizontal-padding-xl);
  width: 100%;

  & > * {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;

    & > * {
      max-width: var(--footer-button-width);
    }
  }
}

.backBtn {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  z-index: 4;
}

.closeBtn {
  align-items: center;
  box-sizing: border-box;
  color: var(--color-ultramarine-blue);
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
  margin-right: 6px;
  width: 32px;
  z-index: 4;

  &::before,
  &::after {
    background-color: currentColor;
    color: inherit;
    content: '';
    height: 19px;
    position: absolute;
    width: 3px;
    border-radius: 3px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.sm {
  width: 50%;
  max-width: 520px;
  min-width: 450px;
}

.md {
  min-width: 520px;
  max-width: 600px;
}
