@import './../app/variables.css';

.input {
  & input {
    line-height: var(--search-box-line-height);
    font-size: var(--search-box-font-size);
    border-bottom: 1px solid var(--color-grayscale-dark);
    color: var(--color-grayscale-dark);
  }
}

.label {
  color: var(--color-grayscale-dark);
  font-weight: 400;
  letter-spacing: 0;
}
