@import '../../../app/mixins.css';

.container {
  height: auto;

  overflow-y: auto;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */
  display: block;

  & .votes {
    grid-area: votes;
  }

  & .mainContent {
    padding: 2px 0;
    min-height: 400px;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); /* stylelint-disable-line unit-whitelist */
    grid-auto-rows: minmax(84px, auto);
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "transactionId date"
      "blockId blockHeight"
      "amount fee"
      "confirmations message";

    & > * {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-platinum);
      }
    }
  }

  & .generalLayout {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "transactionId date"
      "blockId blockHeight"
      "amount fee"
      "confirmations message";
  }

  & .multiSigLayout {
    grid-template-areas:
      "sender sender"
      "transactionId transactionId"
      "date fee"
      "confirmations requiredSignatures"
      "members members";
  }

  & .voteLayout {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId date"
      "blockId blockHeight"
      "votes votes"
      "fee confirmations";
  }

  & .registerDelegate {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId date"
      "blockId blockHeight"
      "confirmations fee";
  }

  & .transferPreview {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "transactionId fee"
      "amount message"
      "signedAndRemainingMembersList signedAndRemainingMembersList";
  }
}
