@import '../../../app/mixins.css';

.wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */
  display: block;

  & > header {
    padding-left: var(--horizontal-padding-l) !important;
    padding-right: var(--horizontal-padding-l) !important;
  }
}

.container {
  height: auto;

  & .mainContent {
    padding: 0 20px;
    min-height: 400px;

    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(84px, auto);
    grid-template-areas: 
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "transactionId transactionId"
      "amount date"
      "fee confirmations"
      "message message";

    & > * {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      
      &:not(:last-child) {
        border-bottom: 1px solid var(--color-platinum);
      }
    }
  }

  & .generalLayout {
    grid-template-areas: 
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "transactionId transactionId"
      "amount date"
      "fee confirmations"
      "message message";
  }

  & .multiSigLayout {
    grid-template-areas: 
      "sender recipient"
      "transactionId amount"
      "requiredSignatures fee"
      "date confirmations"
      "message nonce"
      "members members"
  }
}
