@import '../../../../../setup/react/app/mixins.css';

.row {
  cursor: pointer;

  & .editStakeLink {
    padding: 5px 20px;
    opacity: 0;
    transition: all ease 200ms;
    cursor: pointer;
  }

  &:hover {
    & .editStakeLink {
      opacity: 1;
    }
  }
}

.info {
  display: flex;
  margin-left: -8px;

  & > .avatar {
    margin-right: 16px;
  }

  & > .walletInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }

  & .username {
    @mixin headingSmall;

    color: var(--color-maastricht-blue);
    display: block;
  }

  & .address {
    color: var(--color-slate-gray);
  }
}

@media (--small-viewport) {
  .info {
    & > .avatar {
      display: none;
    }
  }
}
