@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  margin-bottom: 40px;
  overflow: initial;

  & header {
    justify-content: space-between;
  }

  & .filterHolder {
    display: flex;

    & .registerValidator {
      margin-right: 10px;
    }
  }

  & .flexRightAlign {
    display: flex;
    direction: revert;
    justify-content: flex-end;
  }

  & .flexLeftAlign {
    display: flex;
    justify-content: flex-start;
  }
}

.empty {
  @mixin contentSmall;

  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  color: var(--color-slate-gray);
}

.results {
  border-radius: 0 0 var(--border-radius-box) var(--border-radius-box);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  min-height: 600px;
  position: relative;
  padding: 0 !important;
}

.row {
  cursor: pointer;

  & .editStakeLink {
    padding: 5px 20px;
    opacity: 0;
    transition: all ease 200ms;
    cursor: pointer;
  }

  &:hover {
    & .editStakeLink {
      opacity: 1;
    }
  }
}

.info {
  display: flex;
  margin-left: -8px;

  & > .avatar {
    margin-right: 16px;
  }

  & > .walletInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }

  & .username {
    @mixin headingSmall;

    color: var(--color-maastricht-blue);
    display: block;
  }

  & .address {
    color: var(--color-slate-gray);
  }
}

@media (--small-viewport) {
  .info {
    & > .avatar {
      display: none;
    }
  }
}
