@import '../../../../../setup/react/app/mixins.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
  height: 100%;

  &.reclaim {
    max-width: 800px;

    & > h4 {
      @mixin headingLarge;

      margin: 0;
      font-size: 28px;
      color: var(--color-maastricht-blue);
    }

    & > p {
      @mixin contentLargest;

      color: var(--color-maastricht-blue);
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.box {
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
  width: 100%;
  margin: 20px 0 0 0;
  padding: 20px;
}

.migrationDetailsContainer {
  border-bottom: 1px solid var(--color-periwinkle-blue);
  margin-bottom: 30px;
}

.listHeading {
  @mixin headingNormal;

  color: var(--color-maastricht-blue);
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  & > li {
    @mixin contentLargest;

    color: var(--color-black);
    display: flex;
    margin-top: 16px;
    line-height: 26px;

    &:not(:first-of-type) {
      margin-top: 12px;
    }

    & > div {
      margin-top: 0;
      margin-bottom: 10px;

      & > span {
        margin-top: 7px;
        color: var(--color-blue-gray);
      }
    }

    &::before {
      display: block;
      content: '';
      margin-right: 10px;
      margin-top: 11px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: var(--color-ultramarine-blue);
    }

    &.step::before {
      display: block;
      content: '';
      margin-right: 10px;
      margin-top: 4px;
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 16px;
      border: 1px solid var(--color-blue-gray);
      background: transparent;
    }

    &.step.green::before {
      border: 1px solid var(--color-jade-green);
    }

    &.step.check::before {
      border: 1px solid var(--color-jade-green);
      background: var(--color-jade-green);
      background-image: url('../../../../../setup/react/assets/images/icons/checkmark-white.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.link {
  color: var(--color-link-active);
  cursor: pointer;
}

.button {
  margin-top: 30px;
  width: 430px;
}
