@import '../../../../../../setup/react/app/mixins.css';

.wrapper {
  & .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0;
    padding-right: 10px;

    & > .column {
      width: 30%;
    }

    & > .column:nth-child(3) {
      width: 40%;
    }

    &.overview {
      height: 293px;
    }

    &.generatingDetails {
      min-height: 180px;
    }
  }
}

.column {
  height: 270px;
  box-sizing: border-box;

  & .centered {
    margin: 0 auto;
    max-width: 270px;
  }

  &.nextGenerators {
    & .generator {
      width: 50%;
    }
  }
}

.title {
  @mixin contentLargest semi-bold;

  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-maastricht-blue);
  padding-top: 30px;
  box-sizing: border-box;

  & > span,
  & .tooltip {
    vertical-align: middle;
    line-height: 1em; /* stylelint-disable-line unit-whitelist */
  }
}

.list {
  padding: 18px 0 0;
  font-size: var(--font-size-h6);

  & .generator {
    display: inline-block;
    padding-bottom: 15px;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;

    & a {
      display: flex;

      &:hover {
        text-decoration: none;
      }

      & > div,
      & > span {
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
      }

      & > span {
        color: var(--color-maastricht-blue);
        font-size: var(--font-size-small-secondary);
        padding-left: 15px;
        line-height: 35px;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.walletVisual {
  max-height: 40px;
}

.totalGenerated {
  font-size: var(--font-size-h4);
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
  color: var(--color-maastricht-blue);
}

.chartBox {
  width: 100%;
  margin: 0;
  padding: 30px 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  & > * {
    padding: 0 20px;
  }

  & > .title {
    max-height: 21px;
  }

  & > .chart {
    padding: 0;
    position: relative;
    width: 100%;
    height: 180px;
  }
}

.numericInfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  & .main {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 10px;

    & h6 {
      @mixin contentNormal;

      color: var(--color-slate-gray);
      line-height: 24px;
      margin: 0;
    }

    & p {
      color: var(--color-maastricht-blue);
      margin-top: 8px;

      &.blue {
        color: var(--color-ink-blue);
      }

      & > span {
        color: var(--color-slate-gray);
      }
    }
  }
}

.progressBar {
  margin-top: 8px;
  width: 150px;
  height: 5px;
  display: flex;
  border-radius: 43px;

  &.dark {
    background-color: var(--color-platinum);
  }

  &.light {
    background-color: var(--color-very-light-gray);
  }

  & > .lineGenerated {
    border-radius: 43px;

    &.dark {
      background-color: var(--color-ultramarine-blue);
    }

    &.light {
      background-color: var(--color-strong-ink-blue);
    }
  }
}
