@import '../../../../setup/react/app/mixins.css';

.wrapper {
  width: 720px;
  overflow-y: scroll;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */

  & > footer {
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-flow: column nowrap !important;

    &.reverse {
      flex-flow: column-reverse nowrap !important;
    }
  }
}

.illustrationWrapper {
  margin: 32px auto;
  width: 180px;
}

.content {
  & section {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    color: var(--color-maastricht-blue);

    &:not(:first-child) {
      border-top: 1px solid var(--color-platinum);
    }

    & > label {
      display: flex;
      align-items: center;

      &:first-child {
        @mixin contentNormal bold;

        margin-bottom: 10px;
      }
    }

    & > .feeValue {
      @mixin contentLargest;
    }
  }

  & .checkbox {
    margin-right: 10px;
  }

  & .checkboxLabel {
    @mixin contentNormal bold;

    color: var(--color-maastricht-blue);
    display: flex;
    margin: 55px 0 -10px;
    align-items: center;
  }
}

.tooltipContainer {
  position: relative;
}

.tooltip {
  & :global(.tooltip-window) {
    max-width: 464px;
  }

  & .tooltipText {
    margin-bottom: 8px;
  }
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    margin-right: 10px;
  }
}

.primaryActions {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.secondaryActions {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: calc(-1 * var(--vertical-padding-l));

  & .or {
    padding-top: var(--vertical-padding-l);
    color: var(--color-blue-gray);
  }
}

.secondPassphrase {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: var(--vertical-padding-l);
}
