@import '../../../../../setup/react/app/mixins.css';

.wrapper {
  & .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;

    &.generatingDetails {
      min-height: 180px;
    }
  }

  & h5.boxHeading {
    display: inline-block;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-size-h3);
    color: var(--color-maastricht-blue);
    font-size: var(--font-size-h3);
  }

  & > header > div:first-child {
    display: flex;
    align-items: center;
  }
}

.column {
  flex-grow: 1;
  height: 240px;
  box-sizing: border-box;
  padding: 0 20px;

  &.nextGenerators {
    width: 50%;

    & .generator {
      width: 33.33%;
    }
  }

  &:not(.nextGenerators) {
    width: 25%;
  }
}

@media (--medium-viewport) {
  .column {
    &.nextGenerators {
      width: 60%;

      & .generator {
        width: 50%;
      }
    }

    &:not(.nextGenerators) {
      width: 20%;
    }
  }
}

.title {
  @mixin contentLargest semi-bold;

  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-maastricht-blue);
  box-sizing: border-box;
  max-height: 21px;
}

.list {
  padding: 18px 10px 0;
  font-size: var(--font-size-h6);

  & .generator {
    display: inline-block;
    padding-bottom: 15px;

    & a {
      & > div,
      & > span {
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
      }

      & > span {
        color: var(--color-maastricht-blue);
        font-size: var(--font-size-small-secondary);
        padding-left: 15px;
        line-height: 35px;
        font-weight: 400;
      }
    }
  }
}

.totalGenerated {
  font-size: var(--font-size-h4);
  padding-left: 10px;
  padding-top: 5px;
  display: inline-block;
}

.chartBox {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .chart {
    position: relative;
    width: 100%;
    height: 180px;
  }
}

.emptyState {
  animation: fadeIn 1 150ms linear;
  animation-fill-mode: forwards;
}
