@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(0px);
  }

  100% {
    transform: translateX(-50%) translateY(30px);
  }
}

.button {
  animation: slideDown var(--animation-speed-fast) ease-in;
  animation-fill-mode: forwards;
  transform: translateX(-50%);
  background: var(--color-white);
  color: var(--color-ultramarine-blue);
  border-radius: 30px;
  box-shadow: var(--box-shadow-standard), 0 0 0 10px var(--color-body-bg);
  width: auto;

  & .icon {
    vertical-align: bottom;
    padding-right: 12px;
  }

  & .icon,
  & span {
    vertical-align: middle;
  }

  &:hover {
    box-shadow: var(--box-shadow-standard), 0 0 0 10px var(--color-body-bg);
  }
}
