@import '../app/variablesV2.css';

.news {
  width: 100%;
  height: 100%;
  font-size: var(--button-font-size-s);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  display: flex;
}

.source {
  font-weight: var(--font-weight-bold);
}

.timestampMessage {
  color: var(--color-content-grayblue);
  margin-left: 10px;
  font-weight: var(--font-weight-bold);
  opacity: 0.5;
}

.description {
  color: #606060;
}

.readMore > a {
  font-size: var(--button-font-size-s);
  color: var(--color-primary-standard);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  text-decoration: none;
}
