@import '../app/variablesV2.css';

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 25px 0 15px;
  border-bottom: 1px solid var(--color-mystic);
  cursor: pointer;
  text-decoration: none;
}

.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-left: 15px;

    & > .title {
      @mixin contentLargest bold;

      color: var(--color-maastricht-blue);
    }

    & > .subtitle {
      @mixin contentNormal;

      color: var(--color-slate-gray);
    }
  }
}

.description {
  @mixin contentLargest;

  width: calc(100% - 55px);
  margin: 15px 0 0 auto;
  padding-right: 10px;
  color: var(--color-slate-gray);
  text-align: justify;
  box-sizing: border-box;
}
