@import '../app/variablesV2.css';

.newsFeedBox {
  padding: 0;
  height: auto;
  font-family: var(--content-font);
}

.emptyNews {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--content-font);
  font-size: var(--paragraph-font-size-l);
  padding-top: 16px;
}

.liskLogo {
  opacity: 0.2;
}

.container {
  min-height: 578px;
  overflow-y: scroll;
  height: 695px;

  & > div {
    height: 100%;
  }

  & .newsWrapper {
    box-sizing: border-box;
    padding: 0 20px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background:
      linear-gradient(
        transparent 0%,
        var(--color-ultramarine-blue) 30%,
        var(--color-ultramarine-blue) 60%,
        transparent 100%
      );
    border-radius: 0;
  }
}

.newsFeed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 866px;
}

.showMoreAlign {
  margin-top: auto;
  align-self: flex-end;
}

.showMore {
  height: auto;
}
