@import '../app/variables.css';

.headerWrapper {
  display: flex;
  padding: 0 32px;
}

.newsFeedBox {
  padding: 0;
}

.settingsButton {
  display: flex;
  padding: 20px 32px 0;
  align-items: center;
  font-weight: 600;

  & span {
    cursor: pointer;
    color: #2475b9;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.emptyNews {
  padding: 0 32px;
}

.liskLogo {
  position: absolute;
  bottom: 0;
  left: -50px;
  height: 400px;
  opacity: 0.2;
}

.container {
  & .newsWrapper {
    padding: 0 32px;
  }

  & .newsWrapper:nth-child(odd) {
    background: linear-gradient(90deg, #fff, #f5f8fc);
  }
}

.newsFeed {
  width: 100%;
}

@media (--medium-viewport) {
  .liskLogo {
    display: none;
  }
}
