@import '../app/variables.css';

.headerWrapper {
  display: flex;
  padding: 0 32px;
}

.newsFeedBox {
  padding: 0;
  height: auto;
}

.settingsButton {
  display: flex;
  padding: 20px 32px 0;
  align-items: center;
  font-weight: 600;

  & span {
    cursor: pointer;
    color: #2475b9;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.emptyNews {
  padding: 0 32px;
  font-size: var(--subtitle-font-size);
}

.liskLogo {
  position: absolute;
  bottom: 0;
  left: -50px;
  height: 400px;
  opacity: 0.2;
}

.container {
  min-height: 670px;
  overflow: hidden;
  height: 705px;

  & .newsWrapper {
    padding: 0 32px;
  }

  & .newsWrapper:nth-child(odd) {
    background: linear-gradient(90deg, #fff, #f5f8fc);
  }
}

.newsFeed {
  width: 100%;
  height: 848px;
}

@media (--medium-viewport) {
  .newsFeed {
    width: 100%;
    height: 718px;
  }

  .liskLogo {
    display: none;
  }

  .newsFeedBox {
    height: auto;
    min-height: 0;
  }

  .container {
    min-height: 500px;
    height: 587px;
  }
}

.showMore {
  height: auto;
}
