@import '../../../app/mixins.css';

.container {
  height: auto;
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* stylelint-disable-line unit-whitelist */
  display: block;

  & .votes {
    grid-area: votes;
  }

  & .mainContent {
    padding: 2px 0;
    min-height: 400px;
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); /* stylelint-disable-line unit-whitelist */
    grid-auto-rows: minmax(84px, auto);
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "amount message"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations";

    & > * {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-platinum);
      }
    }
  }

  & .transferLayout {
    & > * {
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
  }

  & .generalLayout {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations"
      "blockId blockHeight"
      "amount message";
  }

  & .multiSigLayout {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "date transactionId"
      "fee confirmations"
      "blockId blockHeight"
      "members members"
      "requiredSignatures requiredSignatures";
  }

  & .voteLayout {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations"
      "votes votes";
  }

  & .registerDelegate {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations";

    & > * {
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
  }

  & .transferPreview {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "recipient recipient"
      "amount message"
      "transactionId fee"
      "signedAndRemainingMembersList signedAndRemainingMembersList";
  }

  & .votePreview {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "votes votes"
      "transactionId fee"
      "signedAndRemainingMembersList signedAndRemainingMembersList";
  }

  & .registerDelegatePreview {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId fee"
      "signedAndRemainingMembersList signedAndRemainingMembersList";
  }

  & .unlockToken {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "amount amount"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations";

    & > * {
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
  }

  & .unlockTokenPreview {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "amount amount"
      "transactionId fee"
      "signedAndRemainingMembersList signedAndRemainingMembersList";
  }

  & .multiSigRegisterPreview {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "requiredSignatures requiredSignatures"
      "members members"
      "transactionId fee"
      "signedAndRemainingMembersList signedAndRemainingMembersList";
  }

  & .reportDelegateMisbehavior {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations";

    & > * {
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
  }

  & .reclaimLSK {
    grid-template-areas:
      "illustration illustration"
      "sender sender"
      "transactionId date"
      "blockId blockHeight"
      "fee confirmations"
      "amount amount";
  }
}

.emptyState {
  padding-top: 100px;
  padding-bottom: 100px;

  & p {
    max-width: 400px !important;
  }
}
